.video-showcase {
    padding: 50px 0;
    h2 {
        color:rgba(9, 31, 64, 1);
        text-align: center;
    }
    iframe {
        max-width: 100%;
        z-index: 1;
        position: relative;
    }
    .video {
        width: fit-content;
        margin: auto;
        padding: 10px;
        position:relative;
        &:before {
            position:absolute;
            content:"";
            bottom:4px;
            left:0;
            height: 200px;
            width: 315px;
            background-color: rgba(141, 198, 63, 1);
        }
        &:after {
            position:absolute;
            content:"";
            top:0;
            right:0;
            height: 80px;
            width: 160px;
            background-color: rgba(190, 30, 45, 1);
        }
    }
}

@include screen(1000) {
    .video-showcase {
        padding-bottom: 100px;
        background: rgba(242, 242, 242, 1);
        background-repeat: no-repeat;
        background-position-x: 46vw;
        background-position-y: bottom;
        .videos {
            display:flex;
            justify-content: space-evenly;
        }
        .video {
            margin:unset;
            flex: 0 0 46%;
            &:after {
                top: 3px;
                right: 1px;
            }
        }
        .title {
            padding-top: 60px;
            padding-bottom: 15px;
            h2 {
                font-size: 60px;
                text-align: left;
            }
        }
        iframe {
            width: 700px;
            height: 390px;
        }
    }
}