{% extends "block-base.twig" %}

{% block content %}
<section class="video-showcase {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
        {% if fields.content.title %}
            <div class="title">
                <h2>{{fields.content.title}}</h2>
            </div>
        {% endif %}
            <div class="videos">
                {% if fields.content.first_youtube_video_id %}
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{fields.content.first_youtube_video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {% endif %}
                {% if fields.content.second_youtube_video_id %}
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{fields.content.second_youtube_video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
