.simple-wysiwyg {
    h1,h2,h3,h4,h5 {
        color:var(--heading);
    }
    .wrapper {
        padding: 35px;
    }
    .box {
        max-width: 1000px;
    }
    .buttons {
        margin-top: 25px;
    }
    .btn {
        padding: 15px 20px;
        width: 100%;
        margin: 15px 0;
    }
    &:not(.plain-list) {
        ul {
            list-style: none;
            padding-left: 60px;
        }
        li {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 15px;
            position:relative;
            &::marker {
                content:none;
            }
            &:before {
                content:"";
                position:absolute;
                background:url('/wp-content/themes/cec/images/checkmark-small.png');
                width: 20px;
                height: 20px;
                top: 5px;
                left: -45px;
            }
        }
    }
    &.plain-list {
        li {
            margin-bottom: 15px;
        }
    }
}


@include screen(1200) {
    .simple-wysiwyg {
    }
}