{% extends "block-base.twig" %}

{% block content %}
<section class="simple-wysiwyg po-r {{block.className}}" {{blockSection(block)}} style="--heading:{{fields.heading.color}};">
    <div class="wrapper po-r">
        <div class="inner container">
            <div class="box">
                {{fields.content.content}}
            </div>
            <div class="buttons">
            {% for item in fields.buttons.items %}
                    <a class="btn {{item.button.style}}" href="{{item.button.link.url}}" target="{{item.button.link.target}}" data-title="{{item.button.link.title}}">{{item.button.link.title}}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}