.cf  {
    h1 {
        color: rgba(9, 31, 64, 1);
        font-size:35px;
        line-height: 1;
    }
    h4 {
        font-size:18px;
    }
    h3 {
        font-size: 20px;
    }
    &-hero {
        padding:35px;
        padding-bottom: 300px;
        position: relative;
        &-inner {
            position: relative;
        }
        &-inner {
            padding-bottom: 15px;
        }
    }
    &-form {
        &-container {
            z-index: 2;
            position: relative;
        }
    }
    .um-button {
        border: 1px solid #be1e2d;
        cursor: pointer;
        position: relative;
        outline: 0;
        padding: 15px 0px;
        border-radius: 10px;
        width: fit-content;
        transition: all 0.3s ease-out;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-size: 16px;
        background: #be1e2d;
        min-width: 150px;
        display: block;
        font-weight: 500;
        margin-bottom: 20px;
        width: 100%;
    }
    .um-notice {
        &.err {
            color: #be1e2d;
            font-weight: 500;
            margin-top: 0;
            font-size: 16px;
        }
    }
    .um-field-error {
        color: #be1e2d;
        font-weight: 500;
        font-size: 14px;
        margin-top: 5px;
    }
    .um-field + .um-field {
        margin-top:15px;
    }
}

@include screen(600,1199) {
    .cf  {
        &-hero {
            padding:100px;
            padding-bottom: 100vh;
            &:before {
                background-size: cover;
            }
            h1 {
                font-size: 60px;
            }
            h3 {
                font-size: 28px;
            }
            h4 {
                font-size: 24px;
                margin: 25px 0;
            }
        }
    }
}

@include screen(1200) {
    .cf  {
        h1 {
            font-size:45px;
        }
        h4 {
            font-size:28px;
        }
        background:var(--bg-img);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        position:relative;
        &:before {
            content: "";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(0deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
            z-index: -1;
        }
        h1 {
        }
        h3 {
            font-size: 28px;
            color:#091F40;
        }
        &-hero {
            background:unset;
            max-width: 1200px;
            padding-bottom: 35px;
            &-inner {
                position: relative;
                padding-bottom: 15px;
                padding-top: 15px;
                margin-left: 0;
            }
            &:before {
                content: unset;
            }
        }
    }
    .hidden {
        display:none !important;
    }
}


.cec-online {
    input {
        &[type="text"],
        &[type="password"] {
            height: 55px;
            border-radius: 10px;
            border-color: #091f40;
            outline: none;
        }
    }
    label {
        color: #091f40;
        font-size: 14px;
        font-weight: 500;
        display: block;
        margin-bottom: 5px;
    }
    .control-group {
        & + .control-group {
            margin-top:15px;
        }
    }
    a {
        font-size: 16px;
    }
}

.um-register {
    max-width: unset !important;
}
.um-row {
    .select2 {
        display:none;
    }
    &._um_row {
        &_1,
        &_2 {
            margin-bottom: 15px !important;
        }
    }
    input {
        min-width: 100%;
        @include screen(1024) {
            min-width: 450px;
        }
    }
    input {
        &[type=tel] {
            height: 55px;
            border-radius: 10px;
            border-color: #091f40;
            outline: none;
        }
    }
    select {
        display: inline-block;
        padding: 0.2em 0.5em;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 0;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        max-width: 450px;
        height: 55px;
        border-radius: 10px;
        border-color: #091f40;
        outline: none;
    }
    textarea {
        height: 150px;
        display: inline-block;
        padding: 0.2em 0.5em;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        border-radius: 10px;
        border-color: #091f40;
        outline: none;
        width: 100%;
        max-width: 920px;
    }
    &.half {

    }
    &.double {
        gap: 20px;
        @include screen(1024) {
            display:flex;
            flex-wrap: wrap;
        }
        & > div {
            flex: 0 0 50%;
            max-width: 450px;
        }
    }
    &.address {
        @include screen(1024) {
            display:flex;
            flex-wrap: wrap;
        }
        column-gap: 20px;
        row-gap: 10px;
        .um-col-1 {
            flex: 0 0 100%;
            max-width: 920px;
        }
        input {
            width: 100%;
        }
    }
    &.company {

    }
    &-heading {
        font-size: xx-large;
    }
    &.referees {
        p {
            font-size: 16px;
            margin-top:10px;
        }
    }
}

.um-field {
    &[data-key="um_block_3264_27"],
    &[data-key="um_block_3264_30"] {
        font-size: 14px;
    }
    &[data-key="um_block_3264_28"] {
        height: 20px;
    }
}

.um-row-heading {
    & + .company {
        margin-top:20px !important;
    }
}
.um-col-alt {
    [type="submit"] {
        max-width: 450px;
    }
}