{% extends "block-base.twig" %}

{% block content %}
<section class="cec-online cf {{block.className}}" {{blockSection(block)}}>
    <div class="cf-hero container">
        <div class="cf-hero-inner container">
            <div class="title">
                <h1>{{fields.content.title}}</h1>
            </div>
            <div class="content">
                <h6>{{fields.content.content}}</h6>
            </div>
        </div>
        <div class="cf-form-container container">
            [ultimatemember form_id="{{fields.cta.form}}"]
        </div>
    </div>
</section>
{% endblock %}