.cta1 {
    background:var(--bg-img);
    padding: 50px 0;
    .center {
        color:white;
        text-align: center;
        padding: 0 40px;
        p {
            font-weight: 500;
            font-size: 16px;
        }
        h2 {
            max-width: 85%;
            margin: auto;
        }
    }
    &-buttons {
        justify-content: center;
        flex-wrap:wrap;
        padding-top: 15px;
    }
    .btn {
        margin: 5px;
    }
}

@include screen(1200) {
    .cta1 {
        padding: 95px 0;
        &-text {
            display:flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .center {
            padding: 0;
            max-width: 700px;
            margin: auto;
            p {
                font-size: 18px;
                margin-top: 30px;
                max-width: 500px;
                margin: 20px auto;
            }
        }
        .btn {
            width: 200px;
        }
        &.variation {
            &-one {
                p {
                    font-weight: 400;
                }
                & > .container {
                    position: relative;
                    
                }
            }
        }
    }
}