{% extends "block-base.twig" %}

{% block content %}
<section class="cta1 {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{cdnThis(fields.content.background_image.url)}}')">
    <div class="container">
        <div class="cta1-text">
            <div class="center">
                <h2>{{fields.content.title}}</h2>
                {{fields.content.content}}
            </div>
        </div>
        <div class="cta1-buttons d-flex">
            <a class="btn {{fields.button_one.button.style}}" href="{{fields.button_one.button.link.url}}" target="{{fields.button_one.button.link.target}}" data-title="{{fields.button_one.button.link.title}}">{{fields.button_one.button.link.title}}</a>
            <a class="btn {{fields.button_two.button.style}}" href="{{fields.button_two.button.link.url}}" target="{{fields.button_two.button.link.target}}" data-title="{{fields.button_two.button.link.title}}">{{fields.button_two.button.link.title}}</a>
        </div>
    </div>
</section>
{% endblock %}