.image-hero-one {
    position:relative;
    .wrapper {
        background:var(--bg-img);
        background-size: cover;
        background-repeat: no-repeat;
        h1 {
            color:white;
            margin-top:0;
        }
        p {
            color:white;
            font-size: 14px;
        }
        img {
            display:block;
            width: 100%;
            height: auto;
        }
        .inner {
            padding: 35px;
        }
    }
    &.student-resources {
        background: transparent linear-gradient(250deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
        img {
            display:none;
        }
        h1 {
            color:#091F40;
            margin-top:0;
        }
        p {
            color:#000000;
            font-size: 14px;
        }
        .breadcrumbs {
            li {
                &:before {
                    color:#000000;
                }
            }
            .page-link {
                color:#000000;
            }
        }
    }
    
}


@include screen(1200) {
    .image-hero-one  {
        .wrapper {
            min-height: 330px;
            position:relative;
            &:before {
                position:absolute;
                content:"";
                background:var(--img);
                background-repeat: no-repeat;
                background-size: cover;
                top:0;
                right:0;
                bottom:0;
                width: 784px;
                max-width: 784px;
            }
            .inner {
                max-width: 43vw;
            }
            p {
                font-size: 18px;
            }
        }
        &.careers {
            .wrapper {
                min-height: 400px;
            }
        }
        &.smaller-font {
            h1 {
                font-size: 70px;
            }
        }
        &.even-smaller-font {
            h1 {
                font-size: 55px;
            }
        }
    }
}
@include screen(1200, 1366) {
    .image-hero-one {
        .wrapper {
            min-height: 330px;
            position:relative;
            .inner {
                max-width: 35vw;
            }
        }
    }
}