.image-hero-one {
    position:relative;
    .wrapper {
        background:var(--bg-img);
        background-size: cover;
        background-repeat: no-repeat;
        h1 {
            color:white;
            margin-top:0;
        }
        p {
            color:white;
        }
        img {
            display:block;
            width: 100%;
            height: auto;
        }
    }
    &.student-resources {
        background: transparent linear-gradient(250deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
        img {
            display:none;
        }
        h1 {
            color:#091F40;
            margin-top:0;
        }
        p {
            color:#000000;
            font-size: 14px;
        }
        .breadcrumbs {
            li {
                &:before {
                    color:#000000;
                }
            }
            .page-link {
                color:#000000;
            }
        }
    }
    
}


@include screen(1200) {
    .image-hero-one  {
        .wrapper {
            position:relative;
            display:flex;
            overflow: hidden;
            p,
            li {
                font-size: 18px;
            }
        }
        .one {
            flex: 0 0 56vw;
            max-width: 56vw;
        }
        .two {
            flex: 0 0 44vw;
            max-width: 44vw;
            img {
                height: auto;
            }
        }
        &.careers {
            .wrapper {
                min-height: 400px;
            }
        }
        &.smaller-font {
            h1 {
                font-size: 70px;
            }
        }
        &.even-smaller-font {
            h1 {
                font-size: 55px;
            }
        }
    }
}

@include screen(1200,1536) {
    .image-hero-one {
        .one {
            padding-left: 7vw;
            h1 {
                font-size: 35px;
                line-height: 45px;
                margin-bottom: 0;
            }
            p,
            li {
                font-size: 16px;
            }
        }
        .inner {
            padding: 15px 25px;
        }
        .breadcrumbs {
            margin-top:25px !important;
        }
    }
}

@include screen(1537) {
    .image-hero-one {
        .one {
            padding-left: 10vw;
            h1 {
                font-size: 48px;
                line-height: 58px;
            }
            p,
            li {
                font-size: 18px;
            }
        }
        .inner {
            padding: 25px;
        }
        .breadcrumbs {
            margin-top: 50px;
        }
    }
}

@include screen(0,1199) {
    .image-hero-one {
        .inner {
            padding:35px;
        }
        .breadcrumbs {
            margin-top: 50px;
        }
        p,
        li {
            font-size: 14px;
        }
    }
}

@include screen(0,450) {
    .image-hero-one {
        h1 {
            font-size: 35px;
        }
    }
}