{% extends "block-base.twig" %}

{% block content %}
<section class="image-hero-one {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper" style="--bg-img:url({{fields.content.background.url}});--img:url({{fields.content.image.url}});">
        <div class="one">
            <div class="inner">
                {% include "breadcrumbs.twig" %}
                {{fields.content.content}}
            </div>
        </div>
        {% if fields.content.image.url %}
        <div class="two">
            {{imageElement(fields.content.image)}}
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}