.ls1 {
    &-logos {
        background: white;
        margin: 0 15px;
        &-inner {
            padding: 0 15px;
            padding-top: 25px;
        }
        &-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        h2 {
            color:#091F40;
            text-align: center;
        }
    }
    &-logo {
        padding: 10px 0;
        max-width: 190px;
        max-height: 150px;
        max-width: 50%;
        img {
            object-fit: contain;
            height: 100%;
        }
    }
    &-buttons {
        margin: auto;
        width: fit-content;
        padding-top: 15px;
        padding-bottom: 50px;
        .btn {
            width: 250px;
        }
    }
    &-image {
        img {
            display: block;
        }
    }
}

@include screen(0,350) {
    .ls1 {
        h2 {
            font-size: 20px;
        }
        .btn {
            width: fit-content;
            padding: 15px;
        }
    }
}

@include screen(1200) {
    .ls1 {
        padding-top:50px;
        &-logos {
            &-inner {
                background:white;
                width: 100%;
            }
        }
        &-logo {
            margin: 0 12px;
            flex: unset;
        }
        &-image {
            margin-top: -75px;
            z-index: 5;
            position: relative;
            img {
                display: block;
            }
        }
    }
}
