.ls1-logos {
  background: white;
  margin: 0 15px;
}
.ls1-logos-inner {
  padding: 0 15px;
  padding-top: 25px;
}
.ls1-logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ls1-logos h2 {
  color: #091F40;
  text-align: center;
}
.ls1-logo {
  padding: 10px 0;
  max-width: 190px;
  max-height: 150px;
  max-width: 50%;
}
.ls1-logo img {
  object-fit: contain;
  height: 100%;
}
.ls1-buttons {
  margin: auto;
  width: fit-content;
  padding-top: 15px;
  padding-bottom: 50px;
}
.ls1-buttons .btn {
  width: 250px;
}
.ls1-image img {
  display: block;
}
@media only screen and (max-width: 350px) {
  .ls1 h2 {
    font-size: 20px;
  }
  .ls1 .btn {
    width: fit-content;
    padding: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .ls1 {
    padding-top: 50px;
  }
  .ls1-logos-inner {
    background: white;
    width: 100%;
  }
  .ls1-logo {
    margin: 0 12px;
    flex: unset;
  }
  .ls1-image {
    margin-top: -75px;
    z-index: 5;
    position: relative;
  }
  .ls1-image img {
    display: block;
  }
}
