<section class="ls1 " data-block-name="logo-strip-one">
    <div class="ls1-logos po-r">
        <div class="ls1-logos-inner">
            <div class="ls1-buttons">
                <a class="btn btn-blue" href="https://corkenglishcollege.com/cec-accreditations/" target="" data-title="CEC Accreditations">CEC Accreditations</a>
            </div>
        </div>
    </div>
</section>