{% extends "block-base.twig" %}

{% block content %}
<section class="ls1 {{block.className}}" {{blockSection(block)}}>
    <div class="ls1-logos po-r">
        <div class="ls1-logos-inner">
            <h2>{{fields.content.title}}</h2>
            <div class="ls1-logos-container">
                {% for item in fields.content.items %}
                <div class="ls1-logo">
                    {{imageElement(item.logo)}}
                </div>
                {% endfor %}
            </div>
            <div class="ls1-buttons">
                <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}" target="{{fields.content.button.link.target}}" data-title="{{fields.content.button.link.title}}">{{fields.content.button.link.title}}</a>
            </div>
        </div>
    </div>
</section>
{% if block.className == "contact" %}
    <div class="ls1-image contact">
        <img src="{{block_path}}/background.png" alt="Background"/>
    </div>
{% endif %}
{% endblock %}