@forward 'blog-utility';
@use 'theme/mixins' as *;

.blog {
    &-hero {
        background:var(--bg-img);
        background-size: contain;
        padding-top:35px;
        h1 {
            color:white;
            margin-top:0;
        }
        p {
            color:white;
            font-size: 14px;
        }
        img {
            display:block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .inner {
            padding:35px;
        }
    }
    &-posts {
        .inner {
            h2 {
                padding: 0 35px;
                padding-top: 15px;
                margin: 0;
            }
        }
    }
}

.post {
    &-item {
        border-bottom: 1px solid #707070;
        margin-bottom: 30px !important;
        padding-bottom: 15px;
        h4 {
            color:#091F40;
            font-size: 26px;
            font-weight: 600;
        }
        .date {
            color:#BE1E2D;
            font-size: 16px;
        }
        .preview {
            color:#000000;
            a {
                color:#000000;
            }
        }
    }
    &-list {
        padding: 35px;
    }
}

.blog {
    &-posts {
        .inner {
            &.past {
                background-color: #F4F7F6;
            }
        }
    }
}

@include screen(450,1199) {
    .blog {
        &-posts {
            .inner {
                &.past {
                    background-color: #F4F7F6;
                    .post-item {
                        flex:0 0 100%;
                        .post-content {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@include screen(1200) {
    .blog {
        &-hero {
            min-height: 400px;
            position:relative;
            &:before {
                position:absolute;
                content:"";
                background:var(--img);
                background-repeat: no-repeat;
                background-size: cover;
                top:0;
                right:0;
                bottom:0;
                width: 784px;
                // max-width: 42vw;
                max-width: 55vw;
            }
            
            p {
                font-size: 18px;
            }
            .wrapper {
                max-width: 38vw;
                padding-bottom: 100px;
            }
        }
        &-posts {
            .inner {
                &:not(.past) {
                    margin-top: -100px;
                }
                &.past {
                    margin-top:30px;
                }
                background: white;
                box-shadow: 0px 0px 25px rgb(134 151 174 / 35%);
                z-index: 2;
                position: relative;
                max-width: 1240px;
                padding-top: 25px;
            }

        }
    }
    .post {
        &-item {
            h4 {
                font-size: 36px;
            }
            .preview {
                color:#000000;
                a {
                    color:#000000;
                }
            }
            img {
                height:282px;
                width:460px;
                object-fit: cover;
            }
        }
        &-image {
            flex: 0 0 460px;
            max-width: 460px;
        }
        &-content {
            flex: 0 0 560px;
            max-width: 560px;
            &-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .blog {
        &.single-activity {
            .blog-hero {
                min-height: 246px;
            }
            .blog-posts {
                .inner {
                    margin-top: -135px;
                    background:none;
                    box-shadow: unset;
                }
            }
            .date {
                color:rgba(190, 30, 45, 1);
                font-size: 12px;
            }
            h1 {
                font-size: 36px;
                color:rgba(9, 31, 64, 1);
                margin-top: 10px;
            }
            .image {
                width: fit-content;
                position:relative;
                margin-bottom: 40px;
                img {
                    display:block;
                    margin-left: 20px;
                    width: 100%;
                    max-height: 600px;
                    object-fit: cover;
                }
                &:before {
                    position:absolute;
                    content:"";
                    background:rgba(29, 72, 142, 1);
                    top: 20px;
                    left: 0;
                    right: 20px;
                    bottom: -20px;
                    z-index: -1;
                }
            }
            .blog-posts-side {
                display: flex;
                justify-content: space-between;
                .blog-posts {
                    flex:0 0 75%;
                    max-width: 925px;
                }
                .blog-side{
                    flex:0 0 350px;
                    max-width: 350px;
                }
            }
            .activity-content {
                padding: 0;
            }
            .blog-side {
                margin:0;
                h3 {
                    font-size: 28px;
                    line-height: 36px;
                    color:rgba(190, 30, 45, 1);
                }
                h4 {
                    font-size: 18px;
                    line-height: 24px;
                }
                .inner {
                    min-height: 600px;
                    width:100%;
                    background:white;
                    box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.35);
                    padding:30px;
                    margin-top: -110px;
                    z-index: 2;
                    position: relative;
                }
                .post-list {
                    padding:0;
                }
                .post-item {
                    padding:0;
                }
                .post-content-wrapper {
                    display:block;
                }
            }
            .activity-details {
                padding: 0;
                li {
                    display:flex;
                    align-items: center;
                    &:nth-child(even) {
                        background:rgba(244, 247, 246, 1);
                    }
                }
                .left {
                    font-weight: 500;
                    flex: 0 0 175px;
                    padding: 10px 7px;
                }
            }
            .activity-cta {
                padding: 0;
                padding-top:25px;
                .btn {
                    padding:15px;
                }
            }
        }
    }
}

.inner.past {
    .post-list {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .post-item {
        flex: 0 0 325px;
        border:0;
    }
    .post-content {
        flex:unset;
        max-width: 325px;
    }
    .post-image {
        flex:unset;
        img {
            width: 325px;
            height:200px;
            object-fit: cover;
        }
    }
    .post-content-wrapper {
        flex-direction: column-reverse;
    }
}

.single-activity {
    margin-bottom: 50px;
}

.blog {
    &.single-activity {
        .blog-posts-side {
            .blog-posts {
                flex:0 0 75%;
                max-width: 925px;
            }
            .blog-side{
                margin: 25px;
            }
        }
        .blog-side {
            h3 {
                font-size: 28px;
                line-height: 36px;
                color:rgba(190, 30, 45, 1);
            }
            h4 {
                font-size: 18px;
                line-height: 24px;
            }
            .inner {
                min-height: 600px;
                width:100%;
                background:white;
                box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.35);
                padding:30px;
                z-index: 2;
                position: relative;
            }
            .post-list {
                padding:0;
            }
            .post-item {
                padding:0;
            }
        }
        .activity-content {
            padding:35px;
        }
        .activity-details {
            padding:0 35px;
            li {
                display:flex;
                align-items: center;
                &:nth-child(even) {
                    background:rgba(244, 247, 246, 1);
                }
            }
            .left {
                font-weight: 500;
                flex: 0 0 120px;
                padding: 10px 7px;
            }
        }
        .activity-cta {
            padding:0 35px;
            padding-top:25px;
            .btn {
                padding:15px;
            }
        }
        .post-body {
            ol {
                padding-left:0;
            }
            h1,h2,h3,h4,h5,h6 {
                padding-left:0;
            }
        }
    }
}

@include screen(1200) {
    .blog {
        &.single-activity {
            .activity-content {
                padding:0;
                padding-bottom: 25px;
            }
            .activity-details {
                padding:0;
            }
            .activity-cta {
                padding:0;
                padding-top: 25px;
            }
        }
    }
}

// TF1 START
.tf1 {
    &-image {
        height: 380px;
        img {
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }
    &-title {
        padding: 20px 40px;
        text-align: center;
    }
    &-buttons {
        padding-top: 50px;
    }
    .btn {
        width: 220px;
        margin: auto;
    }
    h2 {
        color:#091F40;
    }
    .testimonial {
        &-card {
            &:nth-child(1) {
                &:before {
                    background:#8DC63F;
                }
            }
            &:nth-child(2) {
                &:before {
                    background:#091F40;
                }
            }
            &:nth-child(3) {
                &:before {
                    background:#BE1E2D;
                }
            }
        }
        &-header {
            img {
                height:95px;
                width:95px;
                object-fit: contain;
            }
        }
    }
}

@include screen(450,1199) {
    .tf1 {
        &-list {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-image {
            height: fit-content;
            img {
                width:100%;
                height:auto;
            }
        }
    }
    .testimonial-card {
        flex: 0 0 50%;
        max-width: 40%;
    }
}

@include screen(1200) {
    .tf1 {
        &-list {
            display: flex;
            justify-content: space-evenly;
        }
        &-image {
            margin-top: -150px;
            margin-bottom: 150px;
            img {
                height: auto;
                width: 100%;
                object-fit: unset;
                object-position: unset;
            }
        }
        .testimonial {
            &-card {
                flex: 0 0 378px;
                max-width: 30%;
            }
        }
    }
}
// TF1 END

// CTA2 START
.cta2 {
    background:url("/wp-content/themes/cec/images/imagine-your-future.jpg");
    background-size: cover;
    background-position: 190%;
    margin-top: 50px;
    &-wrapper {
        position:relative;
    }
    .right {
        position: absolute;
        right: 0;
        top: -20px;
        img {
            max-width: 186px;
            height: auto;
        }
    }
    .left {
        padding: 15px 25px;
        padding-top: 30px;
        h2 {
            font-size: 30px;
            color: white;
            max-width: 130px;
        }
    }
    &-links {
        display:flex;
    }
    &-link {
        display:block;
        color:white;
        font-size: 16px;
        font-weight:700;
        margin-right: 15px;
        padding-bottom: 5px;
        border-bottom: 5px solid var(--color);
    }
}

@include screen(1200) {
    .cta2 {
        background-size: contain;
        background-position: -20px;
        margin-top: 200px;
        position:relative;
        background-size: cover;
        &-wrapper {
            position:unset;
        }
        .right {
            top: unset;
            bottom: 0;
            img {
                max-width:100%;
                display: block;
            }
        }
        .left {
            padding: 85px 25px;
            max-width: 49vw;
            h2 {
                font-size: 70px;
                max-width: 515px;
            }
        }
        &-links {
            padding-top: 50px;
        }
        &-link {
            font-size: 28px;
            margin-right: 50px;
            padding-bottom: 5px;
            border-bottom: 7px solid var(--color);
        }
    }
}
@include screen(1200,1366) {
    .cta2 {
        .left {
            h2 {
                font-size: 50px !important;
            }
        }
    }
}
// CTA2 END

.archive {
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px;
        gap: 15px;
    }
    &-items {
        padding-top: 25px;
    }
    &-item {
        max-width: 185px;
        // max-height: 300px;
        // height: 300px;
        min-height: 300px;
        box-shadow: 0px 0px 15px rgba(134, 151, 174, 0.35);
        // margin: 5px !important;
    }
    &-hero {
        overflow: hidden;
        h1 {
            color: var(--color);
        }
        .left {
            padding:35px;
            padding-bottom: 10px;
            p {
                font-size: 14px;
                line-height: 21px;
            }
        }
        .container {
            padding: 0;
        }
        .right {
            // background: var(--bg-img);
            // background-repeat: no-repeat;
            // background-position: bottom;
            position:relative;
            &:before {
                content: "";
                position: absolute;
                background: var(--bg-img);
                background-repeat: no-repeat;
                background-size: cover;
                top: 40%;
                bottom: 0;
                left: 0;
                right: 0;
            }
            img {
                display:block;
                height: auto;
                width: 100%;
                max-width: 320px;
                margin:auto;
                z-index: 2;
                position: relative;
            }
        }
        .breadcrumbs {
            li {
                &:before {
                    color:rgba(0, 0, 0, 1);
                }
            }
            .page-link {
                color:rgba(0, 0, 0, 1);
            }
        }
    }
    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
        &-image {
            padding: 9px;
            padding-bottom: 0;
            img {
                max-width: 100%;
                width: 167px;
                height:108px;
                object-fit: cover;
            }
        }
        &-title {
            padding: 0 9px;
            margin: 6px 0;
            h6 {
                font-size: 16px;
                line-height: 18px;
                color:rgba(0, 0, 0, 1);
            }
        }
        &-body {
            padding: 0 9px;
            padding-bottom: 9px;
            flex-grow: 1;
            h6 {
                font-size: 12px;
                line-height: 17px;
                color:rgba(0, 0, 0, 1);
            }
        }
        &-footer {
            background: #fafafa;
            height: 32px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            span  {
                font-size: 12px;
                line-height: 17px;
                color:rgba(190, 30, 45, 1);
                position:relative;
                font-weight: 500;
                &:after {
                    font-family: "icomoon";
                    content: "\e935";
                    color:rgba(190, 30, 45, 1);
                    font-size: 20px;
                    vertical-align: middle;
                }
            }
        }
    }
}

@include screen(1200) {
    .archive-hero {
        background: rgba(244, 247, 246, 1);
        position:relative;
        .container {
            max-width: 1420px;
            display:flex;
        }
        .left {
            p {
                font-size: 18px;
                line-height: 24px;
                max-width: 750px;
            }
            h1 {
                margin-top:0;
            }
        }
        .right {
            background:unset;
            &:before {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                width: 50vw;
                background: var(--bg-img);
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
                left: 5vw;
            }
            img {
                max-width: 432px;
                margin-left: -40px;
                padding-top: 50px;
            }
        }
        
    }
    .archive {
        &-list {
            justify-content: center;
        }
        &-item {
            max-width: 290px;
            max-height: 387px;
            height: 387px;
            background: white;
            .card {
                display: flex;
                flex-direction: column;
                max-width: 290px;
                max-height: 387px;
                height: 387px;
                &-image {
                    padding: 20px;
                    padding-bottom: 0;
                    img {
                        max-width: 100%;
                        width: 245px;
                        height:128px;
                        object-fit: cover;
                    }
                }
                &-title {
                    padding: 0 20px;
                    margin: 6px 0;
                    h6 {
                        font-size: 23px;
                        line-height: 29px;
                        font-weight: 600;
                    }
                }
                &-body {
                    padding: 5px 20px;
                    flex-grow: 1;
                    h6 {
                        font-size: 14px;
                        line-height: 23px;
                    }
                }
                &-footer {
                    max-height: 50px;
                    min-height: 50px;
                    padding: 0 10px;
                    flex-grow: 1;
                    justify-content: right;
                    span  {
                        font-size: 16px;
                        line-height: 23px;
                        &:after {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
        &-items {
            padding-top: 0;
            margin-top: -75px;
            position: relative;
            z-index: 5;
        }
    }
}

.cta3 {
    position:relative;
    margin-top: 50px;
    background: #091F40;
    &:before {
        content:"";
        position:absolute;
        background: var(--bg-img);
        width: 932px;
        height: 447px;
        right: 15vw;
        top: -66px;
    }
    &-wrapper {
        position:relative;
    }
    .left {
        padding: 15px 25px;
        padding-top: 30px;
        h2 {
            font-size: 36px;
            color: #8DC63F;
            max-width: 130px;
        }
    }
    .btn {
        max-width: 200px;
    }
}

@include screen(1200) {
    .cta3 {
        margin-top: 200px;
        position:relative;
        min-height: 380px;
        display: flex;
        align-items: center;
        &-wrapper {
            position:unset;
        }
        .container {
            width: 55%;
        }
        .left {
            position: relative;
            padding: 0px 25px;
            max-width: 400px;
            h2 {
                font-size: 36px;
                max-width: 515px;
            }
            p {
                font-size: 16px;
                color:white;
            }
        }
    }
}

.archive {
    &.two {
        .archive-content {
            padding: 35px;
            padding-bottom: 0;
            h2 {
                color:rgba(9, 31, 64, 1);
                font-size: 36px;
                line-height: 40px;
            }
        }
        .archive-hero {
            .right {
                img {
                    padding-bottom: 25px;
                }
            }
        }
        .archive-items {
            padding-top: 25px;
            padding-bottom: 35px;
        }
        .card {
            @include screen(0,1199) {
                max-width: 185px;
                max-height: 300px;
                height: 300px;
            }
        }
        .card-item {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            label {
                font-size: 11px;
                line-height: 14px;
                color:black;
                margin-left: 10px;
            }
            img {
                max-width: 23px;
                height:auto;
            }
        }
        .card-body {
            padding-bottom: 0;
            flex-grow: 1;
        }
    }
}

@include screen(1200) {
    .archive {
        &.two {
            .archive-hero {
                .container {
                    justify-content: space-between;
                }
                .right {
                    img {
                        padding-top:0;
                        margin-left: 0;
                        padding-bottom: 0;
                        padding-left: 50px;
                    }
                    // &:before {
                    //     width:30vw;
                    // }
                }
                .left {
                    padding:0;
                    padding-top: 35px;
                    padding-bottom: 10px;
                }
            }
            .archive-content {
                padding: 80px 50px;
                padding-bottom: 25px;
                h2 {
                    color:rgba(9, 31, 64, 1);
                    font-size: 36px;
                    line-height: 40px;
                }
            }
            .archive-items {
                margin-top:0;
                padding: 0;
            }
            .card-item {
                display: flex;
                align-items: center;
                margin-bottom: 7px;
                label {
                    font-size: 14px;
                    line-height: 18px;
                    color:black;
                    margin-left: 15px;
                }
            }
        }
    }
}

.cc1 {
    background: transparent linear-gradient(180deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
    &-logos {
        background: white;
        margin: 0 15px;
        &-inner {
            padding: 0 15px;
            padding-top: 25px;
        }
        &-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        h5 {
            font-weight: 600;
            text-align: center;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
        }
    }
    &-content {
        position: relative;
        &-inner {
            padding:35px;
        }
    }
    &-header {
        max-width: 90%;
        margin: auto;
        text-align: center;
        h3 {
            color:#BE1E2D;
        }
        h4 {
            font-size: 16px;
        }
    }
    &-logo {
        padding: 20px 0;
        max-width: 172px;
        max-height: 97px;
        img {
            object-fit: contain;
        }
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-card {
        flex: 0 0 45%;
        padding: 20px 0;
        h5 {
            font-size: 16px;
        }
        icon {
            margin-bottom: 10px;
            display: block;
        }
    }
    &-image {
        margin-top: -100px;
        img {
            height: 325px;
            object-fit: cover;
        }
    }
    small {
        margin-top: 15px;
        line-height: 21px;
        font-size: 14px;
        display: block;
    }
}

@include screen(1200) {
    .cc1 {
        &-logos {
            &-inner {
                background:white;
                width: 100%;
                max-width: 1180px;
                margin: auto;
                box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            h5 {
                max-width: unset;
                font-size: 23px;
                text-transform: unset;
                font-weight: 500;
            }
        }
        &-logo {
            margin: 0 5px;
        }
        &-content {
            padding-top: 100px;
            h3 {
                font-size: 48px;
                margin-bottom: 0;
            }
            h4 {
                font-size: 28px;
                margin-top: 0;
            }
            .container {
                max-width: 1250px;
            }
        }
        &-header {
            padding-bottom: 50px;
        }
        &-card {
            flex: 0 0 30%;
            max-width: 340px;
            padding-bottom: 50px;
            h5 {
                font-size: 21px;
            }
        }
        &-image {
            margin-top: -100px;
            img {
                display: block;
                height:100%;
            }
        }
        &.nonm {
            .cc1-content {
                padding-top:25px;
            }
        }
    }
}


.cta-five {
    position:relative;
    background:#EAF5DC;
    min-height: 424px;
    .container {
        position:relative;
        padding:0;
        &:before {
            content:"";
            position:absolute;
            background: var(--bg-img);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: 600px;
            background-position-y: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    &-wrapper {
        position:relative;
    }
    .left {
        padding: 15px 25px;
        padding-top: 30px;
        h2 {
            color: #091F40;
            max-width: 225px;
        }
        p {
            max-width: 225px;
            color:white;
        }
    }
    .btn {
        min-width: 220px;
    }
}

@include screen(1200) {
    .cta-five {
        position:relative;
        display: flex;
        align-items: center;
        &-wrapper {
            position:unset;
        }
        .container {
            width: 95%;
            min-height: 424px;
        }
        .left {
            position: relative;
            margin: 75px;
            margin-left: 10vw;
            h2 {
                max-width: 515px;
            }
            p {
                max-width: unset;
                font-size: 16px;
            }
        }
    }
}

@include screen(0,1199) {
    .single-accommodation {
        .inner {
            .content,
            .details,
            .cta {
                padding: 0 35px;
            }
            .cta {
                padding-bottom: 35px;
            }
        }
    }
}

@include screen(1200) {
    .single-accommodation {
        .image {
            &:before {
                background:#be1e2d !important;
            }
        }
    }
}

.blog {
    &.search {
        .inner.container {
            padding-top: 25px;
        }
        .post-content {
            flex:0 0 100%;
            max-width:100%;
        }
        .post-item {
            h4 {
                font-size: 16px;
                font-weight: 500;
            }
        }
        .post-list {
            padding: 0 35px;
        }
        .label {
            color: rgba(190, 30, 45, 1);
            text-transform: capitalize;
            font-weight: 500;
        }
    }
}

@include screen(1200) {
    .blog {
        &.search {
            .blog-hero {
                min-height: 325px;
            }
            .post-list {
                padding: 35px;
            }
            .post-item {
                h4 {
                    font-size: 25px;
                    font-weight: 500;
                }
            }
            .inner.no-padding {
                padding:0;
            }
        }
    }
}

.blog {
    h1 {
        font-size: 30px;
    }
    &-posts {
        .content {
            margin-top:25px;
        }
    }
}

@include screen(1200) {
    .blog {
        h1 {
            font-size: 45px;
        }
    }
}

.hide {
    display:none;
}
.no-act {
    padding:50px;
    font-size: 24px;
}

.single-post {
    .blog-posts-side.container {
        @include screen(0,925) {
            padding:0;
        }
        .inner.container {
            @include screen(0,925) {
                padding:0;
            }
        }
    }
}

.wp-block-image {
    figure {
        margin-left: 0;
        margin-right: 0;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.single-post {
    iframe {
        max-width: 100%;
    }
}