@use 'theme/mixins' as *;

.course {
    &-header {
        background: rgba(190, 30, 45, 1);
        padding: 40px;
        padding-bottom: 80px;
    }
    &-title {
        h1 {
            margin-top:0;
            color:white;
            text-transform: uppercase;
        }
    }
    &-hero {
        .breadcrumbs {
            padding-bottom: 15px;
        }
    }
    &-usp {
        img {
            max-width: 21px;
            display: block;
            margin-bottom: 5px;
        }
        .usp {
            color:white;
            font-size: 14px;
        }
        ul {
            display:flex;
            flex-direction: column;
            @include screen(768) {
                flex-direction: row;
            }
        }
        li {
            display: flex;
            gap: 25px;
            align-items: center;
            @include screen(768) {
                display:block;
            }
            &:not(:first-child) {
                margin-top:20px;
                @include screen(768) {
                    margin-top:0;
                    margin-left: 20px;
                }
            }
        }
    }
    &-body {
        display: flex;
        flex-direction: column-reverse;
        background:rgba(244, 247, 246, 1);
    }
    &-side {
        margin: 15px;
        margin-top: -50px;
        margin-bottom: 50px;
        background:white;
        box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
    }
    &-image {
        img {
            display:block;
            width: 100%;
            height: auto;
        }
    }
    &-details {
        &-body {
            padding:15px;
        }
        span {
            font-size: 16px;
            display:block;
        }
        h3 {
            font-size: 21px;
            border-bottom: 1px solid rgba(0, 0, 0, 1);
            padding-bottom: 10px;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 5px;
        }
        .left{
            flex: 0 0 130px;
            max-width: 130px;
            span {
                font-weight: 500;
            }
        }
        .right {
            margin-left: 15px;
        }
        li {
            display:flex;
            padding: 5px 10px;
            align-items: center;
            &:nth-child(even) {
                background:rgba(244, 247, 246, 1);
            }
        }
        & + .course-details {
            margin-top: 15px;
        }
    }
    &-cta {
        margin-top: 15px;
        .btn {
            font-weight: 500;
            display: block;
            width: 100%;
            margin: 15px 0;
            min-height: 51px;
        }
        
    }
}

.single-course {
    .container {
        @include screen(0,767) {
            padding:0;
        }
    }
    .wp-block-image {
        margin: 25px 0;
        img {
            height: auto;
        }
    }
}
@include screen(700) {
    .course {
        &-page {
            background: rgba(244, 247, 246, 1);
            position: relative;
            overflow: hidden;
        }
        &-body {
            background:unset;
            flex-direction: row;
            justify-content: space-evenly;
        }
        &-hero {
            position: relative;
            padding-top: 50px;
            .container {
                max-width: 1280px;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: -500px;
                right: -1500px;
                background: var(--course);
                z-index: -1;
            }
        }
        &-title {
            h1 {
                font-size: 42px;
                max-width: 800px;
            }
        }
        &-usp {
            padding-bottom: 50px;
            padding-top: 15px;
            li {
                display: flex;
                align-items: center;
                max-width: 175px;
                &:not(:first-child) {
                    margin-left: 35px;
                }
            }
            img {
                max-width: 35px;
                display: inline;
                margin-bottom: 0;
            }
            .usp {
                margin-left: 10px;
            }
        }
        &-side {
            width: 400px;
            margin:0;
            &-wrapper {
                flex: 0 0 400px;
                position: relative;
                &-inner {
                    height:100%;
                }
            }
            .inner-wrapper-sticky {
                background:white;
                box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
            }
        }
        &-content {
            max-width: 800px;
            &-wrapper {
                margin-top:50px;
            }
        }
        &-cta {
            display: flex;
            justify-content: space-between;
            a {
                flex: 0 0 48%;
                max-width: 48%;
            }
        }
        &-body {
            z-index: 2;
            position: relative;
        }
    }
}

.available-level {
    position:relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height:29px;
    width:29px;
    margin-right: 10px;
    margin-bottom: 5px;
    span {
        color:white;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
    }
    &:before{
        content:"";
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background:rgba(180, 28, 40, 1);
        border-radius: 50%;
        z-index: -1;
    }
    &s {
        .right {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &:hover {
        .available-level-tooltip {
            opacity:1;
            visibility: visible;
        }
    }
    &-tooltip {
        transition: all 0.3s ease-out;
        width: max-content;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        top: -40px;
    }
}

// TF1 START

.tf1 {
    &-image {
        height: 380px;
        img {
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }
    &-title {
        padding: 20px 40px;
        text-align: center;
    }
    &-buttons {
        padding-top: 50px;
    }
    .btn {
        width: 220px;
        margin: auto;
    }
    h2 {
        color:#091F40;
    }

    .testimonial {
        &-card {
            &:nth-child(1) {
                &:before {
                    background:#8DC63F;
                }
            }
            &:nth-child(2) {
                &:before {
                    background:#091F40;
                }
            }
            &:nth-child(3) {
                &:before {
                    background:#BE1E2D;
                }
            }
        }
        &-header {
            img {
                height:95px;
                width:95px;
                object-fit: contain;
            }
        }
    }
}

@include screen(450,1199) {
    .tf1 {
        &-list {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-image {
            height: fit-content;
            img {
                width:100%;
                height:auto;
            }
        }
    }
    .testimonial-card {
        flex: 0 0 50%;
        max-width: 40%;
    }
}

@include screen(810) {
    .tf1 {
        &-list {
            display: flex;
            justify-content: space-evenly;
        }
        &-image {
            margin-top: -150px;
            margin-bottom: 150px;
            img {
                height: auto;
                width: 100%;
                object-fit: unset;
                object-position: unset;
            }
        }
        .testimonial {
            &-card {
                flex: 0 0 378px;
                max-width: 30%;
            }
        }
    }
}
// TF1 END

.video-cta {
    margin-top: 50px;
    h2 {
        color:rgba(9, 31, 64, 1);
        text-align: center;
    }
    iframe {
        max-width: 100%;
        z-index: 1;
        position: relative;
    }
    .video {
        width: fit-content;
        margin: auto;
        padding: 10px;
        position:relative;
        &:before {
            position:absolute;
            content:"";
            bottom:4px;
            left:0;
            height: 200px;
            width: 315px;
            background-color: rgba(141, 198, 63, 1);
        }
        &:after {
            position:absolute;
            content:"";
            top:0;
            right:0;
            height: 80px;
            width: 160px;
            background-color: rgba(190, 30, 45, 1);
        }
    }
}

@include screen(810) {
    .video-cta {
        padding-bottom: 100px;
        background:var(--bg-img), rgba(242, 242, 242, 1);
        background-repeat: no-repeat;
        background-position-x: 46vw;
        background-position-y: bottom;
        .video {
            margin:unset;
            &:after {
                top: 3px;
                right: 1px;
            }
        }
        .title {
            padding-top: 60px;
            padding-bottom: 15px;
            h2 {
                font-size: 60px;
                text-align: left;
            }
        }
        iframe {
            width: 700px;
            height: 390px;
        }
    }
}

@include screen(700,1199) {
    .course {
        &-header {
            padding: 35px;
            &.mobile {
                display:none;
            }
        }
        &-side {
            width: 38.5vw;
            max-width: 325px;
            &-wrapper {
                flex: 0 0 400px;
                max-width: 38.5vw;
                padding-right: 5px;
            }
        }
        &-benefits {
            h5 {
                font-size: 16px !important;
            }
        }
        &-content {
            .container {
                max-width: 53vw;
                margin: auto;
            }
            .cta-course {
                background:none;
                .container {
                    background: #091F40;
                    padding:0;
                }
            }
        }
        &-usp {
            li {
                &:not(:first-child) {
                    margin-left:5px;
                }
            }
        }
        &-faq {
            .container {
                padding: 0 !important;
            }
        }
        &-cta {
            .btn {
                font-size: 13px;
                min-width: 120px;
            }
        }
        &-includes {
            justify-content: space-evenly;
            h5 {
                font-size: 20px !important;
            }
        }
    }
    .tf1 {
        .testimonial-card {
            flex: 0 0 325px;
            max-width: 44%;
        }
    }
    .video-cta {
        .container {
            padding: 25px;
        }
    }
    .course-side .inner-wrapper-sticky {
        background: #fff;
        box-shadow: 0 0 25px rgb(134 151 174 / 25%);
        width: 325px;
        max-width: 38.5vw;
    }
}

@include screen(1200) {
    .course {
        &-header {
            &.mobile {
                display:none;
            }
        }
    }
}

@include screen(0,700) {
    .course {
        &-hero {
            &.tablet {
                display:none;
            }
        }
    }
}

.course-calculator {
    select {
        width: 100%;
        border: 1px solid rgba(190, 30, 45, 0.25);
        outline: none;
        border-radius: 3px;
    }
    input[type="number"] {
        width: 100%;
        -moz-appearance: textfield;
        text-align: center;
        border:none;
        outline:none;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    &-input {
        display:flex;
        align-items: center;
        .ball {
            flex: 0 0 30%;
            span {
                display:block;
                background:#BE1E2D;
                height:17px;
                width:17px;
                border-radius: 50%;
                cursor:pointer;
                user-select: none;
                margin: auto;
                position:relative;
            }
        }
        .plus span {
            &:before {
                font-family: "icomoon";
                content: "\e98c";
                color:white;
                font-size: 14px;
                position: absolute;
                top: 0;
                left: 1.5px;
            }
        }
        .minus span {
            &:before {
                font-family: "icomoon";
                content: "\e98d";
                color:white;
                font-size: 14px;
                position: absolute;
                top: 0;
                left: 1.5px;
            }
        }
    }
    .right {
        width: 100%;
    }
}
