@import "/home/web/www/html/wp-content/themes/cec/node_modules/rfs/scss.scss";

$rfs-breakpoint: 768px;


.title {
    @include font-size(4rem);
}

body {
    @include font-size(18px);
    line-height: 1.2;
}


h1 {
    @include font-size(60px);
    @include margin(1.5rem 0);
    margin-top:0;
    font-weight: 700;
}

h2 {
    @include font-size(48px);
    @include margin(1rem 0);
    margin-top:0;
    font-weight: 700;
}

h3 {
    @include font-size(36px);
    @include margin(0.75rem 0);
    margin-top:0;
    font-weight: 700;
}

h4 {
    @include font-size(28px);
    @include margin(0.5rem 0);
    margin-top:0;
    font-weight: 500;
}

h5 {
    @include font-size(23px);
    @include margin(0.25rem 0);
    margin-top:0;
    font-weight: 500;
}

h6 {
    @include font-size(20px);
    @include margin(0.15rem 0);
    margin-top:0;
    font-weight: 500;
}

p {
    @include font-size(18px);
    @include rfs(24px, line-height);
}