<div class="questions-header">
    <div class="title">
        <h4>PLEASE NOTE THAT THIS IS NOT THE PLACEMENT LEVEL TEST</h4>
        <p>In order to take your Placement test, please connect to the CEC Online Platform</p>
    </div>
    <div class="questions-pagination">
        <ul class="rl">
            <li class="active"><div class="pagenum active" onclick="toggleTestPage(this)" data-page-id="1">1</div></li>
            <li><div class="pagenum" onclick="toggleTestPage(this)" data-page-id="2">2</div></li>
            <li><div class="pagenum" onclick="toggleTestPage(this)" data-page-id="3">3</div></li>
            <li><div class="pagenum" onclick="toggleTestPage(this)" data-page-id="4">4</div></li>
            <li><div class="pagenum" onclick="toggleTestPage(this)" data-page-id="5">5</div></li>
        </ul>
    </div>
</div>
<div class="questions">
    <div class="questions-page active" data-page="1">
        <div class="question-item" data-question-id="one">
            <div class="question">
                <div class="question-id">1</div>
                <p>There are twelve of us so <span class="answer-space empty" data-answer-id="one">____</span> get into the car at the same time.</p>
            </div>
            <div class="answer">[radio first-question use_label_element id:one "all we can’t" "we may not all" "we can’t all" "all we may not"]</div>
        </div>
        <div class="question-item" data-question-id="two">
            <div class="question">
                <div class="question-id">2</div>
                <p>Her children tell her that <span class="answer-space empty" data-answer-id="two">____</span> old to drive a car.</p>
            </div>
            <div class="answer">[radio second-question use_label_element id:two "she’s getting so" "she gets so" "she’s getting too" "she gets too"]</div>
        </div>
        <div class="question-item" data-question-id="three">
            <div class="question">
                <div class="question-id">3</div>
                <p>When there is a public rocket service to the moon, her father has promised <span class="answer-space empty" data-answer-id="three">____</span> her there.</p>
            </div>
            <div class="answer">[radio third-question use_label_element id:three "bringing" "to bring" "taking" "to take"]</div>
        </div>

        <div class="question-item" data-question-id="four">
            <div class="question">
                <div class="question-id">4</div>
                <p><span class="answer-space empty" data-answer-id="four">____</span> at the moment, I’ll go to the shops.</p>
            </div>
            <div class="answer">[radio fourth-question use_label_element id:four "For it isn’t raining" "As it isn’t raining" "For it doesn’t rain" "As it doesn’t rain"]</div>
        </div>

        <div class="question-item" data-question-id="five">
            <div class="question">
                <div class="question-id">5</div>
                <p>In a shop <span class="answer-space empty" data-answer-id="five">____</span> customers.</p>
            </div>
            <div class="answer">[radio fith-question use_label_element id:five "there is important to please" "it is important to please" "it is important pleasing" "there is important pleasing"]</div>
        </div>

    </div>
    <div class="questions-page" data-page="2">
        <div class="question-item" data-question-id="six">
            <div class="question">
                <div class="question-id">6</div>
                <p>Your bicycle shouldn't be in the house! <span class="answer-space empty" data-answer-id="six">____</span></p>
            </div>
            <div class="answer">[radio sith-question use_label_element id:six "Get out it!" "Take it out!" "Put it off!" "Take away it!"]</div>
        </div>
        <div class="question-item" data-question-id="seven">
            <div class="question">
                <div class="question-id">7</div>
                <p>He is a good guitarist, but he plays the piano <span class="answer-space empty" data-answer-id="seven">____</span>.</p>
            </div>
            <div class="answer">[radio seventh-question use_label_element id:seven "very good" "quiet well" "much better" "too hardly"]</div>
        </div>
        <div class="question-item" data-question-id="eight">
            <div class="question">
                <div class="question-id">8</div>
                <p>Molly doesn't eat fish, <span class="answer-space empty" data-answer-id="eight">____</span>.</p>
            </div>
            <div class="answer">[radio eighth-question use_label_element id:eight "John doesn't that either" "so doesn't John" "neither does John" "John doesn't too"]</div>
        </div>
        <div class="question-item" data-question-id="nine">
            <div class="question">
                <div class="question-id">9</div>
                <p>She always buys <span class="answer-space empty" data-answer-id="nine">____</span> my birthday.</p>
            </div>
            <div class="answer">[radio ninth-question use_label_element id:nine "anything nice to" "anything nice for" "something awful for" "something awful to"]</div>
        </div>

        <div class="question-item" data-question-id="ten">
            <div class="question">
                <div class="question-id">10</div>
                <p>She hardly ever eats <span class="answer-space empty" data-answer-id="ten">____</span> potatoes.</p>
            </div>
            <div class="answer">[radio tenth-question use_label_element id:ten "neither bread nor" "neither bread or" "or bread or" "bread or"]</div>
        </div>

    </div>
    <div class="questions-page" data-page="3">
        <div class="question-item" data-question-id="eleven">
            <div class="question">
                <div class="question-id">11</div>
                <p>I <span class="answer-space empty" data-answer-id="eleven">____</span> to your letter of the 15th.</p>
            </div>
            <div class="answer">[radio eleventh-question use_label_element id:eleven "am wanting to reply" "like to reply" "would like to reply" "would like replying"]</div>
        </div>
        <div class="question-item" data-question-id="twelve">
            <div class="question">
                <div class="question-id">12</div>
                <p>Your letter <span class="answer-space empty" data-answer-id="twelve">____</span>.</p>
            </div>
            <div class="answer">[radio twelveth-question use_label_element id:twelve"arrived two days ago" "arrived since two days" "has arrived two days ago" "has arrived since two days"]</div>
        </div>
        <div class="question-item" data-question-id="thirteen">
            <div class="question">
                <div class="question-id">13</div>
                <p>I've <span class="answer-space empty" data-answer-id="thirteen">____</span> for the job and I hope to get it.</p>
            </div>
            <div class="answer">[radio thirteenth-question use_label_element id:thirteen "presented" "appointed" "applied" "succeeded"]</div>
        </div>

        <div class="question-item" data-question-id="fourteen">
            <div class="question">
                <div class="question-id">14</div>
                <p>I never expected you to turn <span class="answer-space empty" data-answer-id="fourteen">____</span> at the meeting. I thought you were abroad.</p>
            </div>
            <div class="answer">[radio fourteenth-question use_label_element id:fourteen "around" "on" "up" "in"]</div>
        </div>
        <div class="question-item" data-question-id="fifteen">
            <div class="question">
                <div class="question-id">15</div>
                <p>As far as he's concerned, one piece of music is very much like <span class="answer-space empty" data-answer-id="fifteen">____</span>.</p>
            </div>
            <div class="answer">[radio fifteenth-question use_label_element id:fifteen "one another" "other" "an other" "another"]</div>
        </div>

    </div>
    <div class="questions-page" data-page="4">
        <div class="question-item" data-question-id="sixteen">
            <div class="question">
                <div class="question-id">16</div>
                <p>She was wearing <span class="answer-space empty" data-answer-id="sixteen">____</span> beautiful clothes that I envied her.</p>
            </div>
            <div class="answer">[radio sixteenth-question use_label_element id:sixteen "such" "so" "such a" "a so"]</div>
        </div>
        <div class="question-item" data-question-id="seventeen">
            <div class="question">
                <div class="question-id">17</div>
                <p>She woke up in the middle of the night and couldn't <span class="answer-space empty" data-answer-id="seventeen">____</span> again.</p>
            </div>
            <div class="answer">[radio seventeenth-question use_label_element id:seventeen "get back to sleep" "put myself for sleeping" "get back to sleeping" "put myself to sleep"]</div>
        </div>
        <div class="question-item" data-question-id="eighteen">
            <div class="question">
                <div class="question-id">18</div>
                <p>I crossed the room and <span class="answer-space empty" data-answer-id="eighteen">____</span> a light shone through the window.</p>
            </div>
            <div class="answer">[radio eighteenth-question use_label_element id:eighteen "while doing like that" "as I did like that" "as I did so" "at doing so"]</div>
        </div>
        <div class="question-item" data-question-id="nineteen">
            <div class="question">
                <div class="question-id">19</div>
                <p>I wish I <span class="answer-space empty" data-answer-id="nineteen">____</span> what time the film started before we came out.</p>
            </div>
            <div class="answer">[radio nineteenth-question use_label_element id:nineteen "have checked" "would have checked" "would check" "had checked"]</div>
        </div>
        <div class="question-item" data-question-id="twenty">
            <div class="question">
                <div class="question-id">20</div>
                <p>I'll ask the waiter for the bill when you <span class="answer-space empty" data-answer-id="twenty">____</span> your coffee.</p>
            </div>
            <div class="answer">[radio twentieth-question use_label_element id:twenty "will have finished" "have finished" "shall finish" "will finish"]</div>
        </div>
    </div>
    <div class="questions-page" data-page="5">
        <div class="question-item" data-question-id="twenty-one">
            <div class="question">
                <div class="question-id">21</div>
                <p>There was a suitcase <span class="answer-space empty" data-answer-id="twenty-one">____</span> mine on the luggage rack.</p>
            </div>
            <div class="answer">[radio twenty-first-question use_label_element id:twenty-one "the same that" "as" "like" "similar than"]</div>
        </div>
        <div class="question-item" data-question-id="twenty-two">
            <div class="question">
                <div class="question-id">22</div>
                <p>He <span class="answer-space empty" data-answer-id="twenty-two">____</span> out of the window for a moment and then went on working.</p>
            </div>
            <div class="answer">[radio twenty-second-question use_label_element id:twenty-two "glanced" "viewed" "regarded" "glimpsed"]</div>
        </div>
        <div class="question-item" data-question-id="twenty-three">
            <div class="question">
                <div class="question-id">23</div>
                <p>I'd like to take <span class="answer-space empty" data-answer-id="twenty-three">____</span> of this opportunity to thank you all for your co-operation.</p>
            </div>
            <div class="answer">[radio twenty-third-question use_label_element id:twenty-three "benefit" "profit" "occasion" "advantage"]</div>
        </div>
        <div class="question-item" data-question-id="twenty-four">
            <div class="question">
                <div class="question-id">24</div>
                <p>Our main concern is to raise the voters' <span class="answer-space empty" data-answer-id="twenty-four">____</span> of living.</p>
            </div>
            <div class="answer">[radio twenty-fourth-question use_label_element id:twenty-four "condition" "capacity" "standard" "degree"]</div>
        </div>
        <div class="end-fields">
            <div class="field-item">
                [text* first-name placeholder "First Name"]
            </div>
            <div class="field-item">
                [text* surname placeholder "Surname"]
            </div>
            <div class="field-item">
                [email* email placeholder "Email Address"]
            </div>
            <div class="field-item">
                [date birthday "Birthday"]
            </div>
            <div class="field-item">
                [select nationality "Afghanistan" "Albania" "Algeria" "American Samoa" "Andorra" "Angola" "Anguilla" "Antigua and Barbuda" "Argentina" "Armenia" "Armenia" "Aruba" "Australia" "Austria" "Azerbaijan" "Azerbaijan" "Bahamas" "Bahrain" "Bangladesh" "Barbados" "Belarus" "Belgium" "Belize" "Benin" "Bermuda" "Bhutan" "Bolivia" "Bonaire" "Bosnia and Herzegovina" "Botswana" "Bouvet Island (Bouvetoya)" "Brazil" "British Indian Ocean Territory" "British Virgin Islands" "Brunei Darussalam" "Bulgaria" "Burkina Faso" "Burundi" "Cambodia" "Cameroon" "Canada" "Cape Verde" "Cayman Islands" "Central African Republic" "Chad" "Chile" "China" "Christmas Island" "Cocos (Keeling) Islands" "Colombia" "Comoros" "Congo" "Congo" "Cook Islands" "Costa Rica" "Cote d'Ivoire" "Croatia" "Cuba" "Curaçao" "Cyprus" "Cyprus" "Czech Republic" "Denmark" "Djibouti" "Dominica" "Dominican Republic" "Ecuador" "Egypt" "El Salvador" "Equatorial Guinea" "Eritrea" "Estonia" "Ethiopia" "Falkland Islands (Malvinas)" "Faroe Islands" "Fiji" "Finland" "France" "French Guiana" "French Polynesia" "French Southern Territories" "Gabon" "Gambia" "Georgia" "Germany" "Ghana" "Gibraltar" "Greece" "Greenland" "Grenada" "Guadeloupe" "Guam" "Guatemala" "Guernsey" "Guinea" "Guinea-Bissau" "Guyana" "Haiti" "Heard Island and McDonald Islands" "Holy See (Vatican City State)" "Honduras" "Hong Kong" "Hungary" "Iceland" "India" "Indonesia" "Iran" "Iraq" "Ireland" "Isle of Man" "Israel" "Italy" "Jamaica" "Japan" "Jersey" "Jordan" "Kazakhstan" "Kazakhstan" "Kenya" "Kiribati" "Korea" "Korea" "Kuwait" "Kyrgyz Republic" "Lao People's Democratic Republic" "Latvia" "Lebanon" "Lesotho" "Liberia" "Libyan Arab Jamahiriya" "Liechtenstein" "Lithuania" "Luxembourg" "Macao" "Macedonia" "Madagascar" "Malawi" "Malaysia" "Maldives" "Mali" "Malta" "Marshall Islands" "Martinique" "Mauritania" "Mauritius" "Mayotte" "Micronesia" "Moldova" "Monaco" "Mongolia" "Montenegro" "Montserrat" "Morocco" "Mozambique" "Myanmar" "Namibia" "Nauru" "Nepal" "Netherlands" "Netherlands Antilles" "New Caledonia" "New Zealand" "Nicaragua" "Niger" "Nigeria" "Niue" "Norfolk Island" "Northern Mariana Islands" "Mexico" "Norway" "Oman" "Pakistan" "Palau" "Palestinian Territory" "Panama" "Papua New Guinea" "Paraguay" "Peru" "Philippines" "Pitcairn Islands" "Poland" "Portugal" "Puerto Rico" "Qatar" "Reunion" "Romania" "Russian Federation" "Rwanda" "Saint Barthelemy" "Saint Helena" "Saint Kitts and Nevis" "Saint Lucia" "Saint Martin" "Saint Pierre and Miquelon" "Saint Vincent and the Grenadines" "Samoa" "San Marino" "Sao Tome and Principe" "Saudi Arabia" "Senegal" "Serbia" "Seychelles" "Sierra Leone" "Singapore" "Sint Maarten (Netherlands)" "Slovakia (Slovak Republic)" "Slovenia" "Solomon Islands" "Somalia" "South Africa" "South Georgia & S. Sandwich Islands" "Spain" "Sri Lanka" "Sudan" "Suriname" "Svalbard & Jan Mayen Islands" "Swaziland" "Sweden" "Switzerland" "Syrian Arab Republic" "Taiwan" "Tajikistan" "Tanzania" "Thailand" "Timor-Leste" "Togo" "Tokelau" "Tonga" "Trinidad and Tobago" "Tunisia" "Turkey" "Turkey" "Turkmenistan" "Turks and Caicos Islands" "Tuvalu" "U.S. Virgin Islands" "U.S. Minor Outlying Islands" "Uganda" "Ukraine" "United Arab Emirates" "United Kingdom" "United States" "Uruguay" "Uzbekistan" "Vanuatu" "Venezuela" "Vietnam" "Wallis and Futuna" "Western Sahara" "Yemen" "Zambia" "Zimbabwe"]
            </div>
            <div class="field-item final">
                <button class="btn btn-primary" data-title="Submit">Submit</button>
            </div>
        </div>
        <div class="endform">
           <div class="hide-this">[submit "Submit"]</div> 
        </div>
    </div>
</div>
<div class="questions-footer">
    <div class="questions-buttons">
        <ul class="rl">
            <li class="prev hidden" onclick="previousPage()">Previous</li>
            <li class="next" onclick="nextPage()">Next</li>
        </ul>
    </div>
    <div class="title">
        <p>*You must answer all questions before proceeding.</p>
    </div>
</div>