.cta-course {
    position:relative;
    margin:75px 0;
    background: #091F40;
    &-wrapper {
        position:relative;
    }
    .left {
        padding: 35px;
        text-align: center;
        h2 {
            font-size: 36px;
            color: #8DC63F;
        }
        p {
            color:white;
            font-size: 14px;
        }
    }
    &-button {
        margin: auto;
        width: fit-content;
    }
    .image {
        margin-top: 125px;
        img {
            width: 100%;
            height: auto;
            margin-top: -41px;
        }
    }
    .btn {
        min-width: 220px;
    }
}

@include screen(1200) {
    .cta-course {
        margin-top: 100px;
        position:relative;
        min-height: 342px;
        display: flex;
        align-items: center;
        &:before {
            content:"";
            position:absolute;
            background: var(--bg-img);
            background-repeat: no-repeat;
            top: -50px;
            bottom: 0;
            left: 0;
            right: 0;
            background-position: right;
        }
        &-wrapper {
            position:unset;
        }
        &-button {
            margin: 0;
        }
        .container {
            width: 95%;
        }
        .left {
            position: relative;
            padding: 0px 25px;
            max-width: 350px;
            text-align: left;
            h2 {
                font-size: 36px;
                max-width: 515px;
            }
            p {
                max-width: unset;
                font-size: 16px;
            }
        }
    }
}