{% extends "block-base.twig" %}

{% block content %}
<style>{{compiled_css}}</style>
<section class="cta-course {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{fields.content.background_image.url}}')">
    <div class="container">
    <div class="cta-course-wrapper">
        <div class="image hide-d">{{imageElement(fields.content.background_image)}}</div>
        <div class="left">
            <h2>{{fields.content.title}}</h2>
            <p>{{fields.content.content}}</p>
            <div class="cta-course-button">
                <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}" target="{{fields.content.button.link.target}}" data-title="{{fields.content.button.link.title}}">{{fields.content.button.link.title}}</a>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}