.course-includes {
    margin: 25px 0;
    &-content {
        &-inner {
            padding: 15px 35px;
        }
    }
    &-header {
        max-width: 90%;
        margin: auto;
        text-align: center;
        h3 {
            color:rgba(9, 31, 64, 1);
        }
        h4 {
            font-size: 16px;
        }
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-card {
        flex: 0 0 45%;
        padding: 20px 0;
        h5 {
            font-size: 16px;
        }
        icon {
            margin-bottom: 10px;
            display: block;
        }
    }
    .path-1,
    .path-2 {
        &:before {
            font-size: 34px !important;
        }
    }
}

@include screen(1200) {
    .course-includes {
        margin: 50px 0;
        &-content {
            h3 {
                font-size: 48px;
                margin-bottom: 0;
            }
            h4 {
                font-size: 28px;
                margin-top: 0;
            }
            .container {
                max-width: 1250px;
            }
        }
        &-header {
            padding-bottom: 50px;
        }
        &-card {
            flex: 0 0 30%;
            max-width: 200px;
            h5 {
                font-size: 21px;
            }
        }
        .path-1,
        .path-2 {
            &:before {
                font-size: 41px !important;
            }
        }
    }
}