{% extends "block-base.twig" %}

{% block content %}
<style>{{compiled_css}}</style>
<section class="course-includes {{block.className}}" {{blockSection(block)}}>
    <div class="course-includes-content">
        <div class="course-includes-content-inner">
            <div class="container">
                <div class="course-includes-header">
                    <h3>{{fields.content.title}}</h3>
                    <h4>{{fields.content.subtitle}}</h4>
                </div>
                <div class="course-includes-cards">
                    {% for item in fields.content.items %}
                    <div class="course-includes-card">
                        <icon class="check"><span class="path-1"></span><span class="path-2"></span></icon>
                        <h5>{{item.title}}</h5>
                        <small>{{item.content}}</small>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}