.logo-showcase {
    &-logos {
        background: white;
        margin: 0 15px;
        &-inner {
            padding: 0 15px;
        }
        &-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        h5 {
            font-weight: 600;
            text-align: center;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
        }
    }
    &-logo {
        padding: 20px 0;
        max-width: 172px;
        max-height: 97px;
        img {
            object-fit: contain;
        }
    }
    .btn {
        margin: auto;
        margin-top: 25px;
        min-width: 260px;
    }
}

@include screen(1200) {
    .logo-showcase {
        &-logos {
            &-inner {
                background:white;
                width: 100%;
                max-width: 920px;
                margin: auto;
                box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -150%);
            }
            h5 {
                max-width: unset;
                font-size: 23px;
                text-transform: unset;
                font-weight: 500;
            }
        }
        &-logo {
            margin: 0 5px;
        }
        .btn {
            margin-top: 100px;
        }
        &.nonm {
            .logo-showcase-content {
                padding-top:25px;
            }
        }
    }
}