{% extends "block-base.twig" %}

{% block content %}
<section class="logo-showcase {{block.className}}" {{blockSection(block)}}>
    <div class="logo-showcase-logos po-r">
        <div class="logo-showcase-logos-inner">
            <div class="logo-showcase-logos-container">
                {% for item in fields.logo_strip.items %}
                <div class="logo-showcase-logo">
                    {{imageElement(item.logo)}}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="logo-showcase-button">
            <div class="container">
                <a class="btn {{fields.button_one.button.style}}" href="{{fields.button_one.button.link.url}}" target="{{fields.button_one.button.link.target}}" data-title="{{fields.button_one.button.link.title}}">{{fields.button_one.button.link.title}}</a>
            </div>
        </div>
    </div> 
</section>
{% endblock %}