.course-activities {
    margin:25px 0;
    &-header {
        margin: auto;
        margin-bottom: 25px;
        text-align: center;
        h2 {
            color:rgba(9, 31, 64, 1);
        }
    }
    &-card {
        user-select: none;
        display:flex;
        align-items: center;
        background:var(--bg-img);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
        margin-bottom: 2px;
        .inner {
            display:flex;
            align-items: center;
        }
        .icon {
            margin-right: 20px;
        }
        span {
            display:block;
            color:white;
            &.day {
                font-size: 18px;
                font-weight: 600;
                @include screen(768) {
                    font-size: 24px;
                }
                @include screen(1024) {
                    font-size: 28px;
                }
            }
            &.act {
                font-size: 16px;
                text-align: center;
                @include screen(768) {
                    font-size: 19px;
                }
                @include screen(1024) {
                    font-size: 23px;
                }
            }
            &.sep {
                font-size: 28px;
                font-weight: 600;
                color:rgba(190, 30, 45, 1);
                margin: 0 5px;
            }
        }
    }
}

@include screen(1200) {
    .course-activities {
        &-card {
            padding:40px;
            margin-bottom: 6px;
        }
    }
}