{% extends "block-base.twig" %}

{% block content %}
<style>{{compiled_css}}</style>
<section class="course-activities {{block.className}}" {{blockSection(block)}}>
    <div class="course-activities-content">
        <div class="course-activities-content-inner">
            <div class="container">
                <div class="course-activities-header">
                    <h2>{{fields.content.title}}</h2>
                </div>
                <div class="wrapper">
                    {% for item in fields.content.items %}
                    <div class="course-activities-card" style="--bg-img:url({{cdnThis(item.background_image.url)}})">
                        <div class="icon">
                            {{imageElement(item.icon)}}
                        </div>
                        <div class="content">
                            <div class="inner">
                                <span class="day">{{item.day}}</span>
                                <span class="sep">/</span>
                                <span class="act">{{item.activity}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}