.tf2 {
    &-image {
        height: 380px;
        img {
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }
    &-title {
        padding: 20px 40px;
        text-align: center;
    }
    &-buttons {
        padding-top: 50px;
    }
    .btn {
        width: 220px;
        margin: auto;
    }
    h2 {
        color:#091F40;
    }
    .testimonial {
        &-card {
            &:nth-child(1n) {
                &:before {
                    background:#8DC63F;
                }
            }
            &:nth-child(2n) {
                &:before {
                    background:#091F40;
                }
            }
            &:nth-child(3n) {
                &:before {
                    background:#BE1E2D;
                }
            }
        }
        &-header {
            img {
                height:95px;
                width:95px;
                object-fit: contain;
            }
        }
    }
}

@include screen(1200) {
    .tf2 {
        &-list {
            display: flex;
            justify-content: space-evenly;
            flex-wrap:wrap;
        }
        &-image {
            margin-top: -150px;
            margin-bottom: 150px;
            img {
                height: auto;
                width: 100%;
                object-fit: unset;
                object-position: unset;
            }
        }
        .testimonial {
            &-card {
                flex: 0 0 378px;
                max-width: 30%;
            }
        }
    }
}