{% extends "block-base.twig" %}

{% block content %}
<section class="tf2 {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="tf2-text">
            <div class="tf2-title">
                <h2>{{fields.content.title}}</h2>
            </div>
            <div class="tf2-cards">
                <div class="tf2-list">
                    {% for item in testimonials %}
                        {% include ['testimonial-card.twig'] %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}