.cta-four {
    position:relative;
    padding:75px 0;
    .container {
        background: #091F40;
        position:relative;
    }
    &-wrapper {
        position:relative;
    }
    .top {
        img {
            width: 100%;
            height: auto;
        }
    }
    .left {
        padding: 30px;
        text-align: center;
        h2 {
            font-size: 36px;
            color: #8DC63F;
        }
        p {
            max-width: 250px;
            color: white;
            font-size: 14px;
            line-height: 20px;
            margin: 15px auto;
        }
    }
    .btn {
        min-width: 315px;
        padding:15px;
        margin: auto;
        & + .btn {
            margin-top:15px;
        }
    }
}
@include screen(1024, 1199) {
    .cta-four {
        .container {
            padding:0;
        }
    }
}
@include screen(1200) {
    .cta-four {
        position:relative;
        display: flex;
        align-items: center;
        &-wrapper {
            position:unset;
        }
        .container {
            width: 95%;
            min-height: 380px;
            &:before {
                content:"";
                position:absolute;
                background: var(--bg-img);
                background-repeat: no-repeat;
                background-size: contain;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-position: right;
            }
        }
        .left {
            position: relative;
            margin: 75px;
            text-align: left;
            h2 {
                font-size: 36px;
                max-width: 515px;
            }
            p {
                max-width: 468px;
                font-size: 16px;
                margin: 15px 0;
            }
        }
        .btn {
            margin: 15px 0;
            padding: 15px;
        }
    }
}