{% extends "block-base.twig" %}

{% block content %}
<section class="cta-four {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{cdnThis(fields.content.background_image.url)}}')">
    <div class="container">
        <div class="top hide-d">
            {{imageElement(fields.content.background_image)}}
        </div>
        <div class="cta-four-wrapper">
            <div class="left">
                <h2>{{fields.content.title}}</h2>
                <p>{{fields.content.content}}</p>
                <div class="cta-four-button">
                    <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}" target="{{fields.content.button.link.target}}" data-title="{{fields.content.button.link.title}}">{{fields.content.button.link.title}}</a>
                    {% if fields.second_button.button.link.title %}
                    <a class="btn {{fields.second_button.button.style}}" href="{{fields.second_button.button.link.url}}" target="{{fields.second_button.button.link.target}}" data-title="{{fields.second_button.button.link.title}}">{{fields.second_button.button.link.title}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}