.image-hero-one {
    position:relative;
    .wrapper {
        background:var(--bg-img);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 150px;
        h1 {
            color:white;
            margin-top:0;
        }
        p {
            color:white;
            font-size: 14px;
        }
        img {
            display:block;
        }
        .inner {
            padding: 35px;
        }
    }
    &.student-resources {
        background: transparent linear-gradient(250deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
        img {
            display:none;
        }
        h1 {
            color:#091F40;
            margin-top:0;
        }
        p {
            color:#000000;
            font-size: 14px;
        }
        .breadcrumbs {
            li {
                &:before {
                    color:#000000;
                }
            }
            .page-link {
                color:#000000;
            }
        }
    }
    
}


@include screen(1200) {
    .image-hero-one  {
        .container {
            padding:0;
            max-width: 1420px;
        }
        .wrapper {
            min-height: 400px;
            position:relative;
            &:before {
                position:absolute;
                content:"";
                background:var(--img);
                background-repeat: no-repeat;
                background-size: cover;
                top:0;
                right:0;
                bottom:0;
                width: 784px;
                max-width: 784px;
            }
            .inner {
                max-width: 43vw;
                padding: 35px 0;
            }
            p {
                font-size: 18px;
            }
        }
        h1 {
            font-size: 48px;
        }
    }
}

@include screen(1200,1366) {
    .image-hero-one  {
        .wrapper {
            &:before {
            }
            .inner {
                max-width: 35vw;
                padding: 0 50px;
                padding-top: 35px;
            }
        }
    }
}

.faqtab {
    position:relative;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    flex: 0 0 calc(100% / var(--tabs));
    max-width: calc(100% / var(--tabs));
    padding: 15px;
    box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
    background: rgba(245, 245, 245, 1);
    img {
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        max-height: 35px;
        opacity:0.5;
    }
    h6 {
        font-size: 10px;
        color:rgba(9, 31, 64, 1);
        opacity:0.5;
    }
    &-title {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &.active {
        background:white;
        transform: translate(-10px, -10px);
        img {
            opacity: 1;
        }
        h6 {
            font-weight: 600;
            opacity: 1;
        }
    }
    &-content {
        &:not(.active) {
            display:none;
        }
    }
    &s {
        &-head {
            display:flex;
            background: #be1e2d;
        }
        &-body {
            padding:10px 25px;
            box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
            p {
                font-size: 14px;
            }
        }
        .container {
            background: white;
            padding: 0;
        }
    }
}

@include screen(1200) {
    .faqtab {
        padding: 15px;
        padding-top: 25px;
        padding-bottom: 15px;
        h6 {
            font-size: 16px;
        }
        img {
            max-height: 65px;
            margin-bottom: 10px;
        }
        &s {
            .container {
                background: white;
                padding: 0;
            }
            &-body {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}

.faqtabs {
    margin-top: -50px;
    margin-bottom: 100px;
    h3 {
        color:rgba(9, 31, 64, 1);
    }
    h5 {
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        font-size: 14px;
        font-weight: 500;
        max-width: 80%;
    }
    p {
        font-size: 14px;
    }
    .container {
        margin: 0 20px;
        background: white;
        position: relative;
    }
    .question {
        border-bottom: 1px solid rgba(190, 30, 45, 1);
        padding: 15px 0;
        &.active {
            .answer {
                max-height: 1000px;
            }
            .close {
                transform: rotate(0deg);
            }
        }
        &.inactive {
            h5 {
                color:rgba(135, 139, 142, 1);
            }
        }
        &-header {
            cursor: pointer;
            display:flex;
            justify-content: space-between;
            div {
                position:relative;
            }
            span {
                transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
                position:absolute;
                right: 10px;
                transform: rotate(225deg);
                &:before {
                    font-family: "icomoon";
                    content: "\e984";
                    color: #be1e2d;
                    font-size: 20px;
                }
            }
        }
    }
    .answer {
        overflow: hidden;
        max-height: 0;
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
}

@include screen(1200) {
    .faqtabs {
        background: white;
        margin-top: -75px;
        h5 {
            font-size: 28px;
            font-weight: 600;
        }
        p {
            font-size: 16px;
        }
        .container {
            margin:auto;
        }
        .question {
            border-color:black;
            padding: 25px 0;
        }
        &-body {
            padding: 60px;
        }
        .close {
            &:before {
                font-size: 35px !important;
            }
        }
    }
}

.search {
    margin-right: 8px;
    &-holder {
        display: flex;
        align-items: center;
        .spsb {
            outline: 0;
            max-width: 725px;
            width: 100%;
            background: transparent;
            color: white;
            border: 0;
            border-bottom: 1px solid white;
            padding: 0;
            padding-bottom: 7px;
            font-size: 15px;
            &::placeholder {
                color: white;
            }
        }
    }
    &:before {
        content: "\e937";
        font-family: "icomoon";
        color:white;
        font-size: 21px;
    }
}