{% extends "block-base.twig" %}

{% block content %}
<section class="image-hero-one {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper" style="--bg-img:url({{fields.content.background.url}});--img:url({{fields.content.image.url}});">
        <div class="container">
            <div class="inner">
                <div class="content-box">
                {% include "breadcrumbs.twig" %}
                {{fields.content.content}}
                </div>
                <div class="search-holder">
                    <span class="icon search po-a"></span>
                    <input id="spsb" class="spsb" type="text" name="search" placeholder="{{translateString('Search', 'cec')}}" minlength="4">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="faqtabs {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="faqtabs-head">
            {% for item in fields.tabs %}
            <div class="faqtab-sel faqtab {% if loop.first %}active{% endif %}" data-tab="{{loop.index}}" onclick="toggleThisTab(this);" style="--tabs:{{loop.length}};">
                <div class="faqtab-title">
                    <h6>{{item.title}}</h6>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="faqtabs-body">
            {% for item in fields.tabs %}
            <div class="faqtab-sel faqtab-content {% if loop.first %}active{% endif %}" data-tab="{{loop.index}}">
                <div class="questions">
                    {% for question in item.items %}
                    <div class="question">
                        <div class="question-header" onclick="toggleQuestion(this);">
                            <h5>{{question.question}}</h5>
                            <div><span class="close"></span></div>
                        </div>
                        <div class="answer">
                            <p>{{question.answer}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
document.getElementById('spsb').addEventListener('input', function(e) {
    [...document.querySelectorAll(".question")].filter(a => !a.textContent.toLowerCase().includes(e.target.value.toLowerCase())).forEach(a => a.style.display = "none");
    [...document.querySelectorAll(".question")].filter(a => a.textContent.toLowerCase().includes(e.target.value.toLowerCase())).forEach(a => a.style.display = "block");
});
</script>

<script>
    function toggleThisTab(tab) {
        if(!tab.classList.contains('active')) {
            [...document.querySelectorAll('.faqtab-sel')].forEach((contentTab) => {
                contentTab.classList.remove('active');
            });
            tab.classList.add('active');
            document.querySelector(".faqtab-content[data-tab='" + tab.dataset.tab + "']").classList.add('active');
        }
    }
</script>

<script>
    function toggleQuestion(question) {
        if(!question.parentNode.classList.contains('active')) {
            [...document.querySelectorAll('.question')].forEach((contentTab) => {
                contentTab.classList.remove('active');
                contentTab.classList.add('inactive');
            });
            question.parentNode.classList.remove('inactive');
            question.parentNode.classList.add('active');
        } else {
            question.parentNode.classList.remove('active');
            [...document.querySelectorAll('.question')].forEach((contentTab) => {
                contentTab.classList.remove('inactive');
            });
        }
    }
</script>
{% endblock %}
