.become-a-host {
    background: var(--bg-img),rgba(255, 255, 255, 1);
    background-position: bottom;
    background-size: 900px;
    background-repeat: no-repeat;
    &-content {
        position:relative;
    }
    &-header {
        padding: 35px;
        h3 {
            color:#BE1E2D;
        }
        h4 {
            font-size: 16px;
        }
    }
    &-content {
        &-inner {
            .container {
            }
        }
    }
    &-cards {
        order:3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 35px;
        padding-bottom: 75px;
    }
    &-card {
        flex: 0 0 45%;
        padding: 20px 0;
        h5 {
            font-size: 16px;
        }
        icon {
            margin-bottom: 10px;
            display: block;
        }
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
    }
    &-title {
        order:2;
        padding: 0 35px;
        padding-top: 35px;
        h2 {
            color:#091F40;
            font-size: 40px;
        }
        p {
            font-size: 14px;
        }
    }
    &-form {
        order:1;
        .inner {
            box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.35);
            background:white;
            margin: 35px;
            margin-bottom: 250px;
            padding: 30px;
        }
        h2 {
            font-size: 40px;
            color:rgba(9, 31, 64, 1);
        }
        p {
            font-size: 14px;
        }
    }
    &-image {
        margin-top: -150px;
        img {
            height: 325px;
            object-fit: cover;
        }
    }
    input[type=text],
    input[type=email],
    input[type=tel], 
    textarea,
    select {
        width: 100%;
        font-size:14px;
        height: 55px;
        border: 1px solid rgba(9, 31, 64, 1) !important;
        border-radius: 10px !important;
        margin-bottom: 10px;
    }
    textarea {
        min-height: 220px;
        padding: 15px;
    }
    label {
        font-size: 14px;
        line-height: 20px;
        color: rgba(9, 31, 64, 1);
    }
    input[type=submit] {
        display:none;
    }
    .btn {
        width: 100%;
    }
}

@include screen(1200) {
    .become-a-host {
        background: var(--bg-img),linear-gradient(180deg, #FAFBFC 0%, #DCECFF 100%);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 500px;
        &-content {
            padding-top: 50px;
            h3 {
                font-size: 48px;
                margin-bottom: 0;
            }
            h4 {
                font-size: 28px;
                margin-top: 0;
            }
        }
        &-wrapper {
            flex-direction: row;
        }
        &-header {
            padding-bottom: 50px;
        }
        &-card {
            h5 {
                font-size: 21px;
                line-height: 21px;
            }
        }
        &-image {
            img {
                height:100%;
                z-index: -1;
            }
        }
        &-form {
            flex: 0 0 37.8vw;
            max-width: 725px;
            min-width: 650px;
            .inner {
                margin: 5px;
                padding-bottom: 0;
            }
        }
        &-left {

        }
        &.nonm {
            .become-a-host-content {
                padding-top:25px;
            }
        }
        .btn {
            width: fit-content;
        }
    }
    .form-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .form-field {
            flex: 0 0 48%;
            &.full {
                flex: 0 0 100%;
            }
            &:last-child {
                margin-top: 15px;
            }
        }
    }
    .check {
        .path-1,
        .path-2 {
            &:before {
                font-size: 41px !important;
            }
        }
    }
}