{% extends "block-base.twig" %}

{% block content %}
<section class="become-a-host {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{block_path}}/background.png')">   
    <div class="become-a-host-content">
        <div class="become-a-host-content-inner">
            <div class="container">
                <div class="become-a-host-header">
                    {{fields.content.content_top}}
                </div>
                <div class="become-a-host-wrapper">
                    <div class="become-a-host-left">
                        <div class="become-a-host-title">
                            {{fields.content.content_bottom}}
                        </div>
                        <div class="become-a-host-cards">
                            {% for item in fields.content.items %}
                            <div class="become-a-host-card">
                                <icon class="check"><span class="path-1"></span><span class="path-2"></span></icon>
                                <h5>{{item.content}}</h5>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="become-a-host-form">
                        <div class="inner">
                            <h2>{{fields.cta.title}}</h2>
                            {{fields.cta.content}}
                            [contact-form-7 id="{{fields.cta.form_data.form.ID}}" title="{{fields.cta.form_data.form.post_title}}"]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if fields.cta.form.redirect %}
<script>
document.addEventListener( 'wpcf7mailsent', function( event ) {
  location = '{{fields.cta.form.redirect_url}}';
}, false );
</script>
{% endif %}
{% endblock %}