.ti2 {
    background:var(--bg-img);
    background-size: cover;
    padding: 20px 0;
    h1,h2,h3,h4,h5 {
        color:var(--heading);
    }
    .left {
        padding: 40px;
        text-align: center;
        img {
            height: auto;
        }
    }
    .right {
        color:#091F40;
        padding: 0 40px;
        p {
            font-size: 18px;
            line-height: 24px;
        }
        ul {
            list-style: none;
        }
    }
    &-buttons {
        justify-content: flex-start;
    }
    .btn {
        width: 200px;
    }
    li {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
        position:relative;
        &::marker {
            content:none;
    
        }
        &:before {
            content:"";
            position:absolute;
            background:url('/wp-content/themes/cec/images/checkmark-med.png');
            width: 30px;
            height: 30px;
            top: 0px;
            left: -45px;
        }
    }
}
@include screen(1200) {
    .ti2 {
        padding: 50px 0;
        &-text {
            display:flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .left {
            flex-grow:1;
        }

        .right {
            flex: 0 0 800px;
            text-align: left;
            padding: 0;
            padding-right: 30px;
        }
        &-buttons {
            justify-content: flex-start;
        }
        &.careers {
            padding-top: 200px;
        }
    }
}