{% extends "block-base.twig" %}

{% block content %}
<section class="ti2 {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{fields.content.background_image.url}}');--heading:{{fields.heading.color}};">
    <div class="container">
        <div class="ti2-text">
            <div class="left">
                {{imageElement(fields.content.image)}}
            </div>
            <div class="right">
                <h2>{{fields.content.title}}</h2>
                {{fields.content.content}}
                {% if fields.button_one.button.link.title %}
                <div class="ti2-buttons d-flex">
                    <a class="btn {{fields.button_one.button.style}}" href="{{fields.button_one.button.link.url}}" target="{{fields.button_one.button.link.target}}" data-title="{{fields.button_one.button.link.title}}">{{fields.button_one.button.link.title}}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}