.image-hero-one {
    position:relative;
    .wrapper {
        background:var(--bg-img);
        background-size: cover;
        background-repeat: no-repeat;
        background: #F4F7F6;
        h1 {
            color:#091F40;
            margin-top:0;
        }
        p {
            color:#000000;
            font-size: 14px;
        }
        img {
            display:block;
            max-height: 225px;
            width: 100%;
            object-fit: cover;
        }
        .inner {
            padding: 35px;
        }
    }
    .breadcrumbs {
        li {
            &:before {
                color:#091F40;
            }
        }
        .page-link {
            color:#091F40;
        }
        
    }
    
}


@include screen(1200) {
    .image-hero-one  {
        .wrapper {
            min-height: 400px;
            position:relative;
            padding-bottom:150px;
            &:before {
                position:absolute;
                content:"";
                background:var(--img);
                background-repeat: no-repeat;
                background-size: cover;
                top:0;
                right:0;
                bottom:0;
                width: 784px;
                max-width: 45vw;
            }
            .inner {
                max-width: 40vw;
            }
            p {
                font-size: 18px;
            }
        }
    }
}

.ac {
    .wrapper {
        background: var(--bg-img);
        background-attachment: fixed;
    }
    .inner {
        padding: 20px;
    }
    h4 {
        font-weight: 600;
        color:#091F40;
    }
    .availability {
        align-items: center;
        text-align: center;
        span {
            margin-left: 15px;
            color:#BE1E2D;
            font-size: 18px;
            font-weight:500;
        }
        svg {
            display: block;
        }
    }
    .accommodation {
        box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.35);
        position:relative;
        margin-bottom: 75px;
        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            background: #be1e2d;
            top: -10px;
            bottom: 20%;
            right: 20%;
            left: -10px;
        }
        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            background: rgba(141, 198, 63, 1);
            bottom: -10px;
            top: 20%;
            left: 20%;
            right: -10px;
        }
        &-inner {
            padding: 25px;
            position: relative;
            z-index: 3;
            background: white;
        }
    }
    .single-link {
        width: 100%;
        border: 2px solid rgba(9, 31, 64, 1);
        border-radius: 40px;
        height: 70px;
        display: flex;
        align-items: center;
        padding-left: 35px;
        position:relative;
        &:after {
            content: "\e935";
            font-family: "icomoon";
            position: absolute;
            color: rgba(9, 31, 64, 1);
            font-size: 50px;
            right: 20px;
        }
        span {
            font-size: 18px;
            color:rgba(9, 31, 64, 1);
            font-weight: 500;
        }
        & + .single-link {
            margin-top:25px;
        }
    }
}

@include screen(1200) {
    .ac {
        .single-link {
            transition: all 0.3s ease-out; 
            &:hover {
                background:rgba(244, 247, 246, 1);
            }
            span {
                font-size: 23px;
                line-height: 29px;
            }
        }
        .wrapper {
            padding-bottom: 25px;
        }
        .accommodation {
            &-inner {
                display:flex;
                padding: 50px 60px;
                align-items: flex-end;
                justify-content: space-between;
            }
            .body {
                flex:0 0 650px;
            }
            .links {
                flex:0 0 400px;
            }
        }
        .container {
            max-width: 1240px;
            padding: 0;
            margin-top: -100px;
        }
        .availability {
            text-align: left;
            margin: 20px 0;
            span {
                font-size: 23px;
            }
        }
        h4 {
            font-size: 40px;
            line-height: 48px;
        }
    }
}