{% extends "block-base.twig" %}

{% block content %}
<section class="image-hero-one {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper" style="--img:url({{fields.hero.image.url}});">
        <div class="container">
            <div class="inner">
                {% include "breadcrumbs.twig" %}
                {{fields.hero.content}}
            </div>
        </div>
        <img class="hide-d" src="{{fields.hero.image.url}}" alt="background image"/>
    </div>
</section>
<section class="ac {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper" style="--bg-img:url({{fields.background_image.url}});">
        <div class="inner container">
        {% for item in fields.content %}
            <div class="accommodation">
                <div class="accommodation-inner">
                    <div class="body">
                        <div class="title">
                            <h4>{{item.title}}</h4>
                        </div>
                        <div class="availability d-flex">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                <g id="calendar-icon" transform="translate(4841.288 11856)">
                                    <g id="Group_1720" data-name="Group 1720" transform="translate(-4841.288 -11856)">
                                    <path id="Path_5314" data-name="Path 5314" d="M231.572,8.429h-2.381V7.476a.476.476,0,0,0-.952,0v.952h-2.857V7.476a.476.476,0,0,0-.952,0v.952h-2.857V7.476a.476.476,0,0,0-.952,0v.952h-2.857V7.476a.476.476,0,0,0-.952,0v.952h-2.381A1.43,1.43,0,0,0,213,9.857V25.572A1.43,1.43,0,0,0,214.429,27h17.143A1.43,1.43,0,0,0,233,25.572V9.857a1.43,1.43,0,0,0-1.429-1.429m-17.143.952h2.381v.952a.476.476,0,0,0,.952,0V9.381h2.857v.952a.476.476,0,0,0,.952,0V9.381h2.857v.952a.476.476,0,0,0,.952,0V9.381h2.857v.952a.476.476,0,0,0,.952,0V9.381h2.381a.477.477,0,0,1,.476.476v1.9h-18.1v-1.9a.477.477,0,0,1,.476-.476m17.143,16.667H214.429a.477.477,0,0,1-.476-.476V12.714h18.1V25.572a.477.477,0,0,1-.476.476" transform="translate(-213 -7)" fill="#be1e2d"/>
                                    <path id="Path_5315" data-name="Path 5315" d="M221.381,24h-1.9a.476.476,0,1,0,0,.952h1.9a.476.476,0,1,0,0-.952" transform="translate(-216.143 -15.905)" fill="#be1e2d"/>
                                    <path id="Path_5316" data-name="Path 5316" d="M221.381,32h-1.9a.476.476,0,1,0,0,.952h1.9a.476.476,0,1,0,0-.952" transform="translate(-216.143 -20.095)" fill="#be1e2d"/>
                                    <path id="Path_5317" data-name="Path 5317" d="M221.381,40h-1.9a.476.476,0,1,0,0,.952h1.9a.476.476,0,1,0,0-.952" transform="translate(-216.143 -24.286)" fill="#be1e2d"/>
                                    <path id="Path_5318" data-name="Path 5318" d="M233.381,24h-1.9a.476.476,0,1,0,0,.952h1.9a.476.476,0,1,0,0-.952" transform="translate(-222.429 -15.905)" fill="#be1e2d"/>
                                    <path id="Path_5319" data-name="Path 5319" d="M233.381,32h-1.9a.476.476,0,1,0,0,.952h1.9a.476.476,0,1,0,0-.952" transform="translate(-222.429 -20.095)" fill="#be1e2d"/>
                                    <path id="Path_5320" data-name="Path 5320" d="M233.381,40h-1.9a.476.476,0,1,0,0,.952h1.9a.476.476,0,1,0,0-.952" transform="translate(-222.429 -24.286)" fill="#be1e2d"/>
                                    <path id="Path_5321" data-name="Path 5321" d="M245.381,24h-1.9a.476.476,0,1,0,0,.952h1.9a.476.476,0,0,0,0-.952" transform="translate(-228.714 -15.905)" fill="#be1e2d"/>
                                    <path id="Path_5322" data-name="Path 5322" d="M245.381,32h-1.9a.476.476,0,1,0,0,.952h1.9a.476.476,0,0,0,0-.952" transform="translate(-228.714 -20.095)" fill="#be1e2d"/>
                                    <path id="Path_5323" data-name="Path 5323" d="M245.381,40h-1.9a.476.476,0,1,0,0,.952h1.9a.476.476,0,0,0,0-.952" transform="translate(-228.714 -24.286)" fill="#be1e2d"/>
                                    </g>
                                </g>
                                </svg>
                            </div>
                            <div><span>{{item.availability}}</span></div>
                        </div>
                        <div class="content">
                            <p>{{item.content}}</p>
                        </div>
                    </div>
                    <div class="links">
                        {% for link in item.links %}
                        <a class="single-link" href="{{link.link.url}}" target="{{link.link.target}}">
                            <span>{{link.link.title}}</span>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<script>
function toggleTab(element) {
    let tabs = document.querySelectorAll('li.primary');
    if(element.classList.contains('open')) {
        element.classList.remove('open');
    } else {
        [...tabs].forEach((tab) => {
            tab.classList.remove('open');
        });
        element.classList.add('open');
    }
}
</script>
{% endblock %}