.cf  {
    h1 {
        color: rgba(9, 31, 64, 1);
        font-size:50px;
    }
    h4 {
        font-size:18px;
    }
    h3 {
        font-size: 20px;
    }
    &-hero {
        padding:45px;
        padding-bottom: 250px;
        background:var(--bg-img);
        background-repeat: no-repeat;
        background-position: bottom;
        position: relative;
        &-inner {
            position: relative;
        }
        &:before {
            content: "";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(0deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
        }
    }
    &-form {
        flex-direction: column;
        &-container {
            position: relative;
        }
    }
    select {
        font-size: 16px;
        font-family: inherit;
        border-radius: 10px;
        color:rgba(9, 31, 64, 1);
        border: 2px solid rgba(9, 31, 64, 0.25);
        height:55px;
        margin-bottom: 15px;
        padding: 0 20px;
    }
    button {
        width: 100%;
    }
}

@include screen(1200) {
    .cf  {
        h1 {
            font-size:70px;
        }
        h4 {
            font-size:28px;
        }
        background:var(--bg-img);
        background-repeat: no-repeat;
        background-position: right;
        position:relative;
        &:before {
            content: "";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(0deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
            z-index: -1;
        }
        h1 {
        }
        h3 {
            font-size: 28px;
            color:#091F40;
        }
        &-hero {
            background:unset;
            max-width: 1200px;
            &-inner {
                position: relative;
                max-width: 650px;
                padding-bottom: 100px;
                padding-top: 30px;
                margin-left: 0;
            }
            &:before {
                content: unset;
            }
        }
        &-form {
            flex-direction: row;
            &-container {
                max-width: 650px;
                margin-left: 0;
            }
        }
        select {
            margin-bottom: 0;
            margin-right:16px;
            height:50px;
            min-width: 240px;
        }
        button {
            width: max-content;
        }
    }
}