{% extends "block-base.twig" %}

{% block content %}
<section class="cf {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{cdnThis(fields.content.background_image.url)}}');--bg-mob-img:url('{{cdnThis(fields.content.mobile_background_image.url)}}')">
    <div class="cf-hero container" style="--bg-img:url('{{cdnThis(fields.content.background_image.url)}}')">
        <div class="cf-hero-inner container">
            <div class="title">
                <h1>{{fields.content.title}}</h1>
            </div>
            <div class="content">
                <h4>{{fields.content.content}}</h4>
            </div>
        </div>
        <div class="cf-form-container container">
            <div class="cf-form-title">
                <h3>{{fields.course_finder.call_to_action}}</h3>
            </div>
            <div class="cf-form-wrapper">
                <div action="/" method="get" class="cf-form d-flex">
                <div class="fancy-select d-flex hidden">
                    <div class="select-holder">
                        <ul class="rl select">
                            <li>
                                <input class="select_close" type="radio" name="cf-cat" id="cf-cat-close" value="" checked />
                                <span class="select_label select_label-placeholder">{{translateString('I am...', 'cec')}}</span>
                            </li>
                            <li class="select_items">
                                <input class="select_expand" type="radio" name="cf-cat" id="cf-cat-opener"/>
                                <label class="select_closeLabel" for="cf-cat-close"></label>
                                <ul class="rl select_options">
                                {% for category in categories %}
                                    {% if category.category_type == "primary" %}
                                    {% if category.display_in_course_finder %}
                                    <li class="select_option">
                                        <input class="select_input cat-option" data-cat="{{category.term_id}}" data-url="{{fn('get_term_link',category)}}" type="radio" name="cf-cat" id="{{category.slug}}"/>
                                        <label class="select_label" for="{{category.slug}}">{% if category.course_finder_label %}{{category.course_finder_label}}{% else %}{{category.name}}{% endif %}</label>
                                    </li>
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </ul>
                                <label class="select_expandLabel" for="cf-cat-opener"></label>
                            </li>
                        </ul>
                    </div>
                    <div class="select-holder">
                        <ul class="rl select">
                            <li>
                                <input class="select_close" type="radio" name="cf-subcat" id="cf-subcat-close" value="" checked />
                                <span class="select_label select_label-placeholder">{{translateString('Interested in...', 'cec')}}</span>
                            </li>
                            <li class="select_items">
                                <input class="select_expand" type="radio" name="cf-subcat" id="cf-subcat-opener"/>
                                <label class="select_closeLabel" for="cf-subcat-close"></label>
                                <ul class="rl select_options subcategory-options" id="subcategory-options">

                                </ul>
                                <label class="select_expandLabel" for="cf-subcat-opener"></label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="plain-select d-flex hidden">
                    <select name="category" id="category-select">
                        <option value="none,0" selected disabled>{{fields.course_finder.primary_label}}</option>
                        {% for category in categories %}
                            {% if category.category_type == "primary" %}
                            {% if category.display_in_course_finder %}
                            <option value="{{category.term_id}},{{fn('get_term_link',category)}}">{% if category.course_finder_label %}{{category.course_finder_label}}{% else %}{{category.name}}{% endif %}</option>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="subcategory" id="subcategory-select">
                        <option selected disabled>{{fields.course_finder.secondary_label}}</option>
                    </select>
                </div>
                    <button class="btn btn-primary" data-title="{{translateString('Search', 'cec')}}" id="course-finder-button">{{translateString('Search', 'cec')}}</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.courseFinder = {
            currentTarget: '/courses/',
            category: false,
            subcategory: false,
            fancy:false
        };

        function buttonDispatcher() {
            if(window.courseFinder.fancy) {
                window.location = window.courseFinder.currentTarget;
            } else {
                window.location = window.courseFinder.currentTarget;
            }
        }

        document.getElementById('course-finder-button').addEventListener('click', function(e) {
            buttonDispatcher();
        });

        function loadSubcategories() {
            let data = new FormData();

            data.append('category', window.courseFinder.category);

            if(window.courseFinder.fancy) {
                data.append('fancy', true);
            } else {
                data.append('fancy', false);
            }

            fetch("{{fn("admin_url", "admin-ajax.php")}}?action=get_course_subcategories", {
                method: "POST",
                credentials: 'same-origin',
                body: data
            })
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                if(window.courseFinder.fancy) {
                    document.getElementById('subcategory-options').innerHTML = "";
                    document.getElementById('subcategory-options').innerHTML += data;
                } else {
                    console.log(data);
                    document.getElementById('subcategory-select').innerHTML = "<option selected disabled>{{fields.course_finder.secondary_label}}</option>";
                    document.getElementById('subcategory-select').innerHTML += data;
                    document.getElementById('subcategory-select').innerHTML += "<option value=''>I'm not sure</option>";
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
        }

        document.getElementById('category-select').addEventListener('change', function(e) {

            let primary = document.getElementById('category-select').value.split(',');

            let secondary = document.getElementById('subcategory-select').value;

            if(secondary.startsWith('http')) {

                window.courseFinder.currentTarget = secondary;
                loadSubcategories();

            } else if (primary[1].startsWith('http')) {

                window.courseFinder.currentTarget = primary[1];

                window.courseFinder.category = primary[0];

                loadSubcategories();
            } else {
                window.courseFinder.currentTarget = '/courses/';

            }
        });

        document.getElementById('subcategory-select').addEventListener('change', function(e) {

            let primary = document.getElementById('category-select').value.split(',');

            let secondary = document.getElementById('subcategory-select').value;

            if(secondary.startsWith('http')) {

                window.courseFinder.currentTarget = secondary;

            } else if (primary[1].startsWith('http')) {

                window.courseFinder.currentTarget = primary[1];

                window.courseFinder.category = primary[0];

                loadSubcategories();
            } else {
                window.courseFinder.currentTarget = '/courses/';

            }
        });

        if(navigator.userAgent.toLowerCase().indexOf('firefox') == -1) {
            if(screen.availWidth > 1199) {
                window.courseFinder.fancy = true;
            }
            document.querySelector('.fancy-select').classList.remove('hidden');
            document.querySelectorAll('.cat-option').forEach(function(radio) {
                radio.addEventListener('click', function(e) {
                    if(window.courseFinder.subcategory) {
                        window.courseFinder.subcategory = false;
                    }
                    window.courseFinder.currentTarget = e.srcElement.dataset.url;
                    window.courseFinder.category = e.srcElement.dataset.cat;
                    loadSubcategories();
                })
            });
        } else {
            document.querySelector('.plain-select').classList.remove('hidden');
        }

        function processSubcatClick(e) {
            window.courseFinder.subcategory = true;
            window.courseFinder.currentTarget = e.dataset.url;
        }
    </script>
</section>
{% endblock %}
