.cta3 {
    position:relative;
    margin-top: 50px;
    background: #091F40;
    &:before {
        content:"";
        position:absolute;
        background: var(--bg-img);
        width: 932px;
        height: 447px;
        right: 15vw;
        top: -66px;
    }
    &-wrapper {
        position:relative;
    }
    .left {
        padding: 15px 25px;
        padding-top: 30px;
        h2 {
            font-size: 36px;
            color: #8DC63F;
            max-width: 130px;
        }
    }
    .btn {
        max-width: 200px;
    }
}

@include screen(1200) {
    .cta3 {
        margin-top: 200px;
        position:relative;
        min-height: 380px;
        display: flex;
        align-items: center;
        &-wrapper {
            position:unset;
        }
        .container {
            width: 55%;
        }
        .left {
            position: relative;
            padding: 0px 25px;
            max-width: 400px;
            h2 {
                font-size: 36px;
                max-width: 515px;
            }
            p {
                font-size: 16px;
                color:white;
            }
        }
    }
}