.ctwi {
    padding: 30px 0;
    h1,h2,h3,h4,h5 {
        color:var(--heading);
    }
    .center {
        text-align: center;
        padding: 0 40px;
        p {
            font-weight: 500;
            font-size: 16px;
        }
        h2 {
            margin: auto;
        }
    }
    &-buttons {
        justify-content: center;
        padding-top: 15px;
    }
    .btn {
        margin: 0 5px;
    }
    &.cork {
        &:before {
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(180deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
            z-index: -1;
        }
    }
}

@include screen(1200) {
    .ctwi {
        padding: 60px 0;
        &-text {
            display:flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .center {
            padding: 0;
            max-width: 815px;
            margin: auto;
            p {
                font-size: 18px;
                margin-top: 30px;
                max-width: 815px;
                margin: 20px auto;
            }
        }
        .btn {
            width: 200px;
        }
    }
}