{% extends "block-base.twig" %}

{% block content %}
<section class="ctwi {{block.className}}" {{blockSection(block)}} style="--heading:{{fields.heading.color}};">
    <div class="container">
        <div class="ctwi-text">
            <div class="center">
                {{fields.content.content}}
            </div>
        </div>
        <div class="ctwi-buttons d-flex">
            <a class="btn {{fields.button_one.button.style}}" href="{{fields.button_one.button.link.url}}" target="{{fields.button_one.button.link.target}}" data-title="{{fields.button_one.button.link.title}}">{{fields.button_one.button.link.title}}</a>
        </div>
    </div>
</section>
{% endblock %}