.gallery-container {
    img {

    }
}

.gallery {
    &-container {
        margin: 25px 0;
    }
    &-title {
        border-bottom:1px solid rgba(190, 30, 45, 0.5);
        h3 {
            color:rgba(190, 30, 45, 100);
        }
    }
    &-category {
        display: flex;
        flex-wrap: wrap;
        gap:5px;
        margin: 25px 0;
        a {
            flex: 0 0 calc(50% - 5px);
            height: 150px;
            @include screen(768) {
                flex: 0 0 calc(33.33% - 5px);
                height: 150px;
            }
            @include screen(1024) {
                flex: 0 0 calc(25% - 5px);
                height: 200px;
            }
        }
        img {
            display: block;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}