{% extends "block-base.twig" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>
<section class="lig {{block.className}}" {{blockSection(block)}} style="--heading:{{fields.heading.color}};">
    <div class="container">
        <div class="wrapper">
            <div class="gallery-container">
                {% for category in fields.gallery_categories %}
                    <div class="gallery-title"><h3>{{category.name}}</h3></div>
                    <div class="gallery-category">
                    {% set index = loop.index %}
                        {% for item in category.images %}
                            <a href="{{item.image.url}}" data-fancybox data-caption="{{item.image.caption}}" data-gallery="{{index}}">
                                <img src="{{item.image.url}}" alt="{{item.image.alt}}" />
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script>
Fancybox.bind("[data-fancybox]", {
    "closeButton": true,
    "groupAll": true,
    "groupAttr": "data-gallery"
});
</script>
{% endblock %}