.iwt1 {
    .left {
        padding:40px;
        background:var(--bg-img);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height:540px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        span {
            display:block;
            color:white;
            font-size:50px;
        }
        .thin {
            font-weight: 300;
        }
        .green {
            font-weight: 700;
            color:rgba(141, 198, 63, 1);
        }
        .thick {
            font-weight: 700;
        }
    }
    .right {
        background:var(--bg-img);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        height:540px;
        padding:40px;
        h4 {
            color:white;
            font-weight: 700;
            font-size: 30px;
            max-width: 250px;
        }
        small {
            color:white;
            display:block;
            padding-top: 10px;
            padding-bottom: 25px;
            max-width: 250px;
            font-size: 14px;
            line-height: 20px;
        }
        .btn {
            width:200px;
        }
    }
}

@include screen(0, 599) {
    .iwt1 {
        .right {
            background-position: 45%;
        }
    }
}
@include screen(1200) {
    .iwt1 {
        &-wrapper {
            display:flex;
            .left,
            .right {
                flex:0 0 50%;
                max-width: 50%;
            }
        }
        .left {
            span {
                font-size:74px;
                line-height: 1.1;
            }
        }
        .right {
            padding:55px;
            h4 {
                font-size: 48px;
                line-height: 58px;
                max-width: 400px;
            }
            small {
                max-width: 350px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

@include screen(720,1199) {
    .iwt1 {
        &-wrapper {
            display:flex;
        }
        .left,
        .right {
            flex: 0 0 50vw;
            max-width: 50vw;
            height: inherit;
        }
    }
}