{% extends "block-base.twig" %}

{% block content %}
<section class="iwt1 {{block.className}}" {{blockSection(block)}}>
    <div class="">
        <div class="iwt1-wrapper">
            <div class="left" style="--bg-img:url('{{cdnThis(fields.block_one.image.url)}}');">
                <span class="thin">{{fields.block_one.line_one}}</span>
                <span class="green">{{fields.block_one.line_two}}</span>
                <span class="thick">{{fields.block_one.line_three}}</span>
            </div>
            <div class="right" style="--bg-img:url('{{cdnThis(fields.block_two.image.url)}}');">
                <h4>{{fields.block_two.title}}</h4>
                <small>{{fields.block_two.content}}</small>
                <div class="iwt1-button">
                    <a class="btn {{fields.block_two.button.style}}" href="{{fields.block_two.button.link.url}}" target="{{fields.block_two.button.link.target}}" data-title="{{fields.block_two.button.link.title}}">{{fields.block_two.button.link.title}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}