.ti1 {
    background:var(--bg-img);
    background-size: cover;
    padding: 20px 0;
    .left {
        padding: 40px;
        text-align: center;
        img {
            height: auto;
        }
    }
    .right {
        color:white;
        text-align: center;
        padding: 0 40px;
        p {
            font-size: 80%;
        }
    }
    &-buttons {
        justify-content: center;
    }
    .btn {
        width: 200px;
    }
}

@include screen(1200) {
    .ti1 {
        padding: 95px 0;
        &-text {
            display:flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .left {
            flex-grow:1;
        }

        .right {
            flex: 0 0 800px;
            text-align: left;
            padding: 0;
            padding-right: 30px;
            p {
                font-size: 18px;
                margin-top: 30px;
            }
        }
        &-buttons {
            justify-content: flex-start;
        }
    }
}