.cotab {
    position:relative;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    flex: 0 0 calc(100% / var(--tabs));
    max-width: 25%;
    padding: 15px;
    box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
    background: rgba(245, 245, 245, 1);
    img {
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        max-height: 35px;
        opacity:0.5;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    h6 {
        font-size: 10px;
        color:rgba(9, 31, 64, 1);
        opacity:0.5;
    }
    &-title {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        gap: 5px;
    }
    &-buttons {
        padding: 20px 0;
    }
    &.active {
        background:white;
        transform: translate(-5px, -5px);
        img {
            opacity: 1;
        }
        h6 {
            font-weight: 600;
            opacity: 1;
        }
    }
    &-content {
        &:not(.active) {
            display:none;
        }
    }
    &s {
        padding: 50px 0;
        &-head {
            display:flex;
            background:#be1e2d;
        }
        &-body {
            padding:10px 25px;
            p {
                font-size: 14px;
            }
        }
        .container {
            background: white;
            padding: 0;
        }
        .btn {
            padding:15px;
        }
    }
}

@include screen(1200) {
    .cotab {
        padding: 15px;
        padding-top: 25px;
        padding-bottom: 15px;
        height: 145px;
        h6 {
            font-size: 16px;
        }
        img {
            max-height: 65px;
            margin-bottom: 10px;
        }
        &.active {
            transform: translate(-10px, -10px);
        }
        &s {
            .container {
                background: white;
                padding: 0;
            }
            &-body {
                p {
                    font-size: 18px;
                }
            }
        }
    }
}