{% extends "block-base.twig" %}

{% block content %}
<section class="cotabs {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="cotabs-head">
            {% for item in fields.tabs.items %}
            <div class="cotab-sel cotab {% if loop.first %}active{% endif %}" data-tab="{{loop.index}}" onclick="toggleThisTab(this);" style="--tabs:{{loop.length}};">
                <div class="cotab-title">
                    {{imageElement(item.icon)}}
                    <h6>{{item.title}}</h6>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="cotabs-body">
            {% for item in fields.tabs.items %}
            <div class="cotab-sel cotab-content {% if loop.first %}active{% endif %}" data-tab="{{loop.index}}">
                {{item.content}}
                {% if item.button.link.title %}
                <div class="cotab-buttons">
                    <a class="btn {{item.button.style}}" href="{{item.button.link.url}}" target="{{item.button.link.target}}" data-title="{{item.button.link.title}}">{{item.button.link.title}}</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script>
    function toggleThisTab(tab) {
        if(!tab.classList.contains('active')) {
            [...document.querySelectorAll('.cotab-sel')].forEach((contentTab) => {
                contentTab.classList.remove('active');
            });
            tab.classList.add('active');
            document.querySelector(".cotab-content[data-tab='" + tab.dataset.tab + "']").classList.add('active');
        }
    }
</script>
{% endblock %}
