.english-test {
    margin: 50px 0;
    margin-top: -75px;
    position: relative;
    z-index: 3;
    .question-item {
        input {
            display:none;
            &:checked {
                & + .span {
                    background:#091F40;
                    color:white;
                }
            }
        }
    }
    .end-fields {
        border-top: 1px solid black;
        padding: 50px;
        padding-bottom: 25px;
        margin-top: 50px;
        input,
        select {
            width: 100%;
            height: 55px;
            border-radius: 10px;
            font-size: 14px;
            color: #091F40;
            margin-bottom: 10px;
            padding-left: 25px;
        }
    }
    .container {
        margin: 10px;
    }
    .wrapper {
        box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
    }
    .wpcf7-list-item-label {
        transition: all 0.3s ease-out;
        cursor: pointer;
        background:white;
        padding: 15px;
        border-radius: 10px;
        width: 100%;
        display: block;
        text-align: center;
        min-width: 175px;
        &:hover {
            color:white;
            background:#878B8E;
        }
    }
    .wpcf7-list-item {
        margin: 7px 0;
        width: 100%;
    }
    .question {
        font-size: 23px;
        line-height: 29px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 25px 0;
        &-id {
            display: block;
            flex: 0 0 35px;
            max-width: 35px;
            border-radius: 50%;
            text-align: center;
            border: 3px solid black;
            font-size: 20px;
            margin-right: 15px;
        }
        &-item {
            p {
                margin: 0;
            }
        }
        p {
            display: inline-block;
        }
    }
    .answer {
        padding:0 25px;
    }
    input {
        &:checked {
            + .wpcf7-list-item-label {
                background:#091F40;
                color:white;
            }
        }
    }
    .questions{
        background: #F4F7F6;
        padding: 20px;
        padding-top: 85px;
        padding-bottom: 50px;
        &-page {
            &:not(.active) {
                display:none;
            }
        }
        &-pagination {
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    flex-grow: 1;
                    position: relative;
                    &:not(:first-child) {
                        &:before {
                            transition: all 0.3s ease-out;
                            content: "";
                            position: absolute;
                            height: 3px;
                            width: 50%;
                            top: 50%;
                            transform: translate(0%, -50%);
                            background: #E5E5E5;
                            z-index: 1;
                        }
                    }
                    &:not(:last-child) {
                        &:after {
                            transition: all 0.3s ease-out;
                            content: "";
                            position: absolute;
                            height: 3px;
                            width: 50%;
                            top: 50%;
                            transform: translate(100%, -50%);
                            background: #E5E5E5;
                            z-index: 1;
                        }
                    }
                    &.highlight {
                        .pagenum {
                            background:#8DC63F;
                            border-color:#8DC63F;
                        }
                        &:after {
                            background:#8DC63F;
                        }
                        &:before {
                            background:#8DC63F;
                        }
                    }
                    &.active {
                        &:after {
                            background:#8DC63F;
                        }
                        &:before {
                            background:#8DC63F;
                        }
                    }
                }
            }
        }
        &-header {
            background: white;
            margin-bottom: -20px;
            .title {
                text-align: center;
                padding: 20px 40px;
            }
            h4 {
                font-size: 20px;
                color:#BE1E2D;
                font-weight: 600;
            }
            p {
                font-size: 14px;
                
            }
        }
        
    }
    .pagenum {
        transition: all 0.3s ease-out;
        display: block;
        width: 40px;
        height:40px;
        border-radius: 50%;
        text-align: center;
        font-size: 28px;
        line-height: 36px;
        margin: auto;
        background:#E5E5E5;
        border: 2px solid #E5E5E5;
        color:white;
        cursor: pointer;
        z-index: 5;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
            background: #8DC63F;
            border: 2px solid #8DC63F;
        }
    }
    .btn {
        width: 100%;
        margin-top: 15px;
    }
    .questions-footer {
        text-align: center;
        margin-top: -25px;
        .title {
            padding-top:5px;
            padding-bottom: 15px;
        }
    }
    .questions-buttons {
        .hidden {
            display:none;
        }
        li {
            background: #1D488E;
            color: white;
            height: 50px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor:pointer;
            flex: 0 0 450px;
            max-width: 48%;
        }
        ul {
            display:flex;
            justify-content: center;
        }
        .prev {
            margin-right:10px;
        }
        .next {
            margin-left:10px;
        }
    }
    form {
        br {
            display:none;
        }
        p {
            margin:0;
        }
    }
}
.hide-this {
    display:none;
}
@include screen(1200) {
    .english-test {
        .container {
            margin:auto;
            max-width: 1180px;
        }
        .question {
            &-item {
                padding-bottom: 25px;
            }
        }
        .answer {
            padding:0;
            .wpcf7-form-control {
                display: flex;
            }
            .wpcf7-list-item {
                margin-right: 15px;
                width: fit-content;
            }
        }
        .questions {
            padding: 20px 60px;
            padding-bottom: 50px;
            &-header{
                padding: 50px 40px;
                h4 {
                    font-size: 28px;
                    line-height: 36px;
                }
                p {
                    font-size: 18px;
                    line-height: 24px;
                }
                a {
                    color:rgba(29, 72, 142, 1);
                    text-decoration: underline;
                }
            }
        }
    }
}