{% extends "block-base.twig" %}

{% block content %}
{% set current_question = 0 %}
<section class="english-test {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{fields.cta.image.url}}')">   
    <div class="container">
        <div class="wrapper">
            <div class="questions-header">
                <div class="title">
                    <h4>PLEASE NOTE THAT THIS IS NOT THE PLACEMENT LEVEL TEST</h4>
                    <p>In order to take your Placement test, please connect to the CEC Online Platform</p>
                </div>
                <div class="questions-pagination">
                    <ul class="rl">
                    {% for page in fields.pages %}       
                        <li  {% if loop.first %}class="active"{% endif %}><div class="pagenum {% if loop.first %}active{% endif %}" onclick="toggleTestPage(this)" data-page-id="{{loop.index}}">{{loop.index}}</div></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="questions">
                {% for page in fields.pages %}
                <div class="questions-page {% if loop.first %}active{% endif %}" data-page="{{loop.index}}">
                    {% for question in page.questions %}
                    {% set current_question = current_question + 1 %}   
                    <div class="question-item" data-question-id="question{{current_question}}">
                        <div class="question">
                            <div class="question-id">{{current_question}}</div>
                            <p>{{question.first_part}} <span class="answer-space empty" data-answer-id="question{{current_question}}">____</span> {{question.second_part}}</p>
                        </div>
                        <div class="answer">
                            <span class="wpcf7-form-control-wrap" data-name="question-{{current_question}}">
                                <span class="wpcf7-form-control wpcf7-radio" id="question{{current_question}}">
                                    {% for answer in question.answers %}
                                    <span class="wpcf7-list-item {% if loop.first %}first{% endif %}{% if loop.last %}last{% endif %}">
                                        <label>
                                            <input {% if answer.award_points == 'yes' %}data-points="true"{% endif %} class="question-input" type="radio" name="question-{{current_question}}" value="{{answer.text}}" tabindex="">
                                            <span class="wpcf7-list-item-label">{{answer.text}}</span>
                                        </label>
                                    </span>
                                    {% endfor %}
                                </span>
                            </span>
                        </div>
                    </div>
                    {% if loop.parent.loop.last %}
                        {% if loop.last %}
                        [contact-form-7 id="{{fields.form[0].ID}}" title="{{fields.form[0].post_title}}"]
                        {% endif %}
                    {% endif %}
                    
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <div class="questions-footer">
                <div class="questions-buttons">
                    <ul class="rl">
                        <li class="prev hidden" onclick="previousPage()">Previous</li>
                        <li class="next" onclick="nextPage()">Next</li>
                    </ul>
                </div>
                <div class="title">
                    <p>*You must answer all questions before proceeding.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
[...document.querySelectorAll('.question-item')].forEach(function(questionItem) {
    [...questionItem.querySelectorAll('input')].forEach(function(inputItem) {
        inputItem.addEventListener('change', function(event) {
            document.querySelector('[data-answer-id="' + questionItem.dataset.questionId + '"]').innerHTML = event.srcElement.value;
            document.querySelector('[data-answer-id="' + questionItem.dataset.questionId + '"]').classList.remove('empty');
        })
    })
})
function toggleTestPage(el) {
    if(!el.classList.contains('active')) {
        [...document.querySelectorAll('.pagenum')].forEach(function(page) {
            page.parentNode.classList.remove('active');
            page.parentNode.classList.remove('highlight');
            page.classList.remove('active');
        });
        [...document.querySelectorAll('.questions-page')].forEach(function(page) {
            page.classList.remove('active');
        });
        el.classList.add('active');
        el.parentNode.classList.add('active');
        el.parentNode.classList.add('highlight');
        document.querySelector('.questions-page[data-page="' + el.dataset.pageId + '"]').classList.add('active');;
    }
    let destination = parseInt(el.dataset.pageId);
    for (let i = 1; i < destination; i++) {
        document.querySelector('[data-page-id="' + i + '"]').parentNode.classList.add('highlight');
    }
    toggleTestButtons();
}
</script>

<script>
function toggleTestButtons() {
    var pages = 5;

    var currentPage = 1;

    [...document.querySelectorAll('.pagenum')].forEach(function(page) {
        if(page.classList.contains('active')) {
           currentPage = page.dataset.pageId;
        }
    });

    if(currentPage == pages) {
        document.querySelector('.questions-buttons .next').classList.add('hidden');
    } else {
        document.querySelector('.questions-buttons .next').classList.remove('hidden');
    }

    if(currentPage < 2) {
        document.querySelector('.questions-buttons .prev').classList.add('hidden');
    } else {
        document.querySelector('.questions-buttons .prev').classList.remove('hidden');
    }
}

function nextPage() {

    var pages = 5;

    var currentPage = 1;

    [...document.querySelectorAll('.pagenum')].forEach(function(page) {
        if(page.classList.contains('active')) {
           currentPage = page.dataset.pageId;
        }
    });

    if(currentPage < pages) {
        var destination = parseInt(currentPage) + 1;
        toggleTestPage(document.querySelector('.pagenum[data-page-id="' + destination + '"]'));
    }

    document.querySelector('.questions-header h4').scrollIntoView({behavior: "smooth", block: "start"});

}
function previousPage() {

    var pages = 5;

    var currentPage = 1;

    [...document.querySelectorAll('.pagenum')].forEach(function(page) {
        if(page.classList.contains('active')) {
           currentPage = page.dataset.pageId;
        }
    });

    if(currentPage >= 2) {
        var destination = parseInt(currentPage) - 1;
        toggleTestPage(document.querySelector('.pagenum[data-page-id="' + destination + '"]'));
    }

    document.querySelector('.questions-header h4').scrollIntoView({behavior: "smooth", block: "start"});

}

function calculateResults() {
    let score = 0;
    [...document.querySelectorAll('.question-input')].forEach(function(el) {
        if(el.checked && el.dataset.points) {
            score = score + 1;
        }
    });
    document.querySelector('#number-of-questions').value = {{current_question}};
    document.querySelector('#quiz-results').value = score;
    document.querySelector('form button.btn-primary').classList.add('ready');
    console.log('Score updated', score);
}
document.querySelector('form button.btn-primary').addEventListener('click', function(event) {
    if(!event.srcElement.classList.contains('ready')) {
        event.preventDefault();
        calculateResults();
        document.querySelector('form button.btn-primary').click();
    }
})
</script>
{% endblock %}