{% extends "block-base.twig" %}

{% block content %}
<section class="english-test {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{fields.cta.image.url}}')">   
    <div class="container">
        <div class="wrapper">
<div class="questions-header">
    <div class="title">
        <h4>PLEASE NOTE THAT THIS IS NOT THE PLACEMENT LEVEL TEST</h4>
        <p>In order to take your Placement test, please connect to the CEC Online Platform</p>
    </div>
    <div class="questions-pagination">
        <ul class="rl">
            <li class="active"><div class="pagenum active" onclick="toggleTestPage(this)" data-page-id="1">1</div></li>
            <li><div class="pagenum" onclick="toggleTestPage(this)" data-page-id="2">2</div></li>
            <li><div class="pagenum" onclick="toggleTestPage(this)" data-page-id="3">3</div></li>
            <li><div class="pagenum" onclick="toggleTestPage(this)" data-page-id="4">4</div></li>
            <li><div class="pagenum" onclick="toggleTestPage(this)" data-page-id="5">5</div></li>
        </ul>
    </div>
</div>
<div class="questions">
    <div class="questions-page active" data-page="1">
        <div class="question-item" data-question-id="one">
            <div class="question">
                <div class="question-id">1</div>
                <p>There are twelve of us so <span class="answer-space empty" data-answer-id="one">____</span> get into the car at the same time.</p>
            </div>
            <div class="answer">[radio first-question use_label_element id:one "all we can’t" "we may not all" "we can’t all" "all we may not"]</div>
        </div>
        <div class="question-item" data-question-id="two">
            <div class="question">
                <div class="question-id">2</div>
                <p>Her children tell her that <span class="answer-space empty" data-answer-id="two">____</span> old to drive a car.</p>
            </div>
            <div class="answer">[radio second-question use_label_element id:two "she’s getting so" "she gets so" "she’s getting too" "she gets too"]</div>
        </div>
        <div class="question-item" data-question-id="three">
            <div class="question">
                <div class="question-id">3</div>
                <p>When there is a public rocket service to the moon, her father has promised <span class="answer-space empty" data-answer-id="three">____</span> her there.</p>
            </div>
            <div class="answer">[radio third-question use_label_element id:three "bringing" "to bring" "taking" "to take"]</div>
        </div>

        <div class="question-item" data-question-id="four">
            <div class="question">
                <div class="question-id">4</div>
                <p><span class="answer-space empty" data-answer-id="four">____</span> at the moment, I’ll go to the shops.</p>
            </div>
            <div class="answer">[radio fourth-question use_label_element id:four "For it isn’t raining" "As it isn’t raining" "For it doesn’t rain" "As it doesn’t rain"]</div>
        </div>

        <div class="question-item" data-question-id="five">
            <div class="question">
                <div class="question-id">5</div>
                <p>In a shop <span class="answer-space empty" data-answer-id="five">____</span> customers.</p>
            </div>
            <div class="answer">[radio fith-question use_label_element id:five "there is important to please" "it is important to please" "it is important pleasing" "there is important pleasing"]</div>
        </div>

    </div>
    <div class="questions-page" data-page="2">
        <div class="question-item" data-question-id="six">
            <div class="question">
                <div class="question-id">6</div>
                <p>Your bicycle shouldn't be in the house! <span class="answer-space empty" data-answer-id="six">____</span></p>
            </div>
            <div class="answer">[radio sixth-question use_label_element id:six "Get out it!" "Take it out!" "Put it off!" "Take away it!"]</div>
        </div>
        <div class="question-item" data-question-id="seven">
            <div class="question">
                <div class="question-id">7</div>
                <p>He is a good guitarist, but he plays the piano <span class="answer-space empty" data-answer-id="seven">____</span>.</p>
            </div>
            <div class="answer">[radio seventh-question use_label_element id:seven "very good" "quiet well" "much better" "too hardly"]</div>
        </div>
        <div class="question-item" data-question-id="eight">
            <div class="question">
                <div class="question-id">8</div>
                <p>Molly doesn't eat fish, <span class="answer-space empty" data-answer-id="eight">____</span>.</p>
            </div>
            <div class="answer">[radio eighth-question use_label_element id:eight "John doesn't that either" "so doesn't John" "neither does John" "John doesn't too"]</div>
        </div>
        <div class="question-item" data-question-id="nine">
            <div class="question">
                <div class="question-id">9</div>
                <p>She always buys <span class="answer-space empty" data-answer-id="nine">____</span> my birthday.</p>
            </div>
            <div class="answer">[radio ninth-question use_label_element id:nine "anything nice to" "anything nice for" "something awful for" "something awful to"]</div>
        </div>

        <div class="question-item" data-question-id="ten">
            <div class="question">
                <div class="question-id">10</div>
                <p>She hardly ever eats <span class="answer-space empty" data-answer-id="ten">____</span> potatoes.</p>
            </div>
            <div class="answer">[radio tenth-question use_label_element id:ten "neither bread nor" "neither bread or" "or bread or" "bread or"]</div>
        </div>

    </div>
    <div class="questions-page" data-page="3">
        <div class="question-item" data-question-id="eleven">
            <div class="question">
                <div class="question-id">11</div>
                <p>I <span class="answer-space empty" data-answer-id="eleven">____</span> to your letter of the 15th.</p>
            </div>
            <div class="answer">[radio eleventh-question use_label_element id:eleven "am wanting to reply" "like to reply" "would like to reply" "would like replying"]</div>
        </div>
        <div class="question-item" data-question-id="twelve">
            <div class="question">
                <div class="question-id">12</div>
                <p>Your letter <span class="answer-space empty" data-answer-id="twelve">____</span>.</p>
            </div>
            <div class="answer">[radio twelveth-question use_label_element id:twelve"arrived two days ago" "arrived since two days" "has arrived two days ago" "has arrived since two days"]</div>
        </div>
        <div class="question-item" data-question-id="thirteen">
            <div class="question">
                <div class="question-id">13</div>
                <p>I've <span class="answer-space empty" data-answer-id="thirteen">____</span> for the job and I hope to get it.</p>
            </div>
            <div class="answer">[radio thirteenth-question use_label_element id:thirteen "presented" "appointed" "applied" "succeeded"]</div>
        </div>

        <div class="question-item" data-question-id="fourteen">
            <div class="question">
                <div class="question-id">14</div>
                <p>I never expected you to turn <span class="answer-space empty" data-answer-id="fourteen">____</span> at the meeting. I thought you were abroad.</p>
            </div>
            <div class="answer">[radio fourteenth-question use_label_element id:fourteen "around" "on" "up" "in"]</div>
        </div>
        <div class="question-item" data-question-id="fifteen">
            <div class="question">
                <div class="question-id">15</div>
                <p>As far as he's concerned, one piece of music is very much like <span class="answer-space empty" data-answer-id="fifteen">____</span>.</p>
            </div>
            <div class="answer">[radio fifteenth-question use_label_element id:fifteen "one another" "other" "an other" "another"]</div>
        </div>

    </div>
    <div class="questions-page" data-page="4">
        <div class="question-item" data-question-id="sixteen">
            <div class="question">
                <div class="question-id">16</div>
                <p>She was wearing <span class="answer-space empty" data-answer-id="sixteen">____</span> beautiful clothes that I envied her.</p>
            </div>
            <div class="answer">[radio sixteenth-question use_label_element id:sixteen "such" "so" "such a" "a so"]</div>
        </div>
        <div class="question-item" data-question-id="seventeen">
            <div class="question">
                <div class="question-id">17</div>
                <p>She woke up in the middle of the night and couldn't <span class="answer-space empty" data-answer-id="seventeen">____</span> again.</p>
            </div>
            <div class="answer">[radio seventeenth-question use_label_element id:seventeen "get back to sleep" "put myself for sleeping" "get back to sleeping" "put myself to sleep"]</div>
        </div>
        <div class="question-item" data-question-id="eighteen">
            <div class="question">
                <div class="question-id">18</div>
                <p>I crossed the room and <span class="answer-space empty" data-answer-id="eighteen">____</span> a light shone through the window.</p>
            </div>
            <div class="answer">[radio eighteenth-question use_label_element id:eighteen "while doing like that" "as I did like that" "as I did so" "at doing so"]</div>
        </div>
        <div class="question-item" data-question-id="nineteen">
            <div class="question">
                <div class="question-id">19</div>
                <p>I wish I <span class="answer-space empty" data-answer-id="nineteen">____</span> what time the film started before we came out.</p>
            </div>
            <div class="answer">[radio nineteenth-question use_label_element id:nineteen "have checked" "would have checked" "would check" "had checked"]</div>
        </div>
        <div class="question-item" data-question-id="twenty">
            <div class="question">
                <div class="question-id">20</div>
                <p>I'll ask the waiter for the bill when you <span class="answer-space empty" data-answer-id="twenty">____</span> your coffee.</p>
            </div>
            <div class="answer">[radio twentieth-question use_label_element id:twenty "will have finished" "have finished" "shall finish" "will finish"]</div>
        </div>
    </div>
    <div class="questions-page" data-page="5">
        <div class="question-item" data-question-id="twenty-one">
            <div class="question">
                <div class="question-id">21</div>
                <p>There was a suitcase <span class="answer-space empty" data-answer-id="twenty-one">____</span> mine on the luggage rack.</p>
            </div>
            <div class="answer">[radio twenty-first-question use_label_element id:twenty-one "the same that" "as" "like" "similar than"]</div>
        </div>
        <div class="question-item" data-question-id="twenty-two">
            <div class="question">
                <div class="question-id">22</div>
                <p>He <span class="answer-space empty" data-answer-id="twenty-two">____</span> out of the window for a moment and then went on working.</p>
            </div>
            <div class="answer">[radio twenty-second-question use_label_element id:twenty-two "glanced" "viewed" "regarded" "glimpsed"]</div>
        </div>
        <div class="question-item" data-question-id="twenty-three">
            <div class="question">
                <div class="question-id">23</div>
                <p>I'd like to take <span class="answer-space empty" data-answer-id="twenty-three">____</span> of this opportunity to thank you all for your co-operation.</p>
            </div>
            <div class="answer">[radio twenty-third-question use_label_element id:twenty-three "benefit" "profit" "occasion" "advantage"]</div>
        </div>
        <div class="question-item" data-question-id="twenty-four">
            <div class="question">
                <div class="question-id">24</div>
                <p>Our main concern is to raise the voters' <span class="answer-space empty" data-answer-id="twenty-four">____</span> of living.</p>
            </div>
            <div class="answer">[radio twenty-fourth-question use_label_element id:twenty-four "condition" "capacity" "standard" "degree"]</div>
        </div>
        [contact-form-7 id="{{fields.form[0].ID}}" title="{{fields.form[0].post_title}}"]
    </div>
</div>
<div class="questions-footer">
    <div class="questions-buttons">
        <ul class="rl">
            <li class="prev hidden" onclick="previousPage()">Previous</li>
            <li class="next" onclick="nextPage()">Next</li>
        </ul>
    </div>
    <div class="title">
        <p>*You must answer all questions before proceeding.</p>
    </div>
</div>
        </div>
    </div>
</section>
<script>
[...document.querySelectorAll('.question-item')].forEach(function(questionItem) {
    [...questionItem.querySelectorAll('input')].forEach(function(inputItem) {
        inputItem.addEventListener('change', function(event) {
            document.querySelector('[data-answer-id="' + questionItem.dataset.questionId + '"]').innerHTML = event.srcElement.value;
            document.querySelector('[data-answer-id="' + questionItem.dataset.questionId + '"]').classList.remove('empty');
        })
    })
})
function toggleTestPage(el) {
    if(!el.classList.contains('active')) {
        [...document.querySelectorAll('.pagenum')].forEach(function(page) {
            page.parentNode.classList.remove('active');
            page.parentNode.classList.remove('highlight');
            page.classList.remove('active');
        });
        [...document.querySelectorAll('.questions-page')].forEach(function(page) {
            page.classList.remove('active');
        });
        el.classList.add('active');
        el.parentNode.classList.add('active');
        el.parentNode.classList.add('highlight');
        document.querySelector('.questions-page[data-page="' + el.dataset.pageId + '"]').classList.add('active');;
    }
    let destination = parseInt(el.dataset.pageId);
    for (let i = 1; i < destination; i++) {
        document.querySelector('[data-page-id="' + i + '"]').parentNode.classList.add('highlight');
    }
    toggleTestButtons();
}
</script>

<script>
function toggleTestButtons() {
    var pages = 5;

    var currentPage = 1;

    [...document.querySelectorAll('.pagenum')].forEach(function(page) {
        if(page.classList.contains('active')) {
           currentPage = page.dataset.pageId;
        }
    });

    if(currentPage == pages) {
        document.querySelector('.questions-buttons .next').classList.add('hidden');
    } else {
        document.querySelector('.questions-buttons .next').classList.remove('hidden');
    }

    if(currentPage < 2) {
        document.querySelector('.questions-buttons .prev').classList.add('hidden');
    } else {
        document.querySelector('.questions-buttons .prev').classList.remove('hidden');
    }
}

function nextPage() {

    var pages = 5;

    var currentPage = 1;

    [...document.querySelectorAll('.pagenum')].forEach(function(page) {
        if(page.classList.contains('active')) {
           currentPage = page.dataset.pageId;
        }
    });

    if(currentPage < pages) {
        var destination = parseInt(currentPage) + 1;
        toggleTestPage(document.querySelector('.pagenum[data-page-id="' + destination + '"]'));
    }

    document.querySelector('.questions-header h4').scrollIntoView({behavior: "smooth", block: "start"});

}
function previousPage() {

    var pages = 5;

    var currentPage = 1;

    [...document.querySelectorAll('.pagenum')].forEach(function(page) {
        if(page.classList.contains('active')) {
           currentPage = page.dataset.pageId;
        }
    });

    if(currentPage >= 2) {
        var destination = parseInt(currentPage) - 1;
        toggleTestPage(document.querySelector('.pagenum[data-page-id="' + destination + '"]'));
    }

    document.querySelector('.questions-header h4').scrollIntoView({behavior: "smooth", block: "start"});

}
</script>
{% endblock %}