.video-cta {
  margin: 50px 0;
}
.video-cta h2 {
  color: #091f40;
  text-align: center;
}
.video-cta iframe {
  max-width: 100%;
  z-index: 1;
  position: relative;
}
.video-cta .video {
  padding: 10px;
  position: relative;
}
.video-cta .video:before {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 0;
  height: 200px;
  width: 315px;
  background-color: #8dc63f;
}
.video-cta .video:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 80px;
  width: 160px;
  background-color: #be1e2d;
}
@media only screen and (min-width: 1200px) {
  .video-cta {
    padding-bottom: 100px;
    background: var(--bg-img), #f2f2f2;
    background-repeat: no-repeat;
    background-position-x: 46vw;
    background-position-y: bottom;
  }
  .video-cta .video {
    width: fit-content;
  }
  .video-cta .video:after {
    top: 3px;
    right: 1px;
  }
  .video-cta .title {
    padding-top: 60px;
    padding-bottom: 15px;
  }
  .video-cta .title h2 {
    font-size: 60px;
    text-align: left;
  }
  .video-cta iframe {
    width: 700px;
    height: 390px;
  }
}
