{% extends "block-base.twig" %}

{% block content %}
<section class="video-cta {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{fields.content.background_image.url}}')">
    <div class="container">
        <div class="wrapper" style="--bg-img:url('{{fields.content.background_image.url}}')">
            <div class="title">
                <h2>{{fields.content.title}}</h2>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{fields.content.youtube_video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}
