.lc1 {
    &-text {
        padding:35px;
        h2 {
            font-size: 42px;
            color:#BE1E2D;
        }
        h3 {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &-box {
        overflow: hidden;
        &-content {
            background-color: var(--color);
            height: 100%;
            &-inner {
                color:white;
                padding: 20px 50px 25px 50px;
            }
            p {
                margin: 0;
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
            }
        }
        &-image {
            height: 400px;
            padding: 30px 50px;
            background:var(--bg-img);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: initial;
            position:relative;
            display: flex;
            align-items: flex-end;
            &:before {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, black 100%);
            }
            h3 {
                color:white;
                position: relative;
                font-size: 35px;
                line-height: 39px;
                padding-bottom: 10px;
                &:before {
                    content:"";
                    position:absolute;
                    height:8px;
                    background:var(--color);
                    width: 120px;
                    bottom: -8px;
                }
            }
        }
        h3 {

        }
    }
    &-boxes {
        background:#091F40;
    }
}

@include screen(600, 1023) {
    .lc1 {
        &-boxes {
            display:flex;
            flex-wrap: wrap;
        }
        &-box {
            flex:0 0 50%;
        }
    }
}

@include screen(1024, 1199) {
    .lc1 {
        &-box {
            flex:0 0 33.33%;
            max-width: 33.33%;
        }
    }
}

@include screen(1200) {
    .lc1 {
        &-text {
            display: flex;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 75px;
            h2 {
                font-size: 65px;
                line-height: 71px;
            }
            h3 {
                font-size: 28px;
                line-height: 36px;
                line-height: 500x;
            }
            .left {
                flex: 0 0 450px;
                text-align: right;
                margin-right: 35px;
            }
            .right {
                flex: 0 0 675px;
                margin-left: 35px;
            }
        }
        &-boxes {
            display:flex;
            // flex-wrap: wrap;
        }
        &-box {
            cursor: pointer;
            // flex:1 0 33.33%;
            // max-width: 33.33%;
            flex:0 0 calc(100% / var(--count));
            max-width: calc(100% / var(--count));
            height: 384px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            &:hover {
                .lc1-box-content {
                    max-height: 250px;
                }
            }
            h3 {
                font-size: 32px;
                line-height: 36px;
            }
            &-content {
                transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
                display: flex;
                align-items: center;
                &:not(:hover) {
                    max-height: 0;
                }
            }
            &-image {
                flex-grow: 1;
            }
        }
    }
}

@include screen(1920) {
    .lc1 {
        &-box {
            flex:1 0 20%;
            max-width: 384px;
        }
    }
}