{% extends "block-base.twig" %}

{% block content %}
<section class="lc1 {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="lc1-text">
            <div class="left">
                <h2>{{fields.content.title}}</h2>
            </div>
            <div class="right">
                <h3>{{fields.content.subtitle}}</h3>
            </div>
        </div>
    </div>
    <div class="lc1-">
        <div class="lc1-content-inner">
            <div class="">
                <div class="lc1-boxes">
                    {% for item in fields.link_boxes.items %}
                    <a href="{{item.link.url}}" target="{{item.link.target}}" class="lc1-box" style="--color:{{item.color}};--count:{{loop.length}};">
                        <div class="lc1-box-image" style="--bg-img:url({{cdnThis(item.image.url)}});">
                            <h3>{{item.link.title}}</h3>
                        </div>
                        <div class="lc1-box-content">
                            <div class="lc1-box-content-inner">
                                <p>{{item.content}}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}