.image-hero-two {
    position:relative;
    background:rgba(244, 247, 246, 1);
    .wrapper {
        overflow: hidden;
        h1 {
            color:rgba(9, 31, 64, 1);
            margin-top:0;
        }
        p {
            color:rgba(0, 0, 0, 1);
            font-weight: 500;
        }
        img {
            display: block;
            z-index: 2;
            position: relative;
        }
    }
    .two {
        position:relative;
        &:before {
            position:absolute;
            content:"";
            bottom:0;
            left:0;
            right:0;
            background: var(--bg-img);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .breadcrumbs {
        li {
            &:before {
                color:rgba(9, 31, 64, 1);
            }
        }
        .page-link {
            color:rgba(9, 31, 64, 1);
        }
    }
    &.varitation {
        &-one {
            p {
                font-size: 18px;
            }
        }
    }
}


@include screen(1200) {
    .image-hero-two  {
        h1 {
            font-size: 78px;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inner {
            max-width: 600px;
        }
        .wrapper {
            position:relative;
            display:flex;
        }
        .one {
            flex: 0 0 56vw;
            max-width: 56vw;
        }
        .two {
            flex: 0 0 44vw;
            max-width: 44vw;
            &:before {
                top:0;
            }
        }
        img {
            width: min-content;
        }
        &.smaller-font {
            h1 {
                font-size: 70px;
            }
        }
        &.variation {
            &-one {
                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
}

@include screen(1200,1535) {
    .image-hero-two {
        .one {
            padding-left: 7vw;
            h1 {
                font-size: 68px;
                line-height: 80px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
        .inner {
            padding: 15px 25px;
        }
        .breadcrumbs {
            margin-top:25px;
        }
    }
}

@include screen(1536) {
    .image-hero-two {
        .one {
            padding-left: 15vw;
            h1 {
                font-size: 78px;
                line-height: 90px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
        .inner {
            padding: 25px;
        }
        .breadcrumbs {
            margin-top: 50px;
        }
    }
}

@include screen(0,1199) {
    .image-hero-two {
        .inner {
            padding:35px;
        }
        .two {
            margin: auto;
            &:before {
                top: 150px;
            }
            img {
                margin:auto;
                height: auto;
            }
        }
        .breadcrumbs {
            margin-top: 50px;
        }
        p {
            font-size: 18px;
        }
    }
}