.image-hero-two {
    position:relative;
    background:rgba(244, 247, 246, 1);
    .wrapper {
        background:var(--bg-img);
        background-size: cover;
        background-repeat: no-repeat;
        h1 {
            color:rgba(9, 31, 64, 1);
            margin-top:0;
        }
        p {
            color:rgba(0, 0, 0, 1);
            font-size: 28px;
            line-height: 36px;
            font-weight: 500;
        }
        img {
            display:block;
            position: relative;
            z-index: 2;
            width: 100%;
            height: auto;
        }
        .inner {
            padding: 35px;
        }
    }
    .breadcrumbs {
        li {
            &:before {
                color:rgba(9, 31, 64, 1);
            }
        }
        .page-link {
            color:rgba(9, 31, 64, 1);
        }
    }
    &.varitation {
        &-one {
            p {
                font-size: 18px;
            }
        }
    }
}


@include screen(1200) {
    .image-hero-two  {
        h1 {
            font-size: 78px;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inner {
            flex: 0 0 50%;
            max-width: 600px;
        }
        .wrapper {
            min-height: var(--height);
            position:relative;
            &:before {
                position:absolute;
                content:"";
                background:var(--img);
                background-repeat: no-repeat;
                background-size: cover;
                top:0;
                right:0;
                bottom:0;
                width: 784px;
            }
            p {
                font-size: 28px;
                line-height: 36px;
            }
        }
        .right {
            padding-left: 125px;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 35vw;
                right: 0;
                background: var(--bg-img);
                z-index: 1;
            }
        }
        &.smaller-font {
            h1 {
                font-size: 70px;
            }
        }
        &.variation {
            &-one {
                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
}