{% extends "block-base.twig" %}

{% block content %}
<section class="image-hero-two {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper" style="--height:{{fields.content.image.height}}px;">
        <div class="one">
            <div class="inner">
                {% include "breadcrumbs.twig" %}
                {{fields.content.content}}
            </div>
         </div>
        <div class="two" style="--bg-img:url({{fields.content.background.url}});">
            {{imageElement(fields.content.image)}}
        </div>
    </div>
</section>
{% endblock %}