.course-benefits {
    margin:25px 0;
    &-content {
        &-inner {
            padding: 15px 20px;
        }
    }
    &-header {
        margin: auto;
        margin-bottom: 25px;
        text-align: center;
        h3 {
            color:rgba(9, 31, 64, 1);
        }
        h4 {
            font-size: 16px;
        }
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-card {
        flex: 0 0 48%;
        text-align: center;
        background: white;
        margin-bottom: 30px;
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 5;
        position: relative;
        h5 {
            font-size: 14px;
        }
        img {
            max-width: 60px;
            margin-bottom: 10px;
            height: auto;
        }
        .inner {
            position: relative;
            z-index: 10;
            background: white;
            height: 100%;
            width: 100%;
            padding: 15px 5px;
        }
        &:before {
            content:"";
            position:absolute;
            top:0;
            bottom: -8px;
            left: 8px;
            right: -8px;
            background:var(--course);
            z-index: 1;
        }
    }
}

@include screen(1200) {
    .course-benefits {
        margin:50px 0;
        &-content {
            h3 {
                font-size: 48px;
                margin-bottom: 0;
            }
            h4 {
                font-size: 28px;
                margin-top: 0;
            }
            .container {
                max-width: 1250px;
            }
        }
        &-header {
            padding-bottom: 50px;
        }
        &-card {
            flex: 0 0 30%;
            max-width: 200px;
            h5 {
                font-size: 16px;
            }
            .inner {
                padding: 15px;
            }
        }
    }
}