{% extends "block-base.twig" %}

{% block content %}
<style>{{compiled_css}}</style>
<section class="course-benefits {{block.className}}" {{blockSection(block)}}>
    <div class="course-benefits-content">
        <div class="course-benefits-content-inner">
            <div class="container">
                <div class="course-benefits-header">
                    <h3>{{fields.content.title}}</h3>
                    <h4>{{fields.content.subtitle}}</h4>
                </div>
                <div class="course-benefits-cards">
                    {% for item in fields.content.items %}
                    <div class="course-benefits-card">
                        <div class="inner">
                            {{imageElement(item.icon)}}
                            <h5>{{item.title}}</h5>
                            <small>{{item.content}}</small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}