.double-text-columns {
    h1,h2,h3,h4,h5 {
        color:var(--heading);
    }
    &-text {
        padding:35px;
        h2 {
            font-size: 42px;
        }
        h3 {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@include screen(1200) {
    .double-text-columns {
        &-text {
            display: flex;
            align-items: center;
            padding-top: 25px;
            padding-bottom: 25px;
            h2 {
                font-size: 48px;
                line-height: 58px;
            }
            h3 {
                font-size: 28px;
                line-height: 36px;
                line-height: 500x;
            }
            .left {
                flex-shrink: 1;
                max-width: 300px;
                margin-right: 35px;
            }
            .right {
                flex: 1 0 675px;
                margin-left: 35px;
            }
        }
        .container {
            max-width: 1200px;
        }
    }
}