{% extends "block-base.twig" %}

{% block content %}
<section class="double-text-columns {{block.className}}" {{blockSection(block)}} style="--heading:{{fields.heading.color}};">
    <div class="container">
        <div class="double-text-columns-text">
            <div class="left">
                {{fields.content.left}}
            </div>
            <div class="right">
                {{fields.content.right}}
            </div>
        </div>
    </div>
</section>
{% endblock %}