.courses-hero {
    background:#F4F7F6;
    padding-bottom: 100px;
    h1 {
        color:#091F40;
        font-size: 40px;
        margin-bottom: 0;
    }
    p {
        margin-top:10px;
        font-size: 14px;
    }
    .left {
        .box {
            padding: 35px;
        }
        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }
    .right {
        background:var(--bg-img);
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .links-list {
        padding:30px;
        display: flex;
        flex-wrap: wrap;
        li {
            padding-bottom: 35px;
            flex: 0 0 50%;
        }
        a {
            font-weight: 600;
            color:#000000;
            border-bottom: 5px solid var(--color);
            padding-bottom: 5px;
            &:hover {
                color:var(--color);
            }
        }
    }
    & + .ccs {
        margin-top: -100px;
    }
}
@include screen(0,420) {
    .courses-hero {
        .links-list {
            li {
                flex: 0 0 100%;
            }
        }
    }    
}
@include screen(1200) {
    .courses-hero {
        overflow: hidden;
        padding-bottom: 0;
        h1 {
            font-size: 48px;
        }
        .container {
            display:flex;
            padding:0;
        }
        .left {
            padding: 50px 0;
            flex: 0 0 65%;
            margin-right: 50px;
            .box {
                padding:0;
            }
            .links {
                padding-top: 75px;
            }
        }
        .left-image {
            display:none;
        }
        .right {
            display: flex;
            position: relative;
            width: -webkit-fill-available;
            background-size: cover;
            img {
                position: relative;
                margin-bottom: 0;
                bottom: 0;
                left: -140px;
            }
            &:before {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right: -500px;
                background:var(--bg-img);
            }
        }
        p {
            font-size: 18px;
            max-width: 750px;
        }
        .links-list {
            padding:0;
            justify-content: space-between;
            li {
                padding-bottom: 35px;
                flex: unset;
                margin-right: 5px;
            }
        }
        & + .ccs {
            margin-top: unset;
        }
    }
}

@include screen(1200,1365) {
    .courses-hero .left {
        padding: 50px 25px;
    }
}