{% extends "block-base.twig" %}

{% block content %}
<section class="courses-hero {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="left">
            <div class="box">
                <h1>{{fields.content.title}}</h1>
                <p>{{fields.content.content}}</p>
            </div>
            <div class="left-image">
                {{imageElement(fields.content.background)}}
            </div>
            <div class="links">
                <ul class="rl links-list">
                {% for item in fields.content.items %}
                <li style="--color:{{item.color}};">
                    <a href="{{item.link.url}}" target="{{item.link.target}}">{{item.link.title}}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="right" style="--bg-img:url({{fields.content.background.url}});">
        </div>
    </div>
</section>
{% endblock %}