@use "mixins" as *;

.btn {
    cursor: pointer;
    position: relative;
    outline:0;
    background:transparent;
    padding: 15px 0px;
    border-radius: 10px;
    width: fit-content;
    transition: all 0.3s ease-out;
    color:transparent;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-width: 150px;
    display:block;
    font-weight: 500;
    &:before {
        color:white;
        content:attr(data-title);
        position: absolute;
        top:-1px;
        bottom:-1px;
        left:-1px;
        right:-1px;
        border-radius: 10px;
        transition: all 0.3s ease-out;
        padding-top: 15px;
        text-align: center;
    }
    &:hover {
        &:before {
            transform: translateX(7px) translateY(-7px);
        }
    }
    &-primary {
        border: 1px solid rgba(190, 30, 45, 1);
        &:before {
            border: 1px solid rgba(190, 30, 45, 1);
            background:rgba(190, 30, 45, 1);
        }
    }
    &-green {
        border: 1px solid rgba(141, 198, 63, 1);
        &:before {
            border: 1px solid rgba(141, 198, 63, 1);
            background:rgba(141, 198, 63, 1);
        }
    }
    &-blue {
        border: 1px solid rgba(29, 72, 142, 1);
        &:before {
            border: 1px solid rgba(29, 72, 142, 1);
            background:rgba(29, 72, 142, 1);
        }
    }
    &-simp {
        &:hover {
            &:before {
                transform: unset !important;
            }
        }
        
    }
}