@use "mixins" as *;

.footer {
    &-wrapper {
        background:#091F40;
    }
    &-menu {
        padding: 15px 25px;
        padding-bottom: 50px;
        &-link {
            font-size: 18px;
            color:white;
            font-weight: 700;
        }
        &-item {
            &.sub {
                padding: 15px 0;
                &:not(.open) {
                    .footer-submenu {
                        max-height: 0;
                    }
                }
                &.open {
                    .footer-submenu {
                        max-height: 1000px;
                    }
                }
            }
        }
        &-item-holder {
            position: relative;
            &.sub {
                &:after {
                    content:"\e903";
                    font-family: "icomoon";
                    margin-left: 5px;
                    color: white;
                    font-size: 30px;
                    right: 15px;
                    top: -5px;
                    position: absolute;
                }
            }
        }
    }
    &-submenu {
        transition: all 0.3s ease-out;
        overflow: hidden;
        &-list {
            margin: 0 10px;
        }
        &-item {
            padding: 15px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
        &-link {
            font-size: 16px;
            color:white;
            font-weight: 400;
            transition: all 0.3s ease-out;
            &:hover {
                color: #8dc63f;
            }
        }
    }
    &-newsletter {
        padding: 15px 25px;
        form {
            padding-top: 25px;
        }
        input {
            width: 100%;
            height: 55px;
            border-radius: 10px;
            font-size: 14px;
            color:#091F40;
            margin-bottom: 10px;
        }
        .btn {
            width: 100%;
            margin-top: 15px;
        }
        h3 {
            color:white;
        }
        small {
            color:white;
        }
    }
    &-whatsapp {
        padding: 15px 25px;
        padding-top: 50px;
        &-inner {
            border-bottom: 1px solid rgba(255, 255, 255, 0.75);
            position:relative;
            display: flex;
            padding-bottom: 15px;
        }
        .title {
            color:white;
            font-size: 17px;
        }
        .link {
            padding-left: 70px;
        }
        icon {
            position: absolute;
            left: -40px;
            bottom: -65px;
        }
    }
    &-cp {
        background:#FFFFFF;
        padding: 35px;
        &-logo {
            text-align: center;
        }
        &-links {
            text-align: center;
            padding-top: 10px;
        }
        &-link {
            font-size: 13px;
            color:#5F6264;
            &:not(:last-child) {
                &:after {
                    content:" | ";
                    margin: 0 5px;
                }
            }
        }
        &-social {
            display: flex;
            justify-content: center;
            padding-top: 25px;
        }
        icon {
            display:block;
            margin: 0 5px;
            &:before {
                color:#091F40;
            }
            &.ig {
                .path-1 {
                    &:before {
                        color:#091F40;
                    }
                }
                .path-2,
                .path-3,
                .path-4 {
                    &:before {
                        color: white;
                    }
                }
            }
            &.tw {
                .path-1 {
                    &:before {
                        color:#091F40;
                    }
                }
                .path-2 {
                    &:before {
                        color: white;
                    }
                }
            }
        }
        h5 {
            text-align: center;
            padding-top: 15px;
        }
    }
    .wpcf7-response-output {
        color:white;
    }
    .header-top-social-link {
        span {
            &:nth-child(1) {
                &:before {
                    color: #091f40;
                }
            }
            &:nth-child(2) {
                &:before {
                    color:white;
                }
            }
        }
    }
}

@include screen(1200) {
    .footer {
        background:#091F40;
        &-wrapper {
            display: flex;
            flex-direction: row-reverse;
        }
        &-menu {
            flex-grow: 1;
            &-link {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 10px;
                display: block;
            }
            &-list {
                display:flex;
                justify-content: space-between;
            }
            &-item {
                &.sub {
                    margin-right: 30px !important;
                    &:not(.open) {
                        .footer-submenu {
                            max-height: 1000px;
                        }
                    }
                }
            }
            &-item-holder {
                &.sub {
                    &:after {
                        content:unset;
                    }
                }
            }
        }
        &-submenu {
            &-list {
                margin:0;
            }
            &-item {
                border-bottom: unset;
            }
        }
        &-newsletter {
            max-width: 325px;
            padding: 15px;
            padding-top: 75px;
            margin-left: 30px;
        }
        &-whatsapp {
            padding: 40px 0;
        }
        &-cp {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &-social {
                padding-top:0;
            }
            &-links {
                padding-top:0;
            }
            h5 {

                padding-right: 15px;
                padding-top: 0px;

            }
        }
    }
}