
@use "mixins" as *;

.header {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
    z-index: 10;
    &-logo  {
        justify-content: space-between;
        &-link {
            display:block;
            padding: 17.5px 15px 12.5px 45px;
        }
        img {
            display: block;
            max-height: 40px;
            width: 100%;
            height: auto;
            @include screen(1200) {
                max-height: 65px;
                height: 65px;
            }
        }
    }
    &-wrapper {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        background: white;
    }
    &-toggler {
        background: #091F40;
        padding: 19.3px 15px;
        svg {
            display: block;
        }
    }
    &-lang {
        padding-left: 15px;
        flag {
            cursor: pointer;
            margin-left: 15px;
            position:relative;
            &:before {
                content:local-image('en.png');
                height: 17px;
                width: 29px;
                vertical-align: middle;
            }
            &:after {
                content:"\e903";
                font-family: "icomoon";
                margin-left: 5px;
                color: white;
                font-size: 17px;
            }
        }
    }
}

.menu {
    &-item {
        &.sub {
            .menu-link {
                &:after {
                    content:"\e903";
                    font-family: "icomoon";
                    font-weight: 700;
                    vertical-align: middle;
                    margin-left: 12px;
                }
            }
        }
    }
}

@include screen(1200) {
    .header {
        &-container {
            max-width: 1420px;
            margin: auto;
        }
        .menu-logo {
            display: flex;
            align-items: center;
        }
        &-logo {
            &-link {
                // padding: 17.5px 15px 12.5px 15px;
                padding: 15px 15px 7px 15px;
            }
        }
        &-top  {
            background:#091F40;
            .menu-item {
                padding: 10px 22px;
            }
            .menu-list {
                justify-content: end;
                flex-grow: 1;
            }
            &-link {
                color:white;
                font-size: 15px;
                font-weight: 500;
                transition: all 0.3s ease-out; 
                &:hover {
                    color: #8dc63f;
                }
            }
            &-container {
                max-width: 1420px;
                margin: auto;
                align-items: center;
                justify-content: end;
                height:100px;
                max-height: 60px;
            }
            &-social-link {
                transition: all 0.3s ease-out;
                &:hover {
                    opacity:0.8;
                }
            }
            icon {
                margin: 7px;
            }
        }
        &-toggler {
            display:none;
        }
        .btn {
            display: block;
            margin: 15px 8px;
        }
        .cta {
            &-container {
                display:flex;
                margin-left: 1.8vw;
            }
        }
    }
    .menu {
        &-container {
            flex-grow: 1;
            margin-left: 1vw;
        }
        &-list {
            display:flex;
            justify-content: space-between;
            gap: 10px;
        }
        &-item {
            &:not(.submenu-item) {
                padding: 32px 0;
            }
        }
        &-link {
            color:#091F40;
            font-weight: 500;
            font-family: 'Ubuntu';
            font-size: 16px;
            transition: all 0.3s ease-out;
            &:hover {
                color:#8dc63f;
            }
        }
    }
}

@include screen(1200,1366) {
    .menu-link {
        font-size: 13px;
    }
    .header-logo img {
        max-height: 50px;
    }
}

@include screen(0,1199) {
    .menu {
        &-container {
            transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
            position: fixed;
            top: 0;
            background: white;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            padding-top: 80px;
        }
        &-item {
            padding: 15px 40px;
            border-bottom: 1px solid rgba(141, 198, 63, 1);
            &.sub {
                .menu-link {
                    &:after {
                        content:none;
                    }
                }
                .chevron {
                    width: 50px;
                    text-align: center;
                    span {
                        &:after {
                            content: "\e901";
                            font-size: 25px;
                            font-family: "icomoon";
                            font-weight: 600;
                        }
                    }
                }
            }
            &-holder {
                display: flex;
                justify-content: space-between;
            }
        }
        &-link {
            font-size: 16px;
            line-height: 23px;
            color:rgba(9, 31, 64, 1);
            font-weight: 600;
        }
    }
    .submenu {
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        position: fixed;
        top: 0;
        background: white;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding-top: 75px;
        &-list {
            .menu-item {
                &:first-child {
                    padding: 15px 0px;
                    background: rgba(245, 245, 245, 1);
                    .chevron {
                        span {
                            &:after {
                                content:none;
                            }
                            &:before {
                                content: "\e936";
                                font-size: 19px;
                                font-family: "icomoon";
                            }
                        }
                    }
                    .menu-item-holder {
                        justify-content: flex-end;
                        flex-direction: row-reverse;
                    }
                }
            }
        }
        &-item {
            &:not(.open) {

            }
        }
    }
    .subsubmenu {
        overflow: scroll;
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        position: fixed;
        top: 0;
        background: white;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding-top: 75px;
        .all-link {
            .menu-link {
                color:var(--color);
                font-size: 19px;
                line-height: 23px;
                font-weight: 500;
            }
        }

    }
    .final-menu {
        padding-top: 10px;
        a {
            font-size: 16px;
            line-height: 23px;
            color:rgba(0, 0, 0, 1);
        }
        li {
            padding: 6px 0;
        }
    }
    .submenu-item {
        &:not(.open) {
            .subsubmenu {
                transform: translateX(100%);
            }
        }
    }
    .menu-item {
        &:not(.open) {
            .submenu {
                transform: translateX(100%);
            }
        }
    }
    html {
        &:not(.menu-open) {
            .menu-container {
                transform: translateX(100%);
            }
        }
        &.menu-open {
            height: 100vh;
            overflow: hidden;
            body {
                height: 100vh;
                overflow: hidden;
                padding-top:70px;
            }
            .header {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 5;
                background: white;
            }
            .menu-container {
                overflow:scroll;
            }
        }
    }
}

@include screen(0,1199) {
    .menu-container {
        .cta-container {
            display: flex;
            justify-content: space-around;
            padding: 25px 35px;
            padding-bottom: 15px;
            .btn {
                flex: 0 0 45%;
            }
        }
    }
    .bottom-menu {
        padding: 0 40px;
        li {
            margin:15px 0;
        }
        a {
            font-size: 15px;
            line-height: 17px;
            color:rgba(9, 31, 64, 1);
            font-weight: 500;
        }
    }
}

@include screen(1200) {
    .header {
        .menu-logo {
            flex-grow: 1;
        }
    }
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-wrapper {
        box-shadow: none;
    }
    .menu-item {
        .submenu {
            transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
            position: absolute;
            left: 0;
            right: 0;
            background: white;
            z-index: -1;
            top: 0;
            padding-top: 145px;
            box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
            min-height: 695px;
            &-list {
                // max-width: 1420px;
                // margin:auto;
                max-width: 330px;
                flex: 0 0 30%;
                padding-top: 30px;
                &:before {
                    content: "";
                    position: absolute;
                    top: 150px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: whitesmoke;
                    z-index: -1;
                }
            }
            &-item {
                margin:0 !important;
                .menu-link {
                    padding: 20px 11px;
                    display: block;
                    color:var(--color);
                    font-size: 19px;
                    line-height: 23px;
                }
                &:hover {
                    background:white;
                }
            }
        }
        &:not(:hover) {
            .submenu {
                transform: translateY(-100%);
            }
        }
        .subsubmenu {
            display:none;
        }
        .return {
            display:none;
        }
        .menu-item.sub .menu-link:after {
            content: none;
        }
        .mm-wrapper {
            max-width: 1420px;
            margin: auto;
            display: flex;
        }
        .mm-container {
            flex-grow: 1;
            background:white;
            position:relative;
            padding: 50px;
        }
        .mm-data {
            &:not(.active) {
                display:none;
            }
        }
        .submenu-item {
            &.active {
                background: white;
            }
        }
    }
    .all-courses-link {
        color:var(--color);
        font-size: 19px;
        line-height: 23px;
        display:block;
        font-weight: 500;
        margin-bottom:30px;
    }
}

.mega-menu {
    overflow: hidden;
    h2 {
        color:var(--color);
    }
    p {
        font-size: 14px;
    }
    .content {
        padding:35px;
    }
    .btn {
        min-width: 200px;
        text-align: center;
    }
    a {
        font-size: 14px;
        color:#000000;
    }
    .category-menu {
        padding: 0 40px;
        & > .wrapper {
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
            padding: 20px 30px;
        }
    }
    .primary-link {
        font-weight: 600;
    }
    .primary {
        border-bottom: 1px solid rgba(190, 30, 45, 1);
        &:not(.open) {
            .sub {
                max-height: 0;
            }
        }
    }
    .secondary {
        padding: 10px;
    }
    .sub {
        overflow: hidden;
    }
    .chevron {
        position:relative;
        &:before {
            font-family: "icomoon";
            content: "\e903";
            font-size: 35px;
        }
    }
    .item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .images {
        display: flex;
        justify-content: center;
        background:var(--bg-img);
        background-repeat: no-repeat;
        background-position-y: -15%;
        img {
            max-height: 250px;
            width: auto;
            display:block;
        }
    }
}

@include screen(1200) {
    .mega-menu {
        p {
            font-size: 18px;
        }
        a {
            font-size: 16px;
        }
        & > .wrapper {
            display: flex;
        }
        .main-list {
            columns: 3 260px;
            column-gap: 1rem;
        }
        .category-menu {
            & > .wrapper {
                box-shadow: unset;
                padding:0;
            }
        }
        .primary {
            border-bottom: unset;
            width: 260px;
            margin: 0 1rem 1rem 0;
            display: inline-block;
            &:not(.open) {
                .sub {
                    max-height: unset;
                }
            }
        }
        .item-header {
            border-bottom: 1px solid var(--color);
            padding-bottom: 5px;
        }

        .secondary {
            padding: 5px 0;
        }
        .content {
            padding:0;
            margin-bottom: 40px;
        }
        .category-menu {
            padding:0;
            margin-bottom: 50px;
        }
        .content-menu {
            margin-left: 10vw;
            margin-top: 25px;
            margin-bottom: 25px;
            max-width: 900px;
        }
        .chevron {
            &:before {
                content: "";
            }
        }
        .images {
            flex: 0 0 29vw;
            background-position: center;
            align-items: flex-end;
            background-size: cover;
            img {
                max-height: 605px;
                margin-right: -12.5vw;
                height: auto;
            }
        }
    }
    .ccs {
        &.junior,
        &.corporate {
            & > .wrapper {
                flex-direction: row-reverse;
            }
            .content-menu {
                max-width: 975px;
                margin-right: 5vw;
            }
            .images {
                img {
                    margin-right: unset;
                    margin-left: -20vw;
                }
            }
        }
        &.junior {
            .images {
                img {
                    height: 622px;
                    width: 665px;
                    max-width: 665px;
                }
            }
        }
        &.corporate {
            .images {
                padding-top: 50px;
                img {
                    height: 539px;
                    width: 533px;
                    max-width: 533px;
                    margin-left: -24vw;
                }
            }
            .btn {
                border-color: #091F40;
                &:before {
                    background:#091F40;
                    border-color: #091F40;
                }
            }
        }
        &.teacher {
            .primary {
                width: 570px;
            }
            .images {
                img {
                    margin-right: -25vw;
                }
            }
        }
        &.virtual {
            .btn {
                border-color: #5F6264;
                &:before {
                    background:#5F6264;
                    border-color: #5F6264;
                }
            }
            .images {
                img {
                    margin-right: -20vw;
                }
            }
        }
    }
}

@include screen(1200) {
    .dropdown {
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        position: absolute;
        top: 100%;
        left: -20px;
        width: fit-content;
        min-width: 270px;
        background: rgba(245, 245, 245, 1);
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
        z-index: -1;
        .menu-list {
            flex-direction: column;
        }
        &-item {
            padding:10px 20px;
            border-bottom: 1px solid rgba(141, 198, 63, 1);
        }
        &-link {
            transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
            font-size: 16px;
            line-height: 23px;
            color:rgba(0, 0, 0, 1);
            font-weight:600;
            &:hover {
                color:rgba(141, 198, 63, 1);
            }
        }
    }
    .menu-item {
        &.po-r {
            &:not(:hover) {
                .dropdown {
                    transform: translateY(-120%);
                }
            }
            &:hover {

            }
        }
    }
}

@include screen(0,1199) {
    .dropdown {
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        position: fixed;
        top: 0;
        background: white;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding-top: 75px;
    }
    .menu-item {
        &:not(.open) {
            .dropdown {
                transform: translateX(100%);
            }
        }
    }
}

@include screen(1200) {
    .header-top {
        .menu-item {
            padding: 0;
            margin: 0 25px !important;
        }
    }
}

@include screen(0,1199) {
    .search-modal {
        transition: all 0.3s ease-out; 
        max-height: 0;
        overflow: hidden;
        &.visible {
            max-height: 70px;
        }
        .searc-form {
            width: 100%;
        }
        .wrapper {
            width: 100%;
        }
        input {
            width: 100%;
            height: 50px;
            outline: 0;
        }
    }
    .header-search {
        position:relative;
        height: 100%;
        width: 75px;
        span {
            &:before {
                cursor: pointer;
                content: "\e937";
                font-family:"icomoon";
                position:absolute;
                font-size: 25px;
                color: #091F40;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}

@include screen(1200) {
    .search-modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(108, 108, 108, 0.8);
        mix-blend-mode: multiply;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(.visible) {
            display:none;
        }
        input {
            height: 60px;
            width: 550px;
            border-radius: 66px;
            font-size: 16px;
            padding-left: 60px;
            font-weight: 500;
            outline: 0;
            &::placeholder {
                font-size: 16px;
                font-family: "Ubuntu";
                color:rgba(9, 31, 64, 1);
                font-weight: 500;
            }
        }
        .wrapper{
            position:relative;
            &:before {
                content: "\e937";
                font-family:"icomoon";
                position:absolute;
                font-size:25px;
                color:rgba(9, 31, 64, 1);
                left: 20px;
                top: 15px;
            }
        }
    }
    .search-toggler {
        padding: 15px 0;
        span {
            transition: all 0.3s ease-out; 
            cursor: pointer;
            color:white;
            font-size: 15px;
            position:relative;
            padding: 15px 50px;
            font-weight: 500;
            &:before {
                transition: all 0.3s ease-out; 
                cursor: pointer;
                content: "\e937";
                font-family:"icomoon";
                position:absolute;
                font-size: 21px;
                color: white;
                left: 15px;
                top: 10px;
            }
        }
        &:hover {
            span {
                color: #8dc63f;
                &:before {
                    color: #8dc63f;
                }
            }
        }
    }
}

@include screen(1200) {
    .mm {
        &-2 {
            .primary {
                width:600px;
            }
        }
        &-3 {
            .primary {
                width:600px;
            }
        }
    }
}


@include screen(1024) {
    .wpml-ls-statics-shortcode_actions {
        .wpml-ls-item-toggle {
            background: transparent;
            border: none;
        }
    }
}

@include screen(0,1023) {
    .lang-switcher {
        padding: 0px 17px;
        margin-top: 15px;
    }
    .wpml-ls-legacy-dropdown {
        width: fit-content !important;
        max-width: 100%;
    }
    .wpml-ls-statics-shortcode_actions .wpml-ls-item-toggle {
        background: transparent;
        border: none;
    }
    .wpml-ls-native {
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.55);
        text-transform:uppercase;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
        background: unset !important;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
        border: none;
    }
    .wpml-ls-legacy-dropdown a {
        background-color: transparent;
        border:0;
        padding: 5px 13px;

    }
    .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
        color: white;
    }
    .wpml-ls-sub-menu {
        background: white;
        width: 125px;
        left: -35px;
        right: 0;
    }
    .wpml-ls-sub-menu .wpml-ls-native {
        color: black;
    }
    .wpml-ls-sub-menu .wpml-ls-display {
        display:none;
    }
    .wpml-ls-sub-menu {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
}

@include screen(1024) {
    .wpml-ls-legacy-dropdown {
        width: unset !important;
        max-width: 100%;
    }
    .wpml-ls-statics-shortcode_actions .wpml-ls-item-toggle {
        background: transparent;
        border: none;
    }
    .wpml-ls-native {
        color: white;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
        color: white !important;
        background: unset!important;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
        border: none;
    }
    .wpml-ls-legacy-dropdown a {
        background-color: transparent;
        border:0;
    }
    .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
        color: white;
    }
    .wpml-ls-sub-menu {
        background: white;
        width: 125px;
        left: -35px;
        right: 0;
    }
    .wpml-ls-sub-menu .wpml-ls-native {
        color: black;
    }
    .wpml-ls-sub-menu .wpml-ls-display {
        display:none;
    }
    .wpml-ls-sub-menu {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
}

@include screen(1024) {
    .header-minicart {
        span {
            &:before {
                font-family: "icomoon";
                content: "\e912";
                color:white;
                font-weight: 400;
            }
        }
    }
    .wcml-dropdown {
        width: 7.5em !important;
        li {
            background-color: transparent !important;
            border: none !important;
        }
        .wcml-cs-item-toggle {
            cursor: pointer;
            color: white;
            font-size: 15px;
            line-height: 18px;
            font-weight: 600;
        }
        a {
            &:after {
                font-size: 18px !important;
            }
        }
    }
    .wcml-cs-submenu {
        background: white;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        border-top: 1px solid #cdcdcd;
        a {
            font-size: 15px;
            line-height: 18px !important;
            font-weight: 600;
        }
    }
}


.lang-menu {
    align-items: center;
}

.header-searc {
    img {
        max-width: 18px;
    }
    .wpml-ls-native {
        font-size: 13px;
    }
}

html:not(:lang(en-US)) {
    .menu-link {
        @include screen(1367) {
            font-size: 14px;
        }
    }
    .cta-container {
        .btn {
            @include screen(1200) {
                font-size: 13px;
            }
        }
    }
}