// @use "mixins" as *;

// .mm {
//     display:flex;
//     li {
//         flex:0 0 33.33%;
//         text-align: left;
//         z-index: 1;
//     }
//     &-link {
//         font-size: 20px;
//         line-height: 25px;
//         color: #009FDA;
//         font-weight: 700;
//     }
//     &-holder {
//         position: absolute;
//         left: 0;
//         right: 0;
//         top: 121px;
//         background: white;
//         max-height: 0;
//         overflow: hidden;
//     }
//     &-wrapper {
//         padding-bottom: 20px;
//     }
// }

// .mm {
//     &-item {
//         &-holder {
//             max-width: 310px;
//             position: relative;
//         }
//         &-title {
//             border-bottom: 1px solid #707070;
//             padding-bottom: 12px;
//             padding-top: 30px;
//             margin-bottom: 25px;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             img {
//                 cursor: pointer;
//                 height: 16.5px;
//                 transform: rotate(90deg);
//                 width: 16.5px;
//                 margin-left: 15px;
//                 margin-right: 20px;
//             }
//         }
//         &:nth-child(3) {
//             &:before {
//                 content: "";
//                 position: absolute;
//                 background-color: #f3f3f3;
//                 top: 3px;
//                 bottom: 47px;
//                 right: 0;
//                 left: 59vw;
//                 z-index: -2;
//             }
//         }
//     }
// }

// .mm-sub {
//     &-link {
//         transition: all 0.25s ease-out;
//         font-size: 14px;
//         color:#4D4F53;
//         line-height: 29px;
//         font-weight: 600;
//         &:hover {
//             color:#009FDA;
//         }
//     }
// }

// .mm-holder {
//     transition: all 0.25s ease-out;
//     box-shadow: inset 0 0 10px rgb(0 0 0 / 16%);
// }
// .menu-item.sub {
//     &:hover {
//         .mm-holder {
//             max-height: 1000px;
//         }
//     }
// }

// .mm-bot {
//     background-color: rgba(243, 243, 243, 1);
//     @include from_until(1024) {
//         box-shadow: inset 0 0 10px rgb(0 0 0 / 16%);
//     }
//     &-list {
//         align-items: center;
//         @include from_until(0,1023) {
//             justify-content: center;
//         }
//     }
// }

// sep {
//     height: 21px;
//     width: 2px;
//     background-color: rgba(112, 112, 112, 0.5);
//     display: block;
//     margin: 13px 20px;
// }

// .mmm {
//     &-holder {
//         overflow: hidden;
//     }
// }
// .smenu-item {
//     &:not(.open) {
//         .mmm-holder {
//             max-height: 0;
//         }
//         .smenu-item-link .chevron {
//             transform: rotate(0);
//         }
//     }
// }

// .mmm-sub {
//     &-item {
//         overflow: hidden;
//         max-height: 0;
//     }
// }

// .mmm {
//     &-item {
//         &.open {
//             .mmm-sub-item {
//                 max-height: 1000px;
//             }
//             .plus {
//                 &:before {
//                     content: "\e900";
//                 }
//             }
//         }
//         &-title {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             border-bottom: 1px solid #f3f3f3;
//             position:relative;
//             padding-bottom: 15px;
//         }
//         .plus {
//             position:relative;
//             &:before {
//                 font-family: "icomoon";
//                 content: "\e902";
//                 font-size: 25px;
//                 line-height: 25px;
//                 transform: rotate(180deg);
//                 color:rgba(214, 214, 214, 1);
//                 display:block;
//             }
//         }
//     }
// }

// .mmm-sub {
//     &-list {
//         li {
//             padding: 13px 0;
//         }
//     }
//     &-link {
//         color:rgba(77, 79, 83, 1);
//         font-size: 14px;
//         line-height: 20px;
//         letter-spacing: 2.33px;
//         font-weight: 600;
//         text-transform: uppercase;
//     }

// }
// .menu-item {
//     &.simple {
//         position: relative;
//         .mm {
//             &-holder {
//                 transition:none;
//                 top: 75px;
//                 background: rgba(214, 214, 214, 0.30);
//                 box-shadow: none;
//                 width: max-content;
//                 text-align: left;
//                 &:before {
//                     content:"";
//                     background-color: white;
//                     top:0;
//                     bottom:0;
//                     left:0;
//                     right:0;
//                     position:absolute;
//                     z-index: -1;
//                 }
//             }
//         }
//     }
// }

// .md {
//     padding: 20px 0 !important;
//     &-item {
//         padding: 10px 20px;
//     }
//     &-link {
//         font-weight: 600;
//         color:#4D4F53;
//         font-size: 14px;
//         line-height: 20px;
//         &:hover {
//             color:#009FDA;
//         }
//     }
// }

// .menu-item {
//     &:not(:last-child) {
//         .menu-item-holder {
//             @include from_until(1024) {
//                 position:relative;
//                 &:before {
//                     transition: all .3s cubic-bezier(1,0,0,1);
//                     content: "";
//                     background-color: rgba(0, 159, 218, 1);
//                     height: 3px;
//                     position: absolute;
//                     bottom: -5px;
//                     left: -5px;
//                     right: -5px;
//                     max-width:0;
//                 }
//             }
//         }
//         &:hover {
//             .menu-item-holder {
//                 @include from_until(1024) {
//                     &:before {
//                         max-width:1000px;
//                     }
//                 }
//             }
//         }
//     }
// }
// .menu-item-holder {
//     &.active {
//         @include from_until(1024) {
//             &:before {
//                 max-width:1000px !important;
//             }
//         }
//     }
// }

// .mm-holder {
//     &:hover {
//         max-height: 1000px;
//     }
// }