@use "mixins" as *;

body {
    position: relative;
    margin:0;
}


.po {
    &-r {
        position:relative;
    }
}

.testimonial {
    &-card {
        box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
        margin: 24px;
        padding: 9px;
        position:relative;
        background: white;
        &:before {
            content:"";
            position:absolute;
            top: -8px;
            left: -8px;
            bottom: 15%;
            right: 15%;
            z-index: -1;
        }
    }
    &-bio {
        margin: 0 18px;
        padding: 18px 0;
        flex-grow: 1;
        border-bottom: 1px solid #000000;
    }
    &-body {
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 15px;
        font-style: italic;
        font-size: 16px;
    }
}

.breadcrumbs {
    margin-bottom: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    li {
        margin-right: 15px;
        &:not(:last-child) {
            &:before {
                color:white;
                content:"-";
                position:absolute;
                right:-9px;
                top: 2px;
                bottom:0;
            }
        }
    }
    .page-link {
        color:white;
        font-size: 12px;
        text-decoration: none;
    }
    .this-page {
        font-weight: bold;
    }
}

@include screen(1200) {
    .breadcrumbs {
        margin-bottom: 0;
        margin-top:20px;
    }
}

.bg-grey {
    background:#F4F7F6;
}

.container {
    max-width: 1335px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

