@use "mixins" as *;

@font-face {
    font-family: "icomoon";
    src: url("/wp-content/themes/cec/fonts/icomoon.ttf") format("truetype");
    src: url("/wp-content/themes/cec/fonts/icomoon.woff") format("woff");
    src: url("/wp-content/themes/cec/fonts/icomoon.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.woff') format('woff'), /* Modern Browsers */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-regular - latin */
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-500 - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-700 - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }

html {
    font-family: 'Ubuntu', sans-serif;
}

icon {
    &:before {
        color:white;
        font-family: "icomoon";
        vertical-align: middle;
    }
    &.fb {
        &:before {
            content:"\e905";
            font-size: 29px;
        }
    }
    &.course {
        &:before {
            content:"\e904";
            font-size: 29px;
        }
    }
    &.calendar {
        &:before {
            content:"\e900";
            font-size: 29px;
        }
    }
    &.student {
        &:before {
            content:"\e90e";
            font-size: 29px;
        }
    }
    &.location {
        &:before {
            content:"\e90d";
            font-size: 29px;
        }
    }
    &.ig {
        .path {
            &-1 {
                &:before {
                    font-family: "icomoon";
                    content: "\e907";
                    color: #fff;
                    font-size: 29px;
                }
            }
            &-2 {
                &:before {
                    font-family: "icomoon";
                    content: "\e908";
                    color: #091d3c;
                    margin-left: -1em;
                    font-size: 29px;
                }
            }
            &-3 {
                &:before {
                    font-family: "icomoon";
                    content: "\e909";
                    color: #091d3c;
                    margin-left: -1em;
                    font-size: 29px;
                }
            }
            &-4 {
                &:before {
                    font-family: "icomoon";
                    content: "\e90a";
                    color: #091d3c;
                    margin-left: -1em;
                    font-size: 29px;
                }
            }
        }
    }
    &.tw {
        .path {
            &-1 {
                &:before {
                    font-family: "icomoon";
                    content: "\e90b";
                    color: #fff;
                    font-size: 29px;
                }
            }
            &-2 {
                &:before {
                    font-family: "icomoon";
                    content: "\e90c";
                    color: #091d3c;
                    margin-left: -1em;
                    font-size: 29px;
                }
            }
        }
    }
    &.yt {
        .path {
            &-1 {
                &:before {
                    font-family: "icomoon";
                    content: "\e98a";
                    color: #091f40;
                    font-size: 29px;
                }
            }
            &-2 {
                &:before {
                    font-family: "icomoon";
                    content: "\e98b";
                    color: #fff;
                    margin-left: -1em;
                    font-size: 29px;
                }
            }
        }
    }
    &.tt {
        .path {
            &-1 {
                &:before {
                    font-family: "icomoon";
                    content: "\e983";
                    color: #fff;
                    font-size: 29px;
                }
            }
            &-2 {
                &:before {
                    font-family: "icomoon";
                    content: "\e985";
                    color: #091f40;
                    margin-left: -1em;
                    font-size: 29px;
                }
            }
        }
    }
    &.li {
        .path {
            &-1 {
                &:before {
                    font-family: "icomoon";
                    content: "\e981";
                    color: #fff;
                    font-size: 29px;
                }
            }
            &-2 {
                &:before {
                    font-family: "icomoon";
                    content: "\e982";
                    color: #091f40;
                    margin-left: -1em;
                    font-size: 29px;
                }
            }
        }
    }
    &.wa {
        .path {
            &-1 {
                &:before {
                    font-family: "icomoon";
                    content: "\e988";
                    color: #091f40;
                    font-size: 29px;
                }
            }
            &-2 {
                &:before {
                    font-family: "icomoon";
                    content: "\e989";
                    color: #fff;
                    margin-left: -1em;
                    font-size: 29px;
                }
            }
        }
    }
    &.check {
        .path {
            &-1 {
                &:before {
                    font-family: "icomoon";
                    content: "\e950";
                    color: #b41c28;
                    font-size: 29px;
                }
            }
            &-2 {
                &:before {
                    font-family: "icomoon";
                    content: "\e951";
                    color: #1d488e;
                    margin-left: -1.05078125em;
                    font-size: 29px;
                }
            }
        }
    }
    &.whatsapp {
        .path {
            &-1 {
                &:before {
                    font-family: "icomoon";
                    content: "\e90f";
                    color: #80bd37;
                    font-size: 120px;
                }
            }
            &-2 {
                &:before {
                    font-family: "icomoon";
                    content: "\e910";
                    color: #fff;
                    margin-left: -1em;
                    font-size: 120px;
                }
            }
            &-3 {
                &:before {
                    font-family: "icomoon";
                    content: "\e911";
                    color: #fff;
                    margin-left: -1em;
                    font-size: 120px;
                }
            }
        }
    }
}

a {
    color:#1D488E;
}