.nc1 {
    padding: 35px 0;
    h2 {
        font-size: 30px;
        color:#091F40;
        text-align: center;
        font-weight: 700;
    }
    h3 {
        font-size: 23px;
        color:#091F40;
    }
    icon {
        &:before {
            font-size: 36px;
            color:#091F40;
        }
    }
    &-header {
        padding: 35px 0;
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-card {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
        flex: 0 0 167px;
        margin: 19px;
        padding: 20px;
        text-align: center;
        position:relative;
        background:white;
        h2 {
            font-size: 47px;
            margin: 0;
        }
        h3 {
            margin: 0;
            font-size: 12px;
            font-weight: 500;
        }
        &:before {
            content:"";
            position:absolute;
            top: -10px;
            left: -10px;
            bottom: 15%;
            right: 15%;
            z-index: -1;
        }
        &:nth-child(1) {
            &:before {
                background:#8DC63F;
            }
        }
        &:nth-child(2) {
            &:before {
                background:#091F40;
            }
        }
        &:nth-child(3) {
            &:before {
                background:#BE1E2D;
            }
        }
        &:nth-child(4) {
            &:before {
                background:#5F6264;
            }
        }
    }
}

@include screen(1200) {
    .nc1 {
        h2 {
            font-size:48px;
        }
        icon {
            &:before {
                font-size: 60px;
            }
        }
        &-cards {
            justify-content: space-between;
        }
        &-card {
            margin: 15px;
            flex: 0 0 270px;
            &:before {
                top: -19px;
                left: -19px;
            }
            h2 {
                margin: 0;
                font-size: 79px;
            }
            h3 {
                margin: 0;
                font-size: 23px;
            }
        }
    }
}