{% extends "block-base.twig" %}

{% block content %}
<section class="nc1 {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="nc1-content">
            <div class="nc1-header">
                <h2>{{fields.content.title}}</h2>
            </div>
            <div class="nc1-cards">
            {% for item in fields.content.items %}
                <div class="nc1-card">
                    <icon class="{{item.icon}}"></icon>
                    <h2 class="countup">{{item.number}}</h2>
                    <h3>{{item.label}}</h3>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<script>
const animationDuration = 2000;
const frameDuration = 1000 / 60;
const totalFrames = Math.round( animationDuration / frameDuration );
const easeOutQuad = t => t * ( 2 - t );

const animateCountUp = el => {
	let frame = 0;
	const countTo = parseInt( el.innerHTML, 10 );
	const counter = setInterval( () => {
		frame++;
		const progress = easeOutQuad( frame / totalFrames );
		const currentCount = Math.round( countTo * progress );
		if ( parseInt( el.innerHTML, 10 ) !== currentCount ) {
			el.innerHTML = currentCount;
		}
		if ( frame === totalFrames ) {
			clearInterval( counter );
		}
	}, frameDuration );
};

const runAnimations = () => {
	const countupEls = document.querySelectorAll( '.countup' );
	countupEls.forEach( animateCountUp );
};

function onVisible(element, callback) {
  new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if(entry.intersectionRatio > 0) {
        callback(element);
        observer.disconnect();
      }
    });
  }).observe(element);
}

onVisible(document.querySelector("section.nc1"), () => runAnimations());

</script>
{% endblock %}