.cc1 {
    background: transparent linear-gradient(180deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
    &-logos {
        background: white;
        margin: 0 15px;
        &-inner {
            padding: 0 15px;
            padding-top: 25px;
        }
        &-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        h5 {
            font-weight: 600;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            text-transform: uppercase;
        }
    }
    &-content {
        position: relative;
        &-inner {
            padding:35px;
        }
    }
    &-header {
        max-width: 90%;
        margin: auto;
        text-align: center;
        h3 {
            color:#BE1E2D;
        }
        h4 {
            font-size: 16px;
        }
    }
    &-logo {
        padding: 20px 0;
        max-width: 172px;
        max-height: 97px;
        img {
            object-fit: contain;
        }
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-card {
        flex: 0 0 45%;
        padding: 20px 0;
        h5 {
            font-size: 16px;
        }
        icon {
            margin-bottom: 10px;
            display: block;
        }
    }
    &-image {
        margin-top: -100px;
        img {
            height: 325px;
            object-fit: cover;
        }
    }
    small {
        margin-top: 15px;
        line-height: 21px;
        font-size: 14px;
        display: block;
    }
}

@include screen(1200) {
    .cc1 {
        &-logos {
            &-inner {
                background:white;
                width: 100%;
                max-width: 1180px;
                margin: auto;
                box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            h5 {
                max-width: unset;
                font-size: 23px;
                text-transform: unset;
                font-weight: 500;
            }
        }
        &-logo {
            margin: 0 5px;
        }
        &-content {
            padding-top: 100px;
            h3 {
                font-size: 48px;
                margin-bottom: 0;
            }
            h4 {
                font-size: 28px;
                margin-top: 0;
            }
            .container {
                max-width: 1250px;
            }
        }
        &-header {
            padding-bottom: 50px;
        }
        &-card {
            flex: 0 0 30%;
            max-width: 340px;
            padding-bottom: 50px;
            h5 {
                font-size: 21px;
            }
        }
        &-image {
            margin-top: -100px;
            img {
                display: block;
                height:100%;
            }
        }
        &.nonm {
            .cc1-content {
                padding-top:25px;
            }
        }
    }
}