{% extends "block-base.twig" %}

{% block content %}
<section class="cc1 {{block.className}}" {{blockSection(block)}}>
{% if fields.logo_strip.title %}
    <div class="cc1-logos po-r">
        <div class="cc1-logos-inner">
            <h5>{{fields.logo_strip.title}}</h5>
            <div class="cc1-logos-container">
                {% for item in fields.logo_strip.items %}
                <div class="cc1-logo">
                    {{imageElement(item.logo)}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}    
    <div class="cc1-content">
        <div class="cc1-content-inner">
            <div class="container">
                <div class="cc1-header">
                    <h3>{{fields.content.title}}</h3>
                    <h4>{{fields.content.subtitle}}</h4>
                </div>
                <div class="cc1-cards">
                    {% for item in fields.content.items %}
                    <div class="cc1-card">
                        <icon class="check"><span class="path-1"></span><span class="path-2"></span></icon>
                        <h5>{{item.title}}</h5>
                        <small>{{item.content}}</small>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="cc1-image">
    <img src="https://aonndpeydo.cloudimg.io/v7/{{fn('get_site_url')}}/wp-content/themes/cec/blocks/content-cards-one/background.png" height="502" width="1920" loading="lazy">
    </div>
</section>
{% endblock %}