.course-faq {
    margin:25px 0;
    h3 {
        color:rgba(9, 31, 64, 1);
    }
    h5 {
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
        font-size: 14px;
        font-weight: 500;
        max-width: 80%;
    }
    p {
        font-size: 14px;
    }
    .container {
        padding: 40px;
    }
    .question {
        border-bottom: 1px solid rgba(190, 30, 45, 1);
        padding: 15px 0;
        &.active {
            .answer {
                max-height: 1000px;
            }
            .close {
                transform: rotate(0deg);
            }
        }
        &.inactive {
            h5 {
                color:rgba(135, 139, 142, 1);
            }
        }
        &-header {
            cursor: pointer;
            display:flex;
            justify-content: space-between;
            div {
                position:relative;
            }
            span {
                transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
                position:absolute;
                right: 10px;
                transform: rotate(225deg);
                &:before {
                    font-family: "icomoon";
                    content: "\e984";
                    color: #be1e2d;
                    font-size: 20px;
                }
            }
        }
    }
    .answer {
        overflow: hidden;
        max-height: 0;
        transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
}

@include screen(1200) {
    .course-faq {
        margin:50px 0;
        background: white;
        h5 {
            font-size: 16px;
        }
        p {
            font-size: 16px;
        }
        .question {
            border-color:black;
        }
    }
}