{% extends "block-base.twig" %}

{% block content %}
<style>{{compiled_css}}</style>
<section class="course-faq {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="faq-header">
            <h3>{{fields.content.title}}</h3>
        </div>
        <div class="questions">
            {% for item in fields.content.items %}
            <div class="question">
                <div class="question-header" onclick="toggleQuestion(this);">
                    <h5>{{item.question}}</h5>
                    <div><span class="close"></span></div>
                </div>
                <div class="answer">
                    <p>{{item.answer}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script>
    function toggleQuestion(question) {
        if(!question.parentNode.classList.contains('active')) {
            [...document.querySelectorAll('.question')].forEach((contentTab) => {
                contentTab.classList.remove('active');
                contentTab.classList.add('inactive');
            });
            question.parentNode.classList.remove('inactive');
            question.parentNode.classList.add('active');
        } else {
            question.parentNode.classList.remove('active');
            [...document.querySelectorAll('.question')].forEach((contentTab) => {
                contentTab.classList.remove('inactive');
            });
        }
    }
</script>
{% endblock %}