.lc3 {
    &-text {
        padding:35px;
        h2 {
            font-size: 42px;
            color:#BE1E2D;
        }
        h3 {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &-box {
        &-content {
            background-color: var(--color);
            &-inner {
                color:white;
                padding: 20px 50px 25px 50px;
            }
            p {
                margin: 0;
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
            }
        }
        &-inner {
            width:100%;
            flex-grow: 1;
        }
        &-image {
            height: 100%;
            padding: 30px 50px;
            background:var(--bg-img);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            position:relative;
            display: flex;
            align-items: flex-end;
            &:before {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, black 100%);
            }
            h3 {
                color:white;
                position: relative;
                font-size: 35px;
                line-height: 39px;
                padding-bottom: 10px;
                &:before {
                    content:"";
                    position:absolute;
                    height:8px;
                    background:var(--color);
                    width: 120px;
                    bottom: -8px;
                }
            }
        }
        h3 {

        }
    }
}
@include screen(0,1199) {
    .lc3 {
        &-boxes {
            overflow: hidden;
        }
    }
}

@include screen(0,450) {
    .lc3 {
        &-box {
            height: 495px;
            display: flex;
        }
    }
}
@include screen(451,1199) {
    .lc3 {
        &-boxes {
            display:flex;
            flex-wrap: wrap;
        }
        &-box {
            height: 495px;
            display: flex;
            flex:0 0 50%;
            max-width: 50%;
        }
    }
}
@include screen(1200) {
    .lc3 {
        &-text {
            display: flex;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 75px;
            h2 {
                font-size: 65px;
                line-height: 71px;
            }
            h3 {
                font-size: 28px;
                line-height: 36px;
                line-height: 500x;
            }
            .left {
                flex: 0 0 450px;
                text-align: right;
                margin-right: 35px;
            }
            .right {
                flex: 0 0 675px;
                margin-left: 35px;
            }
        }
        &-boxes {
            display:flex;
            flex-wrap: wrap;
        }
        &-box {
            cursor: pointer;
            flex:0 0 25%;
            max-width: 25%;
            height: 490px;
            display: flex;
            flex-direction: column;
            background:var(--color);
            position:relative;
            overflow: hidden;
            h3 {
                font-size: 32px;
                line-height: 36px;
            }
            &:hover {
                overflow: visible;
                .lc3-box-inner {
                    transform: translate(27px, -27px);
                    z-index: 5;
                }
            }
            &-inner {
                transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
            }
            &-image {
                flex-grow: 1;
            }
        }
    }
    .main {
        overflow: hidden;
    }
}


.lc3-box {
    &:hover {
        .triangle-left,
        .triangle-right {
            opacity:1;
        }
    }
    .triangle {
        &-left {
            transition: opacity 0.25s cubic-bezier(0.6, -0.28, 0.74, 0.05);
            position: absolute;
            top: 4px;
            left: -31px;
            height: 37px;
            transform: rotate(254deg);
            z-index: -1;
            opacity:0;
        }
        &-right {
            transition: opacity 0.25s cubic-bezier(0.6, -0.28, 0.74, 0.05);
            position: absolute;
            bottom: -23px;
            right: -5px;
            height: 37px;
            transform: rotate(76deg);
            z-index: -1;
            opacity:0;
        }
    }
}

@include screen(1200,1366) {
    .lc3 {
        &-box {
            h3 {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}