{% extends "block-base.twig" %}

{% block content %}
<section class="lc3 {{block.className}}" {{blockSection(block)}}>
    <div class="lc3-">
        <div class="lc3-content-inner">
            <div class="">
                <div class="lc3-boxes">
                    {% for item in fields.link_boxes.items %}
                    <a href="{{item.title.url}}" target="{{item.title.target}}" class="lc3-box" style="--color:{{item.color}};">
                        <div class="lc3-box-inner">
                            <div class="lc3-box-image" style="--bg-img:url({{cdnThis(item.image.url)}});">
                                <h3>{{item.title.title}}</h3>
                                <svg class="triangle-left" viewBox="0 0 100 100">
                                    <polygon points="50, 13.397 100, 100 0, 100" fill="{{item.color}}" stroke="{{item.color}}"/>
                                </svg>
                                <svg class="triangle-right" viewBox="0 0 100 100">
                                    <polygon points="50, 13.397 100, 100 0, 100" fill="{{item.color}}" stroke="{{item.color}}"/>
                                </svg>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}