
.course-timetable {
    padding: 15px;
    overflow-y: scroll;
    @include screen(1200) {
        overflow: hidden;
    }
    @include screen(500, 1023) {
        max-width: 410px;
    }
    @include screen(1024, 1280) {
        max-width: 600px;
    }
    &::-webkit-scrollbar {
        width: 10px;
    }
      
    /* Track */
    &::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
       
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #BE1E2D; 
    }
      
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #981824; 
    }
}

.timetable {
    display: flex;
    .days {
      display:flex;
      background:#e6e7e9;
      width: fit-content;
    }
    .day-name {
      color:#1c2d4b;
      font-weight:600;
      text-align:center;
      margin-bottom: 15px;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-size: 15px;
      background: #f4f7f6;
    }
    .inner {
  
    }
    .top,
    .mid,
    .bot {
      border-top:2px solid #bf2b3a;
    }
    .cell {
      position:relative;
      background:#e6e7e9;
      padding:0 5px;
      height:80px;
      width:105px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color:#1c2d4b;
      font-weight:400;
      font-size: 14px;
    }
    .hours {
        margin-right: 10px;
    }
    .hour-block {
        color:#1c2d4b;
        font-size: 14px;
        height: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:nth-child(even) {
            font-weight:600;
        }
    }
}

.wed {
    .top {
        &:before {
            top: -8px;
            position:absolute;
            content:"Breakfast";
            font-weight:600;
        }
    }
    .mid {
        &:before {
            top: -8px;
            position:absolute;
            content:"Lunch Break";
            font-weight:600;
        }
    }
    .bot {
        &:before {
            top: -8px;
            position:absolute;
            content:"Dinner Break";
            font-weight:600;
        }
    }
}

.wed,
.sat,
.sun {
    .top,
    .mid,
    .bot {
      border-top:none;
    }
}
  