{% extends "block-base.twig" %}

{% block content %}
<style>{{compiled_css}}</style>
<section class="course-timetable {{block.className}}" {{blockSection(block)}}>
    <div class="timetable">
        <div class="hours">
            <div class="hour-block">
                <div class="hour">8:30</div>
                <div class="hour">9:00</div>
            </div>
            <div class="hour-block">
                <div class="hour">9:00</div>
                <div class="hour">12:15</div>
            </div>
            <div class="hour-block">
                <div class="hour">12:30</div>
                <div class="hour">14:00</div>
            </div>
            <div class="hour-block">
                <div class="hour">14:00</div>
                <div class="hour">17:00</div>
            </div>
            <div class="hour-block">
                <div class="hour">17:00</div>
                <div class="hour">19:00</div>
            </div>
            <div class="hour-block">
                <div class="hour">EVE-</div>
                <div class="hour">NING</div>
            </div>
        </div>
        <div class="days">
            <div class="day mon">
            <div class="day-name">{{translateString('Monday', 'cec')}}</div>
            <div class="inner">
                <div class="cell top">{{fields.monday.top}}</div>
                <div class="cell mid">{{fields.monday.middle}}</div>
                <div class="cell bot">{{fields.monday.bottom}}</div>
            </div>
            </div>
            <div class="day tue">
            <div class="day-name">{{translateString('Tuesday', 'cec')}}</div>
            <div class="inner">
                <div class="cell top">{{fields.tuesday.top}}</div>
                <div class="cell mid">{{fields.tuesday.middle}}</div>
                <div class="cell bot">{{fields.tuesday.bottom}}</div>
            </div>
            </div>
            <div class="day wed">
            <div class="day-name">{{translateString('Wednesday', 'cec')}}</div>
            <div class="inner">
                <div class="cell top">{{fields.wednesday.top}}</div>
                <div class="cell mid">{{fields.wednesday.middle}}</div>
                <div class="cell bot">{{fields.wednesday.bottom}}</div>
            </div>
            </div>
            <div class="day thu">
            <div class="day-name">{{translateString('Thursday', 'cec')}}</div>
            <div class="inner">
                <div class="cell top">{{fields.thursday.top}}</div>
                <div class="cell mid">{{fields.thursday.middle}}</div>
                <div class="cell bot">{{fields.thursday.bottom}}</div>
            </div>
            </div>
            <div class="day fri">
            <div class="day-name">{{translateString('Friday', 'cec')}}</div>
            <div class="inner">
                <div class="cell top">{{fields.friday.top}}</div>
                <div class="cell mid">{{fields.friday.middle}}</div>
                <div class="cell bot">{{fields.friday.bottom}}</div>
            </div>
            </div>
            <div class="day sat">
            <div class="day-name">{{translateString('Saturday', 'cec')}}</div>
            <div class="inner">
                <div class="cell top"></div>
                <div class="cell mid">{{fields.saturday.middle}}</div>
                <div class="cell bot"></div>
            </div>
            </div>
            <div class="day sun">
            <div class="day-name">{{translateString('Sunday', 'cec')}}</div>
            <div class="inner">
                <div class="cell top"></div>
                <div class="cell mid">{{fields.sunday.middle}}</div>
                <div class="cell bot"></div>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
