@charset "UTF-8";
.gallery-container {
  margin: 0 auto;
  padding: 10px;
  columns: 2 200px;
  column-gap: 0;
}
.gallery-item {
  flex-basis: 30%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-content {
  font-size: 0.8em;
}
.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 50;
}
.lightbox-content {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 5% auto;
  text-align: center;
}
.lightbox-content img {
  border-radius: 7px;
  box-shadow: 0 0 3px 0 rgba(225, 225, 225, 0.25);
  width: auto;
  max-height: 100%;
}
.lightbox-prev, .lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-prev:before {
  content: "";
  font-family: "icomoon";
  color: white;
  font-size: 25px;
}
.lightbox-next {
  right: 0;
}
.lightbox-next:before {
  content: "";
  font-family: "icomoon";
  color: white;
  font-size: 25px;
}
.lightbox-prev:hover, .lightbox-next:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 767px) {
  .gallery-container {
    width: 100%;
  }
  .gallery-item {
    flex-basis: 45%;
    margin-bottom: 3px;
  }
  .lightbox-content {
    width: 80%;
    height: 60%;
    margin: 15% auto;
  }
}
@media only screen and (max-width: 480px) {
  .gallery-item {
    flex-basis: 100%;
    margin-bottom: 1px;
  }
  .lightbox-content {
    width: 90%;
    margin: 20% auto;
  }
}
.lig .wrapper {
  margin: 50px 0;
}
.lig .gallery-item {
  margin: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .gallery-container {
    columns: 3 250px;
    column-gap: 0;
  }
}
@media only screen and (min-width: 1366px) {
  .gallery-container {
    margin: 0 auto;
    padding: 10px;
    columns: 3 425px;
    column-gap: 0;
  }
}
