{% extends "base.twig" %}

{% block content %}
<div class="container" style="text-align:center;padding: 200px 100px;">
    <h1 style="font-size:100px;margin: 10px;">404</h1>
    <h3>{{ translateString('Page Not Found', 'cec')}}</h3>
</div>
{% endblock %}