{% set footer_options = fn('get_field','footer_options', 'option') %}
{% set socials = fn('get_field','social_links', 'option') %}
<div class="footer-wrapper container">
    <div class="footer-whatsapp hide-d">
        <div class="footer-whatsapp-inner">
            <a href="{{socials.whatsapp.url}}" target="__blank"><icon class="whatsapp"><span class="path-1"></span><span class="path-2"></span><span class="path-3"></span></icon></a>
            <a class="link" href="{{socials.whatsapp.url}}" target="__blank"><span class="title">{{translateString('CONTACT US ON WHATSAPP', 'cec')}}</span></a>
        </div>
    </div>
    <div class="footer-newsletter">
        <h3>{{translateString('Newsletter', 'cec')}}</h3>
        <small>{{footer_options.form_title}}</small>
        {% set shortcode = '[contact-form-7 id="' ~ footer_options.form.ID ~ '" title="' ~ footer_options.form.post_title ~ '"]' %}
        {{fn('apply_shortcodes', shortcode)}}
    </div>
    <div class="footer-menu">
        <div class="footer-whatsapp hide-m">
            <div class="footer-whatsapp-inner">
                <a href="{{socials.whatsapp.url}}" target="__blank"><icon class="whatsapp"><span class="path-1"></span><span class="path-2"></span><span class="path-3"></span></icon></a>
                <a class="link" href="{{socials.whatsapp.url}}" target="__blank"><span class="title">{{translateString('CONTACT US ON WHATSAPP', 'cec')}}</span></a>
            </div>
        </div>
        {% include "menu-footer.twig" with {'items': footer_primary_menu.get_items} %}
    </div>
</div>
<div class="footer-cp">
    <div class="container">
        <div class="footer-cp-logo">
            <a href="/" class="footer-logo">
                {{imageElement(footer_logo)}}
            </a>
        </div>
        <h5 class="hide-d">{{translateString('Follow Us', 'cec')}}</h5>
        <div class="footer-cp-social">
            <h5 class="hide-m">{{translateString('Follow Us', 'cec')}}</h5>
            {% if socials.facebook.footer %}
            <a class="header-top-social-link" href="{{socials.facebook.url}}" target="_blank">
                <icon class="fb"></icon>
            </a>
            {% endif %}
            {% if socials.instagram.footer %}
            <a class="header-top-social-link" href="{{socials.instagram.url}}" target="_blank">
                <icon class="ig">
                    <span class="path-1"></span><span class="path-2"></span><span class="path-3"></span><span class="path-4"></span>
                </icon>
            </a>
            {% endif %}
            {% if socials.twitter.footer %}
            <a class="header-top-social-link" href="{{socials.twitter.url}}" target="_blank">
                <icon class="tw">
                    <span class="path-1"></span><span class="path-2"></span>
                </icon>
            </a>
            {% endif %}
            {% if socials.youtube.footer %}
            <a class="header-top-social-link" href="{{socials.youtube.url}}" target="_blank">
                <icon class="yt">
                    <span class="path-1"></span><span class="path-2"></span>
                </icon>
            </a>
            {% endif %}
            {% if socials.tiktok.footer %}
            <a class="header-top-social-link" href="{{socials.tiktok.url}}" target="_blank">
                <icon class="tt">
                    <span class="path-1"></span><span class="path-2"></span>
                </icon>
            </a>
            {% endif %}
            {% if socials.linkedin.footer %}
            <a class="header-top-social-link" href="{{socials.linkedin.url}}" target="_blank">
                <icon class="li">
                    <span class="path-1"></span><span class="path-2"></span>
                </icon>
            </a>
            {% endif %}
            {% if socials.whatsapp.footer %}
            <a class="header-top-social-link" href="{{socials.whatsapp.url}}" target="_blank">
                <icon class="wa">
                    <span class="path-1"></span><span class="path-2"></span>
                </icon>
            </a>
            {% endif %}
        </div>
        <div class="footer-cp-links">
            <a href="/terms-and-conditions/" class="footer-cp-link">{{translateString('TERMS & CONDITIONS', 'cec')}}</a>
            <a href="/privacy-policy/" class="footer-cp-link">{{translateString('PRIVACY POLICY', 'cec')}}</a>
        </div>
    </div>
</div>