<link rel="stylesheet" href="{{ static_path }}/static/css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/wp-content/themes/cec/static/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/wp-content/themes/cec/static/typography.css" type="text/css" media="screen" />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-57HG43M');</script>
<!-- End Google Tag Manager -->