{% extends "tease.twig" %}

{% block content %}
{% set item_data = fn('get_fields', item) %}
<a class="post-container" href="{{item.link}}">
	<div class="post-info">
		<div class="post-content-wrapper">
            <div class="post-content">
                <span class="date">{{item.date}}</span>
                <h4>{{item.title}}</h4>
            </div>
		</div>
	</div>
</a>
{% endblock %}