{% extends "tease.twig" %}

{% block content %}
<div class="post-container">
	<div class="post-info">
		<div class="post-content-wrapper">
            <div class="post-content">
                <span class="date">{{item.date}}</span>
                <h4>{{item.title}}</h4>
                <p class="preview">{{ item.preview.read_more('') }}</p>
                <a href="{{item.link}}" class="btn btn-primary" data-title="Learn More">{{ translateString('Learn More', 'cec')}}</a>
            </div>
            <div class="post-image hide-m">
                <img src="{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}"/>
            </div>
		</div>
	</div>
</div>
{% endblock %}