{% extends "base.twig" %}

{% block content %}
{% set blog_options = fn('get_field','activity_archive_data', 'option') %}
<link rel="stylesheet" href="/wp-content/themes/cec/static/blog.css" type="text/css" media="screen" />
<div class="blog blog-container">
    <div class="blog-hero" style="--bg-img:url('{{cdnThis(blog_options.background_image.url)}}');--img:url('{{cdnThis(blog_options.image.url)}}');">
        <div class="inner container">
            <div class="wrapper">
                <ul class="rl breadcrumbs">
                    <li class="po-r">
                        <a class="page-link" href="/">{{ translateString('Homepage', 'cec')}}</a>
                    </li>
                    <li class="po-r">
                        <span class="this-page page-link">{{ translateString('Activities', 'cec')}}</span>
                    </li>
                </ul>
                {{ blog_options.content}}
            </div>
        </div>
        <img class="hide-d" src="{{local_child_image('news-hero.png')}}" alt="background image"/>
    </div>
	<div class="blog-posts">
		<div class="inner container">
            <h2>{{ blog_options.subtitle}}</h2>
            <ul class="rl post-list">
                {% set counter = 0 %}
                {% for item in future_posts %}
                {% set item_data = fn('get_fields', item) %}
                {% set counter = counter + 1 %}
                    <li class="post-item">{% include ['activity-tease.twig'] %}</li>
                {% endfor %}
            </ul>
            {% if counter == 0 %}
                <div class="no-act">{{ translateString('There are no upcoming activities', 'cec')}}</div>
            {% endif %}
		</div>
	</div>
    
	<div class="blog-posts past">
		<div class="inner container past">
            <h2>{{ translateString('Past CEC Activities', 'cec')}}</h2>
            <ul class="rl post-list">
                {% for item in past_posts %}
                {% set item_data = fn('get_fields', item) %}
                    <li class="post-item">{% include ['activity-tease.twig'] %}</li>
                {% endfor %}
            </ul>
		</div>
	</div>
</div>

<section class="cta2">
    <div class="container">
    <div class="cta2-wrapper">
        <div class="left">
            <h2>{{ translateString('IMAGINE YOUR FUTURE', 'cec')}}</h2>
            <div class="cta2-links">
                <a class="cta2-link" href="/contact-us/"style="--color:#8DC63F;">{{ translateString('REQUEST INFO', 'cec')}}</a>
                <a class="cta2-link" href="/book-now/"style="--color:#BE1E2D;">{{ translateString('REQUEST INFO', 'cec')}}</a>
                <a class="cta2-link" href="/courses/"style="--color:#091F40;">{{ translateString('VIEW COURSES', 'cec')}}</a>
            </div>
        </div>
        <div class="right">
            <img src="{{local_child_image('Cork-footer.png')}}" alt="" loading="lazy" height="553" width="784">
        </div>
    </div>
    </div>
</section>
{% endblock %}