{% extends "index.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/cec/static/blog.css" type="text/css" media="screen" />
<div class="blog blog-container">
	<div class="blog-wrapper">
		<div class="blog-title cs-index" style="--bg-img:url({{local_file('faded-checkmarks-white.png')}})">
			<div class="blog-title-inner container">
                <div class="top-title">
                    <span>{{ translateString('Resources', 'cec')}}</span>
                </div>
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="75" height="55" viewBox="0 0 75 55">
                        <defs>
                            <clipPath id="clip-path">
                            <rect id="Rectangle_1132" data-name="Rectangle 1132" width="75" height="55" transform="translate(-13 -7.498)" fill="#fff" stroke="#707070" stroke-width="1"/>
                            </clipPath>
                        </defs>
                        <g id="case-study-icon" transform="translate(13 7.498)" clip-path="url(#clip-path)">
                            <g id="g1549" transform="translate(26.84 9.279)">
                            <path id="Path_12633" data-name="Path 12633" d="M-401.108,190.991a.713.713,0,0,1-.5-.208.71.71,0,0,1-.187-.674l1.192-4.767a.705.705,0,0,1,.187-.33l19.661-19.661a3.241,3.241,0,0,1,4.579,0,3.241,3.241,0,0,1,0,4.579l-19.662,19.661a.709.709,0,0,1-.33.187l-4.766,1.192A.718.718,0,0,1-401.108,190.991Zm1.833-5.114-.857,3.427,3.427-.857,19.522-19.522a1.821,1.821,0,0,0,0-2.571,1.821,1.821,0,0,0-2.571,0Z" transform="translate(401.818 -164.403)" fill="#FFFFFF"/>
                            <path id="Path_12634" data-name="Path 12634" d="M-374.044,176.312a.708.708,0,0,1-.5-.208l-3.575-3.575a.709.709,0,0,1,0-1,.711.711,0,0,1,1,0l3.575,3.575a.711.711,0,0,1,0,1A.711.711,0,0,1-374.044,176.312Z" transform="translate(395.011 -166.407)" fill="#FFFFFF"/>
                            </g>
                            <g id="g1675">
                            <path id="Path_12635" data-name="Path 12635" d="M-394.445,191.341h-41.938a3.23,3.23,0,0,1-3.227-3.227v-33.55a3.23,3.23,0,0,1,3.227-3.227h41.938a3.23,3.23,0,0,1,3.227,3.227v8.225a.71.71,0,0,1-.71.71.71.71,0,0,1-.71-.71v-8.225a1.808,1.808,0,0,0-1.806-1.806h-41.938a1.808,1.808,0,0,0-1.806,1.806v33.55a1.808,1.808,0,0,0,1.806,1.806h41.938a1.808,1.808,0,0,0,1.806-1.806V169.939a.71.71,0,0,1,.71-.71.71.71,0,0,1,.71.71v18.176A3.23,3.23,0,0,1-394.445,191.341Z" transform="translate(439.609 -151.338)" fill="#FFFFFF"/>
                            <path id="Path_12636" data-name="Path 12636" d="M-407.543,201.178h-4.194a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h4.194a.71.71,0,0,1,.71.71A.71.71,0,0,1-407.543,201.178Z" transform="translate(431.738 -165.369)" fill="#FFFFFF"/>
                            <path id="Path_12637" data-name="Path 12637" d="M-432.5,157.482h-1.678a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h1.678a.71.71,0,0,1,.71.71A.71.71,0,0,1-432.5,157.482Z" transform="translate(438.24 -152.707)" fill="#FFFFFF"/>
                            <path id="Path_12638" data-name="Path 12638" d="M-425.412,157.482h-1.677a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h1.677a.71.71,0,0,1,.71.71A.71.71,0,0,1-425.412,157.482Z" transform="translate(436.187 -152.707)" fill="#FFFFFF"/>
                            <path id="Path_12639" data-name="Path 12639" d="M-418.326,157.482H-420a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h1.677a.71.71,0,0,1,.71.71A.71.71,0,0,1-418.326,157.482Z" transform="translate(434.133 -152.707)" fill="#FFFFFF"/>
                            <path id="Path_12640" data-name="Path 12640" d="M-391.929,162.206H-438.9a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h46.97a.71.71,0,0,1,.71.71A.71.71,0,0,1-391.929,162.206Z" transform="translate(439.609 -154.076)" fill="#FFFFFF"/>
                            <path id="Path_12641" data-name="Path 12641" d="M-418.89,183.208h-10.064a2.39,2.39,0,0,1-2.388-2.388V169.079a2.39,2.39,0,0,1,2.388-2.388h10.064a2.39,2.39,0,0,1,2.388,2.388v1.678a.71.71,0,0,1-.71.71.71.71,0,0,1-.71-.71v-1.678a.968.968,0,0,0-.967-.967h-10.064a.968.968,0,0,0-.967.967v11.742a.968.968,0,0,0,.967.967h10.064a.968.968,0,0,0,.967-.967v-6.709a.71.71,0,0,1,.71-.71.71.71,0,0,1,.71.71v6.709A2.39,2.39,0,0,1-418.89,183.208Z" transform="translate(437.213 -155.787)" fill="#FFFFFF"/>
                            <path id="Path_12642" data-name="Path 12642" d="M-400.8,170.473h-5.033a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h5.033a.71.71,0,0,1,.71.71A.71.71,0,0,1-400.8,170.473Z" transform="translate(430.027 -156.472)" fill="#FFFFFF"/>
                            <path id="Path_12643" data-name="Path 12643" d="M-394.928,177.559h-10.9a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h10.9a.71.71,0,0,1,.71.71A.71.71,0,0,1-394.928,177.559Z" transform="translate(430.027 -158.525)" fill="#FFFFFF"/>
                            <path id="Path_12644" data-name="Path 12644" d="M-399.96,185.825h-5.871a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h5.871a.71.71,0,0,1,.71.71A.71.71,0,0,1-399.96,185.825Z" transform="translate(430.027 -160.92)" fill="#FFFFFF"/>
                            <path id="Path_12645" data-name="Path 12645" d="M-420.567,201.178h-10.065a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h10.065a.71.71,0,0,1,.71.71A.71.71,0,0,1-420.567,201.178Z" transform="translate(437.213 -165.369)" fill="#FFFFFF"/>
                            <path id="Path_12646" data-name="Path 12646" d="M-427.277,195.274h-3.354a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h3.354a.71.71,0,0,1,.71.71A.71.71,0,0,1-427.277,195.274Z" transform="translate(437.213 -163.658)" fill="#FFFFFF"/>
                            <path id="Path_12647" data-name="Path 12647" d="M-412.8,195.274h-8.388a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h8.388a.71.71,0,0,1,.71.71A.71.71,0,0,1-412.8,195.274Z" transform="translate(434.476 -163.658)" fill="#FFFFFF"/>
                            <path id="Path_12648" data-name="Path 12648" d="M-386.473,170.473h-7.549a.71.71,0,0,1-.71-.71.71.71,0,0,1,.71-.71h7.549a.71.71,0,0,1,.71.71A.71.71,0,0,1-386.473,170.473Z" transform="translate(426.604 -156.472)" fill="#FFFFFF"/>
                            </g>
                        </g>
                    </svg>
                    <h1 style="color:white">{{ translateString('Case Studies', 'cec')}}</h1>
                </div>
			</div>
		</div>
		<div class="blog-posts-wrapper container">
			<div id="filter-container" class="all">
                <div class="related-subtitle hide-m">
                    <h4>{{ translateString('Featured Case Study', 'cec')}}</h4>
                </div>
                <ul class="rl related-list row">
                {% for i in 0..1 %}
                    {% for post in posts %}
                        <li class="related-item">{% include ['archive-cs.twig'] %}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
			</div>
		</div>
	</div>
</div>
<div class="ct2">
	<div class="ct2-inner row container">
		<div class="top">
			<div class="ct2-content">
                <h2 style="color:white">{{ translateString('Get CustomerMinds and Which50 resource updates straight to your inbox', 'cec')}}</h2>
			</div>
		</div>
		<div class="bot">
</div>
	</div>
</div>
{% endblock %}