<ul class="rl breadcrumbs">
    <li class="po-r">
        <a class="page-link" href="/">{{translateString('Homepage', 'cec')}}</a>
    </li>
    {% if post.type =="course" %}
    {% set categories = _get_course_categories(post.id) %}
        {% for category in categories %}
        <li class="po-r">
            <a class="page-link" href="{{ fn('get_term_link', category, 'course-category' )}}">{{category.name}}</a>
        </li>
        {% endfor %}
    {% endif %}
    <li class="po-r">
        <span class="this-page page-link">{{post.title}}</span>
    </li>
</ul>