<a href="{{fn('get_term_link',item)}}" class="card">
	<div class="card-image">
		{{imageElement(get_term_field('category_image', item))}}
	</div>
	<div class="card-title">
		<h6>{{item.name}}</h6>
	</div>
	<div class="card-body">
		<h6>{{item.description}}</h6>
	</div>
	<div class="card-footer">
		<span href="{{item.link}}">{{translateString('View Courses', 'cec')}}</span>
	</div>
</a>