<a href="{{post.link}}" class="card">
	<div class="card-image">
		<img src="https://aonndpeydo.cloudimg.io/v7/{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}" loading="lazy" height="400" width="440">
	</div>
	<div class="card-title">
		<h6>{{item.name}}</h6>
	</div>
	<div class="card-body">
		<div class="card-item">
			<img src="{{local_child_image('lessons.svg')}}">
			<label>20 Lessons per week</label>
		</div>
		<div class="card-item">
			<img src="{{local_child_image('certificate.svg')}}">
			<label>Certificate at end of Course</label>
		</div>
		<div class="card-item">
			<img src="{{local_child_image('activity.svg')}}">
			<label>Afternoon Social and Cultural Programme</label>
		</div>
	</div>
	<div class="card-footer">
		<span href="{{item.link}}">View Course</span>
	</div>
</a>