{% set usp = fn('get_field', 'usp', item) %}
<a href="{{item.link}}" class="card">
	<div class="card-image">
		<img src="https://aonndpeydo.cloudimg.io/v7/{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}" loading="lazy" height="400" width="440">
	</div>
	<div class="card-title">
		<h6>{{item.name}}</h6>
	</div>
	<div class="card-body">
		{% for usp in usp %}
		<div class="card-item">
			<img src="/wp-content/themes/cec/images/course-icons/{{usp.icon}}">
			<label>{{usp.text}}</span>
		</div>
		{% endfor %}
	</div>
	<div class="card-footer">
		<span href="{{item.link}}">{{translateString('View Course', 'cec')}}</span>
	</div>
</a>