<div class="dropdown hide-m">
    <ul class="rl menu-list">
        {% for child in item.children %}
            <li class="dropdown-item">
             <a class="dropdown-link" href="{{child.link}}" target="{{child.target}}">{{child.title}}</a>
            </li>
        {% endfor %}
    </ul>
</div>