{% extends "tease.twig" %}

{% block content %}
<div class="post-container">
	<div class="post-info">
		<div class="post-content-wrapper">
            <div class="post-content">
                <span class="date">{{item_data.expiry_date}}</span>
                <h4>{{item.title}}</h4>
                {{item_data.content}}
                {% if item_data.link.title %}
                    <a href="{{item_data.link.url}}" target="{{item_data.link.target}}" class="btn btn-primary" data-title="{{item_data.link.title}}">{{item_data.link.title}}</a>
                {% endif %}
            </div>
            <div class="post-image hide-m">
                <img src="{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}"/>
            </div>
		</div>
	</div>
</div>
{% endblock %}