<div class="header-top hide-m">
    <div class="header-top-container d-flex">
    {% include "menu-top.twig" with {'items': header_secondary_menu.get_items} %}
    </div>
</div>
<div class="header-wrapper">
    <div class="header-container">
        <div class="menu-logo">
            <div class="header-logo d-flex">
                <a class="header-logo-link" href="/" title="Home">
                    {{ imageElement(primary_logo, false, false) }}
                </a>
                <div class="header-toggler">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="31.406" viewBox="0 0 39 31.406">
                        <g id="Group_2999" data-name="Group 2999" transform="translate(-374 -19.297)">
                            <rect id="Rectangle_284" data-name="Rectangle 284" width="39" height="5" transform="translate(374 19.297)" fill="#fff"/>
                            <rect id="Rectangle_285" data-name="Rectangle 285" width="39" height="5" transform="translate(374 32.5)" fill="#fff"/>
                            <rect id="Rectangle_286" data-name="Rectangle 286" width="27" height="5" transform="translate(386 45.703)" fill="#fff"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="menu-container">{% include "menu.twig" with {'items': header_primary_menu.get_items} %}</div>
            <div class="cta-container hide-m">
                <a href="#" class="btn btn-green btn-simp" data-title="Test Your English">{{translateString('Test Your English', 'cec')}}</a>
                <a href="#" class="btn btn-primary btn-simp" data-title="Book Now">{{translateString('Book Now', 'cec')}}</a>
            </div>
        </div>
    </div>
</div>
<script>

function resetMenu() {
    document.querySelectorAll('.mmm-item.sub').forEach(function(el) {
        el.classList.remove('open');
    });
}
 var menuLinks = document.querySelectorAll('.menu-link');
 [...menuLinks].forEach((link) => {
    let path = link.href.replace(document.location.origin, '');
    if(path == document.location.pathname) {
        link.parentNode.classList.toggle('active');
    }
 });
</script>

