<div class="search-modal" id="search-modal">
    <div class="inner">
        <form action="/" method="get" class="search-form d-flex">
            <div class="wrapper">
                <input type="text" name="s" id="search" value="" placeholder="{{translateString('Search', 'cec')}}" class="search">
            </div>
        </form>
    </div>
</div>
<div class="header-top hide-m">
    <div class="header-top-container d-flex">
    {% include "menu-top.twig" with {'items': header_secondary_menu.get_items} %}
    </div>
</div>
<div class="header-wrapper">
    <div class="header-container">
        <div class="menu-logo">
            <div class="header-logo d-flex">
                <a class="header-logo-link" href="/" title="Home">
                    {{ imageElement(primary_logo, false, false) }}
                </a>
                <div class="d-flex lang-menu">
                <div class="header-searc hide-d">
                    <div>{{fn('do_action', 'wpml_add_language_selector')}}</div>
                </div>
                <div class="header-toggler" onclick="toggleMenu(this);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="31.406" viewBox="0 0 39 31.406">
                        <g id="Group_2999" data-name="Group 2999" transform="translate(-374 -19.297)">
                            <rect id="Rectangle_284" data-name="Rectangle 284" width="39" height="5" transform="translate(374 19.297)" fill="#fff"/>
                            <rect id="Rectangle_285" data-name="Rectangle 285" width="39" height="5" transform="translate(374 32.5)" fill="#fff"/>
                            <rect id="Rectangle_286" data-name="Rectangle 286" width="27" height="5" transform="translate(386 45.703)" fill="#fff"/>
                        </g>
                    </svg>
                </div>
                </div>
            </div>
            <div class="menu-container">{% include "menu.twig" with {'items': header_primary_menu.get_items} %}</div>
            <div class="cta-container hide-m">
                <a href="/test-your-english/" class="btn btn-green btn-simp" data-title="{{translateString('Test Your English', 'cec')}}">{{translateString('Test Your English', 'cec')}}</a>
                <a href="/book-now/" class="btn btn-primary btn-simp" data-title="{{translateString('Book Now', 'cec')}}">{{translateString('Book Now', 'cec')}}</a>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById('search-modal').addEventListener('click',function(e) {
    if(e.srcElement.classList.contains('visible')){
        e.srcElement.classList.toggle('visible')
    }
});
function toggleSearch() {
    document.getElementById('search-modal').classList.toggle('visible');
    document.getElementById('search').focus();
}
function toggleSearchMobile() {
    document.getElementsByTagName("html")[0].classList.remove('menu-open');
    document.getElementById('search-modal').classList.toggle('visible');
    document.getElementById('search').focus();
}
function toggleMenu(e) {
    document.getElementById('search-modal').classList.remove('visible');
    document.getElementsByTagName("html")[0].classList.toggle('menu-open');
}
</script>

