{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/cec/static/blog.css" type="text/css" media="screen" />
<div class="blog blog-container">
    <div class="blog-hero" style="--bg-img:url('{{local_child_image('news-bg.png')}}');--img:url('{{local_child_image('news-hero.png')}}');">
        <div class="inner container">
            {% include "breadcrumbs.twig" %}
            <h1>{{translateString('News', 'cec')}}</h1>
            <p>{{translateString('Check out the latest news from CEC', 'cec')}}</p>
        </div>
        <img class="hide-d" src="{{local_child_image('news-hero.png')}}" alt="background image"/>
    </div>
	<div class="blog-posts">
		<div class="inner container">
            <ul class="rl post-list">
                {% for item in posts %}
                    <li class="post-item">{% include ['post-tease.twig'] %}</li>
                {% endfor %}
            </ul>
		</div>
	</div>
</div>
<section class="cta2">
    <div class="container">
    <div class="cta2-wrapper">
        <div class="left">
            <h2>{{translateString('IMAGINE YOUR FUTURE', 'cec')}}</h2>
            <div class="cta2-links">
                <a class="cta2-link" href="/contact-us/"style="--color:#8DC63F;">{{translateString('REQUEST INFO', 'cec')}}</a>
                <a class="cta2-link" href="/book-now/"style="--color:#BE1E2D;">{{translateString('REQUEST INFO', 'cec')}}</a>
                <a class="cta2-link" href="/courses/"style="--color:#091F40;">{{translateString('VIEW COURSES', 'cec')}}</a>
            </div>
        </div>
        <div class="right">
            <img src="{{local_child_image('Cork-footer.png')}}" alt="" loading="lazy" height="553" width="784">
        </div>
    </div>
    </div>
</section>
{% endblock %}