<div class="mm-holder">
    <div class="md-wrapper container">
        <ul class="md rl">
        {% for child in item.children %}
            <li class="md-item">
                <div class="md-item-holder">
                    <div class="md-item-title">
                        <a class="md-link" href="{{ child.link }}" target="{{child.target}}" data-text="{{child.title}}">{{child.title}}</a>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>