<ul class="rl footer-menu-list">
{% for item in items %}
    <li class="footer-menu-item {% if item.children %}sub{% endif %}" onclick="this.classList.toggle('open');">
        <div class="footer-menu-item-holder {% if item.children %}sub{% endif %}">
            <span class="footer-menu-link">{{item.title}}</span>
        </div>
    {% if item.children %}
        <div class="footer-submenu">
            <div class="footer-submenu-list">
            {% for child in item.children %}
                <div class="footer-submenu-item">
                    <div class="footer-submenu-title">
                        <a class="footer-submenu-link" href="{{ child.link }}" target="{{child.target}}" data-text="{{child.title}}">{{child.title}}</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    </li>
{% endfor %}
</ul>