
<ul class="rl menu-list">
{% for item in items %}
{% set item_data = fn('get_field', 'menu_item_data', item) %}
    <li class="menu-item {% if item.children %}sub{% endif %} {% if not item_data.megamenu %}po-r{% endif %}">
        <div class="menu-item-holder">
            <a class="menu-link" href="{{item.link}}" target="{{item.target}}" data-text="{{item.title}}">{{item.title}}</a>
            <div class="chevron" onclick="toggleMMenu(this);">
                <span></span>
            </div>
        </div>
    {% if item.children %}
        {% if item_data.megamenu %}
        <div class="submenu">
            <div class="mm-wrapper">
                <ul class="rl submenu-list">
                    <li class="submenu-item menu-item return">
                        <div class="menu-item-holder">
                            <span class="menu-link" data-text="{{child.title}}">{{item.title}}</span>
                            <div class="chevron" onclick="toggleMMenu(this.parentNode.parentNode.parentNode.parentNode);">
                                <span></span>
                            </div>
                        </div>
                    </li>
                {% for child in item.children %}
                {% set child_data = fn('get_field', 'menu_item_data', child) %}
                    <li class="submenu-item menu-item {% if child.children %}sub{% endif %} {% if loop.first %}active{% endif %}" data-item="{{loop.index}}" style="--color:{{child_data.color}};" onmouseenter="onMegaMouseEnter(1,1, this)";>
                        <div class="menu-item-holder">
                            <a class="menu-link" href="{{child.link}}" target="{{child.target}}" data-text="{{child.title}}">{{child.title}}</a>
                            <div class="chevron" onclick="toggleMMenu(this);">
                                <span></span>
                            </div>
                        </div>
                    {% if child.children %}
                    <div class="subsubmenu">
                        <ul class="rl subsubmenu-list">
                        {% for i in 1..1 %}
                        {% for grandchild in child.children %}
                            {% if loop.first %}
                            <li class="subsubmenu-item menu-item return">
                                <div class="menu-item-holder">
                                    <a class="menu-link" href="{{child.link}}" target="{{child.target}}" data-text="{{child.title}}">{{child.title}}</a>
                                    <div class="chevron" onclick="toggleMMenu(this.parentNode.parentNode.parentNode);">
                                        <span></span>
                                    </div>
                                </div>
                            </li>
                            <li class="subsubmenu-item menu-item all-link">
                                <div class="menu-item-holder">
                                    <a class="menu-link" href="{{child.link}}" target="{{child.target}}" data-text="All {{child.title}}" style="--color:{{child_data.color}};">All {{child.title}}</a>
                                </div>
                            </li>
                            {% endif %}
                            <li class="subsubmenu-item menu-item {% if item.children %}sub{% endif %}">
                                <div class="menu-item-holder">
                                    <a class="menu-link" href="{{grandchild.link}}" target="{{grandchild.target}}" data-text="{{grandchild.title}}">{{grandchild.title}}</a>
                                </div>
                            {% if grandchild.children %}
                                <ul class="rl final-menu">
                                {% for greatgrandchild in grandchild.children %}
                                    <li>
                                        <a href="{{greatgrandchild.link}}" target="{{greatgrandchild.target}}">{{greatgrandchild.title}}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            </li>
                        {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
                <div class="mm-container hide-m">
                {% for child in item.children %} 
                {% set child_data = fn('get_field', 'menu_item_data', child) %}
                    <div class="mm-data mm-{{loop.index}} {% if loop.first %}active{% endif %}">
                    <a class="all-courses-link" href="{{child.link}}" target="{{child.target}}" style="--color:{{child_data.color}};">All {{child.title}}</a>
                    <div class="mega-menu category-menu container">
                        <div class="wrapper">
                            <ul class="rl main-list">
                            {% for grandchild in child.children %}
                            <li class="primary">
                                <div class="item-header" style="--color:{{child_data.color}};">
                                    <a class="primary-link" href="{{grandchild.link}}" target="{{grandchild.target}}" data-text="{{grandchild.title}}">{{grandchild.title}}</a>
                                    <div class="item-chevron" onclick="toggleTab(this.parentNode.parentNode);"><span class="chevron"></span></div>
                                </div>
                            {% if grandchild.children %}
                                <ul class="rl sub">
                                {% for greatgrandchild in grandchild.children %}
                                <li class="secondary">
                                    <a class="secondary-link" href="{{greatgrandchild.link}}" target="{{greatgrandchild.target}}" data-text="{{greatgrandchild.title}}">{{greatgrandchild.title}}</a>
                                </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="submenu hide-d">
            <div class="mm-wrapper">
                <ul class="rl submenu-list">
                    <li class="submenu-item menu-item return">
                        <div class="menu-item-holder">
                            <span class="menu-link" data-text="{{child.title}}">{{item.title}}</span>
                            <div class="chevron" onclick="toggleMMenu(this.parentNode.parentNode.parentNode.parentNode);">
                                <span></span>
                            </div>
                        </div>
                    </li>
                {% for child in item.children %}
                {% set child_data = fn('get_field', 'menu_item_data', child) %}
                    <li class="submenu-item menu-item {% if child.children %}sub{% endif %} {% if loop.first %}active{% endif %}" data-item="{{loop.index}}" style="--color:{{child_data.color}};" onmouseenter="onMegaMouseEnter(1,1, this)";>
                        <div class="menu-item-holder">
                            <a class="menu-link" href="{{child.link}}" target="{{child.target}}" data-text="{{child.title}}">{{child.title}}</a>
                        </div>
                    </li>
                {% endfor %}
                </ul>
                <div class="mm-container hide-m">
                {% for child in item.children %} 
                {% set child_data = fn('get_field', 'menu_item_data', child) %}
                    <div class="mm-data mm-{{loop.index}} {% if loop.first %}active{% endif %}">
                    <a class="all-courses-link" href="{{child.link}}" target="{{child.target}}" style="--color:{{child_data.color}};">All {{child.title}}</a>
                    <div class="ccs category-menu container">
                        <div class="wrapper">
                            <ul class="rl main-list">
                            {% for grandchild in child.children %}
                            <li class="primary">
                                <div class="item-header">
                                    <a class="primary-link" href="{{grandchild.link}}" target="{{grandchild.target}}" data-text="{{grandchild.title}}">{{grandchild.title}}</a>
                                    <div class="item-chevron" onclick="toggleTab(this.parentNode.parentNode);"><span class="chevron"></span></div>
                                </div>
                            {% if grandchild.children %}
                                <ul class="rl sub">
                                {% for greatgrandchild in grandchild.children %}
                                <li class="secondary">
                                    <a class="secondary-link" href="{{greatgrandchild.link}}" target="{{greatgrandchild.target}}" data-text="{{greatgrandchild.title}}">{{greatgrandchild.title}}</a>
                                </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% include "dropdown.twig" %}
        {% endif %}
    {% endif %}
    </li>
{% endfor %}
</ul>
<div class="cta-container hide-d">
    <a href="/test-your-english/" class="btn btn-green btn-simp" data-title="{{translateString('Test Your English', 'cec')}}">{{translateString('Test Your English', 'cec')}}</a>
    <a href="/book-now/" class="btn btn-blue btn-simp" data-title="{{translateString('Book Now', 'cec')}}">{{translateString('Book Now', 'cec')}}</a>
</div>
<div class="bottom-menu hide-d">
    <ul class="rl bottom-menu-listd-flex">
        <li><a href="javascript:void(0)" onclick="toggleSearchMobile();">{{translateString('Search', 'cec')}}</a></li>
    {% for item in header_secondary_menu.get_items %}
        <li><a href="{{item.link}}" target="{{item.target}}">{{item.title}}</a></li>
    {% endfor %}
    </ul>
</div>

<script>
function toggleMMenu(e) {
    e.parentNode.parentNode.classList.toggle('open');
}

function toggleMMMenu(e) {
    if(e.parentNode.parentNode.parentNode.classList.contains('open')) {
        document.querySelectorAll('.mmm-item.sub').forEach(function(el) {el.classList.remove('open');});
    } else {
        document.querySelectorAll('.mmm-item.sub').forEach(function(el) {el.classList.remove('open');});
        e.parentNode.parentNode.parentNode.classList.toggle('open');
    }
}
</script>

<script>
function onMegaMouseEnter(parent, item, el) {
    document.querySelectorAll('.mm-data').forEach(function(i) {
		i.classList.remove('active');
	})
    document.querySelectorAll('.submenu-item.menu-item').forEach(function(i) {
		i.classList.remove('active');
	})
    el.classList.toggle('active');
    document.querySelector('.mm-' + el.dataset.item).classList.toggle('active');
}

function onMegaEnter(parent, item, el) {
	document.querySelectorAll('.megamenu-item-' + parent).forEach(function(i) {
		i.classList.remove('active');
	})
	document.querySelectorAll('.megamenu-content-item-' + parent).forEach(function(i) {
		i.classList.remove('visible');
	})
	el.classList.toggle('active');
	document.getElementById('menu-content-' + parent + '-' + item).classList.toggle('visible');
}
</script>