{% set socials = fn('get_field','social_links', 'option') %}
<div class="header-lang">
    <div class="hide-mobile">{{fn('do_action', 'wpml_add_language_selector')}}</div>
</div>
<ul class="rl menu-list hide-m">
    {% for item in items %}
    <li class="menu-item {% if item.children %}sub{% endif %}">
        <div class="header-top-item-holder">
            <a class="header-top-link" href="{{item.link}}" target="{{item.target}}" data-text="{{item.title}}">{{item.title}}</a>
        </div>
        {% if item.children %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
<div class="search-toggler" onclick="toggleSearch();">
    <span>{{translateString('Search', 'cec')}}</span>
</div>
<div class="header-top-social">
    <ul class="rl d-flex">
            {% if socials.facebook.header %}
        <li>
            <a class="header-top-social-link" href="{{socials.facebook.url}}" target="_blank">
                <icon class="fb"></icon>
            </a>
        </li>
            {% endif %}
            {% if socials.instagram.header %}
        <li>
            <a class="header-top-social-link" href="{{socials.instagram.url}}" target="_blank">
                <icon class="ig">
                    <span class="path-1"></span><span class="path-2"></span><span class="path-3"></span><span class="path-4"></span>
                </icon>
            </a>
        </li>
            {% endif %}
            {% if socials.twitter.header %}
        <li>
            <a class="header-top-social-link" href="{{socials.twitter.url}}" target="_blank">
                <icon class="tw">
                    <span class="path-1"></span><span class="path-2"></span>
                </icon>
            </a>
        </li>
            {% endif %}
            {% if socials.tiktok.header %}
        <li>
            <a class="header-top-social-link" href="{{socials.tiktok.url}}" target="_blank">
                <icon class="tt">
                    <span class="path-1"></span><span class="path-2"></span>
                </icon>
            </a>
        </li>
            {% endif %}
            {% if socials.linkedin.header %}
        <li>
            <a class="header-top-social-link" href="{{socials.linkedin.url}}" target="_blank">
                <icon class="li">
                    <span class="path-1"></span><span class="path-2"></span>
                </icon>
            </a>
        </li>
            {% endif %}
    </ul>
</div>
