{% extends "tease.twig" %}

{% block content %}
<a href="{{item.link}}" class="post-container">
	<div class="post-info">
		<div class="post-content-wrapper">
            <div class="post-content">
                <span class="date">{{ item.date('j F Y') }}</span>
                <h4>{{item.title}}</h4>
                <p class="preview">{{ item.preview.read_more('') }}</p>
            </div>
            <div class="post-image hide-m">
                <img src="{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}"/>
            </div>
		</div>
	</div>
</a>
{% endblock %}