{% extends "tease.twig" %}

{% block content %}
<a href="{{item.link}}" class="related-container">
	<div class="related-image cp">
		<img loading="lazy" src="{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}" />
		{% if fields.post_type == "post" %}
		<label>{{ post.date('j F Y') }}</label>
		{% else %}
		<label>{{fn('get_field', 'case_study_category', item.id)}}</label>
		{% endif %}
	</div>
	<div class="related-info">
		<div class="related-content">
			<h4>{{item.title}}</h4>
		</div>
	</div>
	<div class="related-read">
		<div class="read-more d-f ai-c cp">
			<span>{{translateString('Read Now', 'cec')}}</span>
			<img src="/wp-content/themes/cec/blocks/service-cards-one/chevron.svg" alt="chevron">
		</div>
	</div>
</a>
{% endblock %}