{% extends "tease.twig" %}

{% block content %}
<a href="{{item.link}}" class="post-container">
	<div class="post-info">
		<div class="post-content-wrapper">
            <div class="post-content">
                <h4><span class="label">{{ item.type }} / </span>{{item.title}}</h4>
            </div>
		</div>
	</div>
</a>
{% endblock %}