{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/cec/static/blog.css" type="text/css" media="screen" />
<div class="blog blog-container search">
    <div class="blog-hero" style="--bg-img:url('{{local_child_image('news-bg.png')}}');--img:url('{{local_child_image('search-results.jpg')}}');">
        <div class="inner container">
            <ul class="rl breadcrumbs">
                <li class="po-r">
                    <a class="page-link" href="/">{{translateString('Homepage', 'cec')}}</a>
                </li>
                <li class="po-r">
                    <span class="this-page page-link">{{translateString('Search Results', 'cec')}}</span>
                </li>
            </ul>
            <h1>{{translateString('Search Results' ,'cec')}}</h1>
        </div>
        <img class="hide-d" src="{{local_child_image('search-results.jpg')}}" alt="background image"/>
    </div>
	<div class="blog-posts">
		<div class="inner container {% if post_count < 1 %}no-padding{% endif %}">
            <ul class="rl post-list">
                {% if post_count > 0 %}
                {% for item in posts %}
                    <li class="post-item">{% include ['search-tease.twig'] %}</li>
                {% endfor %}
                {% else %}
                <div class="no-posts">
                    <span><h2>{{translateString('No Results Found', 'cec')}}</h2></span>
                </div>
                {% endif %}
            </ul>
		</div>
	</div>
</div>
<section class="cta2">
    <div class="container">
    <div class="cta2-wrapper">
        <div class="left">
            <h2>{{translateString('IMAGINE YOUR FUTURE', 'cec')}}</h2>
            <div class="cta2-links">
                <a class="cta2-link" href="/contact-us/"style="--color:#8DC63F;">{{translateString('REQUEST INFO', 'cec')}}</a>
                <a class="cta2-link" href="/book-now/"style="--color:#BE1E2D;">{{translateString('REQUEST INFO', 'cec')}}</a>
                <a class="cta2-link" href="/courses/"style="--color:#091F40;">{{translateString('VIEW COURSES', 'cec')}}</a>
            </div>
        </div>
        <div class="right">
            <img src="{{local_child_image('Cork-footer.png')}}" alt="" loading="lazy" height="553" width="784">
        </div>
    </div>
    </div>
</section>
{% endblock %}