{% for item in subcategories %}
<li class="select_option">
    <input class="select_input subcat-option" onclick="processSubcatClick(this)" data-cat="{{item.term_id}}" data-url="{{fn('get_term_link',item)}}" type="radio" name="cf-subcat" id="sub-{{item.slug}}"/>
    <label class="select_label" for="sub-{{item.slug}}">{% if item.course_finder_label %}{{item.course_finder_label}}{% else %}{{item.name}}{% endif %}</label>
</li>
{% endfor %}


