{% extends "base.twig" %}

{% block content %}
{% set blog_options = fn('get_field','activity_archive_data', 'option') %}
<link rel="stylesheet" href="/wp-content/themes/cec/static/blog.css" type="text/css" media="screen" />
<div class="blog blog-container single-activity">
    <div class="blog-hero" style="--bg-img:url('{{cdnThis(blog_options.background_image.url)}}');">
        <div class="inner container">
			<ul class="rl breadcrumbs">
				<li class="po-r">
					<a class="page-link" href="/">{{translateString('Homepage' ,'cec')}}</a>
				</li>
				<li class="po-r">
					<a class="page-link" href="/news/">{{translateString('Blog' ,'cec')}}</a>
				</li>
				<li class="po-r">
					<span class="this-page page-link">{{post.title}}</span>
				</li>
			</ul>
        </div>
    </div>
	<div class="blog-posts-side container">
		<div class="blog-posts">
			<div class="inner container">
				<div class="image">
					<img src="{{post.thumbnail.src}}" alt="{{fields.image.alt}}"/>
				</div>
				<div class="activity-content post-body">
				<span class="date">{{ post.date('j F Y') }}</span>
				<h1>{{ post.title }}</h1>
				{{post.content}}
				</div>
				<div class="activity-details">
					<ul class="rl">
					{% if post.meta('what') %}
						<li class="what">
							<div class="left">
								{{translateString('What?', 'cec')}}
							</div>
							<div class="right">
								{{post.meta('what')}}
							</div>
						</li>
					{% endif %}
					{% if post.meta('when') %}
						<li class="when">
							<div class="left">
								{{translateString('When?', 'cec')}}
							</div>
							<div class="right">
								{{post.meta('when')}}
							</div>
						</li>
					{% endif %}
					{% if post.meta('where') %}
						<li class="where">
							<div class="left">
								{{translateString('Where?', 'cec')}}
							</div>
							<div class="right">
								{{post.meta('where')}}
							</div>
						</li>
					{% endif %}
					{% if post.meta('how_much') %}
						<li class="price">
							<div class="left">
								{{translateString('How much?', 'cec')}}
							</div>
							<div class="right">
								{{post.meta('how_much')}}
							</div>
						</li>
					{% endif %}
					</ul>
				</div>
				<div class="activity-cta">
					{% if post.meta('link') %}
					{% set link = post.meta('link') %}
						<a href="{{link.url}}" target="{{link.target}}"class="btn btn-primary" data-title="{{link.title}}">{{link.title}}</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="blog-side">
			<div class="inner">
				<div class="blog-side-header">
					<h3>{{translateString('RECENT POSTS', 'cec')}}</h3>
				</div>
				<div class="blog-side-posts">
					<ul class="rl post-list">
						{% for item in activities %}
							<li class="post-item">{% include ['post-tease-slim.twig'] %}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="cta-five" style="--bg-img:url('/wp-content/themes/cec/images/news-cta.png')">
    <div class="container">
    <div class="cta-five-wrapper">
        <div class="left">
            <h2>{{translateString('READY TO TAKE YOUR NEXT STEP? GET IN TOUCH!', 'cec')}}</h2>
            <p>{{fields.content.content}}</p>
            <div class="cta-five-button">
                <a class="btn btn-blue" href="/contact-us/" data-title="Contact Us Now">{{translateString('Contact Us Now', 'cec')}}</a>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
