{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/cec/static/course.min.css" type="text/css" media="screen" />
<script src="/wp-content/themes/cec/static/sticky.js"></script>
<section class="course-page" style="--course:{{_get_course_color(post.id,'course-category')}};">
	<div class="course-header mobile">
		<div class="course-hero">
			<div class="course-title container">
			{% include "breadcrumbs.twig" %}
				<h1>{{ post.title }}</h1>
			</div>
			<div class="course-usp container">
				<ul class="rl">
					{% for usp in fields.usp %}
					<li>
						<img src="{{local_child_image(usp.icon)}}">
						<span class="usp">{{usp.text}}</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="course-body container">
		<div class="course-content">
			<div class="course-hero tablet">
				<div class="course-title container">
				{% include "breadcrumbs.twig" %}
					<h1>{{ post.title }}</h1>
				</div>
				<div class="course-usp container">
					<ul class="rl">
					{% for usp in fields.usp %}
					<li>
						<img src="{{local_child_image(usp.icon)}}">
						<span class="usp">{{usp.text}}</span>
					</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="course-content-wrapper">
				{{post.content}}
			</div>
		</div>
		<div class="course-side-wrapper">
			<div class="course-side-wrapper-inner">
				<div class="course-side">
					<div class="course-image">
						<img src="{{cdnThis(post.thumbnail.src)}}" alt="{{fields.image.alt}}"/>
					</div>
					<div class="course-details-body">
						<div class="course-details">
							<h3>{{translateString('COURSE DETAILS', 'cec')}}</h3>
							<ul class="rl">
								{% if fields.start_dates %}
								<li>
									<div class="left">
										<span>{{translateString('Start Dates:', 'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.start_dates}}</span>
									</div>
								</li>
								{% endif %}
								{% if fields.available_levels %}
								<li class="available-levels">
									<div class="left">
										<span>{{translateString('Available Levels:', 'cec')}}</span>
									</div>
									<div class="right">
										{% for item in fields.available_levels %}
											<div class="available-level">
												<span>{{item.value}}</span>
												<div class="available-level-tooltip"><span class="tooltip-inner">{{item.label}}</span></div>
											</div>
										{% endfor %}
									</div>
								</li>
								{% endif %}
								{% if fields.age %}
								<li>
									<div class="left">
										<span>{{translateString('Age Group:', 'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.age}}</span>
									</div>
								</li>
								{% endif %}
								{% if fields.hours_per_week %}
								<li>
									<div class="left">
										<span>{{translateString('Hours per week:' ,'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.hours_per_week}}</span>
									</div>
								</li>
								{% endif %}
								{% if fields.students_per_class %}
								<li>
									<div class="left">
										<span>{{translateString('Students per class:', 'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.students_per_class}}</span>
									</div>
								</li>
								{% endif %}
							{% for line_item in fields.course_details_lines %}
								<li>
									<div class="left">
										<span>{{line_item.label}}</span>
									</div>
									<div class="right">
										<span>{{line_item.value}}</span>
									</div>
								</li>
							{% endfor %}
							</ul>
						</div>
						<div class="course-details">
							<h3>{{translateString('FEES', 'cec')}}</h3>
							<ul class="rl">
							{% if fields.price_display %}
								<li>
									<div class="left">
										<span>{% if fields.price_display_label|length > 0 %}{{fields.price_display_label}}{% else %}{{translateString('Price', 'cec')}}{% endif %}</span>
									</div>
									<div class="right">
										<span>{{fields.price_display}}</span>
									</div>
								</li>
							{% endif %}
							{% for line_item in fields.line_items %}
								<li>
									<div class="left">
										<span>{{line_item.title}}</span>
									</div>
									<div class="right">
										<span>€{{line_item.price}}</span>
									</div>
								</li>
							{% endfor %}
							</ul>
						</div>
						<div class="course-details course-calculator">
							<h3>{{translateString('FEES CALCULATOR', 'cec')}}</h3>
							{% if fields.price_templates[0].type == "simple" %}
							<ul class="rl">
								<li>
									<div class="left">
										<span>{{translateString('Weeks:', 'cec')}}</span>
									</div>
									<div class="right">
										<div class="course-calculator-input">
											<div class="minus ball" onclick="reduceQty(document.querySelector('#simple-weeks'));"><span></span></div>
											<span><input type="number" id="simple-weeks" min="1" max="52" value="1"></span>
											<div class="plus ball" onclick="increaseQty(document.querySelector('#simple-weeks'));"><span></span></div>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<span>{{translateString('Total:', 'cec')}}</span>
									</div>
									<div class="right">
										<span class="simple-calculated-total"></span>
									</div>
								</li>
							</ul>
							{% endif %}
							{% if fields.price_templates[0].type == "flexible" %}
							<ul class="rl">
								<li>
									<div class="left">
										<span>{{translateString('Weeks:', 'cec')}}</span>
									</div>
									<div class="right">
										<div class="course-calculator-input">
											<div class="minus ball" onclick="reduceQty(document.querySelector('#flexible-weeks'));"><span></span></div>
											<span><input type="number" id="flexible-weeks" min="1" max="52" value="1"></span>
											<div class="plus ball" onclick="increaseQty(document.querySelector('#flexible-weeks'));"><span></span></div>
										</div>
									</div>
								</li>
								<li>
									<div class="left">
										<span>{{translateString('Total:', 'cec')}}</span>
									</div>
									<div class="right">
										<span class="flexible-calculated-total"></span>
									</div>
								</li>
							</ul>
							{% endif %}
							{% if fields.price_templates[0].type == "fixed" %}
							<ul class="rl">
								<li>
									<div class="left">
										<span>{{translateString('Duration:', 'cec')}}</span>
									</div>
									<div class="right">
										<select id="fixed-weeks">
										{% for item in fields.price_templates[0][fields.price_templates[0].type] %}
											<option value="{{item.duration}}">{{item.duration}} {{translateString('Weeks', 'cec')}}</option>
										{% endfor %}
										</select>
									</div>
								</li>
								<li>
									<div class="left">
										<span>{{translateString('Total:', 'cec')}}</span>
									</div>
									<div class="right">
										<span class="fixed-calculated-total"></span>
									</div>
								</li>
							</ul>
							{% endif %}
							{% if fields.price_templates[0].type == "one" %}
							<ul class="rl">
								<li>
									<div class="left">
										<span>{{translateString('Duration:', 'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.price_templates[0][fields.price_templates[0].type].duration}} {{translateString('Weeks', 'cec')}}</span>
									</div>
								</li>
								<li>
									<div class="left">
										<span>{{translateString('Total:', 'cec')}}</span>
									</div>
									<div class="right">
										<span class="onetime-calculated-total">{{fields.price_templates[0][fields.price_templates[0].type].price}}</span>
									</div>
								</li>
							</ul>
							{% endif %}
						</div>
						<div class="course-cta">
							<a href="/book-now/" class="btn btn-primary" data-title="{{translateString('Calculate Fees', 'cec')}}"></a>
							{% if fields.brochure %}
								<a href="{{fields.brochure}}" target="__blank" class="btn btn-primary" data-title="{{translateString('Brochure', 'cec')}}">{{translateString('Brochure', 'cec')}}</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="tf1">
    <div class="container">
        <div class="tf1-text">
            <div class="tf1-title">
                <h2>{{translateString('HEAR FROM SOME OF OUR STUDENTS', 'cec')}}</h2>
            </div>
            <div class="tf1-cards">
                <div class="tf1-list">
                    {% for item in testimonials %}
                        {% include ['testimonial-card.twig'] %}
                    {% endfor %}
                </div>
            </div>
            <div class="tf1-buttons">
                <a class="btn btn-blue" href="/student-testimonials/" data-title="View More Testimonials">{{translateString('View More Testimonials', 'cec')}}</a>
            </div>
        </div>
    </div>
</section>
<section class="video-cta" style="--bg-img:url('{{local_child_image('courses_landing_page_images.png')}}')">
    <div class="container">
        <div class="wrapper">
            <div class="title">
                <h2>{{translateString('WELCOME TO', 'cec')}} <br>{{translateString('CORK ENGLISH COLLEGE', 'cec')}}</h2>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NHvbi36F4hQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
	const formatter = new Intl.NumberFormat('en-IE', {
	style: 'currency',
	currency: 'EUR',
	});
	const line_items = {{fn('json_encode', fields.line_items)}};

	let line_items_total = 0;

	if(line_items) {
	line_items.forEach(function(line_item) {
		let holder
		if(line_item['include']) {
			line_items_total += parseInt(line_item['price']);
		}
	})
	}

	const pricing = "{{fields.price_templates[0].type}}";

	var price_templates = {{fn('json_encode', fields.price_templates[0][fields.price_templates[0].type])}};

    var sidebar = new StickySidebar('.course-side', {
        topSpacing: 20,
        bottomSpacing: 20
    });

	function calculateLineItems(weeks) {
		let total = 0;
		if(line_items) {
			line_items.forEach(function(line_item) {
				if(line_item['include']) {
					if(line_item['type'] == 'flat') {
						total += parseInt(line_item['price']);
					} else {
						total += parseInt(line_item['price']) * weeks;
					}
				}
			});
		}
		return total;
	}

	// One time price structure event listener
	if(document.querySelector('.onetime-calculated-total')) {
		let total = parseInt(price_templates.price) + parseInt(line_items_total);
		document.querySelector('.onetime-calculated-total').innerHTML = formatter.format(total);
	}

	// Flexible price structure event listener
	if(document.querySelector('#flexible-weeks')) {
		calculateFlexible();
		document.querySelector('#flexible-weeks').addEventListener('input', function(e) {
			let copied_price_templates = JSON.parse(JSON.stringify(price_templates));

			window.tmp = 0;

			copied_price_templates.forEach(function(price_template) {
				if( price_template.max < 1 && price_template.min <= e.srcElement.value ) {
					price_template.max = e.srcElement.value;
				}
			});

			copied_price_templates.forEach(function(price_template) {
				if( parseInt(price_template.max) > 0 ) {
					for (var i = parseInt(price_template.min); i <= parseInt(price_template.max); i++) {
						if(i <= e.srcElement.value) {
							tmp += parseInt(price_template.price);
							// console.log("week: " + i + " Price: " + price_template.price);
						}
					}
				} else {
					// console.log(price_template);
					for (var i = parseInt(price_template.min); i <= e.srcElement.value; i++) {
						// console.log(i);
						if(i <= e.srcElement.value) {
							tmp += parseInt(price_template.price);
							// console.log("week: " + i + " Price: " + price_template.price);
						}
					}
				}
			});

			let total = window.tmp + calculateLineItems(e.srcElement.value);

			console.log(window.tmp, calculateLineItems(e.srcElement.value), line_items_total, formatter.format(total));
			document.querySelector('.flexible-calculated-total').innerHTML = formatter.format(total);
		});
	}

	// Simple price structure event listener
	if(document.querySelector('#simple-weeks')) {
		calculateSimple();
		document.querySelector('#simple-weeks').addEventListener('input', function(e) {
			let total = (e.srcElement.value * price_templates.price) + calculateLineItems(e.srcElement.value);
			document.querySelector('.simple-calculated-total').innerHTML = formatter.format(total);
		});
	}

	// Fixed price structure event listener
	if(document.querySelector('#fixed-weeks')) {
		calculateFixed();
		document.querySelector('#fixed-weeks').addEventListener('input', function(e) {
			price_templates.forEach(function(price_template) {
				if(price_template.duration == e.srcElement.value ) {
					document.querySelector('.fixed-calculated-total').innerHTML = formatter.format(price_template.duration * price_template.price + calculateLineItems(e.srcElement.value));
				}
			});
		});
	}

	function calculateSimple() {
		let total = (document.querySelector('#simple-weeks').value * price_templates.price) + calculateLineItems(document.querySelector('#simple-weeks').value);

		document.querySelector('.simple-calculated-total').innerHTML = formatter.format(total);
	}

	function calculateFixed() {
		price_templates.forEach(function(price_template) {
			if(price_template.duration == document.querySelector('#fixed-weeks').value ) {
				document.querySelector('.fixed-calculated-total').innerHTML = formatter.format(price_template.duration * price_template.price + calculateLineItems(document.querySelector('#fixed-weeks').value));
			}
		});
	}

	function calculateFlexible() {
		let e = document.querySelector('#flexible-weeks');
		let copied_price_templates = JSON.parse(JSON.stringify(price_templates));

		window.tmp = 0;

		copied_price_templates.forEach(function(price_template) {
			if( price_template.max < 1 && price_template.min <= e.value ) {
				price_template.max = e.value;
			}
		});

		copied_price_templates.forEach(function(price_template) {
			if( parseInt(price_template.max) > 0 ) {
				for (var i = parseInt(price_template.min); i <= parseInt(price_template.max); i++) {
					if(i <= e.value) {
						tmp += parseInt(price_template.price);
						// console.log("week: " + i + " Price: " + price_template.price);
					}
				}
			} else {
				// console.log(price_template);
				for (var i = parseInt(price_template.min); i <= e.value; i++) {
					// console.log(i);
					if(i <= e.value) {
						tmp += parseInt(price_template.price);
						// console.log("week: " + i + " Price: " + price_template.price);
					}
				}
			}
		});

		let total = window.tmp + calculateLineItems(e.value);

		document.querySelector('.flexible-calculated-total').innerHTML = formatter.format(total);
	}

	function reduceQty(el) {
		if(el.value > 1) {
			el.value = el.value - 1;
		}
		el.dispatchEvent(new Event("input"));
	}

	function increaseQty(el) {
		if(el.value < parseInt(el.max)) {
			el.value = parseInt(el.value) + 1;
		}
		el.dispatchEvent(new Event("input"));
	};
</script>

{% endblock %}
