{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/cec/static/course.min.css" type="text/css" media="screen" />
<script src="/wp-content/themes/cec/static/sticky.js"></script>
<section class="course-page">
	<div class="course-header hide-d">
		<div class="course-hero">
			<div class="course-title container">
			{% include "breadcrumbs.twig" %}
				<h1>{{ post.title }}</h1>
			</div>
			<div class="course-usp container">
				<ul class="rl">
					{% for usp in post.meta('usp') %}
					<li>
						<img src="{{local_child_image(usp.icon)}}">
						<span class="usp">{{usp.text}}</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="course-body container">
		<div class="course-content">
			<div class="course-hero hide-m">
				<div class="course-title container">
				{% include "breadcrumbs.twig" %}
					<h1>{{ post.title }}</h1>
				</div>
				<div class="course-usp container">
					<ul class="rl">
					{% for usp in fields.usp %}
					<li>
						<img src="{{local_child_image(usp.icon)}}">
						<span class="usp">{{usp.text}}</span>
					</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="course-content-wrapper">
				{{post.content}}
			</div>
		</div>
		<div class="course-side-wrapper">
			<div class="course-side-wrapper-inner">
				<div class="course-side">
					<div class="course-image">
						<img src="{{cdnThis(post.thumbnail.src)}}" alt="{{fields.image.alt}}"/>
					</div>
					<div class="course-details-body">
						<div class="course-details">
							<h3>{{translateString('COURSE DETAILS', 'cec')}}</h3>
							<ul class="rl">
								{% if fields.start_dates %}
								<li>
									<div class="left">
										<span>{{translateString('Start Dates:', 'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.start_dates}}</span>
									</div>
								</li>
								{% endif %}
								{% if fields.available_levels %}
								<li class="available-levels">
									<div class="left">
										<span>{{translateString('Available Levels:', 'cec')}}</span>
									</div>
									<div class="right">
										{% for item in fields.available_levels %}
											<div class="available-level"><span>{{item}}</span></div>
										{% endfor %}
									</div>
								</li>
								{% endif %}
								{% if fields.age %}
								<li>
									<div class="left">
										<span>{{translateString('Age Group:', 'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.age}}</span>
									</div>
								</li>
								{% endif %}
								{% if fields.hours_per_week %}
								<li>
									<div class="left">
										<span>{{translateString('Hours per week:' ,'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.hours_per_week}}</span>
									</div>
								</li>
								{% endif %}
								{% if fields.students_per_class %}
								<li>
									<div class="left">
										<span>{{translateString('Students per class:', 'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.students_per_class}}</span>
									</div>
								</li>
								{% endif %}
							</ul>
						</div>
						<div class="course-details">
							<h3>{{translateString('FEES', 'cec')}}</h3>
							<ul class="rl">
								{% if fields.registration_fee %}
								<li>
									<div class="left">
										<span>{{translateString('Registration Fee:', 'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.registration_fee}}</span>
									</div>
								</li>
								{% endif %}
								{% if fields.course_material %}
								<li>
									<div class="left">
										<span>{{translateString('Course Material:', 'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.course_material}}</span>
									</div>
								</li>
								{% endif %}
								{% if fields.price_display %}
								<li>
									<div class="left">
										<span>{{translateString('Prices:' ,'cec')}}</span>
									</div>
									<div class="right">
										<span>{{fields.price_display}}</span>
									</div>
								</li>
								{% endif %}
							</ul>
						</div>
						<div class="course-cta">
							<a href="/book-now/" class="btn btn-primary" data-title="Book Now">{{translateString('Calculate Fees', 'cec')}}</a>
							{% if fields.brochure %}
								<a href="{{fields.brochure}}" target="__blank" class="btn btn-primary" data-title="Brochure">{{translateString('Brochure', 'cec')}}</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="tf1">
    <div class="container">
        <div class="tf1-text">
            <div class="tf1-title">
                <h2>{{translateString('HEAR FROM SOME OF OUR STUDENTS', 'cec')}}</h2>
            </div>
            <div class="tf1-cards">
                <div class="tf1-list">
                    {% for item in testimonials %}
                        {% include ['testimonial-card.twig'] %}
                    {% endfor %}
                </div>
            </div>
            <div class="tf1-buttons">
                <a class="btn btn-blue" href="/student-testimonials/" data-title="View More Testimonials">{{translateString('View More Testimonials', 'cec')}}</a>
            </div>
        </div>
    </div>
</section>
<section class="video-cta" style="--bg-img:url('{{local_child_image('courses_landing_page_images.png')}}')">
    <div class="container">
        <div class="wrapper">
            <div class="title">
                <h2>{{translateString('WELCOME TO', 'cec')}} <br>{{translateString('CORK ENGLISH COLLEGE', 'cec')}}</h2>
            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NHvbi36F4hQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var sidebar = new StickySidebar('.course-side', {
        topSpacing: 20,
        bottomSpacing: 20
    });
</script>

{% endblock %}
