{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/cec/static/course.min.css" type="text/css" media="screen" />
<script src="/wp-content/themes/cec/static/sticky.js"></script>
<section class="course-page">
	<div class="course-header">
		<div class="course-hero">
			<div class="course-title container">
				<h1>{{ post.title }}</h1>
			</div>
			<div class="course-usp container">
				<ul class="rl">
					<li>
						{# <span class="ic icon-book"></span> #}
						<img src="{{local_child_image('lessons-icon.png')}}">
						<span class="usp">20 Lessons per week</span>
					</li>
					<li>
						<span class="ic icon-diploma"></span>
						<img src="{{local_child_image('certificate-icon.png')}}">
						<span class="usp">Certificate at end of Course</span>
					</li>
					<li>
						<span class="ic icon-mask"></span>
						<img src="{{local_child_image('cultural-icon.png')}}">
						<span class="usp">Afternoon Social Cultural Programme</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="course-body container">
		<div class="course-content">
			<div class="course-content-wrapper">
				{{post.content}}
			</div>
		</div>
		<div class="course-side-wrapper">
			<div class="course-side-wrapper-inner">
				<div class="course-side">
					<div class="course-image">
						<img src="{{cdnThis(post.thumbnail.src)}}" alt="{{fields.image.alt}}"/>
					</div>
					<div class="course-details-body">
						<div class="course-details">
							<h3>COURSE DETAILS</h3>
							<ul class="rl">
								<li>
									<div class="left">
										<span>Start Dates:</span>
									</div>
									<div class="right">
										<span>Every Monday throughout the year</span>
									</div>
								</li>
								<li>
									<div class="left">
										<span>Available Levels:</span>
									</div>
									<div class="right">
										<span>Every Monday throughout the year</span>
									</div>
								</li>
								<li>
									<div class="left">
										<span>Age Group:</span>
									</div>
									<div class="right">
										<span>16+</span>
									</div>
								</li>
								<li>
									<div class="left">
										<span>Hours per week:</span>
									</div>
									<div class="right">
										<span>20 - Each Lesson = 60 minutes</span>
									</div>
								</li>
								<li>
									<div class="left">
										<span>Students per class:</span>
									</div>
									<div class="right">
										<span>Average 6 – 8 students per class (Max 12)</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="course-cta">
							<a href="#" class="btn btn-primary" data-title="Book Now">Book Now</a>
							<a href="#" class="btn btn-primary" data-title="Brochure">Brochure</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{# <script>
var sidebar = new StickySidebar('.course-side', {topSpacing: 20});
</script> #}

{# <script type="text/javascript">
    var sidebar = new StickySidebar('.course-side', {
        topSpacing: 20,
        bottomSpacing: 20
    });
</script> #}

{% endblock %}
