{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/cec/static/blog.css" type="text/css" media="screen" />
<div class="blog blog-container single-activity single-accommodation">
    <div class="blog-hero" style="--bg-img:url('{{local_child_image('accommodation-bg.png')}}');">
        <div class="inner container">
			<ul class="rl breadcrumbs">
				<li class="po-r">
					<a class="page-link" href="/">{{translateString('Homepage', 'cec')}}</a>
				</li>
				<li class="po-r">
					<a class="page-link" href="/accommodation/">{{translateString('Accommodation', 'cec')}}</a>
				</li>
				<li class="po-r">
					<span class="this-page page-link">{{post.title}}</span>
				</li>
			</ul>
        </div>
    </div>
	<div class="blog-posts-side container">
		<div class="blog-posts">
			<div class="inner container">
				<div class="image">
					<img src="{{post.thumbnail.src}}" alt="{{fields.image.alt}}"/>
				</div>
				{% if fields.photo_gallery %}
				<div class="gallery-container">
					{% for item in fields.photo_gallery %}
					<div class="gallery-item" data-index="{{loop.index}}">
						{{imageElement(item)}}
					</div>
					{% endfor %}
				</div>
				{% endif %}
				<div class="content">
				<h1>{{ post.title }}</h1>
					{{fn('get_field', 'content', post)}}
				</div>
				<div class="details">
					{{fn('get_field', 'details', post)}}
				</div>
				<div class="cta">
					{% if post.meta('link') %}
					{% set link = post.meta('link') %}
						<a href="{{link.url}}" target="{{link.target}}"class="btn btn-primary" data-title="{{link.title}}">{{link.title}}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
const galleryItem = document.getElementsByClassName("gallery-item");
const lightBoxContainer = document.createElement("div");
const lightBoxContent = document.createElement("div");
const lightBoxImg = document.createElement("img");
const lightBoxPrev = document.createElement("div");
const lightBoxNext = document.createElement("div");

lightBoxContainer.classList.add("lightbox");
lightBoxContent.classList.add("lightbox-content");
lightBoxPrev.classList.add("fa", "fa-angle-left", "lightbox-prev");
lightBoxNext.classList.add("fa", "fa-angle-right", "lightbox-next");

lightBoxContainer.appendChild(lightBoxContent);
lightBoxContent.appendChild(lightBoxImg);
lightBoxContent.appendChild(lightBoxPrev);
lightBoxContent.appendChild(lightBoxNext);

document.body.appendChild(lightBoxContainer);

let index = 1;

function showLightBox(n) {
    if (n > galleryItem.length) {
        index = 1;
    } else if (n < 1) {
        index = galleryItem.length;
    }
    let imageLocation = galleryItem[index-1].children[0].getAttribute("src");
    lightBoxImg.setAttribute("src", imageLocation);
}

function currentImage() {
    lightBoxContainer.style.display = "block";

    let imageIndex = parseInt(this.getAttribute("data-index"));
    showLightBox(index = imageIndex);
}
for (let i = 0; i < galleryItem.length; i++) {
    galleryItem[i].addEventListener("click", currentImage);
}

function slideImage(n) {
    showLightBox(index += n);
}
function prevImage() {
    slideImage(-1);
}
function nextImage() {
    slideImage(1);
}
lightBoxPrev.addEventListener("click", prevImage);
lightBoxNext.addEventListener("click", nextImage);

function closeLightBox() {
    if (this === event.target) {
        lightBoxContainer.style.display = "none";
    }
}
lightBoxContainer.addEventListener("click", closeLightBox);
</script>
<style>
.gallery-container {
  margin: 0 auto;
  padding: 10px;
  columns: 2 200px;
  column-gap: 0;
}
.gallery-item {
    opacity: 0.85;
    cursor: pointer;
    max-height: 150px;
    max-width: 150px;
	margin-right: 5px;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-content {
  font-size: 0.8em;
}
.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 50;
}
.lightbox-content {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 5% auto;
  text-align: center;
}
.lightbox-content img {
  border-radius: 7px;
  box-shadow: 0 0 3px 0 rgba(225, 225, 225, 0.25);
  width: auto;
  max-height: 100%;
}
.lightbox-prev, .lightbox-next {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 7px;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-prev:before {
  content: "";
  font-family: "icomoon";
  color: white;
  font-size: 25px;
}
.lightbox-next {
  right: 0;
}
.lightbox-next:before {
  content: "";
  font-family: "icomoon";
  color: white;
  font-size: 25px;
}
.lightbox-prev:hover, .lightbox-next:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 767px) {
  .gallery-container {
    width: 100%;
  }
  .gallery-item {
    flex-basis: 45%;
    margin-bottom: 3px;
  }
  .lightbox-content {
    width: 80%;
    height: 60%;
    margin: 15% auto;
  }
}
@media only screen and (max-width: 480px) {
  .gallery-item {
    flex-basis: 100%;
    margin-bottom: 1px;
  }
  .lightbox-content {
    width: 90%;
    margin: 20% auto;
  }
}
.lig .wrapper {
  margin: 50px 0;
}
.lig .gallery-item {
  margin: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .gallery-container {
	display: flex;
  }
}
@media only screen and (min-width: 1366px) {
  .gallery-container {
	display:flex;
  }
}

</style>
{% endblock %}
