{% extends "base.twig" %}

{% block content %}

<link rel="stylesheet" href="/wp-content/themes/cec/static/blog.css" type="text/css" media="screen" />
<div class="archive">
	<div class="archive-wrapper">
            <div class="archive-hero hero-one" style="--color:{{category_colour.color}};">
            <div class="container">
                <div class="left">
                    <ul class="rl breadcrumbs">
                        <li class="po-r">
                            <a class="page-link" href="/">{{translateString('Homepage', 'cec')}}</a>
                        </li>
                        <li class="po-r">
                            <a class="page-link" href="/courses/">{{translateString('Courses', 'cec')}}</a>
                        </li>
                        <li class="po-r">
                            <span class="this-page page-link">{{page_title}}</span>
                        </li>
                    </ul>
                    <h1>{{page_title}}</h1>
                    {{primary_content}}
                </div>
                <div class="right" style="--bg-img:url('{{background_image.url}}');">
                    {{imageElement(category_image)}}
                </div>
                </div>
            </div>
        <div class="archive-items">
            <div class="container">
                <ul class="rl archive-list">
                {% for item in items %}
                    {% if feed_type == 'courses' %}
                    <li class="archive-item course">{% include ['course-card.twig'] %}</li>
                    {% elseif feed_type == 'subcategories' %}
                    <li class="archive-item subcategory">{% include ['category-card.twig'] %}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
	</div>
</div>

<section class="cta3 hide-m" style="--bg-img:url({{local_child_image('young-business.png')}})">
    <div class="container">
    <div class="cta3-wrapper">
        <div class="left">
            <h2>{{translateString('FIND THE RIGHT COURSE FOR YOU', 'cec')}}</h2>
            <p>{{translateString('Take our free, quick online English test for an overview of where your standard of English is currently.', 'cec')}}</p>
            <div class="cta3-button">
                <a class="btn btn-blue" href="/test-your-english/" data-title="{{translateString('Test Your English', 'cec')}}">{{translateString('Test Your English', 'cec')}}</a>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="tf1">
    <div class="container">
        <div class="tf1-text">
            <div class="tf1-title">
                <h2>{{translateString('HEAR FROM SOME OF OUR STUDENTS', 'cec')}}</h2>
            </div>
            <div class="tf1-cards">
                <div class="tf1-list">
                    {% for item in testimonials %}
                        {% include ['testimonial-card.twig'] %}
                    {% endfor %}
                </div>
            </div>
            <div class="tf1-buttons">
                <a class="btn btn-blue" href="/student-testimonials/" data-title="{{translateString('View More Testimonials', 'cec')}}">{{translateString('View More Testimonials', 'cec')}}</a>
            </div>
        </div>
    </div>
    <div class="tf1-image">
        <img src="/wp-content/themes/cec/blocks/testimonial-feed-one/background.png" alt="Background Image">
    </div>
</section>
<section class="cta2">
    <div class="container">
    <div class="cta2-wrapper">
        <div class="left">
            <h2>{{translateString('IMAGINE YOUR FUTURE', 'cec')}}</h2>
            <div class="cta2-links">
                <a class="cta2-link" href="/contact-us/"style="--color:#8DC63F;">{{translateString('REQUEST INFO', 'cec')}}</a>
                <a class="cta2-link" href="/book-now/"style="--color:#BE1E2D;">{{translateString('REQUEST INFO', 'cec')}}</a>
                <a class="cta2-link" href="/courses/"style="--color:#091F40;">{{translateString('VIEW COURSES', 'cec')}}</a>
            </div>
        </div>
        <div class="right">
            <img src="{{local_child_image('Cork-footer.png')}}" alt="" loading="lazy" height="553" width="784">
        </div>
    </div>
    </div>
</section>
{% endblock %}