{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/cec/static/blog.css" type="text/css" media="screen" />
<div class="archive two">
	<div class="archive-wrapper">
        <div class="archive-hero hero-one" style="--color:{{category_colour.color}};">
            <div class="container">
                <div class="left">
                    <ul class="rl breadcrumbs">
                        <li class="po-r">
                            <a class="page-link" href="/">{{translateString('Homepage', 'cec')}}</a>
                        </li>
                        <li class="po-r">
                            <a class="page-link" href="/courses/">{{translateString('Courses', 'cec')}}</a>
                        </li>
                        <li class="po-r">
                            <span class="this-page page-link">{{page_title}}</span>
                        </li>
                    </ul>
                    <h1>{{page_title}}</h1>
                    {{primary_content}}
                </div>
                <div class="right" style="--bg-img:url('{{background_image.url}}');">
                    {{imageElement(category_image)}}
                </div>
            </div>
        </div>
        <div class="archive-content">
            <div class="container">
                <h2>{{get_term_field('secondary_title', term)}}</h2>
                <p>{{get_term_field('secondary_content', term)}}</p>
            </div>
        </div>
        <div class="archive-items">
            <div class="container">
                <ul class="rl archive-list">
                {% for item in items %}
                    {% if feed_type == 'courses' %}
                    <li class="archive-item">{% include ['course-card.twig'] %}</li>
                    {% elseif feed_type == 'subcategories' %}
                    <li class="archive-item">{% include ['category-card.twig'] %}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
	</div>
</div>
<section class="cc1">
    <div class="cc1-content">
        <div class="cc1-content-inner">
            <div class="container">
                <div class="cc1-header">
                    <h3>{{translateString('WHY CHOOSE CORK ENGLISH COLLEGE', 'cec')}}</h3>
                    <h4>{{translateString('Discover why over 65,000 students have chosen Cork English College', 'cec')}}</h4>
                </div>
                <div class="cc1-cards">
                    <div class="cc1-card">
                        <icon class="check"><span class="path-1"></span><span class="path-2"></span></icon>
                        <h5>{{translateString('Range of Available Courses', 'cec')}}</h5>
                        <small>{{translateString('We offer a wide range of courses to our adult and junior students as well as teacher training courses and courses for corporations.', 'cec')}}</small>
                    </div>
                    <div class="cc1-card">
                        <icon class="check"><span class="path-1"></span><span class="path-2"></span></icon>
                        <h5>{{translateString('Excellent Customer Service', 'cec')}}</h5>
                        <small>{{translateString('Our dedicated team at CEC are always available to help you before and during your time with us so you can have a memorable experience with us.', 'cec')}}</small>
                    </div>
                    <div class="cc1-card">
                        <icon class="check"><span class="path-1"></span><span class="path-2"></span></icon>
                        <h5>{{translateString('Over 40 Years Experience', 'cec')}}</h5>
                        <small>{{translateString('Our extensive experience in teaching English has allowed us to build up lasting relationships with our students, host families and our network of agents.', 'cec')}}</small>
                    </div>
                    <div class="cc1-card">
                        <icon class="check"><span class="path-1"></span><span class="path-2"></span></icon>
                        <h5>{{translateString('High Quality Accommodation', 'cec')}}</h5>
                        <small>{{translateString('We offer a variety of accommodation options to ensure you have the option that is right for you.', 'cec')}}</small>
                    </div>
                    <div class="cc1-card">
                        <icon class="check"><span class="path-1"></span><span class="path-2"></span></icon>
                        <h5>{{translateString('Fully Accredited', 'cec')}}</h5>
                        <small>{{translateString('CEC have a wide range of accreditations and we guarantee to provide English language courses of the highest standard. We are also an authorised testing centre for International examinations including IELTS, Cambridge and more.', 'cec')}}</small>
                    </div>
                    <div class="cc1-card">
                        <icon class="check"><span class="path-1"></span><span class="path-2"></span></icon>
                        <h5>{{translateString('Award-Winning College', 'cec')}}</h5>
                        <small>{{translateString('CEC have been named “Best Language School” at the Education Awards for the last 3 years.', 'cec')}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cc1-image">
    <img src="/wp-content/themes/cec/blocks/content-cards-one/background.png">
    </div>
</section>
<section class="tf1">
    <div class="container">
        <div class="tf1-text">
            <div class="tf1-title">
                <h2>{{translateString('HEAR FROM SOME OF OUR STUDENTS', 'cec')}}</h2>
            </div>
            <div class="tf1-cards">
                <div class="tf1-list">
                    {% for item in testimonials %}
                        {% include ['testimonial-card.twig'] %}
                    {% endfor %}
                </div>
            </div>
            <div class="tf1-buttons">
                <a class="btn btn-blue" href="/student-testimonials/" data-title="{{translateString('View More Testimonials', 'cec')}}">{{translateString('View More Testimonials', 'cec')}}</a>
            </div>
        </div>
    </div>
    <div class="tf1-image">
        <img src="/wp-content/themes/cec/blocks/testimonial-feed-one/background.png" alt="Background Image">
    </div>
</section>
<section class="cta2">
    <div class="container">
    <div class="cta2-wrapper">
        <div class="left">
            <h2>{{translateString('IMAGINE YOUR FUTURE', 'cec')}}</h2>
            <div class="cta2-links">
                <a class="cta2-link" href="/contact-us/"style="--color:#8DC63F;">{{translateString('REQUEST INFO', 'cec')}}</a>
                <a class="cta2-link" href="/book-now/"style="--color:#BE1E2D;">{{translateString('REQUEST INFO', 'cec')}}</a>
                <a class="cta2-link" href="/contact-us/"style="--color:#091F40;">{{translateString('VIEW COURSES', 'cec')}}</a>
            </div>
        </div>
        <div class="right">
            <img src="{{local_child_image('Cork-footer.png')}}" alt="" loading="lazy" height="553" width="784">
        </div>
    </div>
    </div>
</section>
{% endblock %}