<div class="testimonial-card">
	<div class="testimonial-header d-flex">
		{{imageElement(fn('get_field', 'student_image', item.id))}}
		<div class="testimonial-bio">
			<h6>{{item.title}}</h6>
			<small>{{fn('get_field', 'student_country', item.id)}}</small>
		</div>
	</div>
	<div class="testimonial-body">
		<p>{{fn('get_field', 'testimonial', item.id)}}</p>
	</div>
</div>