.cf  {
    h1 {
        color: rgba(9, 31, 64, 1);
        font-size:50px;
    }
    h4 {
        font-size:18px;
    }
    h3 {
        font-size: 20px;
    }
    &-hero {
        padding:35px;
        padding-bottom: 375px;
        position: relative;
        background: transparent linear-gradient(0deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
        &-inner {
            position: relative;
        }
        &:before {
            content: "";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background:var(--bg-mob-img);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }
    &-form {
        flex-direction: column;
        align-items: center;
        &-container {
            position: relative;
        }
    }
    .plain-select {
        width: 100%;
        flex-direction: column;
    }
    select {
        font-size: 16px;
        font-family: inherit;
        border-radius: 10px;
        color:rgba(9, 31, 64, 1);
        border: 2px solid rgba(9, 31, 64, 0.25);
        height:55px;
        margin-bottom: 15px;
        padding: 0 20px;
    }
    button {
        width: 100%;
    }
}

@include screen(600,1199) {
    .cf  {
        &-hero {
            padding:100px;
            padding-bottom: 100vh;
            &:before {
                background-size: cover;
            }
            h1 {
                font-size: 70px;
            }
            h3 {
                font-size: 28px;
            }
            h4 {
                font-size: 24px;
                margin: 25px 0;
            }
        }
    }
}

@include screen(0,1199) {
    .fancy-select {
        display:none !important;
    }
}

@include screen(1200) {
    .cf  {
        h1 {
            font-size:70px;
        }
        h4 {
            font-size:28px;
        }
        background:var(--bg-img);
        background-repeat: no-repeat;
        background-position: right;
        position:relative;
        &:before {
            content: "";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(0deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
            z-index: -1;
        }
        h1 {
        }
        h3 {
            font-size: 28px;
            color:#091F40;
        }
        &-hero {
            background:unset;
            max-width: 1200px;
            &-inner {
                position: relative;
                max-width: 650px;
                padding-bottom: 30px;
                padding-top: 30px;
                margin-left: 0;
            }
            &:before {
                content: unset;
            }
        }
        &-form {
            flex-direction: row;
            &-container {
                max-width: 650px;
                margin-left: 0;
            }
        }
        select {
            margin-bottom: 0;
            margin-right:16px;
            height:50px;
            min-width: 240px;
        }
        button {
            width: max-content;
        }
    }
    .select-holder + .select-holder {
        margin-right: 15px;
        margin-left: 15px;
    }
    .hidden {
        display:none !important;
    }
    .plain-select {
        flex-direction: row !important;
    }
}

.select-holder {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    * {
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border-color: inherit;
    }
    .select_label-placeholder {
        line-height: 50px;
        font-size: 1.2rem;
    }
}

.select {
    position:relative;
	width: 225px;
	height: 50px;
	cursor: pointer;
	border-radius: 10px;
	
    &_options {
        border-radius: 10px;
    }

    &_option {
        &:last-child {
            .select_label {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }
	&_expand {
		width: 0;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		
		&::after {
            content: "\e903";
            font-family: 'icomoon';
			position: absolute;
			top: 50%;
			right: 0;
            transform: translate(-50%, -50%);
			color: #3e3e3e;
			font-size: 28px;
			pointer-events: none;
			z-index: 2;
			transition: all 250ms cubic-bezier(.4,.25,.3,1);
			opacity: .6;
		}
		
		&:hover::after {opacity: 1}

		&:checked::after {
            transform: translate(-50%, -50%) rotate(180deg) scaleX(-1);
        }
	}
	
	&_expandLabel {
		display: block;
		width: 100%;
		height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}
	
	&_close {
        display: none
    }
	
	&_closeLabel {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		display: none;
	}
	
	&_items {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border: 2px solid rgba(9, 31, 64, 0.25);
		padding-top: 50px;
        border-radius: 10px;
	}
	
	&_input {display: none}
	
	&_label {
		transition: all 250ms cubic-bezier(.4,.25,.3,1);
		display: block;
		height: 0;
		font-size: 14px;
        line-height: 25px;
		overflow: hidden;
		color: #3e3e3e;
		background-color: #fff;
		cursor: pointer;
		padding-left: 20px;
        background-color: #fff;
		
		&-placeholder {
            height: 54px;
            vertical-align: middle;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // opacity: 0.6;
            background-color: white;
            border-radius: 10px;
		}
	}
	
	&_expand:checked {
		+ .select_closeLabel {
			display: block;
			
			+ .select_options {
				.select_label {
					height: 25px;
					&:hover {background-color: #f7f7f7}
				}
				
				+ .select_expandLabel {display: none}
			}
		}
	}
	
	&_input:checked + .select_label {
		height: 50px;
        line-height: 50px;
		margin-top: -50px;
        border-radius: 10px;
	}
    &_close:not(:checked) + .select_label-placeholder {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        opacity:0.1;
	}
    &_expand:checked + .select_label-placeholder {
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
	}
}

.cec-online {
    input {
        &[type="text"],
        &[type="password"] {
            height: 55px;
            border-radius: 10px;
            width: 450px;
            border-color: #091f40;
            outline: none;
        }
    }
    label {
        color: #091f40;
        font-size: 14px;
        font-weight: 500;
    }
    .control-group {
        & + .control-group {
            margin-top:15px;
        }
    }
    a {
        font-size: 16px;
    }
}