{% extends "block-base.twig" %}

{% block content %}
<section class="contact-us {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{fields.cta.image.url}}')">   
    <div class="contact-us-content">
        <div class="contact-us-content-inner">
            <div class="container">
                <div class="contact-us-header">
                {% include "breadcrumbs.twig" %}
                </div>
                <div class="contact-us-wrapper">
                    <div class="contact-us-left">
                        <div class="contact-us-cards">
                            {% for item in fields.content.items %}
                            <div class="contact-us-card">
                                {{imageElement(item.image)}}
                                <h5>{{item.content}}</h5>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="contact-us-form">
                        <div class="inner">
                            <h2>{{fields.cta.title}}</h2>
                            {{fields.cta.content}}
                            [contact-form-7 id="{{fields.cta.form_data.form.ID}}" title="{{fields.cta.form_data.form.post_title}}"]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2461.802125663412!2d-8.472871683849432!3d51.901075079701705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4844900eef03fbb5%3A0x3c6985078e1e9fc8!2sCork+English+College!5e0!3m2!1sen!2sin!4v1495616827002" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
{% if fields.cta.form.redirect %}
<script>
document.addEventListener( 'wpcf7mailsent', function( event ) {
  location = '{{fields.cta.form.redirect_url}}';
}, false );
</script>
{% endif %}
{% endblock %}