.course-fees-two {
    margin: 25px 0;
    .course-fees {
        margin: 25px 0;
        &-table {
            background: white;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        }
        &-wrapper {
            padding: 5px 10px;
        }
        &-title {
            color: white;
            background: rgb(190, 30, 45);
            padding: 10px;
            font-weight: 500;
        }
        &-head {
            display:flex;
            gap: 10px;
            padding: 5px;
            align-items: center;
            & > * {
                color: #091F40;
                font-weight: 600;
            }
        }
        &-line {
            flex-direction: column;
            padding: 10px 5px;
            display:flex;
            gap: 10px;
            align-items: center;
            @include screen(600) {
                flex-direction: row;
            }
            &:not(:last-child) {
                border-bottom:1px solid rgba(9, 31, 64, 0.2);
            }
            .mobile-label {
                @include screen(600) {
                    display:none;
                }
            }
        }
        &-l1 {
            flex: 0 0 20%;
            @include screen(0,599) {
                display: flex;
                gap: 10px;
                width: 100%;
                text-align: center;
            }
        }
        &-l2 {
            flex-grow: 1;
            @include screen(0,599) {
                display: flex;
                gap: 10px;
                width: 100%;
                align-items: center;
            }
        }
        &-l3 {
            flex: 0 0 20%;
            text-align: center;
            @include screen(0,599) {
                display: flex;
                gap: 10px;
                width: 100%;
            }
        }
        &-l4 {
            flex: 0 0 10%;
            text-align: center;
            @include screen(0,599) {
                display: flex;
                gap: 10px;
                width: 100%;
            }
        }
        &-price {
            padding: 0 15px;
            @include screen(0,599) {
                display: flex;
                gap: 10px;
                width: 100%;
            }
        }
        .course-fees-head {
            @include screen(0,599) {
                display:none;
            }
        }
        .mobile-label {
            color: #091F40;
            font-weight: 600;
            flex: 0 0 50%;
            text-align: center;
            @include screen(600) {
                display:none;
            }
        }
    }
    .course-fees-head {
        @include screen(0,599) {
            display:none;
        }
    }
    .mobile-label {
        color: #091F40;
        font-weight: 600;
        flex: 0 0 50%;
        text-align: center;
        @include screen(600) {
            display:none;
        }
    }
}
