{% extends "block-base.twig" %}

{% block content %}
<style>{{compiled_css}}</style>
<section class="course-fees-two {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            {% for category in fields.categories %}
            <div class="course-fees-table">
                <div class="course-fees-title">{{category.title}}</div>
                <div class="course-fees-wrapper">
                    <div class="course-fees-head">
                        <div class="course-fees-l1">{{category.first_label}}</div>
                        <div class="course-fees-l2">{{category.second_label}}</div>
                        <div class="course-fees-l3">{{category.third_label}}</div>
                        <div class="course-fees-l4">{{category.fourth_label}}</div>
                    </div>
                {% for course in category.course %}
                    <div class="course-fees-line">
                        <div class="course-fees-l1"><div class="mobile-label">{{category.first_label}}: </div>{{course.code}}</div>
                        <div class="course-fees-l2"><div class="mobile-label">{{category.second_label}}: </div>{{course.name}}</div>
                        <div class="course-fees-l3"><div class="mobile-label">{{category.third_label}}: </div>{{course.price}}</div>
                        <div class="course-fees-l4"><div class="mobile-label">{{category.fourth_label}}: </div>{{course.starting_dates}}</div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
