{% extends "block-base.twig" %}

{% block content %}
<style>{{compiled_css}}</style>
<section class="course-fees {{block.className}}" {{blockSection(block)}}>
    <div class="container">
    </div>
</section>

<script>

{# function filterResults(e) {
    [...document.querySelectorAll(".question")].filter(a => !a.textContent.toLowerCase().includes(e.target.value.toLowerCase())).forEach(a => a.style.display = "none");
    [...document.querySelectorAll(".question")].filter(a => a.textContent.toLowerCase().includes(e.target.value.toLowerCase())).forEach(a => a.style.display = "block");
} #}

document.getElementById('spsb').addEventListener('input', function(e) {
    [...document.querySelectorAll(".question")].filter(a => !a.textContent.toLowerCase().includes(e.target.value.toLowerCase())).forEach(a => a.style.display = "none");
    [...document.querySelectorAll(".question")].filter(a => a.textContent.toLowerCase().includes(e.target.value.toLowerCase())).forEach(a => a.style.display = "block");
});
</script>

<script>
    function toggleThisTab(tab) {
        if(!tab.classList.contains('active')) {
            [...document.querySelectorAll('.faqtab-sel')].forEach((contentTab) => {
                contentTab.classList.remove('active');
            });
            tab.classList.add('active');
            document.querySelector(".faqtab-content[data-tab='" + tab.dataset.tab + "']").classList.add('active');
        }
    }
</script>

<script>
    function toggleQuestion(question) {
        if(!question.parentNode.classList.contains('active')) {
            [...document.querySelectorAll('.question')].forEach((contentTab) => {
                contentTab.classList.remove('active');
                contentTab.classList.add('inactive');
            });
            question.parentNode.classList.remove('inactive');
            question.parentNode.classList.add('active');
        } else {
            question.parentNode.classList.remove('active');
            [...document.querySelectorAll('.question')].forEach((contentTab) => {
                contentTab.classList.remove('inactive');
            });
        }
    }
</script>
{% endblock %}
