.cf  {
    h1 {
        color: rgba(9, 31, 64, 1);
        font-size:35px;
        line-height: 1;
    }
    h4 {
        font-size:18px;
    }
    h3 {
        font-size: 20px;
    }
    &-hero {
        padding:35px;
        padding-bottom: 350px;
        position: relative;
        background: transparent linear-gradient(0deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
        &-inner {
            position: relative;
        }
        &:before {
            content: "";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background:var(--bg-mob-img);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
        }
        &-inner {
            padding-bottom: 15px;
        }
    }
    &-form {
        &-container {
            z-index: 2;
            position: relative;
        }
        &-bot {
            max-width: 650px;
            margin-left: 0;
        }
    }
    .um-col-alt {
        display:flex;
        flex-wrap: wrap;
        .um-half {
            @include screen(0,1023) {
                flex: 0 0 100%;
            }
            & + .um-half {
                @include screen(1024) {
                    margin-left:10px;
                }
            }
        }
        .um-button {
            @include screen(0,1023) {
                width: 100%;
            }
        }
        .um-right {
            a {
                background:#8dc63f;
                border-color:#8dc63f;
                text-align: center;
            }
        }
    }
    .um-button {
        border: 1px solid #be1e2d;
        cursor: pointer;
        position: relative;
        outline: 0;
        padding: 15px 0px;
        border-radius: 10px;
        width: fit-content;
        transition: all 0.3s ease-out;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-size: 16px;
        background: #be1e2d;
        min-width: 150px;
        display: block;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .um-notice {
        &.err {
            color: #be1e2d;
            font-weight: 500;
            margin-top: 0;
            font-size: 16px;
        }
    }
    .um-field-error {
        color: #be1e2d;
        font-weight: 500;
        font-size: 14px;
        margin-top: 5px;
    }
    .um-field + .um-field {
        margin-top:15px;
    }
    .um-login {
        .um-misc-with-img {
            display:none;
        }
        .um-misc-ul {
            list-style: none;
            padding: 0;
            li {
                &:nth-child(1) {
                    display:none;
                }
                &:nth-child(2) a {
                    font-size: 25px;
                    font-weight: 600;
                    color: #091f40;
                }
            }
        }
    }
}

@include screen(600,1199) {
    .cf  {
        &-hero {
            padding:100px;
            padding-bottom: 100vh;
            &:before {
                background-size: cover;
            }
            h1 {
                font-size: 60px;
            }
            h3 {
                font-size: 28px;
            }
            h4 {
                font-size: 24px;
                margin: 25px 0;
            }
        }
    }
}

@include screen(1200) {
    .cf  {
        h1 {
            font-size:45px;
        }
        h4 {
            font-size:28px;
        }
        background:var(--bg-img);
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        position:relative;
        &:before {
            content: "";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(0deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
            z-index: -1;
        }
        h1 {
        }
        h3 {
            font-size: 28px;
            color:#091F40;
        }
        &-hero {
            background:unset;
            max-width: 1200px;
            &-inner {
                position: relative;
                max-width: 650px;
                padding-bottom: 15px;
                padding-top: 15px;
                margin-left: 0;
            }
            &:before {
                content: unset;
            }
        }
    }
    .hidden {
        display:none !important;
    }
}


.cec-online {
    input {
        &[type="text"],
        &[type="password"] {
            height: 55px;
            border-radius: 10px;
            width: 450px;
            border-color: #091f40;
            outline: none;
        }
    }
    label {
        color: #091f40;
        font-size: 14px;
        font-weight: 500;
        display: block;
        margin-bottom: 5px;
    }
    .control-group {
        & + .control-group {
            margin-top:15px;
        }
    }
    a {
        font-size: 16px;
    }
}