{% extends "block-base.twig" %}

{% block content %}
<section class="cec-online cf {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{fields.content.background_image.url}}');--bg-mob-img:url('{{cdnThis(fields.content.mobile_background_image.url)}}')">
    <div class="cf-hero container" style="--bg-img:url('{{fields.content.background_image.url}}')">
        <div class="cf-hero-inner container">
            <div class="title">
                <h1>{{fields.content.title}}</h1>
            </div>
            <div class="content">
                <h6>{{fields.content.content}}</h6>
            </div>
        </div>
        <div class="cf-form-container container">
            [ultimatemember form_id="{{fields.cta.form}}"]
        </div>
        <div class="cf-form-bot container">
            <p>For access to the Partner Area please click on the button below to complete your details. If you are not yet an official CEC partner, please email <a href="mailto:marketing@corkenglishcollege.ie">marketing@corkenglishcollege.ie</a> for more information on forming a partnership</p>
        </div>
    </div>
</section>
{% endblock %}