.tii1 {
    background:var(--bg-img);
    background-size: cover;
    padding: 20px 0;
    .left {
        padding: 40px;
        img {
            height: auto;
        }
    }
    .right {
        color:white;
        text-align: center;
        padding: 0 40px;
        p {
            font-size: 80%;
        }
    }
    .btn {
        padding: 15px;
    }
    &-icon {
        margin-right: 10px;
    }
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    &.cecexp {
        p {
            font-size: 15px !important;
            margin-top: 15px !important;
        }
    }
}

@include screen(1200) {
    .tii1 {
        padding: 95px 0;
        &-text {
            display:flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        .left {
            flex-grow:1;
        }

        .right {
            flex: 0 0 800px;
            text-align: left;
            padding: 0;
            padding-right: 30px;
            p {
                font-size: 18px;
                margin-top: 30px;
            }
        }
        &-buttons {
            margin-left:20px;
        }
        .d-flex {
            align-items: center;
        }
        .wrapper {
            flex-direction: row;
            align-items: center;
        }
    }
}