{% extends "block-base.twig" %}

{% block content %}
<section class="tii1 {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{fields.content.background_image.url}}')">
    <div class="container">
        <div class="tii1-text">
            <div class="left">
                {{imageElement(fields.content.image)}}
            </div>
            <div class="right">
                <h2>{{fields.content.title}}</h2>
                {{fields.content.content}}
                <div class="wrapper d-flex">
                    <div class="tii1-icons d-flex">
                        {% for item in fields.icons.items %}
                            <a class="tii1-icon" href="{{item.link.url}}" target="{{item.link.target}}">{{imageElement(item.icon)}}</a>
                        {% endfor %}
                    </div>
                    <div class="tii1-buttons d-flex">
                        <a class="btn {{fields.button_one.button.style}}" href="{{fields.button_one.button.link.url}}" target="{{fields.button_one.button.link.target}}" data-title="{{fields.button_one.button.link.title}}">{{fields.button_one.button.link.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}