.image-above-text {
    margin: 25px 0;
    p,
    li {
        font-size: 15px;
        line-height: 1.5;
    }
    .image {
        z-index: -50;
        position: relative;
    }
    img {
        display:block;
        width: 100%;
        height: auto;
    }
    .box {
        background:white;
        position:relative;
        box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
        max-width: 80%;
        margin: auto;
        margin-top: -30px;
        &-inner {
            padding:35px;
        }
        &:before {
            content:"";
            position: absolute;
            top: -10px;
            left: -10px;
            right: 10px;
            bottom: 10px;
            background: var(--color);
            z-index: -1;
        }
    }
}

@include screen(600,1199) {
    .image-above-text {
        .box {
            margin-top: -55px;
        }
    }
}

@include screen(1200) {
    .image-above-text   {
        margin-top: 15px;
        .box {
            box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
            max-width: 1030px;
            margin: auto;
            margin-top: -50px;
            &-inner {
                padding: 40px;
            }
        }
        .image {
            z-index: -1;
            position: relative;
        }
    }
}