{% extends "block-base.twig" %}

{% block content %}
<section class="image-above-text po-r {{block.className}}" {{blockSection(block)}} style="--color:{{fields.content.color}};">
    <div class="wrapper po-r">
        <div class="inner container">
            <div class="image">
                {{imageElement(fields.content.image)}}
            </div>
            <div class="box">
                <div class="box-inner">
                    {{fields.content.content}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}