.cf  {
    h1 {
        color: rgba(9, 31, 64, 1);
        font-size:50px;
    }
    h4 {
        font-size:18px;
    }
    h3 {
        font-size: 20px;
    }
    .um-button {
        border: 1px solid #be1e2d;
        cursor: pointer;
        position: relative;
        outline: 0;
        padding: 15px 0px;
        border-radius: 10px;
        width: fit-content;
        transition: all 0.3s ease-out;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-size: 16px;
        background: #be1e2d;
        min-width: 150px;
        display: block;
        font-weight: 500;
        margin-bottom: 20px;
        width: 100%;
    }
    .um-notice {
        &.err {
            color: #be1e2d;
            font-weight: 500;
            margin-top: 0;
            font-size: 16px;
        }
    }
    .um-field-error {
        color: #be1e2d;
        font-weight: 500;
        font-size: 14px;
        margin-top: 5px;
    }
    .um-field {
        margin-bottom: 25px;
    }
    .um-um_password_id {
        margin:auto;
        padding: 150px 0;
    }
}

@include screen(600,1199) {
    .cf  {
        &-hero {
            padding:100px;
            padding-bottom: 100vh;
            &:before {
                background-size: cover;
            }
            h1 {
                font-size: 70px;
            }
            h3 {
                font-size: 28px;
            }
            h4 {
                font-size: 24px;
                margin: 25px 0;
            }
        }
    }
}

@include screen(1200) {
    .cf  {
        h1 {
            font-size:45px;
        }
        h4 {
            font-size:28px;
        }
        background:var(--bg-img);
        background-repeat: no-repeat;
        background-position: right;
        position:relative;
        &:before {
            content: "";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(0deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
            z-index: -1;
        }
        h1 {
        }
        h3 {
            font-size: 28px;
            color:#091F40;
        }
    }
    .hidden {
        display:none !important;
    }
}


.cec-online {
    input {
        &[type="text"],
        &[type="password"] {
            height: 55px;
            border-radius: 10px;
            width: 450px;
            border-color: #091f40;
            outline: none;
        }
    }
    label {
        color: #091f40;
        font-size: 14px;
        font-weight: 500;
    }
    .control-group {
        & + .control-group {
            margin-top:15px;
        }
    }
    a {
        font-size: 16px;
    }
}