{% extends "block-base.twig" %}

{% block content %}
<section class="cec-online cf {{block.className}}" {{blockSection(block)}}>
    <div class="cf-hero container" style="--bg-img:url('{{fields.content.background_image.url}}')">
        <div class="cf-form-container container">
            [ultimatemember_password]
        </div>
    </div>
</section>
{% endblock %}