.text-with-buttons {
    h1,h2,h3,h4,h5 {
        color:var(--heading);
    }
    .wrapper {
        padding: 35px;
    }
    .box {
        max-width: 1000px;
    }
    .buttons {
        margin-top: 25px;
    }
    .btn {
        padding: 15px 20px;
        width: 100%;
        margin: 15px 0;
    }
}


@include screen(1200) {
    .text-with-buttons {
        .buttons {
            display:flex;
        }
        .btn {
            width: fit-content;
            margin:0;
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }
}