.accreditations-showcase {
    .box {
        padding: 20px;
        margin: 10px 20px;
        box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.35);
        width: 100%;
        p {
            font-size: 14px;
        }
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top:25px;
    }
}

@include screen(1200) {
    .accreditations-showcase {
        .box {
            flex:0 0 46%;
            max-width: 610px;
        }
    }
}