{% extends "block-base.twig" %}

{% block content %}
<section class="accreditations-showcase {{block.className}}" {{blockSection(block)}}>
<div class="wrapper container">
    {% for item in fields.content.items %}
    <div class="box">
        {{item.content}}
    </div>
    {% endfor %}
    </div>
</section>
{% endblock %}