{% extends "block-base.twig" %}

{% block content %}
<style>{{compiled_css}}</style>
<section class="ctab2s {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="ctab2s-head">
            {% for item in fields.tabs.items %}
            <div class="ctab2-sel ctab2 {% if loop.first %}active{% endif %}" data-tab="{{loop.index}}" onclick="toggleThisTab(this);">
                <div class="ctab2-title">
                    {{imageElement(item.icon)}}
                    <h6>{{item.title}}</h6>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ctab2s-body">
            {% for item in fields.tabs.items %}
            <div class="ctab2-sel ctab2-content {% if loop.first %}active{% endif %}" data-tab="{{loop.index}}">
                {{item.content}}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script>
    function toggleThisTab(tab) {
        if(!tab.classList.contains('active')) {
            [...document.querySelectorAll('.ctab2-sel')].forEach((contentTab) => {
                contentTab.classList.remove('active');
            });
            tab.classList.add('active');
            document.querySelector(".ctab2-content[data-tab='" + tab.dataset.tab + "']").classList.add('active');
        }
    }
</script>
{% endblock %}
