.bio-cards {
    padding-bottom: 25px;
    h1,h2,h3,h4,h5 {
        color:var(--heading);
    }
    &-text {
        padding:35px;
        h2 {
            font-size: 42px;
        }
        h3 {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &-box {
        &-content {
            background-color: var(--color);
            text-align: center;
            &-inner {
                color:white;
                padding: 20px 25px 25px 25px;
                height: 140px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            p {
                margin: 0;
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
            }
        }
        &-image {
            height: 500px;
            background:var(--bg-img);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            position:relative;
            display: flex;
            align-items: center;
            &:before {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, black 100%);
            }
            h3 {
                color:white;
                position: relative;
                font-size: 35px;
                line-height: 39px;
                padding-bottom: 10px;
                &:before {
                    content:"";
                    position:absolute;
                    height:8px;
                    background:var(--color);
                    width: 120px;
                    bottom: -8px;
                }
            }
        }
        h3 {

        }
    }
    a {
        color:white;
        text-decoration: underline;
        font-size: 18px;
    }
    .bio-email {
        &:before {
            font-family: "icomoon";
            content: "\e934";
            vertical-align: middle;
        }
    }
}

.bio {
    &-name {
        font-size: 24px;
        font-weight: 600;
    }
    &-title {
        margin: 10px 0;
    }
    &-content {
        display:none !important;
        padding: 30px 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            display:block;
        }
    }
}
@include screen(0, 699) {
    .bio-cards {
        &-boxes {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-box {
            flex: 0 0 100%;
        }
    }
}
@include screen(700, 1199) {
    .bio-cards {
        &-boxes {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-box {
            flex: 0 0 50%;
            min-width: 342px;
        }
    }
}

@include screen(1200) {
    .bio-cards {
        &-text {
            display: flex;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 75px;
            h2 {
                font-size: 65px;
                line-height: 71px;
            }
            h3 {
                font-size: 28px;
                line-height: 36px;
                line-height: 500x;
            }
        }
        &-boxes {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-box {
            flex:1 0 33.33%;
            max-width: 33.33%;
            height: 500px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            h3 {
                font-size: 32px;
                line-height: 36px;
            }
            &-content {
                transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
            }
            &-image {
                flex-grow: 1;
            }
        }
    }
}

@include screen(1366) {
    .bio-cards {
        &-box {
            flex:1 0 25%;
            max-width: 25%;
        }
    }
}

@include screen(1920) {
    .bio-cards {
        &-box {
            flex:1 0 20%;
            max-width: 384px;
        }
    }
}

@include screen(650,1199) { 
    .bio-cards {
        &-box {
            flex:1 0 33.33%;
            max-width:33.33%;
            min-width: 273px;
            &-content-inner {
                // height:220px;
            }
        }
    }
    .bio {
        &-email {
            a {
                font-size: 14px;
            }
        }
        &-title {
            font-size: 16px;
        }
        &-name {
            font-size: 18px;
        }
    }
}