{% extends "block-base.twig" %}
{% block content %}
<section class="bio-cards {{block.className}}" {{blockSection(block)}} style="--heading:{{fields.heading.color}};">
    <div class="container">
        <div class="bio-cards-text">
            <div class="top">
                {{fields.content.content}}
            </div>
        </div>
    </div>
    <div class="bio-cards-">
        <div class="bio-cards-content-inner">
            <div class="">
                <div class="bio-cards-boxes">
                    {% for item in fields.link_boxes.items %}
                    <div class="bio-cards-box" style="--color:{{item.color}};">
                        <div class="bio-cards-box-image" style="--bg-img:url({{cdnThis(item.image.url)}});">
                            <div class="bio-content" style="--bg-img:url({{cdnThis(item.image.url)}});">
                                <span>{{item.content}}</span>
                            </div>
                        </div>
                        <div class="bio-cards-box-content">
                            <div class="bio-cards-box-content-inner">
                                <div class="bio-name">
                                    {{item.name}}
                                </div>
                                <div class="bio-title">
                                    {{item.job_title}}
                                </div>
                                {% if item.email.url %}
                                <div class="bio-email">
                                    <a href="{{item.email.url}}">{{item.email.title}}</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}