.cta-five {
    position:relative;
    background:#EAF5DC;
    .container {
        position:relative;
        padding:0;
        &:before {
            content:"";
            position:absolute;
            background: var(--bg-img);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: right;
            background-position-y: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    &-wrapper {
        position:relative;
    }
    .left {
        padding: 15px 25px;
        padding-top: 30px;
        h2 {
            color: #091F40;
            max-width: 57vw;
        }
        p {
            max-width: 57vw;
            color:white;
        }
    }
    .btn {
        min-width: 220px;
    }
}

@include screen(1200) {
    .cta-five {
        min-height: 424px;
        position:relative;
        display: flex;
        align-items: center;
        &-wrapper {
            position:unset;
        }
        .container {
            width: 95%;
            min-height: 424px;
        }
        .left {
            position: relative;
            margin: 75px;
            margin-left: 10vw;
            h2 {
                max-width: 515px;
            }
            p {
                max-width: unset;
                font-size: 16px;
            }
        }
    }
}

@include screen(0,600) {
    .cta-five {
        h2 {
            font-size: 25px;
            line-height: 28px;
        }
    }
}