.color-hero-one {
    position:relative;
    .wrapper {
        background:var(--color);
        background-size: cover;
        background-repeat: no-repeat;
        h1 {
            color:white;
            margin-top:0;
        }
        p {
            color:white;
            font-size: 14px;
        }
        img {
            display:block;
        }
        .inner {
            padding: 35px;
        }
    }
    .breadcrumbs {
        padding: 0 35px;
        padding-top: 35px;
    }
}


@include screen(1200) {
    .color-hero-one  {
        .wrapper {
            position:relative;
            min-height: 290px;
            &:before {
                position:absolute;
                content:"";
                background:var(--img);
                background-repeat: no-repeat;
                background-size: cover;
                top:0;
                right:0;
                bottom:0;
                width: 784px;
            }
            p {
                font-size: 18px;
            }
        }
        h1 {
            font-size: 48px;
        }
        .outer {
            max-width: 1420px;
            margin: auto;
            padding-top:35px;
        }
        .inner {
            padding:25px !important;
            max-width: 1150px;
            margin: auto;
        }
        .breadcrumbs {
            padding: 0;
            padding-top: 0;
        }
    }
}