.color-hero-one {
    position:relative;
    .wrapper {
        background:var(--color);
        overflow: hidden;
        h1 {
            color:white;
            margin-top:0;
        }
        p {
            color:white;
            font-size: 14px;
        }
        img {
            display:block;
        }
    }
}


@include screen(1200) {
    .color-hero-one  {
        .wrapper {
            position:relative;
            display:flex;
            p {
                font-size: 18px;
            }
        }
        .one {
            flex: 0 0 56vw;
            max-width: 56vw;
        }
        .two {
            flex: 0 0 44vw;
            max-width: 44vw;
            img {
                height: auto;
            }
        }
        .inner {
            padding:25px;
            margin: auto;
        }
        .breadcrumbs {
            padding: 0;
            padding-top: 0;
        }
    }
}

@include screen(1200,1535) {
    .color-hero-one {
        .one {
            padding-left: 7vw;
            h1 {
                font-size: 38px;
                line-height: 48px;
            }
        }
        .breadcrumbs {
            margin-top:25px;
        }
    }
}

@include screen(1536) {
    .color-hero-one {
        .one {
            padding-left: 10vw;
            h1 {
                font-size: 48px;
                line-height: 58px;
            }
        }
        .breadcrumbs {
            margin-top: 50px;
        }
    }
}

@include screen(0,1199) {
    .color-hero-one {
        .one {
            padding: 25px 50px;
        }
        img {
            width:100%;
            height:auto;
        }
    }
}