{% extends "block-base.twig" %}

{% block content %}
<section class="color-hero-one {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper" style="--color:{{fields.content.color}};--img:url({{cdnThis(fields.content.image.url)}});">
        <div class="one">
            {% include "breadcrumbs.twig" %}
            <div class="inner">
                {{fields.content.content}}
            </div>
        </div>
        <div class="two">
            {{imageElement(fields.content.image)}}
        </div>
    </div>
</section>
{% endblock %}