{% extends "block-base.twig" %}

{% block content %}
<section class="native-content {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <InnerBlocks />
        </div>
    </div>
</section>
{% endblock %}