.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

figcaption {
  font-size: 14px;
  margin-left: 15px;
}

@media only screen and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .hide-d {
    display: none !important;
  }
}

.blog-hero {
  background: var(--bg-img);
  background-size: contain;
  padding-top: 35px;
}
.blog-hero h1 {
  color: white;
  margin-top: 0;
}
.blog-hero p {
  color: white;
  font-size: 14px;
}
.blog-hero img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.blog-hero .inner {
  padding: 35px;
}
.blog-posts .inner h2 {
  padding: 0 35px;
  padding-top: 15px;
  margin: 0;
}

.post-item {
  border-bottom: 1px solid #707070;
  margin-bottom: 30px !important;
  padding-bottom: 15px;
}
.post-item h4 {
  color: #091F40;
  font-size: 26px;
  font-weight: 600;
}
.post-item .date {
  color: #BE1E2D;
  font-size: 16px;
}
.post-item .preview {
  color: #000000;
}
.post-item .preview a {
  color: #000000;
}
.post-list {
  padding: 35px;
}

.blog-posts .inner.past {
  background-color: #F4F7F6;
}

@media only screen and (min-width: 450px) and (max-width: 1199px) {
  .blog-posts .inner.past {
    background-color: #F4F7F6;
  }
  .blog-posts .inner.past .post-item {
    flex: 0 0 100%;
  }
  .blog-posts .inner.past .post-item .post-content {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .blog-hero {
    min-height: 400px;
    position: relative;
  }
  .blog-hero:before {
    position: absolute;
    content: "";
    background: var(--img);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    width: 784px;
    max-width: 55vw;
  }
  .blog-hero p {
    font-size: 18px;
  }
  .blog-hero .wrapper {
    max-width: 38vw;
    padding-bottom: 100px;
  }
  .blog-posts .inner {
    background: white;
    box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.35);
    z-index: 2;
    position: relative;
    max-width: 1240px;
    padding-top: 25px;
  }
  .blog-posts .inner:not(.past) {
    margin-top: -100px;
  }
  .blog-posts .inner.past {
    margin-top: 30px;
  }
  .post-item h4 {
    font-size: 36px;
  }
  .post-item .preview {
    color: #000000;
  }
  .post-item .preview a {
    color: #000000;
  }
  .post-item img {
    height: 282px;
    width: 460px;
    object-fit: cover;
  }
  .post-image {
    flex: 0 0 460px;
    max-width: 460px;
  }
  .post-content {
    flex: 0 0 560px;
    max-width: 560px;
  }
  .post-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .blog.single-activity .blog-hero {
    min-height: 246px;
  }
  .blog.single-activity .blog-posts .inner {
    margin-top: -135px;
    background: none;
    box-shadow: unset;
  }
  .blog.single-activity .date {
    color: rgb(190, 30, 45);
    font-size: 12px;
  }
  .blog.single-activity h1 {
    font-size: 36px;
    color: rgb(9, 31, 64);
    margin-top: 10px;
  }
  .blog.single-activity .image {
    width: fit-content;
    position: relative;
    margin-bottom: 40px;
  }
  .blog.single-activity .image img {
    display: block;
    margin-left: 20px;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
  }
  .blog.single-activity .image:before {
    position: absolute;
    content: "";
    background: rgb(29, 72, 142);
    top: 20px;
    left: 0;
    right: 20px;
    bottom: -20px;
    z-index: -1;
  }
  .blog.single-activity .blog-posts-side {
    display: flex;
    justify-content: space-between;
  }
  .blog.single-activity .blog-posts-side .blog-posts {
    flex: 0 0 75%;
    max-width: 925px;
  }
  .blog.single-activity .blog-posts-side .blog-side {
    flex: 0 0 350px;
    max-width: 350px;
  }
  .blog.single-activity .activity-content {
    padding: 0;
  }
  .blog.single-activity .blog-side {
    margin: 0;
  }
  .blog.single-activity .blog-side h3 {
    font-size: 28px;
    line-height: 36px;
    color: rgb(190, 30, 45);
  }
  .blog.single-activity .blog-side h4 {
    font-size: 18px;
    line-height: 24px;
  }
  .blog.single-activity .blog-side .inner {
    min-height: 600px;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.35);
    padding: 30px;
    margin-top: -110px;
    z-index: 2;
    position: relative;
  }
  .blog.single-activity .blog-side .post-list {
    padding: 0;
  }
  .blog.single-activity .blog-side .post-item {
    padding: 0;
  }
  .blog.single-activity .blog-side .post-content-wrapper {
    display: block;
  }
  .blog.single-activity .activity-details {
    padding: 0;
  }
  .blog.single-activity .activity-details li {
    display: flex;
    align-items: center;
  }
  .blog.single-activity .activity-details li:nth-child(even) {
    background: rgb(244, 247, 246);
  }
  .blog.single-activity .activity-details .left {
    font-weight: 500;
    flex: 0 0 175px;
    padding: 10px 7px;
  }
  .blog.single-activity .activity-cta {
    padding: 0;
    padding-top: 25px;
  }
  .blog.single-activity .activity-cta .btn {
    padding: 15px;
  }
}
.inner.past .post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.inner.past .post-item {
  flex: 0 0 325px;
  border: 0;
}
.inner.past .post-content {
  flex: unset;
  max-width: 325px;
}
.inner.past .post-image {
  flex: unset;
}
.inner.past .post-image img {
  width: 325px;
  height: 200px;
  object-fit: cover;
}
.inner.past .post-content-wrapper {
  flex-direction: column-reverse;
}

.single-activity {
  margin-bottom: 50px;
}

.blog.single-activity .blog-posts-side .blog-posts {
  flex: 0 0 75%;
  max-width: 925px;
}
.blog.single-activity .blog-posts-side .blog-side {
  margin: 25px;
}
.blog.single-activity .blog-side h3 {
  font-size: 28px;
  line-height: 36px;
  color: rgb(190, 30, 45);
}
.blog.single-activity .blog-side h4 {
  font-size: 18px;
  line-height: 24px;
}
.blog.single-activity .blog-side .inner {
  min-height: 600px;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.35);
  padding: 30px;
  z-index: 2;
  position: relative;
}
.blog.single-activity .blog-side .post-list {
  padding: 0;
}
.blog.single-activity .blog-side .post-item {
  padding: 0;
}
.blog.single-activity .activity-content {
  padding: 35px;
}
.blog.single-activity .activity-details {
  padding: 0 35px;
}
.blog.single-activity .activity-details li {
  display: flex;
  align-items: center;
}
.blog.single-activity .activity-details li:nth-child(even) {
  background: rgb(244, 247, 246);
}
.blog.single-activity .activity-details .left {
  font-weight: 500;
  flex: 0 0 120px;
  padding: 10px 7px;
}
.blog.single-activity .activity-cta {
  padding: 0 35px;
  padding-top: 25px;
}
.blog.single-activity .activity-cta .btn {
  padding: 15px;
}
.blog.single-activity .post-body ol {
  padding-left: 0;
}
.blog.single-activity .post-body h1, .blog.single-activity .post-body h2, .blog.single-activity .post-body h3, .blog.single-activity .post-body h4, .blog.single-activity .post-body h5, .blog.single-activity .post-body h6 {
  padding-left: 0;
}

@media only screen and (min-width: 1200px) {
  .blog.single-activity .activity-content {
    padding: 0;
    padding-bottom: 25px;
  }
  .blog.single-activity .activity-details {
    padding: 0;
  }
  .blog.single-activity .activity-cta {
    padding: 0;
    padding-top: 25px;
  }
}
.tf1-image {
  height: 380px;
}
.tf1-image img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.tf1-title {
  padding: 20px 40px;
  text-align: center;
}
.tf1-buttons {
  padding-top: 50px;
}
.tf1 .btn {
  width: 220px;
  margin: auto;
}
.tf1 h2 {
  color: #091F40;
}
.tf1 .testimonial-card:nth-child(1):before {
  background: #8DC63F;
}
.tf1 .testimonial-card:nth-child(2):before {
  background: #091F40;
}
.tf1 .testimonial-card:nth-child(3):before {
  background: #BE1E2D;
}
.tf1 .testimonial-header img {
  height: 95px;
  width: 95px;
  object-fit: contain;
}

@media only screen and (min-width: 450px) and (max-width: 1199px) {
  .tf1-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tf1-image {
    height: fit-content;
  }
  .tf1-image img {
    width: 100%;
    height: auto;
  }
  .testimonial-card {
    flex: 0 0 50%;
    max-width: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .tf1-list {
    display: flex;
    justify-content: space-evenly;
  }
  .tf1-image {
    margin-top: -150px;
    margin-bottom: 150px;
  }
  .tf1-image img {
    height: auto;
    width: 100%;
    object-fit: unset;
    object-position: unset;
  }
  .tf1 .testimonial-card {
    flex: 0 0 378px;
    max-width: 30%;
  }
}
.cta2 {
  background: url("/wp-content/themes/cec/images/imagine-your-future.jpg");
  background-size: cover;
  background-position: 190%;
  margin-top: 50px;
}
.cta2-wrapper {
  position: relative;
}
.cta2 .right {
  position: absolute;
  right: 0;
  top: -20px;
}
.cta2 .right img {
  max-width: 186px;
  height: auto;
}
.cta2 .left {
  padding: 15px 25px;
  padding-top: 30px;
}
.cta2 .left h2 {
  font-size: 30px;
  color: white;
  max-width: 130px;
}
.cta2-links {
  display: flex;
}
.cta2-link {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-right: 15px;
  padding-bottom: 5px;
  border-bottom: 5px solid var(--color);
}

@media only screen and (min-width: 1200px) {
  .cta2 {
    background-size: contain;
    background-position: -20px;
    margin-top: 200px;
    position: relative;
    background-size: cover;
  }
  .cta2-wrapper {
    position: unset;
  }
  .cta2 .right {
    top: unset;
    bottom: 0;
  }
  .cta2 .right img {
    max-width: 100%;
    display: block;
  }
  .cta2 .left {
    padding: 85px 25px;
    max-width: 49vw;
  }
  .cta2 .left h2 {
    font-size: 70px;
    max-width: 515px;
  }
  .cta2-links {
    padding-top: 50px;
  }
  .cta2-link {
    font-size: 28px;
    margin-right: 50px;
    padding-bottom: 5px;
    border-bottom: 7px solid var(--color);
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
  .cta2 .left h2 {
    font-size: 50px !important;
  }
}
.archive-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10px;
  gap: 15px;
}
.archive-items {
  padding-top: 25px;
}
.archive-item {
  max-width: 185px;
  min-height: 300px;
  box-shadow: 0px 0px 15px rgba(134, 151, 174, 0.35);
}
.archive-hero {
  overflow: hidden;
}
.archive-hero h1 {
  color: var(--color);
}
.archive-hero .left {
  padding: 35px;
  padding-bottom: 10px;
}
.archive-hero .left p {
  font-size: 14px;
  line-height: 21px;
}
.archive-hero .container {
  padding: 0;
}
.archive-hero .right {
  position: relative;
}
.archive-hero .right:before {
  content: "";
  position: absolute;
  background: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
}
.archive-hero .right img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 320px;
  margin: auto;
  z-index: 2;
  position: relative;
}
.archive-hero .breadcrumbs li:before {
  color: rgb(0, 0, 0);
}
.archive-hero .breadcrumbs .page-link {
  color: rgb(0, 0, 0);
}
.archive .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.archive .card-image {
  padding: 9px;
  padding-bottom: 0;
}
.archive .card-image img {
  max-width: 100%;
  width: 167px;
  height: 108px;
  object-fit: cover;
}
.archive .card-title {
  padding: 0 9px;
  margin: 6px 0;
}
.archive .card-title h6 {
  font-size: 16px;
  line-height: 18px;
  color: rgb(0, 0, 0);
}
.archive .card-body {
  padding: 0 9px;
  padding-bottom: 9px;
  flex-grow: 1;
}
.archive .card-body h6 {
  font-size: 12px;
  line-height: 17px;
  color: rgb(0, 0, 0);
}
.archive .card-footer {
  background: #fafafa;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.archive .card-footer span {
  font-size: 12px;
  line-height: 17px;
  color: rgb(190, 30, 45);
  position: relative;
  font-weight: 500;
}
.archive .card-footer span:after {
  font-family: "icomoon";
  content: "\e935";
  color: rgb(190, 30, 45);
  font-size: 20px;
  vertical-align: middle;
}

@media only screen and (min-width: 1200px) {
  .archive-hero {
    background: rgb(244, 247, 246);
    position: relative;
  }
  .archive-hero .container {
    max-width: 1420px;
    display: flex;
  }
  .archive-hero .left p {
    font-size: 18px;
    line-height: 24px;
    max-width: 750px;
  }
  .archive-hero .left h1 {
    margin-top: 0;
  }
  .archive-hero .right {
    background: unset;
  }
  .archive-hero .right:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    background: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    left: 5vw;
  }
  .archive-hero .right img {
    max-width: 432px;
    margin-left: -40px;
    padding-top: 50px;
  }
  .archive-list {
    justify-content: center;
  }
  .archive-item {
    max-width: 290px;
    max-height: 387px;
    height: 387px;
    background: white;
  }
  .archive-item .card {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    max-height: 387px;
    height: 387px;
  }
  .archive-item .card-image {
    padding: 20px;
    padding-bottom: 0;
  }
  .archive-item .card-image img {
    max-width: 100%;
    width: 245px;
    height: 128px;
    object-fit: cover;
  }
  .archive-item .card-title {
    padding: 0 20px;
    margin: 6px 0;
  }
  .archive-item .card-title h6 {
    font-size: 23px;
    line-height: 29px;
    font-weight: 600;
  }
  .archive-item .card-body {
    padding: 5px 20px;
    flex-grow: 1;
  }
  .archive-item .card-body h6 {
    font-size: 14px;
    line-height: 23px;
  }
  .archive-item .card-footer {
    max-height: 50px;
    min-height: 50px;
    padding: 0 10px;
    flex-grow: 1;
    justify-content: right;
  }
  .archive-item .card-footer span {
    font-size: 16px;
    line-height: 23px;
  }
  .archive-item .card-footer span:after {
    font-size: 25px;
  }
  .archive-items {
    padding-top: 0;
    margin-top: -75px;
    position: relative;
    z-index: 5;
  }
}
.cta3 {
  position: relative;
  margin-top: 50px;
  background: #091F40;
}
.cta3:before {
  content: "";
  position: absolute;
  background: var(--bg-img);
  width: 932px;
  height: 447px;
  right: 15vw;
  top: -66px;
}
.cta3-wrapper {
  position: relative;
}
.cta3 .left {
  padding: 15px 25px;
  padding-top: 30px;
}
.cta3 .left h2 {
  font-size: 36px;
  color: #8DC63F;
  max-width: 130px;
}
.cta3 .btn {
  max-width: 200px;
}

@media only screen and (min-width: 1200px) {
  .cta3 {
    margin-top: 200px;
    position: relative;
    min-height: 380px;
    display: flex;
    align-items: center;
  }
  .cta3-wrapper {
    position: unset;
  }
  .cta3 .container {
    width: 55%;
  }
  .cta3 .left {
    position: relative;
    padding: 0px 25px;
    max-width: 400px;
  }
  .cta3 .left h2 {
    font-size: 36px;
    max-width: 515px;
  }
  .cta3 .left p {
    font-size: 16px;
    color: white;
  }
}
.archive.two .archive-content {
  padding: 35px;
  padding-bottom: 0;
}
.archive.two .archive-content h2 {
  color: rgb(9, 31, 64);
  font-size: 36px;
  line-height: 40px;
}
.archive.two .archive-hero .right img {
  padding-bottom: 25px;
}
.archive.two .archive-items {
  padding-top: 25px;
  padding-bottom: 35px;
}
@media only screen and (max-width: 1199px) {
  .archive.two .card {
    max-width: 185px;
    max-height: 300px;
    height: 300px;
  }
}
.archive.two .card-item {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.archive.two .card-item label {
  font-size: 11px;
  line-height: 14px;
  color: black;
  margin-left: 10px;
}
.archive.two .card-item img {
  max-width: 23px;
  height: auto;
}
.archive.two .card-body {
  padding-bottom: 0;
  flex-grow: 1;
}

@media only screen and (min-width: 1200px) {
  .archive.two .archive-hero .container {
    justify-content: space-between;
  }
  .archive.two .archive-hero .right img {
    padding-top: 0;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 50px;
  }
  .archive.two .archive-hero .left {
    padding: 0;
    padding-top: 35px;
    padding-bottom: 10px;
  }
  .archive.two .archive-content {
    padding: 80px 50px;
    padding-bottom: 25px;
  }
  .archive.two .archive-content h2 {
    color: rgb(9, 31, 64);
    font-size: 36px;
    line-height: 40px;
  }
  .archive.two .archive-items {
    margin-top: 0;
    padding: 0;
  }
  .archive.two .card-item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }
  .archive.two .card-item label {
    font-size: 14px;
    line-height: 18px;
    color: black;
    margin-left: 15px;
  }
}
.cc1 {
  background: transparent linear-gradient(180deg, #FAFBFC 0%, #DCECFF 100%) 0% 0% no-repeat padding-box;
}
.cc1-logos {
  background: white;
  margin: 0 15px;
}
.cc1-logos-inner {
  padding: 0 15px;
  padding-top: 25px;
}
.cc1-logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cc1-logos h5 {
  font-weight: 600;
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}
.cc1-content {
  position: relative;
}
.cc1-content-inner {
  padding: 35px;
}
.cc1-header {
  max-width: 90%;
  margin: auto;
  text-align: center;
}
.cc1-header h3 {
  color: #BE1E2D;
}
.cc1-header h4 {
  font-size: 16px;
}
.cc1-logo {
  padding: 20px 0;
  max-width: 172px;
  max-height: 97px;
}
.cc1-logo img {
  object-fit: contain;
}
.cc1-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cc1-card {
  flex: 0 0 45%;
  padding: 20px 0;
}
.cc1-card h5 {
  font-size: 16px;
}
.cc1-card icon {
  margin-bottom: 10px;
  display: block;
}
.cc1-image {
  margin-top: -100px;
}
.cc1-image img {
  height: 325px;
  object-fit: cover;
}
.cc1 small {
  margin-top: 15px;
  line-height: 21px;
  font-size: 14px;
  display: block;
}

@media only screen and (min-width: 1200px) {
  .cc1-logos-inner {
    background: white;
    width: 100%;
    max-width: 1180px;
    margin: auto;
    box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cc1-logos h5 {
    max-width: unset;
    font-size: 23px;
    text-transform: unset;
    font-weight: 500;
  }
  .cc1-logo {
    margin: 0 5px;
  }
  .cc1-content {
    padding-top: 100px;
  }
  .cc1-content h3 {
    font-size: 48px;
    margin-bottom: 0;
  }
  .cc1-content h4 {
    font-size: 28px;
    margin-top: 0;
  }
  .cc1-content .container {
    max-width: 1250px;
  }
  .cc1-header {
    padding-bottom: 50px;
  }
  .cc1-card {
    flex: 0 0 30%;
    max-width: 340px;
    padding-bottom: 50px;
  }
  .cc1-card h5 {
    font-size: 21px;
  }
  .cc1-image {
    margin-top: -100px;
  }
  .cc1-image img {
    display: block;
    height: 100%;
  }
  .cc1.nonm .cc1-content {
    padding-top: 25px;
  }
}
.cta-five {
  position: relative;
  background: #EAF5DC;
  min-height: 424px;
}
.cta-five .container {
  position: relative;
  padding: 0;
}
.cta-five .container:before {
  content: "";
  position: absolute;
  background: var(--bg-img);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 600px;
  background-position-y: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cta-five-wrapper {
  position: relative;
}
.cta-five .left {
  padding: 15px 25px;
  padding-top: 30px;
}
.cta-five .left h2 {
  color: #091F40;
  max-width: 225px;
}
.cta-five .left p {
  max-width: 225px;
  color: white;
}
.cta-five .btn {
  min-width: 220px;
}

@media only screen and (min-width: 1200px) {
  .cta-five {
    position: relative;
    display: flex;
    align-items: center;
  }
  .cta-five-wrapper {
    position: unset;
  }
  .cta-five .container {
    width: 95%;
    min-height: 424px;
  }
  .cta-five .left {
    position: relative;
    margin: 75px;
    margin-left: 10vw;
  }
  .cta-five .left h2 {
    max-width: 515px;
  }
  .cta-five .left p {
    max-width: unset;
    font-size: 16px;
  }
}
@media only screen and (max-width: 1199px) {
  .single-accommodation .inner .content,
  .single-accommodation .inner .details,
  .single-accommodation .inner .cta {
    padding: 0 35px;
  }
  .single-accommodation .inner .cta {
    padding-bottom: 35px;
  }
}
@media only screen and (min-width: 1200px) {
  .single-accommodation .image:before {
    background: #be1e2d !important;
  }
}
.blog.search .inner.container {
  padding-top: 25px;
}
.blog.search .post-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.blog.search .post-item h4 {
  font-size: 16px;
  font-weight: 500;
}
.blog.search .post-list {
  padding: 0 35px;
}
.blog.search .label {
  color: rgb(190, 30, 45);
  text-transform: capitalize;
  font-weight: 500;
}

@media only screen and (min-width: 1200px) {
  .blog.search .blog-hero {
    min-height: 325px;
  }
  .blog.search .post-list {
    padding: 35px;
  }
  .blog.search .post-item h4 {
    font-size: 25px;
    font-weight: 500;
  }
  .blog.search .inner.no-padding {
    padding: 0;
  }
}
.blog h1 {
  font-size: 30px;
}
.blog-posts .content {
  margin-top: 25px;
}

@media only screen and (min-width: 1200px) {
  .blog h1 {
    font-size: 45px;
  }
}
.hide {
  display: none;
}

.no-act {
  padding: 50px;
  font-size: 24px;
}

@media only screen and (max-width: 925px) {
  .single-post .blog-posts-side.container {
    padding: 0;
  }
}
@media only screen and (max-width: 925px) {
  .single-post .blog-posts-side.container .inner.container {
    padding: 0;
  }
}

.wp-block-image figure {
  margin-left: 0;
  margin-right: 0;
}
.wp-block-image img {
  width: 100%;
  height: auto;
}

.single-post iframe {
  max-width: 100%;
}

/*# sourceMappingURL=blog.css.map */
