@media only screen and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .hide-d {
    display: none !important;
  }
}

.course-header {
  background: rgb(190, 30, 45);
  padding: 40px;
  padding-bottom: 80px;
}
.course-title h1 {
  margin-top: 0;
  color: white;
  text-transform: uppercase;
}
.course-hero .breadcrumbs {
  padding-bottom: 15px;
}
.course-usp img {
  max-width: 21px;
  display: block;
  margin-bottom: 5px;
}
.course-usp .usp {
  color: white;
  font-size: 14px;
}
.course-usp ul {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .course-usp ul {
    flex-direction: row;
  }
}
.course-usp li {
  display: flex;
  gap: 25px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .course-usp li {
    display: block;
  }
}
.course-usp li:not(:first-child) {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .course-usp li:not(:first-child) {
    margin-top: 0;
    margin-left: 20px;
  }
}
.course-body {
  display: flex;
  flex-direction: column-reverse;
  background: rgb(244, 247, 246);
}
.course-side {
  margin: 15px;
  margin-top: -50px;
  margin-bottom: 50px;
  background: white;
  box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
}
.course-image img {
  display: block;
  width: 100%;
  height: auto;
}
.course-details-body {
  padding: 15px;
}
.course-details span {
  font-size: 16px;
  display: block;
}
.course-details h3 {
  font-size: 21px;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 10px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5px;
}
.course-details .left {
  flex: 0 0 130px;
  max-width: 130px;
}
.course-details .left span {
  font-weight: 500;
}
.course-details .right {
  margin-left: 15px;
}
.course-details li {
  display: flex;
  padding: 5px 10px;
  align-items: center;
}
.course-details li:nth-child(even) {
  background: rgb(244, 247, 246);
}
.course-details + .course-details {
  margin-top: 15px;
}
.course-cta {
  margin-top: 15px;
}
.course-cta .btn {
  font-weight: 500;
  display: block;
  width: 100%;
  margin: 15px 0;
  min-height: 51px;
}

@media only screen and (max-width: 767px) {
  .single-course .container {
    padding: 0;
  }
}
.single-course .wp-block-image {
  margin: 25px 0;
}
.single-course .wp-block-image img {
  height: auto;
}

@media only screen and (min-width: 700px) {
  .course-page {
    background: rgb(244, 247, 246);
    position: relative;
    overflow: hidden;
  }
  .course-body {
    background: unset;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .course-hero {
    position: relative;
    padding-top: 50px;
  }
  .course-hero .container {
    max-width: 1280px;
  }
  .course-hero:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -500px;
    right: -1500px;
    background: var(--course);
    z-index: -1;
  }
  .course-title h1 {
    font-size: 42px;
    max-width: 800px;
  }
  .course-usp {
    padding-bottom: 50px;
    padding-top: 15px;
  }
  .course-usp li {
    display: flex;
    align-items: center;
    max-width: 175px;
  }
  .course-usp li:not(:first-child) {
    margin-left: 35px;
  }
  .course-usp img {
    max-width: 35px;
    display: inline;
    margin-bottom: 0;
  }
  .course-usp .usp {
    margin-left: 10px;
  }
  .course-side {
    width: 400px;
    margin: 0;
  }
  .course-side-wrapper {
    flex: 0 0 400px;
    position: relative;
  }
  .course-side-wrapper-inner {
    height: 100%;
  }
  .course-side .inner-wrapper-sticky {
    background: white;
    box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
  }
  .course-content {
    max-width: 800px;
  }
  .course-content-wrapper {
    margin-top: 50px;
  }
  .course-cta {
    display: flex;
    justify-content: space-between;
  }
  .course-cta a {
    flex: 0 0 48%;
    max-width: 48%;
  }
  .course-body {
    z-index: 2;
    position: relative;
  }
}
.available-level {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  width: 29px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.available-level span {
  color: white;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}
.available-level:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(180, 28, 40);
  border-radius: 50%;
  z-index: -1;
}
.available-levels .right {
  display: flex;
  flex-wrap: wrap;
}
.available-level:hover .available-level-tooltip {
  opacity: 1;
  visibility: visible;
}
.available-level-tooltip {
  transition: all 0.3s ease-out;
  width: max-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  top: -40px;
}

.tf1-image {
  height: 380px;
}
.tf1-image img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.tf1-title {
  padding: 20px 40px;
  text-align: center;
}
.tf1-buttons {
  padding-top: 50px;
}
.tf1 .btn {
  width: 220px;
  margin: auto;
}
.tf1 h2 {
  color: #091F40;
}
.tf1 .testimonial-card:nth-child(1):before {
  background: #8DC63F;
}
.tf1 .testimonial-card:nth-child(2):before {
  background: #091F40;
}
.tf1 .testimonial-card:nth-child(3):before {
  background: #BE1E2D;
}
.tf1 .testimonial-header img {
  height: 95px;
  width: 95px;
  object-fit: contain;
}

@media only screen and (min-width: 450px) and (max-width: 1199px) {
  .tf1-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tf1-image {
    height: fit-content;
  }
  .tf1-image img {
    width: 100%;
    height: auto;
  }
  .testimonial-card {
    flex: 0 0 50%;
    max-width: 40%;
  }
}
@media only screen and (min-width: 810px) {
  .tf1-list {
    display: flex;
    justify-content: space-evenly;
  }
  .tf1-image {
    margin-top: -150px;
    margin-bottom: 150px;
  }
  .tf1-image img {
    height: auto;
    width: 100%;
    object-fit: unset;
    object-position: unset;
  }
  .tf1 .testimonial-card {
    flex: 0 0 378px;
    max-width: 30%;
  }
}
.video-cta {
  margin-top: 50px;
}
.video-cta h2 {
  color: rgb(9, 31, 64);
  text-align: center;
}
.video-cta iframe {
  max-width: 100%;
  z-index: 1;
  position: relative;
}
.video-cta .video {
  width: fit-content;
  margin: auto;
  padding: 10px;
  position: relative;
}
.video-cta .video:before {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 0;
  height: 200px;
  width: 315px;
  background-color: rgb(141, 198, 63);
}
.video-cta .video:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 80px;
  width: 160px;
  background-color: rgb(190, 30, 45);
}

@media only screen and (min-width: 810px) {
  .video-cta {
    padding-bottom: 100px;
    background: var(--bg-img), rgb(242, 242, 242);
    background-repeat: no-repeat;
    background-position-x: 46vw;
    background-position-y: bottom;
  }
  .video-cta .video {
    margin: unset;
  }
  .video-cta .video:after {
    top: 3px;
    right: 1px;
  }
  .video-cta .title {
    padding-top: 60px;
    padding-bottom: 15px;
  }
  .video-cta .title h2 {
    font-size: 60px;
    text-align: left;
  }
  .video-cta iframe {
    width: 700px;
    height: 390px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1199px) {
  .course-header {
    padding: 35px;
  }
  .course-header.mobile {
    display: none;
  }
  .course-side {
    width: 38.5vw;
    max-width: 325px;
  }
  .course-side-wrapper {
    flex: 0 0 400px;
    max-width: 38.5vw;
    padding-right: 5px;
  }
  .course-benefits h5 {
    font-size: 16px !important;
  }
  .course-content .container {
    max-width: 53vw;
    margin: auto;
  }
  .course-content .cta-course {
    background: none;
  }
  .course-content .cta-course .container {
    background: #091F40;
    padding: 0;
  }
  .course-usp li:not(:first-child) {
    margin-left: 5px;
  }
  .course-faq .container {
    padding: 0 !important;
  }
  .course-cta .btn {
    font-size: 13px;
    min-width: 120px;
  }
  .course-includes {
    justify-content: space-evenly;
  }
  .course-includes h5 {
    font-size: 20px !important;
  }
  .tf1 .testimonial-card {
    flex: 0 0 325px;
    max-width: 44%;
  }
  .video-cta .container {
    padding: 25px;
  }
  .course-side .inner-wrapper-sticky {
    background: #fff;
    box-shadow: 0 0 25px rgba(134, 151, 174, 0.25);
    width: 325px;
    max-width: 38.5vw;
  }
}
@media only screen and (min-width: 1200px) {
  .course-header.mobile {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .course-hero.tablet {
    display: none;
  }
}
.course-calculator select {
  width: 100%;
  border: 1px solid rgba(190, 30, 45, 0.25);
  outline: none;
  border-radius: 3px;
}
.course-calculator input[type=number] {
  width: 100%;
  -moz-appearance: textfield;
  text-align: center;
  border: none;
  outline: none;
}
.course-calculator input[type=number]::-webkit-inner-spin-button, .course-calculator input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.course-calculator-input {
  display: flex;
  align-items: center;
}
.course-calculator-input .ball {
  flex: 0 0 30%;
}
.course-calculator-input .ball span {
  display: block;
  background: #BE1E2D;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  margin: auto;
  position: relative;
}
.course-calculator-input .plus span:before {
  font-family: "icomoon";
  content: "\e98c";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 1.5px;
}
.course-calculator-input .minus span:before {
  font-family: "icomoon";
  content: "\e98d";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 1.5px;
}
.course-calculator .right {
  width: 100%;
}

/*# sourceMappingURL=course.css.map */
