@media only screen and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .hide-d {
    display: none !important;
  }
}

body {
  position: relative;
  margin: 0;
}

.po-r {
  position: relative;
}

.testimonial-card {
  box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
  margin: 24px;
  padding: 9px;
  position: relative;
  background: white;
}
.testimonial-card:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: 15%;
  right: 15%;
  z-index: -1;
}
.testimonial-bio {
  margin: 0 18px;
  padding: 18px 0;
  flex-grow: 1;
  border-bottom: 1px solid #000000;
}
.testimonial-body {
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-style: italic;
  font-size: 16px;
}

.breadcrumbs {
  margin-bottom: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}
.breadcrumbs li {
  margin-right: 15px;
}
.breadcrumbs li:not(:last-child):before {
  color: white;
  content: "-";
  position: absolute;
  right: -9px;
  top: 2px;
  bottom: 0;
}
.breadcrumbs .page-link {
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.breadcrumbs .this-page {
  font-weight: bold;
}

@media only screen and (min-width: 1200px) {
  .breadcrumbs {
    margin-bottom: 0;
    margin-top: 20px;
  }
}
.bg-grey {
  background: #F4F7F6;
}

.container {
  max-width: 1335px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "icomoon";
  src: url("/wp-content/themes/cec/fonts/icomoon.ttf") format("truetype");
  src: url("/wp-content/themes/cec/fonts/icomoon.woff") format("woff");
  src: url("/wp-content/themes/cec/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.woff2") format("woff2"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.woff") format("woff"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.ttf") format("truetype"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-300.svg#Ubuntu") format("svg"); /* Legacy iOS */
}
/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.woff2") format("woff2"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.woff") format("woff"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.ttf") format("truetype"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-regular.svg#Ubuntu") format("svg"); /* Legacy iOS */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.woff2") format("woff2"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.woff") format("woff"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.ttf") format("truetype"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-500.svg#Ubuntu") format("svg"); /* Legacy iOS */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.woff2") format("woff2"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.woff") format("woff"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.ttf") format("truetype"), url("/wp-content/themes/cec/fonts/ubuntu-v20-latin-700.svg#Ubuntu") format("svg"); /* Legacy iOS */
}
html {
  font-family: "Ubuntu", sans-serif;
}

icon:before {
  color: white;
  font-family: "icomoon";
  vertical-align: middle;
}
icon.fb:before {
  content: "\e905";
  font-size: 29px;
}
icon.course:before {
  content: "\e904";
  font-size: 29px;
}
icon.calendar:before {
  content: "\e900";
  font-size: 29px;
}
icon.student:before {
  content: "\e90e";
  font-size: 29px;
}
icon.location:before {
  content: "\e90d";
  font-size: 29px;
}
icon.ig .path-1:before {
  font-family: "icomoon";
  content: "\e907";
  color: #fff;
  font-size: 29px;
}
icon.ig .path-2:before {
  font-family: "icomoon";
  content: "\e908";
  color: #091d3c;
  margin-left: -1em;
  font-size: 29px;
}
icon.ig .path-3:before {
  font-family: "icomoon";
  content: "\e909";
  color: #091d3c;
  margin-left: -1em;
  font-size: 29px;
}
icon.ig .path-4:before {
  font-family: "icomoon";
  content: "\e90a";
  color: #091d3c;
  margin-left: -1em;
  font-size: 29px;
}
icon.tw .path-1:before {
  font-family: "icomoon";
  content: "\e90b";
  color: #fff;
  font-size: 29px;
}
icon.tw .path-2:before {
  font-family: "icomoon";
  content: "\e90c";
  color: #091d3c;
  margin-left: -1em;
  font-size: 29px;
}
icon.yt .path-1:before {
  font-family: "icomoon";
  content: "\e98a";
  color: #091f40;
  font-size: 29px;
}
icon.yt .path-2:before {
  font-family: "icomoon";
  content: "\e98b";
  color: #fff;
  margin-left: -1em;
  font-size: 29px;
}
icon.tt .path-1:before {
  font-family: "icomoon";
  content: "\e983";
  color: #fff;
  font-size: 29px;
}
icon.tt .path-2:before {
  font-family: "icomoon";
  content: "\e985";
  color: #091f40;
  margin-left: -1em;
  font-size: 29px;
}
icon.li .path-1:before {
  font-family: "icomoon";
  content: "\e981";
  color: #fff;
  font-size: 29px;
}
icon.li .path-2:before {
  font-family: "icomoon";
  content: "\e982";
  color: #091f40;
  margin-left: -1em;
  font-size: 29px;
}
icon.wa .path-1:before {
  font-family: "icomoon";
  content: "\e988";
  color: #091f40;
  font-size: 29px;
}
icon.wa .path-2:before {
  font-family: "icomoon";
  content: "\e989";
  color: #fff;
  margin-left: -1em;
  font-size: 29px;
}
icon.check .path-1:before {
  font-family: "icomoon";
  content: "\e950";
  color: #b41c28;
  font-size: 29px;
}
icon.check .path-2:before {
  font-family: "icomoon";
  content: "\e951";
  color: #1d488e;
  margin-left: -1.05078125em;
  font-size: 29px;
}
icon.whatsapp .path-1:before {
  font-family: "icomoon";
  content: "\e90f";
  color: #80bd37;
  font-size: 120px;
}
icon.whatsapp .path-2:before {
  font-family: "icomoon";
  content: "\e910";
  color: #fff;
  margin-left: -1em;
  font-size: 120px;
}
icon.whatsapp .path-3:before {
  font-family: "icomoon";
  content: "\e911";
  color: #fff;
  margin-left: -1em;
  font-size: 120px;
}

a {
  color: #1D488E;
}

.btn {
  cursor: pointer;
  position: relative;
  outline: 0;
  background: transparent;
  padding: 15px 0px;
  border-radius: 10px;
  width: fit-content;
  transition: all 0.3s ease-out;
  color: transparent;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 150px;
  display: block;
  font-weight: 500;
}
.btn:before {
  color: white;
  content: attr(data-title);
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-radius: 10px;
  transition: all 0.3s ease-out;
  padding-top: 15px;
  text-align: center;
}
.btn:hover:before {
  transform: translateX(7px) translateY(-7px);
}
.btn-primary {
  border: 1px solid rgb(190, 30, 45);
}
.btn-primary:before {
  border: 1px solid rgb(190, 30, 45);
  background: rgb(190, 30, 45);
}
.btn-green {
  border: 1px solid rgb(141, 198, 63);
}
.btn-green:before {
  border: 1px solid rgb(141, 198, 63);
  background: rgb(141, 198, 63);
}
.btn-blue {
  border: 1px solid rgb(29, 72, 142);
}
.btn-blue:before {
  border: 1px solid rgb(29, 72, 142);
  background: rgb(29, 72, 142);
}
.btn-simp:hover:before {
  transform: unset !important;
}

.header {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 10;
}
.header-logo {
  justify-content: space-between;
}
.header-logo-link {
  display: block;
  padding: 17.5px 15px 12.5px 45px;
}
.header-logo img {
  display: block;
  max-height: 40px;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 1200px) {
  .header-logo img {
    max-height: 65px;
    height: 65px;
  }
}
.header-wrapper {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background: white;
}
.header-toggler {
  background: #091F40;
  padding: 19.3px 15px;
}
.header-toggler svg {
  display: block;
}
.header-lang {
  padding-left: 15px;
}
.header-lang flag {
  cursor: pointer;
  margin-left: 15px;
  position: relative;
}
.header-lang flag:before {
  content: url("/wp-content/themes/cec/images/en.png");
  height: 17px;
  width: 29px;
  vertical-align: middle;
}
.header-lang flag:after {
  content: "\e903";
  font-family: "icomoon";
  margin-left: 5px;
  color: white;
  font-size: 17px;
}

.menu-item.sub .menu-link:after {
  content: "\e903";
  font-family: "icomoon";
  font-weight: 700;
  vertical-align: middle;
  margin-left: 12px;
}

@media only screen and (min-width: 1200px) {
  .header-container {
    max-width: 1420px;
    margin: auto;
  }
  .header .menu-logo {
    display: flex;
    align-items: center;
  }
  .header-logo-link {
    padding: 15px 15px 7px 15px;
  }
  .header-top {
    background: #091F40;
  }
  .header-top .menu-item {
    padding: 10px 22px;
  }
  .header-top .menu-list {
    justify-content: end;
    flex-grow: 1;
  }
  .header-top-link {
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease-out;
  }
  .header-top-link:hover {
    color: #8dc63f;
  }
  .header-top-container {
    max-width: 1420px;
    margin: auto;
    align-items: center;
    justify-content: end;
    height: 100px;
    max-height: 60px;
  }
  .header-top-social-link {
    transition: all 0.3s ease-out;
  }
  .header-top-social-link:hover {
    opacity: 0.8;
  }
  .header-top icon {
    margin: 7px;
  }
  .header-toggler {
    display: none;
  }
  .header .btn {
    display: block;
    margin: 15px 8px;
  }
  .header .cta-container {
    display: flex;
    margin-left: 1.8vw;
  }
  .menu-container {
    flex-grow: 1;
    margin-left: 1vw;
  }
  .menu-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .menu-item:not(.submenu-item) {
    padding: 32px 0;
  }
  .menu-link {
    color: #091F40;
    font-weight: 500;
    font-family: "Ubuntu";
    font-size: 16px;
    transition: all 0.3s ease-out;
  }
  .menu-link:hover {
    color: #8dc63f;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
  .menu-link {
    font-size: 13px;
  }
  .header-logo img {
    max-height: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .menu-container {
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    position: fixed;
    top: 0;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding-top: 80px;
  }
  .menu-item {
    padding: 15px 40px;
    border-bottom: 1px solid rgb(141, 198, 63);
  }
  .menu-item.sub .menu-link:after {
    content: none;
  }
  .menu-item.sub .chevron {
    width: 50px;
    text-align: center;
  }
  .menu-item.sub .chevron span:after {
    content: "\e901";
    font-size: 25px;
    font-family: "icomoon";
    font-weight: 600;
  }
  .menu-item-holder {
    display: flex;
    justify-content: space-between;
  }
  .menu-link {
    font-size: 16px;
    line-height: 23px;
    color: rgb(9, 31, 64);
    font-weight: 600;
  }
  .submenu {
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    position: fixed;
    top: 0;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding-top: 75px;
  }
  .submenu-list .menu-item:first-child {
    padding: 15px 0px;
    background: rgb(245, 245, 245);
  }
  .submenu-list .menu-item:first-child .chevron span:after {
    content: none;
  }
  .submenu-list .menu-item:first-child .chevron span:before {
    content: "\e936";
    font-size: 19px;
    font-family: "icomoon";
  }
  .submenu-list .menu-item:first-child .menu-item-holder {
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  .subsubmenu {
    overflow: scroll;
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    position: fixed;
    top: 0;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding-top: 75px;
  }
  .subsubmenu .all-link .menu-link {
    color: var(--color);
    font-size: 19px;
    line-height: 23px;
    font-weight: 500;
  }
  .final-menu {
    padding-top: 10px;
  }
  .final-menu a {
    font-size: 16px;
    line-height: 23px;
    color: rgb(0, 0, 0);
  }
  .final-menu li {
    padding: 6px 0;
  }
  .submenu-item:not(.open) .subsubmenu {
    transform: translateX(100%);
  }
  .menu-item:not(.open) .submenu {
    transform: translateX(100%);
  }
  html:not(.menu-open) .menu-container {
    transform: translateX(100%);
  }
  html.menu-open {
    height: 100vh;
    overflow: hidden;
  }
  html.menu-open body {
    height: 100vh;
    overflow: hidden;
    padding-top: 70px;
  }
  html.menu-open .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: white;
  }
  html.menu-open .menu-container {
    overflow: scroll;
  }
}
@media only screen and (max-width: 1199px) {
  .menu-container .cta-container {
    display: flex;
    justify-content: space-around;
    padding: 25px 35px;
    padding-bottom: 15px;
  }
  .menu-container .cta-container .btn {
    flex: 0 0 45%;
  }
  .bottom-menu {
    padding: 0 40px;
  }
  .bottom-menu li {
    margin: 15px 0;
  }
  .bottom-menu a {
    font-size: 15px;
    line-height: 17px;
    color: rgb(9, 31, 64);
    font-weight: 500;
  }
}
@media only screen and (min-width: 1200px) {
  .header .menu-logo {
    flex-grow: 1;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-wrapper {
    box-shadow: none;
  }
  .menu-item .submenu {
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    z-index: -1;
    top: 0;
    padding-top: 145px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    min-height: 695px;
  }
  .menu-item .submenu-list {
    max-width: 330px;
    flex: 0 0 30%;
    padding-top: 30px;
  }
  .menu-item .submenu-list:before {
    content: "";
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    background: whitesmoke;
    z-index: -1;
  }
  .menu-item .submenu-item {
    margin: 0 !important;
  }
  .menu-item .submenu-item .menu-link {
    padding: 20px 11px;
    display: block;
    color: var(--color);
    font-size: 19px;
    line-height: 23px;
  }
  .menu-item .submenu-item:hover {
    background: white;
  }
  .menu-item:not(:hover) .submenu {
    transform: translateY(-100%);
  }
  .menu-item .subsubmenu {
    display: none;
  }
  .menu-item .return {
    display: none;
  }
  .menu-item .menu-item.sub .menu-link:after {
    content: none;
  }
  .menu-item .mm-wrapper {
    max-width: 1420px;
    margin: auto;
    display: flex;
  }
  .menu-item .mm-container {
    flex-grow: 1;
    background: white;
    position: relative;
    padding: 50px;
  }
  .menu-item .mm-data:not(.active) {
    display: none;
  }
  .menu-item .submenu-item.active {
    background: white;
  }
  .all-courses-link {
    color: var(--color);
    font-size: 19px;
    line-height: 23px;
    display: block;
    font-weight: 500;
    margin-bottom: 30px;
  }
}
.mega-menu {
  overflow: hidden;
}
.mega-menu h2 {
  color: var(--color);
}
.mega-menu p {
  font-size: 14px;
}
.mega-menu .content {
  padding: 35px;
}
.mega-menu .btn {
  min-width: 200px;
  text-align: center;
}
.mega-menu a {
  font-size: 14px;
  color: #000000;
}
.mega-menu .category-menu {
  padding: 0 40px;
}
.mega-menu .category-menu > .wrapper {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  padding: 20px 30px;
}
.mega-menu .primary-link {
  font-weight: 600;
}
.mega-menu .primary {
  border-bottom: 1px solid rgb(190, 30, 45);
}
.mega-menu .primary:not(.open) .sub {
  max-height: 0;
}
.mega-menu .secondary {
  padding: 10px;
}
.mega-menu .sub {
  overflow: hidden;
}
.mega-menu .chevron {
  position: relative;
}
.mega-menu .chevron:before {
  font-family: "icomoon";
  content: "\e903";
  font-size: 35px;
}
.mega-menu .item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mega-menu .images {
  display: flex;
  justify-content: center;
  background: var(--bg-img);
  background-repeat: no-repeat;
  background-position-y: -15%;
}
.mega-menu .images img {
  max-height: 250px;
  width: auto;
  display: block;
}

@media only screen and (min-width: 1200px) {
  .mega-menu p {
    font-size: 18px;
  }
  .mega-menu a {
    font-size: 16px;
  }
  .mega-menu > .wrapper {
    display: flex;
  }
  .mega-menu .main-list {
    columns: 3 260px;
    column-gap: 1rem;
  }
  .mega-menu .category-menu > .wrapper {
    box-shadow: unset;
    padding: 0;
  }
  .mega-menu .primary {
    border-bottom: unset;
    width: 260px;
    margin: 0 1rem 1rem 0;
    display: inline-block;
  }
  .mega-menu .primary:not(.open) .sub {
    max-height: unset;
  }
  .mega-menu .item-header {
    border-bottom: 1px solid var(--color);
    padding-bottom: 5px;
  }
  .mega-menu .secondary {
    padding: 5px 0;
  }
  .mega-menu .content {
    padding: 0;
    margin-bottom: 40px;
  }
  .mega-menu .category-menu {
    padding: 0;
    margin-bottom: 50px;
  }
  .mega-menu .content-menu {
    margin-left: 10vw;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 900px;
  }
  .mega-menu .chevron:before {
    content: "";
  }
  .mega-menu .images {
    flex: 0 0 29vw;
    background-position: center;
    align-items: flex-end;
    background-size: cover;
  }
  .mega-menu .images img {
    max-height: 605px;
    margin-right: -12.5vw;
    height: auto;
  }
  .ccs.junior > .wrapper, .ccs.corporate > .wrapper {
    flex-direction: row-reverse;
  }
  .ccs.junior .content-menu, .ccs.corporate .content-menu {
    max-width: 975px;
    margin-right: 5vw;
  }
  .ccs.junior .images img, .ccs.corporate .images img {
    margin-right: unset;
    margin-left: -20vw;
  }
  .ccs.junior .images img {
    height: 622px;
    width: 665px;
    max-width: 665px;
  }
  .ccs.corporate .images {
    padding-top: 50px;
  }
  .ccs.corporate .images img {
    height: 539px;
    width: 533px;
    max-width: 533px;
    margin-left: -24vw;
  }
  .ccs.corporate .btn {
    border-color: #091F40;
  }
  .ccs.corporate .btn:before {
    background: #091F40;
    border-color: #091F40;
  }
  .ccs.teacher .primary {
    width: 570px;
  }
  .ccs.teacher .images img {
    margin-right: -25vw;
  }
  .ccs.virtual .btn {
    border-color: #5F6264;
  }
  .ccs.virtual .btn:before {
    background: #5F6264;
    border-color: #5F6264;
  }
  .ccs.virtual .images img {
    margin-right: -20vw;
  }
}
@media only screen and (min-width: 1200px) {
  .dropdown {
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    position: absolute;
    top: 100%;
    left: -20px;
    width: fit-content;
    min-width: 270px;
    background: rgb(245, 245, 245);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
    z-index: -1;
  }
  .dropdown .menu-list {
    flex-direction: column;
  }
  .dropdown-item {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(141, 198, 63);
  }
  .dropdown-link {
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    font-size: 16px;
    line-height: 23px;
    color: rgb(0, 0, 0);
    font-weight: 600;
  }
  .dropdown-link:hover {
    color: rgb(141, 198, 63);
  }
  .menu-item.po-r:not(:hover) .dropdown {
    transform: translateY(-120%);
  }
}
@media only screen and (max-width: 1199px) {
  .dropdown {
    transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    position: fixed;
    top: 0;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding-top: 75px;
  }
  .menu-item:not(.open) .dropdown {
    transform: translateX(100%);
  }
}
@media only screen and (min-width: 1200px) {
  .header-top .menu-item {
    padding: 0;
    margin: 0 25px !important;
  }
}
@media only screen and (max-width: 1199px) {
  .search-modal {
    transition: all 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
  }
  .search-modal.visible {
    max-height: 70px;
  }
  .search-modal .searc-form {
    width: 100%;
  }
  .search-modal .wrapper {
    width: 100%;
  }
  .search-modal input {
    width: 100%;
    height: 50px;
    outline: 0;
  }
  .header-search {
    position: relative;
    height: 100%;
    width: 75px;
  }
  .header-search span:before {
    cursor: pointer;
    content: "\e937";
    font-family: "icomoon";
    position: absolute;
    font-size: 25px;
    color: #091F40;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 1200px) {
  .search-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(108, 108, 108, 0.8);
    mix-blend-mode: multiply;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-modal:not(.visible) {
    display: none;
  }
  .search-modal input {
    height: 60px;
    width: 550px;
    border-radius: 66px;
    font-size: 16px;
    padding-left: 60px;
    font-weight: 500;
    outline: 0;
  }
  .search-modal input::placeholder {
    font-size: 16px;
    font-family: "Ubuntu";
    color: rgb(9, 31, 64);
    font-weight: 500;
  }
  .search-modal .wrapper {
    position: relative;
  }
  .search-modal .wrapper:before {
    content: "\e937";
    font-family: "icomoon";
    position: absolute;
    font-size: 25px;
    color: rgb(9, 31, 64);
    left: 20px;
    top: 15px;
  }
  .search-toggler {
    padding: 15px 0;
  }
  .search-toggler span {
    transition: all 0.3s ease-out;
    cursor: pointer;
    color: white;
    font-size: 15px;
    position: relative;
    padding: 15px 50px;
    font-weight: 500;
  }
  .search-toggler span:before {
    transition: all 0.3s ease-out;
    cursor: pointer;
    content: "\e937";
    font-family: "icomoon";
    position: absolute;
    font-size: 21px;
    color: white;
    left: 15px;
    top: 10px;
  }
  .search-toggler:hover span {
    color: #8dc63f;
  }
  .search-toggler:hover span:before {
    color: #8dc63f;
  }
}
@media only screen and (min-width: 1200px) {
  .mm-2 .primary {
    width: 600px;
  }
  .mm-3 .primary {
    width: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  .wpml-ls-statics-shortcode_actions .wpml-ls-item-toggle {
    background: transparent;
    border: none;
  }
}
@media only screen and (max-width: 1023px) {
  .lang-switcher {
    padding: 0px 17px;
    margin-top: 15px;
  }
  .wpml-ls-legacy-dropdown {
    width: fit-content !important;
    max-width: 100%;
  }
  .wpml-ls-statics-shortcode_actions .wpml-ls-item-toggle {
    background: transparent;
    border: none;
  }
  .wpml-ls-native {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.55);
    text-transform: uppercase;
  }
  .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
    background: unset !important;
  }
  .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
    border: none;
  }
  .wpml-ls-legacy-dropdown a {
    background-color: transparent;
    border: 0;
    padding: 5px 13px;
  }
  .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    color: white;
  }
  .wpml-ls-sub-menu {
    background: white;
    width: 125px;
    left: -35px;
    right: 0;
  }
  .wpml-ls-sub-menu .wpml-ls-native {
    color: black;
  }
  .wpml-ls-sub-menu .wpml-ls-display {
    display: none;
  }
  .wpml-ls-sub-menu {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}
@media only screen and (min-width: 1024px) {
  .wpml-ls-legacy-dropdown {
    width: unset !important;
    max-width: 100%;
  }
  .wpml-ls-statics-shortcode_actions .wpml-ls-item-toggle {
    background: transparent;
    border: none;
  }
  .wpml-ls-native {
    color: white;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
  }
  .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a, .wpml-ls-legacy-dropdown a:focus, .wpml-ls-legacy-dropdown a:hover {
    color: white !important;
    background: unset !important;
  }
  .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
    border: none;
  }
  .wpml-ls-legacy-dropdown a {
    background-color: transparent;
    border: 0;
  }
  .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    color: white;
  }
  .wpml-ls-sub-menu {
    background: white;
    width: 125px;
    left: -35px;
    right: 0;
  }
  .wpml-ls-sub-menu .wpml-ls-native {
    color: black;
  }
  .wpml-ls-sub-menu .wpml-ls-display {
    display: none;
  }
  .wpml-ls-sub-menu {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}
@media only screen and (min-width: 1024px) {
  .header-minicart span:before {
    font-family: "icomoon";
    content: "\e912";
    color: white;
    font-weight: 400;
  }
  .wcml-dropdown {
    width: 7.5em !important;
  }
  .wcml-dropdown li {
    background-color: transparent !important;
    border: none !important;
  }
  .wcml-dropdown .wcml-cs-item-toggle {
    cursor: pointer;
    color: white;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
  }
  .wcml-dropdown a:after {
    font-size: 18px !important;
  }
  .wcml-cs-submenu {
    background: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-top: 1px solid #cdcdcd;
  }
  .wcml-cs-submenu a {
    font-size: 15px;
    line-height: 18px !important;
    font-weight: 600;
  }
}
.lang-menu {
  align-items: center;
}

.header-searc img {
  max-width: 18px;
}
.header-searc .wpml-ls-native {
  font-size: 13px;
}

@media only screen and (min-width: 1367px) {
  html:not(:lang(en-US)) .menu-link {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  html:not(:lang(en-US)) .cta-container .btn {
    font-size: 13px;
  }
}

.footer-wrapper {
  background: #091F40;
}
.footer-menu {
  padding: 15px 25px;
  padding-bottom: 50px;
}
.footer-menu-link {
  font-size: 18px;
  color: white;
  font-weight: 700;
}
.footer-menu-item.sub {
  padding: 15px 0;
}
.footer-menu-item.sub:not(.open) .footer-submenu {
  max-height: 0;
}
.footer-menu-item.sub.open .footer-submenu {
  max-height: 1000px;
}
.footer-menu-item-holder {
  position: relative;
}
.footer-menu-item-holder.sub:after {
  content: "\e903";
  font-family: "icomoon";
  margin-left: 5px;
  color: white;
  font-size: 30px;
  right: 15px;
  top: -5px;
  position: absolute;
}
.footer-submenu {
  transition: all 0.3s ease-out;
  overflow: hidden;
}
.footer-submenu-list {
  margin: 0 10px;
}
.footer-submenu-item {
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer-submenu-link {
  font-size: 16px;
  color: white;
  font-weight: 400;
  transition: all 0.3s ease-out;
}
.footer-submenu-link:hover {
  color: #8dc63f;
}
.footer-newsletter {
  padding: 15px 25px;
}
.footer-newsletter form {
  padding-top: 25px;
}
.footer-newsletter input {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  font-size: 14px;
  color: #091F40;
  margin-bottom: 10px;
}
.footer-newsletter .btn {
  width: 100%;
  margin-top: 15px;
}
.footer-newsletter h3 {
  color: white;
}
.footer-newsletter small {
  color: white;
}
.footer-whatsapp {
  padding: 15px 25px;
  padding-top: 50px;
}
.footer-whatsapp-inner {
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  position: relative;
  display: flex;
  padding-bottom: 15px;
}
.footer-whatsapp .title {
  color: white;
  font-size: 17px;
}
.footer-whatsapp .link {
  padding-left: 70px;
}
.footer-whatsapp icon {
  position: absolute;
  left: -40px;
  bottom: -65px;
}
.footer-cp {
  background: #FFFFFF;
  padding: 35px;
}
.footer-cp-logo {
  text-align: center;
}
.footer-cp-links {
  text-align: center;
  padding-top: 10px;
}
.footer-cp-link {
  font-size: 13px;
  color: #5F6264;
}
.footer-cp-link:not(:last-child):after {
  content: " | ";
  margin: 0 5px;
}
.footer-cp-social {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.footer-cp icon {
  display: block;
  margin: 0 5px;
}
.footer-cp icon:before {
  color: #091F40;
}
.footer-cp icon.ig .path-1:before {
  color: #091F40;
}
.footer-cp icon.ig .path-2:before,
.footer-cp icon.ig .path-3:before,
.footer-cp icon.ig .path-4:before {
  color: white;
}
.footer-cp icon.tw .path-1:before {
  color: #091F40;
}
.footer-cp icon.tw .path-2:before {
  color: white;
}
.footer-cp h5 {
  text-align: center;
  padding-top: 15px;
}
.footer .wpcf7-response-output {
  color: white;
}
.footer .header-top-social-link span:nth-child(1):before {
  color: #091f40;
}
.footer .header-top-social-link span:nth-child(2):before {
  color: white;
}

@media only screen and (min-width: 1200px) {
  .footer {
    background: #091F40;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-menu {
    flex-grow: 1;
  }
  .footer-menu-link {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
  }
  .footer-menu-list {
    display: flex;
    justify-content: space-between;
  }
  .footer-menu-item.sub {
    margin-right: 30px !important;
  }
  .footer-menu-item.sub:not(.open) .footer-submenu {
    max-height: 1000px;
  }
  .footer-menu-item-holder.sub:after {
    content: unset;
  }
  .footer-submenu-list {
    margin: 0;
  }
  .footer-submenu-item {
    border-bottom: unset;
  }
  .footer-newsletter {
    max-width: 325px;
    padding: 15px;
    padding-top: 75px;
    margin-left: 30px;
  }
  .footer-whatsapp {
    padding: 40px 0;
  }
  .footer-cp .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-cp-social {
    padding-top: 0;
  }
  .footer-cp-links {
    padding-top: 0;
  }
  .footer-cp h5 {
    padding-right: 15px;
    padding-top: 0px;
  }
}
.d-flex {
  display: flex;
}

.po-r {
  position: relative;
}

/*# sourceMappingURL=main.css.map */
