.title {
  font-size: calc(1.525rem + 5.15625vw);
}
@media (min-width: 1200px) {
  .title {
    font-size: 4rem;
  }
}

body {
  font-size: 1.125rem;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.5rem + 4.6875vw);
  margin: calc(1.275rem + 0.46875vw) 0;
  margin-top: 0;
  font-weight: 700;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.75rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    margin: 1.5rem 0;
  }
}

h2 {
  font-size: calc(1.425rem + 3.28125vw);
  margin: 1rem 0;
  margin-top: 0;
  font-weight: 700;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: calc(1.35rem + 1.875vw);
  margin: 0.75rem 0;
  margin-top: 0;
  font-weight: 700;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2.25rem;
  }
}

h4 {
  font-size: calc(1.3rem + 0.9375vw);
  margin: 0.5rem 0;
  margin-top: 0;
  font-weight: 500;
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.75rem;
  }
}

h5 {
  font-size: calc(1.26875rem + 0.3515625vw);
  margin: 0.25rem 0;
  margin-top: 0;
  font-weight: 500;
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1.4375rem;
  }
}

h6 {
  font-size: 1.25rem;
  margin: 0.15rem 0;
  margin-top: 0;
  font-weight: 500;
}

p {
  font-size: 1.125rem;
  line-height: calc(1.275rem + 0.46875vw);
}
@media (min-width: 1200px) {
  p {
    line-height: 1.5rem;
  }
}

/*# sourceMappingURL=typography.css.map */
