{% extends "block-base.twig" %}

{% block content %}
<section class="book-now {{block.className}}" {{blockSection(block)}}>
<iframe src="https://corkenglishcollege.class.systems/#/book-now/quote" title="Cork English College Booking System"></iframe>
</section>
{% endblock %}