.partner-portal {
    a {
        font-size: 16px;
        color:#8dc63f;
    }
    strong {
        font-size: 16px;
        font-weight: 500;
    }
    .download {
        &-item {
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px;
        }
        &-category {
            & + .download-category {
                margin-top: 25px;
            }
        }
    }
    .downloads {
        padding: 30px 15px;
        &-category {
            &-title {
                border-bottom: 1px solid black;
                padding-top: 15px;
                padding-bottom: 5px;
                margin-bottom: 10px;
            }
        }
        &-list {
            padding-left: 10px;
            .download-item {
                &:nth-child(even) {
                    background-color: rgba(95, 98, 100, 0.05);
                }
            }
        }
    }
}

@include screen(1200) {
    .partner-portal {
        .downloads {
            &-category {
                &-list {

                }
            }
        }
        .download {
            &-category {
                flex: 0 0 30%;
                margin-bottom: 30px;
                & + .download-category {
                    margin-top: 0;
                }
            }
        }
    }
}

.search {
    margin-left: 15px;
    &-holder {
        display: flex;
        align-items: center;
        border: 1px solid black;
        margin-top: 50px;
        border-radius: 10px;
        .spsb {
            outline: 0;
            width: 100%;
            background: transparent;
            color: black;
            border: none;
            font-size: 18px;
            padding: 15px;
            &::placeholder {
                color: black;
            }
        }
    }
    &:before {
        content: "\e937";
        font-family: "icomoon";
        color:black;
        font-size: 21px;
    }
}