{% extends "block-base.twig" %}

{% block content %}
<section class="partner-portal {{block.className}}" {{blockSection(block)}}>
    <div class="top">
        <div class="container">
            <div class="search-holder">
                <span class="icon search po-a"></span>
                <input id="spsb" class="spsb" type="text" name="search" placeholder="{{translateString('Search', 'cec')}}" minlength="4">
            </div>
        </div>
    </div>
    <div class="downloads">
        <div class="container">
            <ul class="rl downloads-category-list category">
                {% for download_category in fields.download_categories %}
                    <li class="download-category">
                        <div class="downloads-category-title"><h5>{{download_category.title}}</h5></div>
                        <ul class="rl downloads-list">
                            {% for item in download_category.download_item %}
                                <li class="download-item">
                                    <div class="label"><strong>{{item.label}}</strong></div>
                                    <div class="download-link"><a href="{{item.file.url}}" target="_blank">{{translateString('Download' ,'cec')}}</a></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>
document.getElementById('spsb').addEventListener('input', function(e) {
    [...document.querySelectorAll(".download-item")].filter(a => !a.textContent.toLowerCase().includes(e.target.value.toLowerCase())).forEach(a => a.style.display = "none");
    [...document.querySelectorAll(".download-item")].filter(a => a.textContent.toLowerCase().includes(e.target.value.toLowerCase())).forEach(a => a.style.display = "flex");
});
</script>
{% endblock %}