{% extends "block-base.twig" %}

{% block content %}
<style>{{compiled_css}}</style>
<section class="course-fees-one {{block.className}}" {{blockSection(block)}}>
    <div class="container course-fees">
        <div class="wrapper">
            {% for category in fields.categories %}
            <div class="course-fees-table">
                <div class="course-fees-title">{{category.title}}</div>
                <div class="course-fees-wrapper">
                    <div class="course-fees-head">
                        <div class="course-fees-code">{{translateString('Course Code', 'cec')}}</div>
                        <div class="course-fees-course">{{translateString('Course', 'cec')}}</div>
                        <div class="course-fees-p">{{translateString('1-4 Weeks', 'cec')}}</div>
                        <div class="course-fees-p">{{translateString('5-11 Weeks', 'cec')}}</div>
                        <div class="course-fees-p">{{translateString('12-23 Weeks', 'cec')}}</div>
                        <div class="course-fees-p">{{translateString('24-35 Weeks', 'cec')}}</div>
                        <div class="course-fees-p">{{translateString('36+ Weeks', 'cec')}}</div>
                    </div>
                {% for course in category.course %}
                    <div class="course-fees-line">
                    {% if course.type == "one" %}
                        <div class="course-fees-code"><div class="mobile-label">{{translateString('Course Code', 'cec')}}: </div>{{course.code}}</div>
                        <div class="course-fees-course"><div class="mobile-label">{{translateString('Course', 'cec')}}: </div>{{course.name}}</div>
                        <div class="course-fees-p"><div class="mobile-label">{{translateString('1-4 Weeks', 'cec')}}: </div>{{course.price_one}}</div>
                        <div class="course-fees-p"><div class="mobile-label">{{translateString('5-11 Weeks', 'cec')}}: </div>{{course.price_two}}</div>
                        <div class="course-fees-p"><div class="mobile-label">{{translateString('12-23 Weeks', 'cec')}}: </div>{{course.price_three}}</div>
                        <div class="course-fees-p"><div class="mobile-label">{{translateString('24-35 Weeks', 'cec')}}: </div>{{course.price_four}}</div>
                        <div class="course-fees-p"><div class="mobile-label">{{translateString('36+ Weeks', 'cec')}}: </div>{{course.price_five}}</div>
                    {% endif %}
                    {% if course.type == "two" %}
                        <div class="course-fees-code"><div class="mobile-label">{{translateString('Course Code', 'cec')}}: </div>{{course.code}}</div>
                        <div class="course-fees-course"><div class="mobile-label">{{translateString('Course', 'cec')}}: </div>{{course.name}}</div>
                        <div class="course-fees-price"><div class="mobile-label">{{translateString('Price', 'cec')}}: </div>{{course.price}}</div>
                    {% endif %}
                    </div>

                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
