.ccs {
    overflow: hidden;
    h2 {
        color:var(--color);
    }
    p {
        font-size: 14px;
    }
    .content {
        padding:35px;
    }
    .btn {
        min-width: 200px;
        text-align: center;
    }
    a {
        font-size: 14px;
        color:#000000;
    }
    .category-menu {
        padding: 0 40px;
        & > .wrapper {
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
            padding: 20px 30px;
        }
    }
    .primary-link {
        transition: all 0.2s ease-out;
        font-weight: 600;
        &:hover {
            color:var(--color);
        }
    }
    .secondary-link {
        transition: all 0.2s ease-out;
        &:hover {
            color:var(--color);
            text-decoration: underline;
        }
    }
    .primary {
        border-bottom: 1px solid rgba(190, 30, 45, 1);
        &:not(.open) {
            .sub {
                max-height: 0;
            }
        }
    }
    .secondary {
        padding: 10px;
    }
    .sub {
        overflow: hidden;
    }
    .chevron {
        position:relative;
        &:before {
            font-family: "icomoon";
            content: "\e903";
            font-size: 35px;
        }
    }
    .item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .images {
        display: flex;
        justify-content: center;
        background:var(--bg-img);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -10%;
        img {
            max-height: 250px;
            width: auto;
            display:block;
        }
    }
}

@include screen(1200) {
    .ccs {
        p {
            font-size: 18px;
        }
        a {
            font-size: 16px;
        }
        & > .wrapper {
            display: flex;
        }
        .main-list {
            columns: 3 260px;
            column-gap: 1rem;
        }
        .category-menu {
            & > .wrapper {
                box-shadow: unset;
                padding:0;
            }
        }
        .primary {
            border-bottom: unset;
            width: 260px;
            margin: 0 1rem 1rem 0;
            display: inline-block;
            &:not(.open) {
                .sub {
                    max-height: unset;
                }
            }
        }
        .item-header {
            border-bottom: 1px solid var(--color);
            padding-bottom: 5px;
        }
        .secondary {
            padding: 5px 0;
        }
        .content {
            padding:0;
            margin-bottom: 40px;
        }
        .category-menu {
            padding:0;
            margin-bottom: 50px;
        }
        .content-menu {
            margin-left: 10vw;
            margin-top: 25px;
            margin-bottom: 25px;
            max-width: 900px;
        }
        .chevron {
            &:before {
                content: "";
            }
        }
        .images {
            flex: 0 0 29vw;
            background-position: center;
            align-items: flex-end;
            background-size: cover;
            img {
                max-height: 605px;
                margin-right: -12.5vw;
                height: auto;
            }
        }
    }
    .ccs {
        &.junior,
        &.corporate {
            & > .wrapper {
                flex-direction: row-reverse;
            }
            .content-menu {
                max-width: 975px;
                margin-right: 5vw;
            }
            .images {
                img {
                    margin-right: unset;
                    margin-left: -20vw;
                }
            }
        }
        &.junior {
            .images {
                img {
                    height: 622px;
                    width: 665px;
                    max-width: 665px;
                }
            }
        }
        &.corporate {
            .images {
                padding-top: 50px;
                img {
                    height: 539px;
                    width: 533px;
                    max-width: 533px;
                    margin-left: -24vw;
                }
            }
            .btn {
                border-color: #091F40;
                &:before {
                    background:#091F40;
                    border-color: #091F40;
                }
            }
        }
        &.teacher {
            .primary {
                width: 570px;
            }
            .images {
                img {
                    margin-right: -25vw;
                }
            }
        }
        &.virtual {
            .btn {
                border-color: #5F6264;
                &:before {
                    background:#5F6264;
                    border-color: #5F6264;
                }
            }
            .images {
                img {
                    margin-right: -20vw;
                }
            }
        }
    }
}

@include screen(1200,1366) {
    .ccs {
        &.junior {
            .images {
                img {
                    height: auto;
                    width: 450px;
                    max-width: 450px;
                }
            }
        }
    }
}