{% extends "block-base.twig" %}

{% block content %}
<section class="ccs {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper">
        <div class="images" style="--bg-img:url({{fields.content.background.url}});">
            {{imageElement(fields.content.image)}}
        </div>
        <div class="content-menu">
            <div class="content container">
                <div class="wrapper">
                    <h2 style="--color:{{fields.content.color}}">{{fields.content.title}}</h2>
                    <p>{{fields.content.content}}</p>
                    <div class="css-button">
                        <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}" target="{{fields.content.button.link.target}}" data-title="{{fields.content.button.link.title}}">{{fields.content.button.link.title}}</a>
                    </div>
                </div>
            </div>
            <div class="category-menu container">
                <div class="wrapper">
                    <ul class="rl main-list">
                    {% for item in category_menu.items %}
                    <li class="primary">
                        <div class="item-header" style="--color:{{fields.content.color}}">
                            <a style="--color:{{fields.content.color}}" class="primary-link" href="{{item.link}}" target="{{item.target}}" data-text="{{item.title}}">{{item.title}}</a>
                            <div class="item-chevron" onclick="toggleTab(this.parentNode.parentNode);"><span class="chevron"></span></div>
                        </div>
                    {% if item.children %}
                        <ul class="rl sub">
                        {% for child in item.children %}
                        <li class="secondary">
                            <a style="--color:{{fields.content.color}}" class="secondary-link" href="{{child.link}}" target="{{child.target}}" data-text="{{child.title}}">{{child.title}}</a>
                        </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
function toggleTab(element) {
    let tabs = document.querySelectorAll('li.primary');
    if(element.classList.contains('open')) {
        element.classList.remove('open');
    } else {
        [...tabs].forEach((tab) => {
            tab.classList.remove('open');
        });
        element.classList.add('open');
    }
}
</script>
{% endblock %}