.host-us {
    background: #F4F7F6;
    &-content {
        position:relative;
    }
    &-header {
        padding: 0 35px;
        padding-top: 35px;
    }
    &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 35px;
    }
    &-card {
        flex: 0 0 45%;
        padding: 20px 0;
        h5 {
            font-size: 23px;
            line-height: 29px;
        }
        icon {
            margin-bottom: 10px;
            display: block;
        }
        P {
            margin: 0;
        }
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
    }
    &-title {
        order:2;
        padding: 0 35px;
        padding-top: 35px;
        h2 {
            color:#091F40;
            font-size: 40px;
        }
        p {
            font-size: 14px;
        }
    }
    &-form {
        order:1;
        .inner {
            margin: 5px;
            padding: 30px;
        }
        h2 {
            font-size: 40px;
            color:rgba(9, 31, 64, 1);
        }
        p {
            font-size: 14px;
        }
    }
    &-image {
        margin-top: -150px;
        img {
            height: 325px;
            object-fit: cover;
        }
    }
    input[type=text],
    input[type=email],
    input[type=tel], 
    textarea,
    select {
        width: 100%;
        font-size:14px;
        height: 55px;
        border: 1px solid rgba(9, 31, 64, 1) !important;
        border-radius: 10px !important;
        margin-bottom: 10px;
    }
    textarea {
        min-height: 220px;
        padding: 15px;
    }
    label {
        font-size: 14px;
        line-height: 20px;
        color: rgba(9, 31, 64, 1);
    }
    input[type=submit] {
        display:none;
    }
    .btn {
        width: 100%;
    }
    a {
        text-decoration: underline;
    }
    .breadcrumbs {
        li {
            &:before {
                color:#000000;
            }
        }
        .page-link {
            color:#000000;
        }
    }
    form {
        br {
            display:none;
        }
        p {
            margin:0;
        }
    }
}

@include screen(1200) {
    .host-us {
        position:relative;
        &:before {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            right: 0;
            background: var(--bg-img);
            width: 100%;
            max-width: 40vw;
            @include screen(1280) {
                max-width: 32vw;
            }

        }
        &-header {
            padding: 0;
        }
        &-content {
            padding-top: 50px;
            h3 {
                font-size: 48px;
                margin-bottom: 0;
            }
            h4 {
                font-size: 28px;
                margin-top: 0;
            }
        }
        &-wrapper {
            flex-direction: row;
        }
        &-card {
            h5 {
                font-size: 23px;
                line-height: 29px;
            }
        }
        &-cards {
            display: block;
            padding: 0;
        }
        &-image {
            img {
                height:100%;
                z-index: -1;
            }
        }
        &-form {
            flex-grow:1;
            max-width: 55vw;
            @include screen(1280) {
                max-width: 60vw;
            }
            @include screen(1536) {
                max-width: 49vw;
            }
            @include screen(1920) {
                max-width:51vw;
            }
            .inner {
                padding-bottom: 0;
            }
        }
        &-left {
            flex: 0 0 15vw;
            max-width: 255px;
        }
        &.nonm {
            .become-a-host-content {
                padding-top:25px;
            }
        }
        .btn {
            width: fit-content;
        }
    }
    .form-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .form-field {
            flex: 0 0 48%;
            &.full {
                flex: 0 0 100%;
            }
            &:last-child {
                margin-top: 15px;
            }
        }
    }
    .check {
        .path-1,
        .path-2 {
            &:before {
                font-size: 41px !important;
            }
        }
    }
}