{% extends "block-base.twig" %}

{% block content %}
<section class="host-us {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{fields.cta.image.url}}')">   
    <div class="host-us-content">
        <div class="host-us-content-inner">
            <div class="container">
                <div class="host-us-wrapper">
                    <div class="host-us-form">
                        <div class="inner">
                            <h2>{{fields.cta.title}}</h2>
                            {{fields.cta.content}}
                            [contact-form-7 id="{{fields.cta.form_data.form.ID}}" title="{{fields.cta.form_data.form.post_title}}"]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if fields.cta.form.redirect %}
<script>
document.addEventListener( 'wpcf7mailsent', function( event ) {
  location = '{{fields.cta.form.redirect_url}}';
}, false );
</script>
{% endif %}
{% endblock %}