.tf1 {
    &-image {
        img {
            width:100%;
            height:auto;
            object-fit: cover;
        }
    }
    &-title {
        padding: 20px 40px;
        text-align: center;
    }
    &-buttons {
        padding-top: 50px;
    }
    .btn {
        width: 220px;
        margin: auto;
    }
    h2 {
        color:#091F40;
    }
    .testimonial {
        &-card {
            &:nth-child(1) {
                &:before {
                    background:#8DC63F;
                }
            }
            &:nth-child(2) {
                &:before {
                    background:#091F40;
                }
            }
            &:nth-child(3) {
                &:before {
                    background:#BE1E2D;
                }
            }
        }
        &-header {
            img {
                height:95px;
                width:95px;
                object-fit: contain;
            }
        }
    }
}

@include screen(0,350) {
    .tf1 {
        .testimonial-header {
            flex-wrap: wrap;
        }
        .btn {
            width: fit-content;
            padding: 15px;
        }
    }
}

@include screen(450,1199) {
    .tf1 {
        &-list {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-image {
            height: fit-content;
            img {
                width:100%;
                height:auto;
            }
        }
    }
    .testimonial-card {
        flex: 0 0 325px;
        max-width: 40%;
        min-width: 325px;
    }
}

@include screen(1200) {
    .tf1 {
        &-list {
            display: flex;
            justify-content: space-evenly;
        }
        &-image {
            margin-top: -150px;
            margin-bottom: 150px;
            img {
                height: auto;
                width: 100%;
                object-fit: unset;
                object-position: unset;
            }
        }
        .testimonial {
            &-card {
                flex: 0 0 378px;
                max-width: 30%;
            }
        }
    }
} 