{% extends "block-base.twig" %}

{% block content %}
<section class="tf1 {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="tf1-text">
            <div class="tf1-title">
                <h2>{{fields.content.title}}</h2>
            </div>
            <div class="tf1-cards">
                <div class="tf1-list">
                    {% for item in testimonials %}
                        {% include ['testimonial-card.twig'] %}
                    {% endfor %}
                </div>
            </div>
            <div class="tf1-buttons">
                <a class="btn {{fields.content.button.style}}" href="{{fields.content.button.link.url}}" target="{{fields.content.button.link.target}}" data-title="{{fields.content.button.link.title}}">{{fields.content.button.link.title}}</a>
            </div>
        </div>
    </div>
    <div class="tf1-image">
        <img src="/wp-content/themes/cec/blocks/testimonial-feed-one/background.png" loading="lazy" alt="Background Image">
    </div>
</section>
{% endblock %}