.lc2 {
    &-text {
        padding:35px;
        h2 {
            font-size: 42px;
            color:#BE1E2D;
        }
        h4 {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &-box {
        margin: 10px 0;
        height: 381px;
        width: 373px;
        display: block;
        &-content {
            background-color: var(--color);
            &-inner {
                color:white;
                padding: 20px 50px 25px 50px;
            }
            p {
                margin: 0;
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
            }
        }
        &-image {
            height: 381px;
            padding: 30px 50px;
            background:var(--bg-img);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            position:relative;
            display: flex;
            align-items: flex-end;
            &:before {
                content:"";
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, black 100%);
            }
            h4 {
                text-transform: uppercase;
                color:white;
                position: relative;
                font-size: 24px;
                line-height: 27px;
                padding-bottom: 10px;
                max-width: 70%;
                &:before {
                    content:"";
                    position:absolute;
                    height:8px;
                    background:var(--color);
                    width: 120px;
                    bottom: -8px;
                }
            }
        }
    }
    &-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 35px;
    }
}
@include screen(0,1199) {
    .triangle-left,
    .triangle-right {
        display:none;
    }
}

@include screen(1200) {
    .lc2 {
        &-text {
            display: flex;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 75px;
            .left {
                flex: 0 0 450px;
                text-align: right;
                margin-right: 35px;
            }
            .right {
                flex: 0 0 675px;
                margin-left: 35px;
            }
        }
        &-boxes {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        &-box {
            cursor: pointer;
            flex: 0 0 30%;
            max-width: 373px;
            margin: 20px 0;
            height: 373px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            background:var(--color);
            &-image {
                flex-grow: 1;
            }
            &-inner {
                position:relative;
                transition: all 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
            }
            &:hover {
                overflow: visible;
                .triangle-left,
                .triangle-right {
                    opacity:1;
                }
                .lc2-box-inner {
                    transform: translate(27px, -27px);
                    z-index: 5;
                }
            }
        }
        &.cecexp {
            & + * {
                margin-top:130px;
            }
        }
        .triangle {
            &-left {
                transition: opacity 0.25s cubic-bezier(0.6, -0.28, 0.74, 0.05);
                position: absolute;
                top: 5px;
                left: -32px;
                height: 37px;
                transform: rotate(254deg);
                z-index: -1;
                opacity:0;
            }
            &-right {
                transition: opacity 0.25s cubic-bezier(0.6, -0.28, 0.74, 0.05);
                position: absolute;
                bottom: -18px;
                right: -5px;
                height: 33px;
                transform: rotate(87deg);
                z-index: -1;
                opacity:0;
            }
        }
    }
}