{% extends "block-base.twig" %}

{% block content %}
<section class="lc2 {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="lc2-content-inner">
            <div class="wrapper">
                <div class="lc2-boxes">
                    {% for item in fields.link_boxes.items %}
                    <a href="{{item.link.url}}" target="{{item.link.target}}" class="lc2-box" style="--color:{{item.color}};">
                        <div class="lc2-box-inner">
                            <div class="lc2-box-image" style="--bg-img:url({{cdnThis(item.image.url)}});">
                                <h4>{{item.link.title}}</h4>
                            </div>
                            <svg class="triangle-left" viewBox="0 0 100 100">
                                <polygon points="50, 13.397 100, 100 0, 100" fill="{{item.color}}" stroke="{{item.color}}"/>
                            </svg>
                            <svg class="triangle-right" viewBox="0 0 100 100">
                                <polygon points="50, 13.397 100, 100 0, 100" fill="{{item.color}}" stroke="{{item.color}}"/>
                            </svg>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}