.content-with-background {
    h1,h2,h3,h4,h5 {
        color:var(--heading);
    }
    p {
        font-size: 18px;
        line-height: 24px;
    }
    img {
        display:block;
        width: 100%;
        height: auto;
    }
    .box {
        padding:35px;
        background:white;
        position:relative;
    }
    .btn {
        padding:15px;
        margin-top: 25px;
    }
    ul {
        list-style: none;
        padding-left: 45px;
    }
    li {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
        position:relative;
        &::marker {
            content:none;

        }
        &:before {
            content:"";
            position:absolute;
            background:url('/wp-content/themes/cec/images/checkmark-med.png');
            width: 30px;
            height: 30px;
            top: 0px;
            left: -45px;
        }
    }
    &.variation {
        &-one {
        }
        &-four {
            .container {
                img {
                    max-height: 90px;
                    width:fit-content;
                    margin: 30px 0;
                }
            }
        }
    }
}


@include screen(1200) {
    .content-with-background  {
        margin-top: 15px;
        &:before {
            content:"";
            position:absolute;
            background:var(--color);
            top:0;
            bottom: 30px;
            left:0;
            right:0;
            z-index: -1;
        }
        .wrapper {
            padding-top: 1px;
            &:before {
                position:absolute;
                content:"";
                background:var(--img);
                background-repeat: no-repeat;
                background-size: cover;
                top:0;
                right:0;
                bottom: 30px;
                width: var(--width);
            }
        }
        .box {
            margin-top: 50px;
            padding: 40px 65px;
            box-shadow: 0px 0px 25px rgba(134, 151, 174, 0.25);
        }
        ul {
            padding-left: 40px;
            max-width: 698px;
        }
        li {
            &:before {
                left: -40px;
            }
        }
        &.variation {
            &-one {
                &:before {
                    bottom: 150px;
                }
                .box {
                    max-width: 900px;
                    margin-left: auto;
                }
                .wrapper {
                    padding-top: 1px;
                    &:before {
                        left:0;
                        right:unset;
                        bottom: 150px;
                    }
                }
                .inner {
                    margin-bottom: -150px;
                }
                p {
                    font-size: 18px;
                    line-height: 24px;
                    color:rgba(9, 31, 64, 1);
                }
                &.cecexp {
                    & + * {
                        padding-top:175px;
                    }
                }
            }
            &-two {
                .box {
                    max-width: 700px;
                }
                .inner {
                    margin-bottom: -30px;
                }
                .wrapper {
                    padding-bottom: 60px;
                    &:before {
                        bottom:60px;
                    }
                }
                &:before {
                    bottom:60px;
                }
            }
            &-three {
                &:before {
                    bottom: 150px;
                }
                .box {
                    max-width: 900px;
                    margin-left: auto;
                }
                .wrapper {
                    padding-top: 1px;
                    &:before {
                        left:0;
                        right:unset;
                        bottom: 150px;
                    }
                }
                .inner {
                    margin-bottom: -150px;
                }
                p {
                    // font-size: 15px !important;
                    // line-height: 20px !important;
                    color:rgba(9, 31, 64, 1);
                }
                &.cecexp {
                    .wrapper {
                        padding-bottom: 175px;
                    }
                }
            }
            &-four {
                .box {
                    max-width: 700px;
                }
                .inner {
                    margin-bottom: -150px;
                }
                .wrapper {
                    padding-bottom: 150px;
                    &:before {
                        bottom:150px;
                    }
                }
                p {
                    font-size: 18px;
                }
                &:before {
                    bottom:150px;
                }
            }
        }
    }
}