{% extends "block-base.twig" %}

{% block content %}
<section class="content-with-background po-r {{block.className}}" {{blockSection(block)}} style="--color:{{fields.content.color}};--heading:{{fields.heading.color}};">
    <div class="wrapper por-" style="--img:url({{fields.content.image.url}});--width:{{fields.content.image.width}}px;--color:{{fields.content.color}};">
        <div class="inner container">
            <div class="box">
                {{fields.content.content}}
                {% if fields.button_one.button.link.title %}
                <div class="content-with-background-buttons">
                    <a class="btn {{fields.button_one.button.style}}" href="{{fields.button_one.button.link.url}}" target="{{fields.button_one.button.link.target}}" data-title="{{fields.button_one.button.link.title}}">{{fields.button_one.button.link.title}}</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="hide-d">
        {{imageElement(fields.content.image)}}
        </div>
    </div>
</section>
{% endblock %}