.cta2 {
    background:var(--bg-img);
    background-size: cover;
    background-position: 190%;
    margin-top: 50px;
    &-wrapper {
        position:relative;
    }
    .right {
        position: absolute;
        right: 0;
        top: -20px;
        img {
            max-width: 186px;
            height: auto;
        }
    }
    .left {
        padding: 15px 25px;
        padding-top: 30px;
        h2 {
            font-size: 30px;
            color: white;
            max-width: 130px;
        }
    }
    &-links {
        display:flex;
    }
    &-link {
        display:block;
        color:white;
        font-size: 16px;
        font-weight:700;
        margin-right: 15px;
        padding-bottom: 5px;
        border-bottom: 5px solid var(--color);
    }
}

@include screen(1200) {
    .cta2 {
        background-size: contain;
        background-position: -20px;
        margin-top: 200px;
        position:relative;
        &-wrapper {
            position:unset;
        }
        .right {
            top: unset;
            bottom: 0;
            img {
                max-width:100%;
                display: block;
            }
        }
        .left {
            padding: 85px 25px;
            h2 {
                font-size: 70px;
                max-width: 515px;
            }
        }
        &-links {
            padding-top: 50px;
        }
        &-link {
            font-size: 28px;
            margin-right: 50px;
            padding-bottom: 5px;
            border-bottom: 7px solid var(--color);
        }
    }
}

@include screen(1200,1366) {
    .cta2 {
        .left {
            max-width: 44vw;
            h2 {
                font-size: 50px;
            }
        }
        .right {
            
        }
    }
}