.cta2 {
    background:var(--bg-img);
    background-size: cover;
    // background-position: 190%;

    background-size: cover;
    background-repeat: no-repeat;

    margin-top: 50px;

    &-wrapper {
        position:relative;
    }
    .right {
        position: absolute;
        right: 0;
        top: -20px;
        img {
            max-width: 186px;
            height: auto;
        }
    }
    .left {
        padding: 15px 25px;
        padding-top: 30px;
        h2 {
            font-size: 30px;
            color: white;
            max-width: 130px;
        }
    }
    &-links {
        display:flex;
    }
    &-link {
        display:block;
        color:white;
        font-size: 16px;
        font-weight:700;
        margin-right: 15px;
        padding-bottom: 5px;
        border-bottom: 5px solid var(--color);
    }
}

@include screen(700, 1199) {
    .cta2 {
        .container {
            padding-right: 0;
        }
        .right {
            position: absolute;
            right: 0;
            top: -20px;
            img {
                max-width: 315px;
            }
        }
        .left {
            padding: 60px 25px;
            padding-top: 60px;
            max-width: 65vw;
            h2 {
                max-width: unset;
            }
        }
    }
}
@include screen(1200) {
    .cta2 {
        background:none;
        background-size: contain;
        background-position: -20px;
        margin-top: 200px;
        position:relative;
        &-wrapper {
            position:unset;
        }
        .right {
            top: unset;
            bottom: 0;
            max-width: 52vw;
            img {
                max-width:100%;
                display: block;
            }
        }
        .left {
            padding: 85px 25px;
            position: relative;
            max-width: 49vw;
            h2 {
                font-size: 70px;
                max-width: 515px;
            }
            .inner {
                position: relative;
            }
            &:before {
                content: "";
                background: var(--bg-img);
                background-size: cover;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 1250px;
            }
        }
        &-links {
            padding-top: 50px;
        }
        &-link {
            font-size: 28px;
            margin-right: 50px;
            padding-bottom: 5px;
            border-bottom: 7px solid var(--color);
        }
    }
}

@include screen(1200,1366) {
    .cta2 {
        &-wrapper {
            display: flex;
        }
        .left {
            // max-width: 44vw;
            h2 {
                font-size: 50px;
            }
        }
        .right {
            max-width: 60vw;
        }
    }
}