{% extends "block-base.twig" %}

{% block content %}
<section class="cta2 {{block.className}}" {{blockSection(block)}} style="--bg-img:url('{{cdnThis(fields.content.background_image.url)}}')">
    <div class="container">
    <div class="cta2-wrapper">
        <div class="left" style="--bg-img:url('{{cdnThis(fields.content.background_image.url)}}')">
            <div class="inner">
                <h2>{{fields.content.title}}</h2>
                <div class="cta2-links">
                {% for item in fields.links.items %}
                    <a class="cta2-link" href="{{item.link.url}}" target="{{item.link.target}}" style="--color:{{item.color}};">{{item.link.title}}</a>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="right">
        {{imageElement(fields.content.image)}}
        </div>
    </div>
    </div>
</section>
{% endblock %}